{% extends "claim-details-tpl.njk" %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/external-link.njk" import externalLink %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "external-urls.njk" as externalURLs %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CLAIM_SUBMITTED.PAGE_TITLE') }}
{% endblock %}

{% set panelContent %}
  {{ t('PAGES.SUBMIT_CONFIRMATION.CLAIM_NUMBER')}}:
  <br><strong>{{ claimNumber }}</strong><br>
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: t('PAGES.CLAIM_SUBMITTED.PAGE_TITLE'),
        html: panelContent
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        {% if helpWithFee %}
          <div class="govuk-body">
            <h2>{{ t('PAGES.SUBMIT_CONFIRMATION.WHAT_HAPPENS_NEXT') }}</h2>
            <p>
            {{ t('PAGES.CLAIM_SUBMITTED.YOUR_CLAIM_WILL_BE_ISSUED') }}
            {{ t('PAGES.CLAIM_SUBMITTED.WE_EMAIL_YOU_IN_5_DAYS') }}
            </p>
            <p>
            {{ t('PAGES.CLAIM_SUBMITTED.ONCE_CLAIM_ISSUED') }}
            {{ defendantFullName }}
            {{ t('PAGES.CLAIM_SUBMITTED.WILL_HAVE_28_DAYS') }}
            {{ t('PAGES.CLAIM_SUBMITTED.THEY_CAN_REQUEST_EXTRA_DAYS') }}
            </p>
            <p>
            {{ t('PAGES.CLAIM_SUBMITTED.YOU_CAN_REQUEST_COUNTY_COURT') }}
            </p>
          </div>
        {% else %}
          <div class="govuk-body">
            <h2>{{ t('PAGES.SUBMIT_CONFIRMATION.WHAT_HAPPENS_NEXT') }}</h2>
            <p>{{ t('PAGES.SUBMIT_CONFIRMATION.CLAIM_NOT_BE_ISSUED_UNTIL_PAID') }}</p>
            {{ govukButton({
              text: t('PAGES.SUBMIT_CONFIRMATION.PAY_CLAIM_FEE'),
              href: claimFeeUrl
            }) }}
          </div>
        {% endif %}
        <h2>{{ t('PAGES.CLAIM_SUBMITTED.IF_DEFENDANT_PAYS_YOU_HEADER') }}</h2>
        <p>
          {{ t('PAGES.CLAIM_SUBMITTED.IF_DEFENDANT_PAYS_YOU_CONTENT') }}
        </p>
      <p class="govuk-body">
        {{ externalLink(t, 'PAGES.SUBMIT_CONFIRMATION.YOUR_OPINION_OF_SERVICE', externalURLs.claimCreationSmartSurveyUrl.replace('claimId', claimId), true) }}
      </p>
        <div class="form-group">
          {{ govukButton({
            text: t('PAGES.SUBMIT_CONFIRMATION.GO_TO_ACCOUNT'),
            href: '/dashboard'
          }) }}
        </div>
        {{ contactUsForHelp(t, '', true) }}
      </div>
    </div>
  </div>
{% endblock %}
