{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/expense-details.njk" import expenseDetails, otherExpenseDetails %}
{% block content %}
  {% set errors = form.getNestedErrors('model') %}
  {% if form.hasErrors() %}
    {{ govukErrorSummary({
      "titleText": t("There was a problem"),
      "errorList": errors
    }) }}
  {% endif %}
  {% set checkedMortgageHtml %}
    {{ expenseDetails('Include all mortgages', 'model[mortgage][expenseSource]',  form.model.mortgage.expenseSource, form) }}
  {% endset -%}
  {% set checkedRentHtml %}
    {{ expenseDetails('', 'model[rent][expenseSource]',  form.model.rent.expenseSource, form) }}
  {% endset -%}
  {% set checkedCouncilTaxHtml %}
    {{ expenseDetails('', 'model[councilTax][expenseSource]',  form.model.councilTax.expenseSource, form) }}
  {% endset -%}
  {% set checkedGasHtml %}
    {{ expenseDetails('', 'model[gas][expenseSource]', form.model.gas.expenseSource, form) }}
  {% endset -%}
  {% set checkedElectricityHtml %}
    {{ expenseDetails('', 'model[electricity][expenseSource]', form.model.electricity.expenseSource, form) }}
  {% endset -%}
  {% set checkedWaterHtml %}
    {{ expenseDetails('Include sewerage payments', 'model[water][expenseSource]', form.model.water.expenseSource, form) }}
  {% endset -%}
  {% set checkedTravelHtml %}
    {{ expenseDetails('', 'model[travel][expenseSource]', form.model.travel.expenseSource, form) }}
  {% endset -%}
  {% set checkedSchoolHtml %}
    {{ expenseDetails('', 'model[schoolCosts][expenseSource]', form.model.schoolCosts.expenseSource, form) }}
  {% endset -%}
  {% set checkedFoodHtml %}
    {{ expenseDetails('', 'model[foodAndHousekeeping][expenseSource]',  form.model.foodAndHousekeeping.expenseSource, form) }}
  {% endset -%}
  {% set checkedTvHtml %}
    {{ expenseDetails('', 'model[tvAndBroadband][expenseSource]',  form.model.tvAndBroadband.expenseSource, form) }}
  {% endset -%}
  {% set checkedHirePurchaseHtml %}
    {{ expenseDetails('', 'model[hirePurchase][expenseSource]',  form.model.hirePurchase.expenseSource, form) }}
  {% endset -%}
  {% set checkedMobileHtml %}
    {{ expenseDetails('', 'model[mobilePhone][expenseSource]', form.model.mobilePhone.expenseSource, form) }}
  {% endset -%}
  {% set checkedMaintenanceHtml %}
    {{ expenseDetails('', 'model[maintenance][expenseSource]', form.model.maintenance.expenseSource, form) }}
  {% endset -%}
  {% set checkedOtherHtml %}
    {% for transactionSource in form.model.other.transactionSources %}
      {% if form.model.other.transactionSources.length < 2 %}
        {{ otherExpenseDetails( 'model[other][transactionSources]', loop.index0, transactionSource, form, {text:'Remove this expense source', hidden:true}) }}
      {% else %}
        {{ otherExpenseDetails( 'model[other][transactionSources]', loop.index0, transactionSource, form, {text:'Remove this expense source'}) }}
      {% endif %}
    {% endfor %}
    <div class="govuk-form-group">
      {{ govukButton({
        text: t("Add another expense"),
        classes: "govuk-button--secondary append-row"
      }) }}
    </div>
  {% endset -%}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}

            {{ govukCheckboxes({
              idPrefix: "declared",
              name: "declared",
              fieldset: {
                legend: {
                  text: t("What are your regular expenses?"),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: t('Select all that apply. The information you enter must be truthful and accurate. Do not include any arrears repayments.')
              },
              items: [
                {
                  value: "mortgage",
                  text: t("Mortgage"),
                  conditional: {
                  html: checkedMortgageHtml
                },
                  checked: true if form.model.mortgage.declared
                },
                {
                  value: "rent",
                  text: t("Rent"),
                  conditional: {
                  html: checkedRentHtml
                },
                  checked: true if form.model.rent.declared
                },
                {
                  value: "councilTax",
                  text: t("Council Tax"),
                  conditional: {
                  html: checkedCouncilTaxHtml
                },
                  checked: true if form.model.councilTax.declared
                },
                {
                  value: "gas",
                  text: t("Gas"),
                  conditional: {
                  html: checkedGasHtml
                },
                  checked: true if form.model.gas.declared
                },
                {
                  value: "electricity",
                  text: t("Electricity"),
                  conditional: {
                  html: checkedElectricityHtml
                },
                  checked: true if form.model.electricity.declared
                },
                {
                  value: "water",
                  text: t("Water"),
                  conditional: {
                  html: checkedWaterHtml
                },
                  checked: true if form.model.water.declared
                },
                {
                  value: "travel",
                  text: t("Travel (work or school)"),
                  conditional: {
                  html: checkedTravelHtml
                },
                  checked: true if form.model.travel.declared
                },
                {
                  value: "schoolCosts",
                  text: t("School costs (include clothing)"),
                  conditional: {
                  html: checkedSchoolHtml
                },
                  checked: true if form.model.schoolCosts.declared
                },
                {
                  value: "foodAndHousekeeping",
                  text: t("Food and housekeeping"),
                  conditional: {
                  html: checkedFoodHtml
                },
                  checked: true if form.model.foodAndHousekeeping.declared
                },
                {
                  value: "tvAndBroadband",
                  text: t("TV and broadband"),
                  conditional: {
                  html: checkedTvHtml
                },
                  checked: true if form.model.tvAndBroadband.declared
                },
                {
                  value: "hirePurchase",
                  text: t("Hire purchase"),
                  conditional: {
                  html: checkedHirePurchaseHtml
                },
                  checked: true if form.model.hirePurchase.declared
                },
                {
                  value: "mobilePhone",
                  text: t("Mobile phone"),
                  conditional: {
                  html: checkedMobileHtml
                },
                  checked: true if form.model.mobilePhone.declared
                },
                {
                  value: "maintenance",
                  text: t("Maintenance payments"),
                  conditional: {
                  html: checkedMaintenanceHtml
                },
                  checked: true if form.model.maintenance.declared
                },
                {
                  value: "other",
                  text: t("Other expenses"),
                  conditional: {
                  html: checkedOtherHtml
                },
                  checked: true if form.model.other.declared
                }
              ]
            }) }}

            <div class="govuk-form-group">
              <p class="govuk-fieldset__legend govuk-fieldset__legend--m" role="status" aria-live="polite">
                {{ t('Total monthly expenditure') }}: £
                <span class="total-monthly-income-expense">
                  0
               </span>
              </p>
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
