{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/transaction-details.njk" import transactionDetails, otherTransactionDetails %}
{% block content %}
  {% set errors = form.getNestedErrors('model') %}
  {% if form.hasErrors() %}
    {{ govukErrorSummary({
      "titleText": t("There was a problem"),
      "errorList": errors
    }) }}
  {% endif %}
  {% set amountLabel = 'Amount paid' %}
  {% set scheduleLabel = 'Paid every' %}
  {% set expenseSourceLabel = 'Source of expense' %}
  {% set checkedMortgageHtml %}
    {{ transactionDetails('Include all mortgages', 'model[mortgage][transactionSource]',  form.model.mortgage.transactionSource, {amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedRentHtml %}
    {{ transactionDetails('', 'model[rent][transactionSource]',  form.model.rent.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedCouncilTaxHtml %}
    {{ transactionDetails('', 'model[councilTax][transactionSource]',  form.model.councilTax.transactionSource, {amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedGasHtml %}
    {{ transactionDetails('', 'model[gas][transactionSource]', form.model.gas.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedElectricityHtml %}
    {{ transactionDetails('', 'model[electricity][transactionSource]', form.model.electricity.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedWaterHtml %}
    {{ transactionDetails('Include sewerage payments', 'model[water][transactionSource]', form.model.water.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedTravelHtml %}
    {{ transactionDetails('', 'model[travel][transactionSource]', form.model.travel.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedSchoolHtml %}
    {{ transactionDetails('', 'model[schoolCosts][transactionSource]', form.model.schoolCosts.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedFoodHtml %}
    {{ transactionDetails('', 'model[foodAndHousekeeping][transactionSource]',  form.model.foodAndHousekeeping.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedTvHtml %}
    {{ transactionDetails('', 'model[tvAndBroadband][transactionSource]',  form.model.tvAndBroadband.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedHirePurchaseHtml %}
    {{ transactionDetails('', 'model[hirePurchase][transactionSource]',  form.model.hirePurchase.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedMobileHtml %}
    {{ transactionDetails('', 'model[mobilePhone][transactionSource]', form.model.mobilePhone.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedMaintenanceHtml %}
    {{ transactionDetails('', 'model[maintenance][transactionSource]', form.model.maintenance.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedOtherHtml %}
    <div class="govuk-form-group">
      {% for transactionSource in form.model.other.transactionSources %}
        {% if form.model.other.transactionSources.length < 2 %}
          {{ otherTransactionDetails( 'model[other][transactionSources]', loop.index0, transactionSource,  {name:expenseSourceLabel, amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form, {text:'Remove this expense source', hidden:true}) }}
        {% else %}
          {{ otherTransactionDetails( 'model[other][transactionSources]', loop.index0, transactionSource,  {name:expenseSourceLabel, amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form, {text:'Remove this expense source'}) }}
        {% endif %}
      {% endfor %}
    </div>
    <div class="govuk-form-group">
      {{ govukButton({
        text: t("Add another expense"),
        classes: "govuk-button--secondary append-row"
      }) }}
    </div>
  {% endset -%}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}

            {{ govukCheckboxes({
              idPrefix: "declared",
              name: "declared",
              fieldset: {
                legend: {
                  text: t("What are your regular expenses?"),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: t('Select all that apply. The information you enter must be truthful and accurate. Do not include any arrears repayments.')
              },
              items: [
                {
                  value: "mortgage",
                  text: t("Mortgage"),
                  conditional: {
                  html: checkedMortgageHtml
                },
                  checked: true if form.model.mortgage.declared
                },
                {
                  value: "rent",
                  text: t("Rent"),
                  conditional: {
                  html: checkedRentHtml
                },
                  checked: true if form.model.rent.declared
                },
                {
                  value: "councilTax",
                  text: t("Council Tax"),
                  conditional: {
                  html: checkedCouncilTaxHtml
                },
                  checked: true if form.model.councilTax.declared
                },
                {
                  value: "gas",
                  text: t("Gas"),
                  conditional: {
                  html: checkedGasHtml
                },
                  checked: true if form.model.gas.declared
                },
                {
                  value: "electricity",
                  text: t("Electricity"),
                  conditional: {
                  html: checkedElectricityHtml
                },
                  checked: true if form.model.electricity.declared
                },
                {
                  value: "water",
                  text: t("Water"),
                  conditional: {
                  html: checkedWaterHtml
                },
                  checked: true if form.model.water.declared
                },
                {
                  value: "travel",
                  text: t("Travel (work or school)"),
                  conditional: {
                  html: checkedTravelHtml
                },
                  checked: true if form.model.travel.declared
                },
                {
                  value: "schoolCosts",
                  text: t("School costs (include clothing)"),
                  conditional: {
                  html: checkedSchoolHtml
                },
                  checked: true if form.model.schoolCosts.declared
                },
                {
                  value: "foodAndHousekeeping",
                  text: t("Food and housekeeping"),
                  conditional: {
                  html: checkedFoodHtml
                },
                  checked: true if form.model.foodAndHousekeeping.declared
                },
                {
                  value: "tvAndBroadband",
                  text: t("TV and broadband"),
                  conditional: {
                  html: checkedTvHtml
                },
                  checked: true if form.model.tvAndBroadband.declared
                },
                {
                  value: "hirePurchase",
                  text: t("Hire purchase"),
                  conditional: {
                  html: checkedHirePurchaseHtml
                },
                  checked: true if form.model.hirePurchase.declared
                },
                {
                  value: "mobilePhone",
                  text: t("Mobile phone"),
                  conditional: {
                  html: checkedMobileHtml
                },
                  checked: true if form.model.mobilePhone.declared
                },
                {
                  value: "maintenance",
                  text: t("Maintenance payments"),
                  conditional: {
                  html: checkedMaintenanceHtml
                },
                  checked: true if form.model.maintenance.declared
                },
                {
                  value: "other",
                  text: t("Other expenses"),
                  conditional: {
                  html: checkedOtherHtml
                },
                  checked: true if form.model.other.declared
                }
              ]
            }) }}

            <div class="govuk-form-group">
              <p class="govuk-fieldset__legend govuk-fieldset__legend--m" role="status" aria-live="polite">
                {{ t('Total monthly expenditure') }}: £
                <span class="total-monthly-income-expense">
                  0
               </span>
              </p>
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
