{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/transaction-details.njk" import transactionDetails, otherTransactionDetails %}
{% from "../../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../../macro/error-summary.njk" import errorSummary %}
{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.REGULAR_EXPENSES.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  {% set errors = form.getNestedErrors('model') %}
  {% if form.hasErrors() %}
    {{ errorSummary(errors, t) }}
  {% endif %}
  {% set rowNumberToShowRemoveButton = 2 %}
  {% set amountLabel = t('PAGES.REGULAR_EXPENSES.AMOUNT_PAID') %}
  {% set scheduleLabel = t('PAGES.REGULAR_EXPENSES.PAID_EVERY') %}
  {% set expenseSourceLabel = t('PAGES.REGULAR_EXPENSES.SOURCE_OF_EXPENSES') %}
  {% set checkedMortgageHtml %}
  {{ transactionDetails(t,'PAGES.REGULAR_EXPENSES.INCLUDE_ALL_MORTGAGES', 'model[mortgage][transactionSource]',  form.model.mortgage.transactionSource, {amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedRentHtml %}
  {{ transactionDetails(t,'', 'model[rent][transactionSource]',  form.model.rent.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedCouncilTaxHtml %}
  {{ transactionDetails(t,'', 'model[councilTax][transactionSource]',  form.model.councilTax.transactionSource, {amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedGasHtml %}
  {{ transactionDetails(t,'', 'model[gas][transactionSource]', form.model.gas.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedElectricityHtml %}
  {{ transactionDetails(t,'', 'model[electricity][transactionSource]', form.model.electricity.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedWaterHtml %}
  {{ transactionDetails(t,'PAGES.REGULAR_EXPENSES.INCLUDE_SEWERAGE_PAYMENTS', 'model[water][transactionSource]', form.model.water.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedTravelHtml %}
  {{ transactionDetails(t,'', 'model[travel][transactionSource]', form.model.travel.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedSchoolHtml %}
  {{ transactionDetails(t,'', 'model[schoolCosts][transactionSource]', form.model.schoolCosts.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedFoodHtml %}
  {{ transactionDetails(t,'', 'model[foodAndHousekeeping][transactionSource]',  form.model.foodAndHousekeeping.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedTvHtml %}
  {{ transactionDetails(t,'', 'model[tvAndBroadband][transactionSource]',  form.model.tvAndBroadband.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedHirePurchaseHtml %}
  {{ transactionDetails(t,'', 'model[hirePurchase][transactionSource]',  form.model.hirePurchase.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedMobileHtml %}
  {{ transactionDetails(t,'', 'model[mobilePhone][transactionSource]', form.model.mobilePhone.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedMaintenanceHtml %}
  {{ transactionDetails(t,'', 'model[maintenance][transactionSource]', form.model.maintenance.transactionSource,{amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedOtherHtml %}
  <div class="govuk-form-group">
    {% for transactionSource in form.model.other.transactionSources %}
      {% if form.model.other.transactionSources.length < rowNumberToShowRemoveButton %}
        {{ otherTransactionDetails( t,'model[other][transactionSources]', loop.index0, transactionSource,  {name:expenseSourceLabel, amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form, {text:'Remove this expense source', hidden:true}) }}
      {% else %}
        {{ otherTransactionDetails( t,'model[other][transactionSources]', loop.index0, transactionSource,  {name:expenseSourceLabel, amountLabel: amountLabel, scheduleLabel:scheduleLabel}, form, {text:'Remove this expense source'}) }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="govuk-form-group">
    {{ govukButton({
        text: t('PAGES.REGULAR_EXPENSES.ADD_ANOTHER_EXPENSE'),
        classes: "govuk-button--secondary append-row"
      }) }}
  </div>
  {% endset -%}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukCheckboxes({
              idPrefix: "declared",
              name: "declared",
              fieldset: {
                legend: {
                  text: t('PAGES.REGULAR_EXPENSES.WHAT_ARE_YOUR_REGUALAR_EXPENSES'),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: t('PAGES.REGULAR_EXPENSES.INFORMATION_NOTE')
              },
              items: [
                {
                  value: "mortgage",
                  text: t('COMMON.CHECKBOX_FIELDS.MORTGAGE'),
                  conditional: {
                  html: checkedMortgageHtml
                },
                  checked: true if form.model.mortgage.declared
                },
                {
                  value: "rent",
                  text: t('COMMON.CHECKBOX_FIELDS.RENT'),
                  conditional: {
                  html: checkedRentHtml
                },
                  checked: true if form.model.rent.declared
                },
                {
                  value: "councilTax",
                  text: t('COMMON.CHECKBOX_FIELDS.COUNCIL_TAX'),
                  conditional: {
                  html: checkedCouncilTaxHtml
                },
                  checked: true if form.model.councilTax.declared
                },
                {
                  value: "gas",
                  text: t('COMMON.CHECKBOX_FIELDS.GAS'),
                  conditional: {
                  html: checkedGasHtml
                },
                  checked: true if form.model.gas.declared
                },
                {
                  value: "electricity",
                  text: t('COMMON.CHECKBOX_FIELDS.ELECTRICITY'),
                  conditional: {
                  html: checkedElectricityHtml
                },
                  checked: true if form.model.electricity.declared
                },
                {
                  value: "water",
                  text: t('COMMON.CHECKBOX_FIELDS.WATER'),
                  conditional: {
                  html: checkedWaterHtml
                },
                  checked: true if form.model.water.declared
                },
                {
                  value: "travel",
                  text: t('COMMON.CHECKBOX_FIELDS.TRAVEL'),
                  conditional: {
                  html: checkedTravelHtml
                },
                  checked: true if form.model.travel.declared
                },
                {
                  value: "schoolCosts",
                  text: t('COMMON.CHECKBOX_FIELDS.SCHOOL_COSTS'),
                  conditional: {
                  html: checkedSchoolHtml
                },
                  checked: true if form.model.schoolCosts.declared
                },
                {
                  value: "foodAndHousekeeping",
                  text: t('COMMON.CHECKBOX_FIELDS.FOOD_AND_HOUSEKEEPING'),
                  conditional: {
                  html: checkedFoodHtml
                },
                  checked: true if form.model.foodAndHousekeeping.declared
                },
                {
                  value: "tvAndBroadband",
                  text: t('COMMON.CHECKBOX_FIELDS.TV_AND_BROADBAND'),
                  conditional: {
                  html: checkedTvHtml
                },
                  checked: true if form.model.tvAndBroadband.declared
                },
                {
                  value: "hirePurchase",
                  text: t('COMMON.CHECKBOX_FIELDS.HIRE_PURCHASE'),
                  conditional: {
                  html: checkedHirePurchaseHtml
                },
                  checked: true if form.model.hirePurchase.declared
                },
                {
                  value: "mobilePhone",
                  text: t('COMMON.CHECKBOX_FIELDS.MOBILE_PHONE'),
                  conditional: {
                  html: checkedMobileHtml
                },
                  checked: true if form.model.mobilePhone.declared
                },
                {
                  value: "maintenance",
                  text: t('COMMON.CHECKBOX_FIELDS.MAINTENANCE'),
                  conditional: {
                  html: checkedMaintenanceHtml
                },
                  checked: true if form.model.maintenance.declared
                },
                {
                  value: "other",
                  text: t('COMMON.CHECKBOX_FIELDS.OTHER'),
                  conditional: {
                  html: checkedOtherHtml
                },
                  checked: true if form.model.other.declared
                }
              ]
            }) }}
            <div class="govuk-form-group">
              <p class="govuk-fieldset__legend govuk-fieldset__legend--m" role="status" aria-live="polite">
                {{ t('PAGES.REGULAR_EXPENSES.TOTAL_MONTHLY_EXPENDITURE') }}: £
                <span class="total-monthly-income-expense">
                  0
                </span>
              </p>
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
