{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/csrf.njk" import csrfProtection %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set dateToday = "now" | addDaysTranslated(0, t) %}
      {% set title = t('PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.TITLE') %}
      {% if responseType==="FULL_DEFENCE" %}
        {% set title = t('PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.HOW_MUCH') %}
      {% endif %}
      {% set description = t('PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.TOTAL_CLAIMED', {totalClaimAmount : totalClaimAmount}) %}
      {% set amountAsString = '' + form.model.amount %}
      {% set errors = form.getErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(errors,t,[{keyError:'ERRORS.VALID_DATE_IN_PAST',keyToReplace:'{{dateToday}}',valueToReplace:dateToday}]) }}
        {% set dateErrorMessages %}
          {% if errors %}
           {% if form.hasFieldError('date') %}
             {% if form.errorFor('date') == 'ERRORS.VALID_DATE_IN_PAST' %}
               <span class="govuk-error-message">{{ t(form.errorFor('date'),{dateToday: dateToday}) }}</span>
             {% else %}
               <span class="govuk-error-message">{{ t(form.errorFor('date')) }}</span>
             {% endif %}
           {% endif %}
            {% if form.hasFieldError('day') %}
              <span class="govuk-error-message">{{ t(form.errorFor('day')) }}</span>
            {% endif %}
            {% if form.hasFieldError('month') %}
              <span class="govuk-error-message">{{ t(form.errorFor('month')) }}</span>
            {% endif %}
            {% if form.hasFieldError('year') %}
              <span class="govuk-error-message">{{ t(form.errorFor('year')) }}</span>
            {% endif %}
          {% endif %}
        {% endset -%}
        {% set isDateError = form.hasFieldError('date') or form.hasFieldError('day') or form.hasFieldError('month') or form.hasFieldError('year') %}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">{{ title }}</h1>
            </legend>
            <p class="govuk-body-m">{{ description }}</p>
            {{ govukInput({
              id: "amount",
              name: "amount",
              value: amountAsString,
              type: "number",
              autocomplete: "number",
              spellcheck: false,
              text: title,
              prefix: {
                text: "£"
              },
              label: {
                text: t('PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.HOW_MUCH'),
                classes: "govuk-label--s",
                isPageHeading: true
              },
              classes: "govuk-!-width-two-thirds",
              errorMessage: {
                text:t(form.errorFor('amount'))
              } if form.hasFieldError('amount')
            }) }}
            <div class="govuk-form-group">
              {{ govukDateInput({
                id: "date",
                type: "number",
                inputmode: "numeric",
                name: "date",
                fieldset: {
                  legend: {
                    text: t('PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.WHEN_DID'),
                    isPageHeading: false,
                    classes: 'govuk-fieldset__legend--s'
                  }
                },
                hint: {
                  text: t('PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.FOR_EXAMPLE') + lastMonth.getDate() + " " + (lastMonth.getMonth() + 1) + " " + lastMonth.getFullYear()
                },
                errorMessage: {
                  html: dateErrorMessages
                } if isDateError,
                items: [
                  {
                    classes: "govuk-input--width-2 govuk-input--error" if (form.hasFieldError('day') or form.hasFieldError('date')) else "govuk-input--width-2",
                    id: "day",
                    label: t('COMMON.DAY'),
                    name: "day",
                    value: form.model.day,
                    max: 31
                  },
                  {
                    classes:"govuk-input--width-2 govuk-input--error" if (form.hasFieldError('month') or form.hasFieldError('date')) else "govuk-input--width-2",
                    id: "month",
                    label: t('COMMON.MONTH'),
                    name: "month",
                    value: form.model.month,
                    max: 12
                  },
                  {
                    classes: "govuk-input--width-4 govuk-input--error" if (form.hasFieldError('year') or form.hasFieldError('date')) else "govuk-input--width-4",
                    id: "year",
                    label: t('COMMON.YEAR'),
                    name: "year",
                    value: form.model.year,
                    max: 9999
                  }
                ]
              }) }}
            </div>
            <div class="govuk-form-group">
              {{ govukTextarea({
                name: "text",
                id: "text",
                value: form.model.text,
                classes:"govuk-!-width-three-quarters",
                label: {
                  text: t('PAGES.PARTIAL_ADMISSION_HOW_MUCH_HAVE_YOU_PAID.HOW_DID'),
                  classes: "govuk-label--s"
                },
                errorMessage: {
                  text: t(form.errorFor('text'))
                } if form.hasFieldError('text')
              }) }}
            </div>
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
