{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}

{% set pageTitleForClaimant = 'PAGES.CLAIMANT_RESPONSE_PAYMENT_OPTION.PAGE_TITLE' %}
{% set pageTitleForDefendant = 'PAGES.PAYMENT_OPTION.PAGE_TITLE_FOR_PART_ADMIT' if amount else 'PAGES.PAYMENT_OPTION.PAGE_TITLE' %}
{% set pageTitle = pageTitleForClaimant if isClaimantResponse else pageTitleForDefendant %}

{% set titleForClaimant = t('PAGES.CLAIMANT_RESPONSE_PAYMENT_OPTION.TITLE')  %}
{% set titleForDefendant = t('PAGES.PAYMENT_OPTION.TITLE_FOR_PART_ADMIT', { amount : amount.toFixed(2)}) if amount else t('PAGES.PAYMENT_OPTION.TITLE')%}
{% set title = titleForClaimant if isClaimantResponse else titleForDefendant %}

{% set instalmentsOrRepaymentPlan = 'COMMON.PAYMENT_OPTION.INSTALMENTS' if isClaimantResponse else 'PAGES.PAYMENT_OPTION.REPAYMENT' %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set hintPayImmediately %}
        <div
          class='govuk-hint'>{{ t('PAGES.PAYMENT_OPTION.YOU_MUST_CONTACT') }}</div>
      {% endset -%}

      {% set hintPayLater %}
        <div class='govuk-hint'>{{ t('PAGES.PAYMENT_OPTION.REQUEST') }}</div>
      {% endset -%}
      {% set errors = form.getErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">{{ title }}</h1>
            </legend>
            {{ govukRadios({
              idPrefix: "paymentType",
              name: "paymentType",
              items: [
                {
                  value: PaymentOptionType.IMMEDIATELY,
                  text: t('COMMON.PAYMENT_OPTION.IMMEDIATELY'),
                  checked: true if form.model.paymentType == PaymentOptionType.IMMEDIATELY,
                  conditional: {
                  html: hintPayImmediately if not isClaimantResponse
                }
                },
                {
                  value: PaymentOptionType.BY_SET_DATE,
                  text: t('COMMON.PAYMENT_OPTION.BY_SET_DATE'),
                  checked: true if form.model.paymentType == PaymentOptionType.BY_SET_DATE,
                  conditional: {
                  html: hintPayLater if not isClaimantResponse
                }
                },
                {
                  value: PaymentOptionType.INSTALMENTS,
                  text: t(instalmentsOrRepaymentPlan),
                  checked: true if form.model.paymentType == PaymentOptionType.INSTALMENTS,
                  conditional: {
                  html: hintPayLater if not isClaimantResponse
                }
                }
              ],
              errorMessage: {
                text: t(form.errorFor('paymentType'))
              } if form.hasFieldError('paymentType')

            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
