{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.ADMISSION_PAYMENT_DATE.PAGE_TITLE') }}
{% endblock %}
{% set hint = t('PAGES.ADMISSION_PAYMENT_DATE.FOR_EXAMPLE', {nextDate: nextMonth.getDate(), nextMonth: nextMonth.getMonth() + 1,nextYear: nextMonth.getFullYear()}) %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set firstPaymentDate = "now" | addDaysTranslated(30, t,'GB') %}
      {% set errors = form.getErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(errors, t,[{keyError:'ERRORS.FIRST_PAYMENT_MESSAGE',keyToReplace:'{{firstPaymentDate}}',valueToReplace:firstPaymentDate}]) }}
        {% set errorMessages %}
          {% if errors %}
            {% for error in errors %}
            {% if error.text == 'ERRORS.FIRST_PAYMENT_MESSAGE' %}
              <span class="govuk-error-message">{{  t(error.text,{firstPaymentDate:firstPaymentDate}) | safe}}</span>
              {% else %}
              <span class="govuk-error-message">{{ t(error.text) }}</span>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endset -%}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% call govukFieldset({
             legend: {
                text: t(title),
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
             }
          }) %}
          {% if insetText %}
            {{ govukInsetText({
              text: t(insetText)
            }) }}
          {% endif %}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <div class="govuk-form-group">
              {{ govukDateInput({
                id: "date",
                type: "number",
                inputmode: "numeric",
                name: "date",
                hint: {
                  text: hint
                },
                errorMessage: {
                  html: errorMessages
                } if form.hasErrors(),
                items: [
                  {
                    classes: "govuk-input--width-2 govuk-input--error" if form.hasFieldError('day') else "govuk-input--width-2",
                    id: "day",
                    label: t('COMMON.DAY'),
                    name: "day",
                    value: form.model.day,
                    max: 31
                  },
                  {
                    classes:"govuk-input--width-2 govuk-input--error" if form.hasFieldError('month') else "govuk-input--width-2",
                    id: "month",
                    label: t('COMMON.MONTH'),
                    name: "month",
                    value: form.model.month,
                    max: 12
                  },
                  {
                    classes: "govuk-input--width-4 govuk-input--error" if form.hasFieldError('year') else "govuk-input--width-4",
                    id: "year",
                    label: t('COMMON.YEAR'),
                    name: "year",
                    value: form.model.year,
                    max: 9999
                  }
                ]
              }) }}
            </div>
            {{ govukButton({
              text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
            }) }}
            {% endcall %}
          </form>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}

