{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../item-content.njk" import itemContent %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.PAY_HEARING_FEE.START.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          {{ csrfProtection(csrf) }}
          {% for content in payHearingFeeStartScreenContent %}
            {{ itemContent(content,t) }}
          {% endfor %}
        </div>
        <div class="govuk-grid-column-one-third">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
