{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = form.getErrors() %}
      {% if errors %}
        {{ govukErrorSummary({
          "titleText": 'There was a problem',
          "errorList": errors
        }) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Enter a phone number (optional)</h1>
          <p class="govuk-body">{{ t("We will only call you if we need more information about this claim.") }}</p>
          <p class="govuk-body">
            {{ t("We'll give your phone number to the person, business, or organisation claiming from you, or to their legal representative, if they have one.") }}
          </p>
          <form method="post">
            {% set error = form.getErrors() %}
            <div class="govuk-form-group {% if error %} govuk-form-group--error{% endif %}">
              {{ govukInput({
                id: "telephoneNumber",
                name: "telephoneNumber",
                value: form.telephoneNumber,
                hint: {
                  text: "Use numbers only, for example, 01632960001."
                },
                errorMessage: {
                  html: t(errors[0].text)
                } if errors

              }) }}
            </div>
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
            </div>
          </form>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}

