{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/citizen-telephone.njk" import citizenTelephone %}
{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CITIZEN_PHONE.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = form.getErrors() %}
      {% if errors.length %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        {% if carmEnabled %}
          <h1 class="govuk-heading-l">{{ t("PAGES.CITIZEN_PHONE.TITLE_MANDATORY") }}</h1>
        {% else %}
          <h1 class="govuk-heading-l">{{ t("PAGES.CITIZEN_PHONE.TITLE") }}</h1>
        {% endif %}
          <p class="govuk-body">{{ t("PAGES.CITIZEN_PHONE.MORE_INFORMATION") }}</p>
          <p class="govuk-body">
            {{ t("PAGES.CITIZEN_PHONE.INFORMATION") }}
          </p>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <div class="govuk-form-group {%- if form.errorFor('telephoneNumber') %} govuk-form-group--error{% endif %}">
            {% if carmEnabled %}
              {{ citizenTelephone(form, t, {
                id: "telephoneNumber",
                name: "telephoneNumber",
                label: "PAGES.CITIZEN_PHONE.TITLE_MANDATORY",
                hint: "PAGES.CITIZEN_PHONE.EXAMPLE"
              }) }}
            {% else %}
              {{ citizenTelephone(form, t, {
                id: "telephoneNumber",
                name: "telephoneNumber",
                label: "PAGES.CITIZEN_PHONE.TITLE",
                hint: "PAGES.CITIZEN_PHONE.EXAMPLE"
              }) }}
            {% endif %}
            </div>
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
            </div>
          </form>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
