{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../dashboard/claim-summary-content.njk" import claimSummaryContent %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  {{ setPageTitle(t(pageTitle)) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container caseProgression">
  <main class="govuk-main-wrapper" role="main">
    {% if form != null and form.hasErrors() %}
      {{ errorSummary(form.getAllErrors(), t) }}
    {% endif %}

    <div class="govuk-grid-row">
      <form method="post" action={{ currentUrl }}?_csrf={{csrf}} enctype='multipart/form-data' novalidate>
        {{ csrfProtection(csrf) }}
        <div id="content"></div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <h1 class="govuk-heading-l">{{ t(pageTitle) }}</h1>

          <p class="govuk-body-l">{{t('COMMON.CASE_REFERENCE', {claimId: claimId})}}</p>

          <p class="govuk-body-l">{{partyInformation.claimantName}} v {{partyInformation.defendantName}}</p>

          <h2 class="govuk-heading-s">{{ t(subtitle) }}</h2>
          <p class="govuk-body-m">{{ t(paragraph) }}</p>
          <h1 class="govuk-heading-l">{{ t(sectionTitle) }}</h1>

            {% if yourStatementContent.length > 0 %}

            {% for yourStatementSection in yourStatementContent %}
            <div class="row-container">
              <div data-module="moj-add-another">
                {% for section in yourStatementSection %}
                {% call govukFieldset({
                  classes: 'moj-add-another__item',
                  legend: {
                  classes: 'moj-add-another__title',
                  isPageHeading: false
                }
                }) %}
                  {{ claimSummaryContent({ contentSections: section.contentSections }, t) }}
                {% endcall %}
                {% endfor %}
                <div class="govuk-button-group">
                  {{ govukButton({text: t('PAGES.UPLOAD_DOCUMENTS.ADD'),
                    classes: 'govuk-button--secondary govuk-!-margin-bottom-1',
                    name: 'action',
                    value: 'add_another-yourStatement',
                    attributes: {
                    'id': 'add-another-yourStatement'
                  }
                  }) }}
                </div>
                <hr class="govuk-section-break--s govuk-section-break--visible">
              </div>
            </div>
            {% endfor %}
            {% endif %}
          {% if documentsReferredContent.length > 0 %}
          {% for documentsReferredSection in documentsReferredContent %}
          <div class="row-container">
            <div data-module="moj-add-another">
              {% for section in documentsReferredSection %}
              {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                classes: 'moj-add-another__title',
                isPageHeading: false
              }
              }) %}
                {{ claimSummaryContent({contentSections: section.contentSections }, t) }}
              {% endcall %}
              {% endfor %}
              <div class="govuk-button-group">
                {{ govukButton({ text: t('PAGES.UPLOAD_DOCUMENTS.ADD'),
                  classes: 'govuk-button--secondary govuk-!-margin-bottom-1',
                  name: 'action',
                  value: 'add_another-documentsReferred',
                  attributes: {
                  'id': 'add_another-documentsReferred'
                }
                }) }}
              </div>
              <hr class="govuk-section-break--s govuk-section-break--visible">
            </div>
          </div>
          {% endfor %}
          {% endif %}
            <br>
              <div class="govuk-button-group">
                {{ govukButton({
                                 text: t('COMMON.BUTTONS.CONTINUE')
                }) }}
              </div>
              {{ contactUsForHelp(t) }}
        </div>
      </form>
    </div>
  </main>
</div>
{% endblock %}
