{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/timeline-row.njk" import timelineRow %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/error-summary.njk" import errorSummary %}

{% set title = 'PAGES.DEFENDANT_TIMELINE.PAGE_TITLE' %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.DEFENDANT_TIMELINE.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = form.getAllErrors() %}
      {% if errors.length > 0 %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t(title) }}</h1>
          <div class="govuk-description-block govuk-body">
            <h2 class="govuk-heading-s">{{ t('PAGES.DEFENDANT_TIMELINE.THEIR_TIMELINE') }}</h2>
            <table class="govuk-table">
              {% if theirTimeline.length %}
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{ t('COMMON.DATE') }}</th>
                <th scope="col" class="govuk-table__header">{{ t('COMMON.TIMELINE.WHAT_HAPPENED') }}</th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              {% for event in theirTimeline %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ event.value.timelineDate | date }}</td>
                  <td class="govuk-table__cell">{{ event.value.timelineDescription }}</td>
                </tr>
              {% endfor %}
              {% elseif pdfUrl %}
                <a id="timeline-link" href="{{ pdfUrl }}" target="_blank" rel="noreferrer noopener"
                   class="govuk-link">{{ t('PAGES.DEFENDANT_TIMELINE.DOWNLOAD_AND_VIEW_TIMELINE') }}</a>
              {% endif %}
              </tbody>
            </table>
          </div>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0">{{ t('PAGES.DEFENDANT_TIMELINE.ADD_YOUR_TIMELINE') }}</h2>
          <p class="govuk-body">
            {{ t('PAGES.DEFENDANT_TIMELINE.INCLUDE_DATES_IF_YOU_KNOW') }}
          </p>

          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <div class="govuk-grid-column-one-half govuk-!-display-inline govuk-!-padding-left-0">
              <label class="govuk-label--s">
                {{ t('COMMON.DATE') }}
              </label>
              <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                {{ t('COMMON.DATE_EXAMPLE', { date: today.getDate() + ' ' + today.getMonth() + ' ' + (today.getFullYear() - 1)}) }}
              </p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-display-inline govuk-!-padding-left-0">
              <label class="govuk-label--s">{{ t('COMMON.TIMELINE.WHAT_HAPPENED') }}</label>
              <p
                class="govuk-hint govuk-!-margin-bottom-0 govuk-!-margin-top-0">{{ t('COMMON.TIMELINE.EXAMPLE_EVENT') }}</p>
            </div>
            {% for timeline in form.model.rows %}
              {{ timelineRow(timeline, loop.index0, form, t) }}
            {% endfor %}

            {{ govukButton({
              text: t('COMMON.BUTTONS.ADD_ANOTHER_EVENT'),
              classes: "govuk-button--secondary append-row"
            }) }}
            {{ govukTextarea({
              id: "comment",
              name: "comment",
              label: {
                text: t('PAGES.DEFENDANT_TIMELINE.ADD_ANY_COMMENTS'),
                classes: "govuk-label--s",
                isPageHeading: false
              },
              value: form.model.comment,
              classes: "govuk-grid-column-full",
              spellcheck: false,
              errorMessage: {
                text: t(form.errorFor("comment"))
              } if form.hasFieldError( "comment")
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("COMMON.BUTTONS.SAVE_AND_CONTINUE")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
