# exclude all by default

*

# exceptions from `exclude all` rule

!package.json
!yarn.lock

!tsconfig.json
!webpack/**
!src/main/**
!config/**
!webpack.config.js

# Yarn 3 files
!.yarn/**
!.yarnrc.yml
.yarn/cache
.yarn/install-state.gz
