# /node_modules/* in the project root is ignored by default
# build artefacts
dist/*
coverage/*
# data definition files
**/*.d.ts
# 3rd party libs
/src/main/public/
# custom definition files
/src/main/types/
jest.*config.js
# MoJ boilerplate code
/src/main/assets/js/jquery.js
/src/main/assets/js/mojAll.js
# Workaround issue with MoJ add-another component
/src/main/assets/js/conditionally-hide-add-button.js
/src/main/assets/js/remove-error-content.js
