node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/stylesheets/lib/*
src/main/resources/localhost-ssl
src/main/public

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/
.history/
dist/
coverage/
smoke-output/
functional-output/
test-results/

.vscode/
.yarn/
.yarnrc
test-results/
package-lock.json
