node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/stylesheets/lib/*
src/main/resources/localhost-ssl

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/
.history/
dist/
coverage/
public/
smoke-output/
functional-output/

.yarn/
.yarnrc
src/test/output/*
src/main/app.ts
test-results/
package-lock.json
