{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/report-detail.njk" import reportDetail %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.EXPERT_REPORT_DETAILS.PAGE_TITLE') }}
{% endblock %}

{% set rowNumberToShowRemoveButton = 2 %}
{% set errors = form.getAllErrors() %}
{% set atLeastOneExpertReportError = form.errorFor('reportDetails') %}
{% set isRemoveButtonHidden = form.model.reportDetails.length < rowNumberToShowRemoveButton %}

{% set reportDetailsHtml %}
  <div
    class="govuk-form-group {% if atLeastOneExpertReportError %} govuk-form-group--error {% endif %}">
    {% if atLeastOneExpertReportError %}
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">{{ t('ERRORS.ERROR') }} :</span> {{ t(atLeastOneExpertReportError) }}
      </p>
    {% endif %}

    {% for row in form.model.reportDetails %}
      {{ reportDetail(loop.index0, row, form.errorFor, t, { hidden: isRemoveButtonHidden }, today) }}
    {% else %}
      {{ reportDetail(0, '', form.errorFor, t, { hidden: true }, today) }}
    {% endfor %}
  </div>
  <div>
    {{ govukButton({
      text: t('PAGES.EXPERT_REPORT_DETAILS.ADD_ANOTHER'),
      classes: "govuk-button--secondary append-row"
    }) }}
  </div>
{% endset -%}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        <div class="govuk-grid-row">
          {{ errorSummary(form.getAllErrors(), t) }}
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.EXPERT_REPORT_DETAILS.TITLE') }}</h1>
          <div>
          <form method="post" novalidate autocomplete="off">
            {{ csrfProtection(csrf) }}
            {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {yesHtml: reportDetailsHtml, yes: 'COMMON.YES', no: 'COMMON.NO'}) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
