{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/yesNoForm.njk" import yesNoRadioButton %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = "Do you have a job?" %}
      {% set id = "option" %}
      {% set name = "option" %}
      {% set errors = form.getErrors() %}
      {% if errors %}
        {{ govukErrorSummary({
          "titleText": "There was a problem",
          "errorList": errors
        }) }}
      {% endif %}
      {% set yesHtml %}
        {{ govukCheckboxes({
          idPrefix: "employmentCategory",
          name: "employmentCategory",
          fieldset: {
            legend: {
              text: t("What's your employment status?")
            }
          },
          hint: {
            text: t("You can select both.")
          },
          items: [
            {
              value: EmploymentCategory.EMPLOYED,
              text: t("Employed")
            },
            {
              value: EmploymentCategory.SELF_EMPLOYED,
              text: t("Self-employed")
            }
          ],
          errorMessage: {
            text:t(form.errorFor('employmentCategory'))
          } if form.hasFieldError('employmentCategory')
        }) }}
      {% endset -%}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post">
            {{ yesNoRadioButton(t,id,name,title,form,'',{yesHtml:yesHtml}) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
