{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../../macro/employer.njk" import employerRow %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = employers.getFormErrors() %}
      {% if errors %}
        {{ govukErrorSummary({
          "titleText": t("There was a problem"),
          "errorList": errors
        }) }}
      {% endif %}
      <h1 class="govuk-heading-l">{{ t('Who employs you?') }}</h1>
      <form method="post" name="employers" novalidate>
        <div class="govuk-form-group {%- if errors[0].text %} govuk-form-group--error{% endif %}">
          <span class="govuk-error-message">{{ t(errors[0].text) }}</span>
          {% for employer in employers.rows %}
            {{employerRow(employer, loop.index0)}}
          {% endfor %}
        </div>
        <div class="govuk-form-group">
          {{ govukButton({
            text: t("Add another job"),
            classes: "govuk-button--secondary append-row"
          }) }}
        </div>
        <div class="govuk-form-group">
          {{ govukButton({
            text: t("Save and continue")
          }) }}
          {{ contactUsForHelp(t) }}
        </div>
      </form>
    </main>
  </div>

{% endblock %}