{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "../../../../macro/employer.njk" import employerRow %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.WHO_EMPLOYS_YOU.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = form.getAllErrors() %}
      {% if errors.length > 0 %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <h1 class="govuk-heading-l">{{ t('PAGES.WHO_EMPLOYS_YOU.WHO_EMPLOYS') }}</h1>
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}
        <div class="govuk-form-group-!-margin-9 {%- if errors[0].text %} govuk-form-group--error{% endif %}">
          {% if errors[0].text %}
            {{ govukErrorMessage({ text:t(errors[0].text) })  }}
           {% endif %}
          {% for employer in form.model.rows %}
            {{employerRow(employer, loop.index0, form.errorFor,t)}}
          {% endfor %}
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-form-group govuk-grid-column-two-thirds">
            {{ govukButton({
              text: t('PAGES.WHO_EMPLOYS_YOU.ADD_ANOTHER_JOB'),
              classes: "govuk-button--secondary append-row"
            }) }}
          </div>
        </div>
        <div class="govuk-form-group">
          {{ govukButton({
            text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
          }) }}
          {{ contactUsForHelp(t) }}
        </div>
      </form>
    </main>
  </div>
{% endblock %}
