{% extends "claim-details-tpl.njk" %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/unavailable-date-row.njk" import unavailableDateRow %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}

{% set rowNumberToShowRemoveButton = 2 %}
{% set isRemoveButtonHidden = form.model.items.length < rowNumberToShowRemoveButton %}
{% set itemsErrors = form.errorFor('items') %}

{% block content %}

  {% if form.hasErrors() %}
    {{ errorSummary(form.getAllErrors(), t) }}
  {% endif %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main" aria-labelledby="page-title">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}

            {% call govukFieldset({
              legend: {
                text: t('PAGES.UNAVAILABLE_DATES_FOR_HEARING.TITLE'),
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
              }
            }) %}

            {% for unavailableDate in form.model.items %}
              <div role="group" aria-label="{{ t('PAGES.UNAVAILABLE_DATES_FOR_HEARING.TITLE') }} {{ loop.index }}">
                {{ unavailableDateRow(unavailableDate, none, loop.index0, form.errorFor, t, {hidden:isRemoveButtonHidden}, today) }}
              </div>
            {% else %}
              <div role="group" aria-label="{{ t('PAGES.UNAVAILABLE_DATES_FOR_HEARING.TITLE') }} 1">
                {{ unavailableDateRow(unavailableDate, none, 0, form.errorFor, t, {hidden:true}, today) }}
              </div>
            {% endfor %}
          </fieldset>

            {% endcall %}

            <div class="govuk-!-margin-top-6">
              {{ govukButton({
                text: t('PAGES.UNAVAILABLE_DATES_FOR_HEARING.ADD_ANOTHER_DATE'),
                classes: "govuk-button--secondary append-row",
                type: "button"
              }) }}
            </div>
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE'),
                type: "submit"
              }) }}
            </div>
          </form>

          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
