{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t("Do you support anyone else financially?") %}
      {% set errors = form.getErrors() %}
      {% set numberOfPeopleError = form.getTextError(errors, 'numberOfPeople') %}
      {% set detailsError = form.getTextError(errors, 'details') %}
      {% if errors %}
        {{ govukErrorSummary({
          "titleText": "There was a problem",
          "errorList": errors
        }) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post">
            {% set financialSupportDetails %}
            {{ govukInput({
                id: "numberOfPeople",
                name: "numberOfPeople",
                type: "number",
                autocomplete: "number",
                classes: "govuk-!-width-one-third",
                label: {
                  text: t('Number of people')
                },
                value: form.numberOfPeople,
                errorMessage: { text: numberOfPeopleError.customInt } if numberOfPeopleError else ''
              }) }}
            {{ govukTextarea({
                name: "details",
                id: "details",
                label: {
                  text: t('Give details')
                },
                value: form.details,
                errorMessage: { text: detailsError.isNotEmpty } if detailsError else ''
              }) }}
            {% endset %}
            {{ govukRadios({
              id: 'option',
              name: 'option',
              fieldset: {
                legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: 'yes',
                  checked: true if form.option=="yes" else false,
                  html: "<span>" + t('Yes') + "</span>",
                  conditional: {
                    html: financialSupportDetails
                  }
                },
                {
                  value: 'no',
                  checked: true if form.option == "no" else false,
                  html: "<span>" + t('No') + "</span>"
                }
              ],
                errorMessage: {
                  html: errors[0].text
                } if errors and (numberOfPeopleError == 'null' or detailsError == null)
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
