{% set tableHeaders = ["PAGES.COOKIES.NAME", "PAGES.COOKIES.PURPOSE", "PAGES.COOKIES.EXPIRES"] %}
{% set cookieDetailsTableData1 = [
  [
    "PAGES.COOKIES.COOKIE_DETAILS1.GA.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS1.GA.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS1.GA.EXPIRES"
  ], [
    "PAGES.COOKIES.COOKIE_DETAILS1.GID.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS1.GID.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS1.GID.EXPIRES"
  ], [
    "PAGES.COOKIES.COOKIE_DETAILS1.GAT.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS1.GAT.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS1.GAT.EXPIRES"
  ]
] %}
{% set cookieDetailsTableData2 = [
  [
    "PAGES.COOKIES.COOKIE_DETAILS2.DTCOOKIE.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTCOOKIE.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTCOOKIE.EXPIRES"
  ], [
    "PAGES.COOKIES.COOKIE_DETAILS2.DTLATC.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTLATC.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTLATC.EXPIRES"
  ], [
    "PAGES.COOKIES.COOKIE_DETAILS2.DTPC.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTPC.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTPC.EXPIRES"
  ], [
    "PAGES.COOKIES.COOKIE_DETAILS2.DTSA.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTSA.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS2.DTSA.EXPIRES"
  ], [
    "PAGES.COOKIES.COOKIE_DETAILS2.RXVISITOR.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS2.RXVISITOR.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS2.RXVISITOR.EXPIRES"
  ], [
    "PAGES.COOKIES.COOKIE_DETAILS2.RXVT.NAME",
    "PAGES.COOKIES.COOKIE_DETAILS2.RXVT.PURPOSE",
    "PAGES.COOKIES.COOKIE_DETAILS2.RXVT.EXPIRES"
  ]
] %}
