{% set tableHeaders = ["PAGES.COOKIES.NAME", "PAGES.COOKIES.PURPOSE", "PAGES.COOKIES.EXPIRES"] %}
{% set cookieDetailsTableData1 = [
  {
    name: "PAGES.COOKIES.COOKIE_DETAILS1.GA.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS1.GA.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS1.GA.EXPIRES"
  }, {
    name: "PAGES.COOKIES.COOKIE_DETAILS1.GID.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS1.GID.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS1.GID.EXPIRES"
  }, {
    name: "PAGES.COOKIES.COOKIE_DETAILS1.GAT.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS1.GAT.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS1.GAT.EXPIRES"
  }
] %}
{% set cookieDetailsTableData2 = [
  {
    name: "PAGES.COOKIES.COOKIE_DETAILS2.DTCOOKIE.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS2.DTCOOKIE.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS2.DTCOOKIE.EXPIRES"
  }, {
    name: "PAGES.COOKIES.COOKIE_DETAILS2.DTLATC.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS2.DTLATC.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS2.DTLATC.EXPIRES"
  }, {
    name: "PAGES.COOKIES.COOKIE_DETAILS2.DTPC.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS2.DTPC.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS2.DTPC.EXPIRES"
  },
  {
    name: "PAGES.COOKIES.COOKIE_DETAILS2.DTSA.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS2.DTSA.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS2.DTSA.EXPIRES"
  }, {
    name: "PAGES.COOKIES.COOKIE_DETAILS2.RXVISITOR.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS2.RXVISITOR.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS2.RXVISITOR.EXPIRES"
  }, {
    name: "PAGES.COOKIES.COOKIE_DETAILS2.RXVT.NAME",
    purpose: "PAGES.COOKIES.COOKIE_DETAILS2.RXVT.PURPOSE",
    expires: "PAGES.COOKIES.COOKIE_DETAILS2.RXVT.EXPIRES"
  }
] %}
