{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CLAIMANT_FORMALISE_REPAYMENT_TYPE.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t("PAGES.CLAIMANT_FORMALISE_REPAYMENT_TYPE.TITLE") %}
      {% set errors = form.getErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ title }}</h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukRadios({
              idPrefix: "option",
              name: "option",
              items: [
                {
                  value: chooseHowProceed.SIGN_A_SETTLEMENT_AGREEMENT,
                  checked: true if form.model.option===chooseHowProceed.SIGN_A_SETTLEMENT_AGREEMENT else false,
                  html: '<span class="govuk-body govuk-!-font-weight-bold">' + t('PAGES.CLAIMANT_FORMALISE_REPAYMENT_TYPE.SIGN_A_SETTLEMENT_AGREEMENT.LABEL') + '</span>',
                  hint: {
                    text: t('PAGES.CLAIMANT_FORMALISE_REPAYMENT_TYPE.SIGN_A_SETTLEMENT_AGREEMENT.DESCRIPTION')
                  }
                },
                {
                  value: chooseHowProceed.REQUEST_A_CCJ,
                  checked: true if form.model.option===chooseHowProceed.REQUEST_A_CCJ else false,
                  html: '<span class="govuk-body govuk-!-font-weight-bold">' + t('PAGES.CLAIMANT_FORMALISE_REPAYMENT_TYPE.REQUEST_A_CCJ.LABEL') + '</span>',
                  hint: {
                    text: t('PAGES.CLAIMANT_FORMALISE_REPAYMENT_TYPE.REQUEST_A_CCJ.DESCRIPTION')
                  }
                }
              ],
              errorMessage: {
                html: t(form.errorFor(name))
              } if form.hasFieldError(name)
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
