{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        <div class="govuk-grid-row">
          {{ errorSummary(form.getErrors(), t) }}
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.TITLE') }}</h1>
          <p class="govuk-body">{{ t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.BASED_ON') }}</p>
          <p class="govuk-body">{{ t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.COURT_AFFORDABILITY') }}</p>

          <h2 class="govuk-heading-m">{{t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.COURT_PROPOSED_PLAN') }}</h2>
          {{ govukTable({
            rows: [
              [
                { text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.REGULAR_PAYMENTS_OF') },
                { text: '£' + repaymentPlan.paymentAmount }
              ],
              [
                { text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.FREQUENCY_OF_PAYMENTS') },
                { text: repaymentPlan.repaymentFrequency }
              ],
              [
                { text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.FIRST_PAYMENT_DATE') },
                { text: repaymentPlan.firstRepaymentDate }
              ],
              [
                { text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.LAST_PAYMENT_DATE') },
                { text: repaymentPlan.finalRepaymentDate }
              ],
              [
                { text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.LENGTH_OF_REPAYMENT') },
                { text: repaymentPlan.repaymentLength }
              ]
            ]
          }) }}

          <form method="post" novalidate autocomplete="off">
            {{ csrfProtection(csrf) }}

            {% set judgePlanHtml %}
              <p class="govuk-body">{{ t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.IF_YOU_WANT_JUDGE') }}</p>
            {% endset -%}

            {{ govukRadios({
              idPrefix: "decision",
              name: "decision",
              fieldset: {
                legend: {
                  text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.DO_YOU_ACCEPT'),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: CourtProposedPlanOptions.ACCEPT_REPAYMENT_PLAN,
                  checked: form.model.decision === CourtProposedPlanOptions.ACCEPT_REPAYMENT_PLAN,
                  text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.I_WANT_ACCEPT')
                },
                {
                  value: CourtProposedPlanOptions.JUDGE_REPAYMENT_PLAN,
                  checked: form.model.decision === CourtProposedPlanOptions.JUDGE_REPAYMENT_PLAN,
                  text: t('PAGES.CLAIMANT_RESPONSE.COURT_PROPOSED_PLAN.I_WANT_JUDGE'),
                  conditional: {
                    html: judgePlanHtml
                  }
                }
              ],
              errorMessage: {
                text: t(form.errorFor('decision'))
              } if form.hasFieldError('decision')
            }) }}

            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
