{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CLAIMANT_RESPONSE_REJECTION_REASON.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  {% if courtProposedPlanDecision %}
    {% set title = t('PAGES.CLAIMANT_REPAYMNET_PLAN_REJECT_REASON.TITLE') %}
    {% set paragraph = t('PAGES.CLAIMANT_REPAYMNET_PLAN_REJECT_REASON.EXPLAIN_WHY_DEFENDANT_CAN_AFFORD') %}
  {% else %}
    {% set title = t('PAGES.CLAIMANT_RESPONSE_REJECTION_REASON.TITLE') %}
  {% endif %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = form.getErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ title }}</h1>
          <p class="govuk-body">{{ paragraph }}</p>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <div class="govuk-form-group {% if errors.length %} govuk-form-group--error {% endif %}">
              {{ govukTextarea({
                name: "text",
                id: "text",
                label: {
                  text: t('PAGES.CLAIMANT_RESPONSE_REJECTION_REASON.TITLE'),
                  classes: "govuk-label--l govuk-visually-hidden",
                  isPageHeading: true
                },
                value: form.model.text,
                classes:"govuk-!-width-three-quarters",
                label: {
                  text: t("PAGES.CLAIMANT_RESPONSE_REJECTION_REASON.TITLE"),
                  classes: "govuk-visually-hidden"
                },
                errorMessage: {
                  text: t(form.errorFor('text'))
                } if form.hasFieldError('text')
              }) }}
            </div>
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
