{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% block pageTitle %}
  {{ setPageTitle('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.PAGE_TITLE') }}
{% endblock %}
{% set labelHtml = t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.CONFIRMATION') %}
{% set signed = 'signed' %}
{% set signedSelection = form.model.signed %}
{% set signedError = form.errorFor(signed) %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        <div class="govuk-grid-row">
          {{ errorSummary(form.getErrors(), t) }}
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.TITLE') }}</h1>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.THE_AGREEMENT.LABEL')
                },
                value: {
                  text: data.paymentText
                }
              },
              {
                key: {
                  text: t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.COMPLETION_DATE.LABEL')
                },
                value: {
                  text: data.completionDate
                }
              }
            ]
          }) }}
          <p class="govuk-body">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.FIRST_PARAGRAPH', { claimant: data.claimant, defendant: data.defendant }) }}</p>
          <p class="govuk-body">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.SECOND_PARAGRAPH') }}</p>
          <p class="govuk-body">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.THIRD_PARAGRAPH') }}</p>
          <h2 class="govuk-heading-m">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.IF_THE_AGREEMENT_IS_BROKEN') }}</h2>
          <p class="govuk-body">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.CLAIMANT_REQUEST_CCJ') }}</p>
          <h2 class="govuk-heading-m">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.SIGN_THE_AGREEMENT') }}</h2>
          <p class="govuk-body">{{ t('PAGES.CLAIMANT_TERMS_OF_AGREEMENT.DETAILS.AGREEMENT_NOTE', { defendant: data.defendant}) }}</p>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukCheckboxes({
              idPrefix: signed,
              name: signed,
              items: [
                {
                  value: 'true',
                  html: labelHtml,
                  checked: true if signedSelection
                }
              ],
              errorMessage: {
                text:t(signedError)
              } if signedError
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
