{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/external-link.njk" import externalLink %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% import "external-urls.njk" as externalURLs %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: t('PAGES.CANCEL_UNISSUED_CLAIM_SPEC.CONFIRMATION_TITLE')
      }) }}
      <p class="govuk-body">
        {{ externalLink(t, 'PAGES.SUBMIT_CONFIRMATION.YOUR_OPINION_OF_SERVICE', externalURLs.smartSurveyUrl, true) }}
      </p>
      <div class="form-group">
        {{ govukButton({
          text: t('PAGES.SUBMIT_CONFIRMATION.GO_TO_ACCOUNT'),
          href: '/dashboard'
        }) }}
      </div>
      <p class="govuk-body">{{ t('PAGES.CANCEL_UNISSUED_CLAIM_SPEC.NO_FURTHER_ACTION') }}</p>
      <p class="govuk-body">{{ t('PAGES.CANCEL_UNISSUED_CLAIM_SPEC.START_NEW_CLAIM') }}</p>
      {{ contactUsForHelp(t, '', true) }}
    </div>
  </div>
{% endblock %}
