{% extends "claim-details-tpl.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/support-links.njk" import supportLinks %}
{% from "../dashboard/claim-summary-content.njk" import claimSummaryContent %}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CONFIRM_YOU_HAVE_BEEN_PAID.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container caseProgression">
    <main class="govuk-main-wrapper" role="main">
      {% if form != null and form.hasErrors() %}
        {{ errorSummary(form.getAllErrors(), t) }}
      {% endif %}

      {% set rowNumberToShowRemoveButton = 2 %}
      {% set witnessContentLength = witnessContent.length %}
      {% set isRemoveButtonHidden = witnessContentLength < rowNumberToShowRemoveButton %}
      {% set titleH1 = t('PAGES.CONFIRM_YOU_HAVE_BEEN_PAID.TITLE') %}
      {% set titleH2 = t('PAGES.CONFIRM_YOU_HAVE_BEEN_PAID.ENTER_THE_DATE') %}
      {% set paragraph = t('PAGES.CONFIRM_YOU_HAVE_BEEN_PAID.HINT') %}

      <div class="govuk-grid-row">
        <form method="post" novalidate>
          {{ csrfProtection(csrf) }}
          <div id="content"></div>

          <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
            <h1 class="govuk-heading-l">{{ titleH1 }}</h1>

            {{ govukDateInput({
              id: "date-you-were-paid",
              namePrefix: "date-you-were-paid",
              fieldset: {
                legend: {
                  text: titleH2,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: paragraph
              }
            }) }}

            {{ govukCheckboxes({
              idPrefix: 'signed',
              name: 'signed',
              items: [
                {
                  value: true,
                  html: t('PAGES.CONFIRM_YOU_HAVE_BEEN_PAID.CONFIRM'),
                  checked: true if form.model.signed
                }
              ],
              errorMessage: {
                text:t(form.errorFor(signed))
              } if form.errorFor(signed)
            }) }}

            <div class="govuk-button-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SUBMIT')
              }) }}
              <a href={{ cancelUrl }} class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
            </div>

          </div>
        </form>

        <div class="govuk-grid-column-one-third">
          {% if iWantToLinks.length %}
            <div class="govuk-!-margin-bottom-8">
              {{ supportLinks(t, iWantToTitle, iWantToLinks) }}
            </div>
          {% endif %}
          <div class="govuk-!-padding-top-8">
            {{ contactUsForHelp(t) }}
          </div>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
