@import 'node_modules/govuk-frontend/dist/govuk/all';
@import './task-list';
@import './citizen-ui-colours';

.moj-add-another {
  &__remove-button {
    display: none;
  }
}

.caseProgression {
  .moj-add-another__item {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .moj-add-another__remove-button {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: auto;
  }

  /* Show only our "Remove section" button; hide any MOJ-injected "Remove" button */
  .moj-add-another__remove-button:not([data-remove-section]) {
    display: none !important;
  }

  /* Hide remove button when only one row */
  .moj-add-another__item:only-of-type .moj-add-another__remove-button {
    display: none;
  }
}

.govuk-section-break--visible--l {
  width: 100%;
}

@media (min-width: 40.0625em) { /* stylelint-disable-line media-feature-range-notation */
  .govuk-section-break--visible--l {
    width: 120%;
  }
}

.hide {
  display: none;
}

.mid-grey {
  color: govuk-colour('dark-grey');
}

.white-link {
  color: govuk-colour('white');
}

.govuk-link-button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: underline;
}

.panel {
  border-left: 1px solid $govuk-border-colour;
  margin-bottom: 1em;
  padding: 1em;
}

.panel-border-narrow {
  border-left-width: 5px;
}

.panel-error {
  background: $govuk-error-colour;
}

.govuk-description-block {
  background-color: $govuk-description-block-colour;
  margin-right: 30px;
  padding: 10px 20px;
}

.govuk-phase-banner__text {
  width: 100%;
}

.language {
  float: right;
  margin-bottom: 0;
}

.show-more-block {
  background-color: $govuk-description-block-colour;
  padding: 20px 20px 10px;

  .content {
    margin-bottom: 10px;
    white-space: pre-line;
    word-wrap: break-word;

    &.expandable {
      height: 125px;
      overflow: hidden;
    }
  }

  .more {
    display: block;
  }

  .less {
    display: none;
  }

  input {
    display: none;

    &:checked+.expandable {
      height: auto;
    }

    &:checked~.more {
      display: none;
    }

    &:checked~.less {
      display: block;
    }
  }
}

.repayment-length {
  display: flex;

  .schedule {
    min-height: 30px;
    padding-left: 5px;

    .hide {
      display: none;
    }
  }
}

.float-right {
  float: right;
}

@mixin bottom-bordered($govuk-color, $width, $margin, $padding) {
  border-bottom: $width solid $govuk-color;

  @if margin != null {
    margin: $margin;
  }

  @if $padding != null {
    padding: $padding;
  }
}

@mixin top-bordered($govuk-color, $width, $margin, $padding) {
  border-top: $width solid $govuk-color;

  @if margin != null {
    margin: $margin;
  }

  @if $padding != null {
    padding: $padding;
  }
}

.black-border-top {
  @include top-bordered(govuk-colour('black'), 2px, 0, 10px 0 10px 0);
}

.border-top {
  @include top-bordered(govuk-colour('blue'), 10px, 0, 5px 0 0 0);
}

.border-small-top {
  @include top-bordered(govuk-colour('blue'), 5px, 0 0 25px 0, 0);
}

.warning-text-container {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
}

.example-wrapper {
  border: 1px solid govuk-colour('mid-grey');
  display: flex;
  flex-flow: column nowrap;

  > * {
    padding: 5px 25px;
  }

  .tag {
    background-color: govuk-colour('dark-grey');
    color: govuk-colour('white');
    font-family: 'GDS Transport', arial, sans-serif;
    left: 0;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    width: fit-content;
  }
}

.link-button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:visited {
    color: $govuk-link-visited-colour;
  }

  &:active {
    color: $govuk-link-active-colour;
  }
}

@keyframes dotAnimation { /* stylelint-disable-line keyframes-name-pattern */
  0% { content: '.'; }
  20% { content: '..'; }
  40% { content: '...'; }
  60% { content: '....'; }
  80% { content: '.....'; }
}

.loadingDots {
  &::after {
    content: '.....';
    animation: dotAnimation 1s infinite steps(5);
  }
}

.wordWrap {
  word-break: break-word;
}

.tableWrap {
  word-break: break-word;
  table-layout: fixed;
  width: 100%;
}

.no-border-bottom {
  border-bottom: 0;
}

.govuk-border-colour-border-top-1 {
  @include top-bordered($govuk-border-colour, 1px, null, null);
}

.govuk-border-colour-border-bottom-1 {
  @include bottom-bordered($govuk-border-colour, 1px, null, null);
}

.no-list-style {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.table-link {
  &:focus {
    @include govuk-focused-text;
  }
}

.dashboard-notification {
  .govuk-notification-banner {
    .govuk-notification-banner__content {
      .govuk-body {
        margin-bottom: 0;
      }
    }
  }
}

.hmcts-banner {
  border: 5px solid #1d70b8;
  color: #1d70b8;
  font-size: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.hmcts-banner-icon {
  fill: currentColor;
  float: left;
  margin-right: 10px;
}

.hmcts-banner-message {
  color: #0b0c0c;
  display: block;
  font-family: 'GDS Transport', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  overflow: hidden;

  h2 {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media print {
  .hmcts-banner-message {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-banner-message {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.hmcts-banner-assistive {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
