@import '~govuk-frontend';
@import './task-list';

.moj-add-another {
  // sass-lint:disable class-name-format
  &__remove-button {
    display: none;
  }
}

.hide {
  display: none;
}

.govuk-link-button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: underline;
}


.govuk-phase-banner__text {
  width: 100%;
}

.language {
  float: right;
  margin-bottom: 0px;
}
