@import 'node_modules/govuk-frontend/govuk/all';
@import './task-list';
@import './citizen-ui-colours';

.moj-add-another {

  // sass-lint:disable class-name-format
  &__remove-button {
    display: none;
  }
}

.caseProgression {
  .moj-add-another__item {
    margin: 0;
    padding: 0;
    position: relative;
  }

  // sass-lint:disable property-sort-order
  .moj-add-another__remove-button {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: auto;
    color: transparent;
    font-size: 0;

    &::after {
      content: 'Remove section';
      font-size: 19px;
      color: $govuk-remove-section-text-colour;
    }
  }
}

.govuk-section-break--visible--l {
  width: 100%;
}
@media (min-width: 40.0625em) {
  .govuk-section-break--visible--l {
    width: 120%;
  }
}

.hide {
  display: none;
}

.mid-grey {
  color: govuk-colour('dark-grey');
}

.white-link {
  color: govuk-colour('white');
}

.govuk-link-button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: underline;
}

.panel {
  border-left: 1px solid $govuk-border-colour;
  margin-bottom: 1em;
  padding: 1em;
}

.panel-border-narrow {
  border-left-width: 5px;
}

.govuk-description-block {
  background-color: $govuk-description-block-colour;
  margin-right: 30px;
  padding: 10px 20px;
}

.govuk-phase-banner__text {
  width: 100%;
}

.language {
  float: right;
  // sass-lint:disable zero-unit
  margin-bottom: 0px;
}

.show-more-block {
  background-color: $govuk-description-block-colour;
  padding: 20px 20px 10px;

  .content {
    margin-bottom: 10px;
    white-space: pre-line;
    word-wrap: break-word;

    &.expandable {
      height: 125px;
      overflow: hidden;
    }
  }

  .more {
    display: block;
  }

  .less {
    display: none;
  }

  input {
    display: none;

    &:checked+.expandable {
      height: auto;
    }

    &:checked~.more {
      display: none;
    }

    &:checked~.less {
      display: block;
    }
  }
}

.repayment-length {
  display: flex;

  .schedule {
    min-height: 30px;
    padding-left: 5px;

    .hide {
      display: none;
    }
  }
}

.float-right {
  float: right;
}

@mixin top-bordered($color, $width, $margin, $padding) {
  border-top: $width solid govuk-colour($color);
  margin: $margin;
  padding: $padding;
}

.black-border-top {
  @include top-bordered('black', 2px, 0, 10px 0 10px 0);
}

.border-top {
  @include top-bordered('blue', 10px, 0, 5px 0 0 0);
}


.warning-text-container {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
}

.example-wrapper {
  border: 1px solid govuk-colour('mid-grey');
  display: flex;
  flex-flow: column nowrap;

  > * {
    padding: 5px 25px;
  }

  .tag {
    background-color: govuk-colour('dark-grey');
    color: govuk-colour('white');
    font-family: 'GDS Transport', arial, sans-serif;
    left: 0;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    width: fit-content;
  }
}

.link-button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:visited {
    color: $govuk-link-visited-colour;
  }

  &:active {
    color: $govuk-link-active-colour;
  }
}

@keyframes dotAnimation {
  0% { content: '.'; }
  20% { content: '..'; }
  40% { content: '...'; }
  60% { content: '....'; }
  80% { content: '.....'; }
}

.loadingDots {
  &::after {
    content: '.....';
    animation: dotAnimation 1s infinite steps(5);
  }
}

.wordWrap {
  word-break: break-word;
}

.tableWrap {
  word-break: break-word;
  table-layout: fixed;
  width: 100%;
}
