@import '~govuk-frontend';
@import './task-list';

.moj-add-another {
  // sass-lint:disable class-name-format
  &__remove-button {
    display: none;
  }
}

.hide {
  display: none;
}

.govuk-link-button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: underline;
}

.language-toggle-container {
  display: flex;

  .language-link-right {
    margin-left: auto;
    margin-right: 10px;
    padding: 2px;
  }

  .language-link-left {
    padding: 2px;
    padding-left: 10px;
    border-left: 1px solid black;
  }

  .disabled-link {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: black;
  }
}