@import '~govuk-frontend';
@import './task-list';

.moj-add-another {

  // sass-lint:disable class-name-format
  &__remove-button {
    display: none;
  }
}

.hide {
  display: none;
}

.govuk-link-button {
  background: none;
  border: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: underline;
}

$light-grey: #bfc1c3;

.panel {
  border-left: 1px solid $light-grey;
  margin-bottom: 1em;
  padding: 1em;
}

.panel-border-narrow {
  border-left-width: 5px;
}
