{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../macro/address.njk" import addressForm %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/postcode-address-form.njk" import postcodeLookupAndAddressForm %}
{% set payingExtra = t('PAGES.DEFENDANT_DETAILS.PAYING_EXTRA') %}
{% set correspondenceAddressClass = 'govuk-visually-hidden' %}
{% if defendantType === partyType.COMPANY %}
  {% set title = t('PAGES.DEFENDANT_DETAILS.PAGE_TITLES.COMPANY') %}
  {% set inputTitle = t('PAGES.DEFENDANT_DETAILS.COMPANY_NAME') %}
  {% set addressTitle = t('PAGES.DEFENDANT_DETAILS.COMPANY_ADDRESS') %}
{% elif defendantType === partyType.ORGANISATION %}
  {% set title = t('PAGES.DEFENDANT_DETAILS.PAGE_TITLES.ORGANISATION') %}
  {% set payingExtra = t('PAGES.DEFENDANT_DETAILS.PAYING_EXTRA_ORGANISATION') %}
  {% set inputTitle = t('PAGES.DEFENDANT_DETAILS.ORGANISATION_NAME') %}
  {% set addressTitle = t('PAGES.DEFENDANT_DETAILS.ORGANISATION_ADDRESS') %}
{% endif %}
{% set formErrors = form.getAllErrors() %}

{% block pageTitle %}
  {{ setPageTitle(t, title) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        {% if form.hasErrors() %}
          {{ errorSummary(form.getAllErrors(), t) }}
        {% endif %}
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ title }}</h1>
          <p class="govuk-body">{{ payingExtra }}</p>

          <form method="post" name="address" novalidate>
            {{ csrfProtection(csrf) }}

            {{ govukInput({
              label: {
                text: inputTitle
              },
              classes: 'govuk-!-width-one-half',
              id: 'partyName',
              name: 'partyName',
              value: form.model.partyName,
              errorMessage: { text: t(form.errorFor('partyName')) } if form.errorFor('partyName')
            }) }}

            {{ govukInput({
              label: {
                text: t('PAGES.DEFENDANT_DETAILS.CONTACT_PERSON')
              },
              hint: {
                text: t('PAGES.DEFENDANT_DETAILS.CONTACT_PERSON_HINT')
              },
              classes: 'govuk-!-width-one-half',
              id: 'contactPerson',
              name: 'contactPerson',
              value: form.model.contactPerson,
              errorMessage: { text: t(form.errorFor('contactPerson')) } if form.errorFor('contactPerson')
            }) }}
            <div class="govuk-form-group">
              {% if addressTitle %}
                <h2 class="govuk-heading-m">{{ addressTitle }}</h2>
              {% endif %}
              <p class="govuk-body">
                {{ t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') }}
                {{ t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') }}
              </p>
              {% if defendantType === partyType.COMPANY %}
                <p class="govuk-body">
                  {{ t('PAGES.DEFENDANT_DETAILS.COMPANY_MAIN_OFFICE') + ' ' + t('PAGES.DEFENDANT_DETAILS.ENGLAND_OR_WALES_ADDRESS') }}
                </p>
              {% elseif defendantType === partyType.ORGANISATION %}
                <p class="govuk-body">
                  {{ t('PAGES.DEFENDANT_DETAILS.ORGANISATION_MAIN_OFFICE') + ' ' + t('PAGES.DEFENDANT_DETAILS.ENGLAND_OR_WALES_ADDRESS') }}
                </p>
              {% else %}
                <p class="govuk-body">{{ t('PAGES.DEFENDANT_DETAILS.ENGLAND_OR_WALES_ADDRESS') }}</p>
              {% endif %}
              {{ postcodeLookupAndAddressForm(t, {
                party: form,
                addressType:'primaryAddress'
              }) }}
            </div>
            {{ govukButton({
              text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE'),
              classes: 'govuk-!-margin-top-4'
            }) }}
            {{ contactUsForHelp(t) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
