{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../macro/address.njk" import addressForm %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/postcode-address-form.njk" import postcodeLookupAndAddressForm %}
{% set payingExtra = t('PAGES.DEFENDANT_DETAILS.PAYING_EXTRA') %}
{% set correspondenceAddressClass = 'govuk-visually-hidden' %}
{% set title = t('PAGES.DEFENDANT_DETAILS.PAGE_TITLES.SOLE_TRADER') %}
{% if defendantType === partyType.INDIVIDUAL %}
  {% set title = t('PAGES.DEFENDANT_DETAILS.PAGE_TITLES.INDIVIDUAL') %}
{% endif %}

{% set formErrors = form.getAllErrors() %}

{% block pageTitle %}
  {{ setPageTitle(t, title) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        {% if form.hasErrors() %}
          {{ errorSummary(form.getAllErrors(), t) }}
        {% endif %}
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ title }}</h1>
          <p class="govuk-body">{{ payingExtra }}</p>
          <form method="post" name="address" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukInput({
              label: {
                text: t('COMMON.INPUT_LABELS.TITLE')
              },
              classes: 'govuk-!-width-one-half',
              id: 'individualTitle',
              name: 'individualTitle',
              value: form.model.individualTitle,
              errorMessage: { text: t(form.errorFor('individualTitle')) } if form.errorFor('individualTitle')
            }) }}
            {{ govukInput({
              label: {
                text: t('COMMON.INPUT_LABELS.FIRST_NAME')
              },
              classes: 'govuk-!-width-one-half',
              id: 'individualFirstName',
              name: 'individualFirstName',
              value: form.model.individualFirstName,
              errorMessage: { text: t(form.errorFor('individualFirstName')) } if form.errorFor('individualFirstName')
            }) }}
            {{ govukInput({
              label: {
                text: t('COMMON.INPUT_LABELS.LAST_NAME')
              },
              classes: 'govuk-!-width-one-half',
              id: 'individualLastName',
              name: 'individualLastName',
              value: form.model.individualLastName,
              errorMessage: { text: t(form.errorFor('individualLastName')) } if form.errorFor('individualLastName')
            }) }}
            {% if defendantType === partyType.SOLE_TRADER %}
              {{  govukInput({
                label: {
                  text: t('PAGES.DEFENDANT_DETAILS.BUSINESS_NAME')
                },
                classes: 'govuk-!-width-one-half',
                id: 'soleTraderTradingAs',
                name: 'soleTraderTradingAs',
                value: form.model.soleTraderTradingAs,
                errorMessage: { text: t(form.errorFor('soleTraderTradingAs')) } if form.errorFor('soleTraderTradingAs')
              }) }}
            {% endif %}

            <h2 class="govuk-heading-m">{{ t('PAGES.DEFENDANT_DETAILS.THEIR_ADDRESS') }}</h2>
            <p class="govuk-body">
              {{ t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') }}
              {{ t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') }}
            </p>
            {% if defendantType === partyType.INDIVIDUAL %}
              <p class="govuk-body">
                {{ t('PAGES.DEFENDANT_DETAILS.ENGLAND_OR_WALES_ADDRESS') }}
                {{ t('PAGES.DEFENDANT_DETAILS.INVALID_CLAIM') }}
              </p>
              <p class="govuk-body">
                {{ t('PAGES.DEFENDANT_DETAILS.USUAL_ADDRESS') }}
                {{ t('PAGES.DEFENDANT_DETAILS.NO_WORK_ADDRESS') }}
              </p>
            {% else %}
              <p class="govuk-body">
                {{ t('PAGES.DEFENDANT_DETAILS.ORGANISATION_MAIN_OFFICE') + ' ' + t('PAGES.DEFENDANT_DETAILS.ENGLAND_OR_WALES_ADDRESS') }}
              </p>
            {% endif %}
            <div class="govuk-form-group">
              {{ postcodeLookupAndAddressForm(t, {
                party: form,
                addressType:'primaryAddress'
              }) }}
            </div>
            {{ govukButton({
              text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE'),
              classes: 'govuk-!-margin-top-4'
            }) }}
            {{ contactUsForHelp(t) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
