{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro applicationSummary(t, application, index) %}
  {% set tagStatus %}
    {{govukTag({
      text: application.status,
      classes: 'ga-summary-tag app-task-list__tag ' + application.statusColor
    })}}
  {% endset %}

  {% set viewApplicationLink %}
    <a class="govuk-!-font-size-16" href="{{application.applicationUrl}}" id="{{'view-application-'+index}}">
      {{t('PAGES.GENERAL_APPLICATION.SUMMARY.VIEW_APPLICATION')}}
    </a>
  {% endset %}

  {{ govukTable({
    classes: "govuk-body-s",
    head: [
      {
        text: t('PAGES.GENERAL_APPLICATION.SUMMARY.APPLICATION') + ' ' + index,
        classes: "govuk-!-width-one-quarter"
      },
      {
        text: t('PAGES.GENERAL_APPLICATION.SUMMARY.DETAILS')
      },
      {
        text: t('PAGES.GENERAL_APPLICATION.SUMMARY.STATUS'),
        classes: "govuk-!-width-one-quarter govuk-!-text-align-right"
      }
    ],
    rows: [
      [
        {
          text: t('PAGES.GENERAL_APPLICATION.SUMMARY.APPLICATION_STATUS'),
          classes: "govuk-body-s no-border-bottom"
        },
        {
          text: application.state,
          classes: "govuk-body-s no-border-bottom"
        },
        {
          html: tagStatus,
          classes: "govuk-body-s no-border-bottom"
        }
      ],
      [
        {
          text: t('PAGES.GENERAL_APPLICATION.SUMMARY.APPLICATION_TYPE'),
          classes: "govuk-body-s no-border-bottom"
        },
        {
          text: application.types,
          classes: "govuk-body-s no-border-bottom wordWrap"
        },
        {
          text: '',
          classes: "govuk-body-s no-border-bottom"
        }
      ],
      [
        {
          text: t('PAGES.GENERAL_APPLICATION.SUMMARY.APPLICATION_ID'),
          classes: "govuk-body-s no-border-bottom"
        },
        {
          text: application.id,
          classes: "govuk-body-s no-border-bottom"
        },
        {
          text: '',
          classes: "govuk-body-s no-border-bottom"
        }
      ],
      [
        {
          text: t('PAGES.GENERAL_APPLICATION.SUMMARY.SUBMITTED_ON'),
          classes: "govuk-body-s no-border-bottom"
        },
        {
          text: application.createdDate,
          classes: "govuk-body-s no-border-bottom"
        },
        {
          text: '',
          classes: "govuk-body-s no-border-bottom"
        }
      ],
      [
        {
          html: viewApplicationLink
        },
        {
          text: ''
        },
        {
          text: ''
        }
      ]
    ]
  }) }}



{% endmacro %}
