{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set heading = 'Your individual financial details' %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">{{ t('Send ') }} {{ claim.applicant1.individualFirstName }} {{ claim.applicant1.individualLastName }} {{ t(' your financial details') }}</h2>
      <p class="govuk-body">
        {{ t('You need to give ') }} {{ claim.applicant1.individualFirstName }} {{ claim.applicant1.individualLastName }} {{ t(' details of your finances.') }}
      </p>
      <p class="govuk-body">
        {{ t("We'll ask you for the details, then we'll send them to ") }} {{ claim.applicant1.individualFirstName }} {{ claim.applicant1.individualLastName }} {{ t(' to review.') }}
      </p>
      <p class="govuk-body">
        {{ t('They can reject your proposal, if they believe you can pay sooner.') }}
      </p>
      <p class="govuk-body">
        {{ t('If they reject your proposal, the court will make a new plan using your financial details.') }}
      </p>
      <form method="post">
        <div class="govuk-form-group">
          {{ govukButton({
          text: t('Continue')
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
