{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.FINANCIAL_DETAILS.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% set applicant1Details = claim.getClaimantFullName() %}
      <h1 class="govuk-heading-l">{{t('PAGES.FINANCIAL_DETAILS.SEND_FINANCIAL_DETAILS', { applicant1Details: applicant1Details })}}</h1>

      {% set defendantType = claim.respondent1.type %}
      {% if (defendantType == partyType.INDIVIDUAL or defendantType == partyType.SOLE_TRADER) %}
        <p class="govuk-body">
          {{t('PAGES.FINANCIAL_DETAILS.NEED_GIVE_DETAILS', { applicant1Details: applicant1Details })}}
        </p>
        <p class="govuk-body">
          {{t('PAGES.FINANCIAL_DETAILS.ASK_DETAILS_AND_SEND', { applicant1Details: applicant1Details })}}
        </p>
        <p class="govuk-body">
          {{t('PAGES.FINANCIAL_DETAILS.REJECT_COURT_MAKE_NEW_PLAN')}}
        </p>
        <p class="govuk-body">
          {{t('PAGES.FINANCIAL_DETAILS.REJECT_PAY_SOONER')}}
        </p>
      {% elseif (defendantType == partyType.COMPANY or defendantType == partyType.ORGANISATION) %}
        <p class="govuk-body">
           {{t('PAGES.FINANCIAL_DETAILS.SEND_STATEMENT_ACCOUNTS', { applicant1Details: applicant1Details })}}
        </p>
        <p class="govuk-body">
          {{t('PAGES.FINANCIAL_DETAILS.REVIEW_ACCOUNTS_REJECT_REPAYMENT_PLAN')}}
        </p>
        <p class="govuk-body">
           {{t('PAGES.FINANCIAL_DETAILS.REJECT_COURT_MAKE_NEW_PLAN_BASED')}}
        </p>
        <p class="govuk-body">
          <a href="{{claimantDetailsUrl}}">{{t('PAGES.FINANCIAL_DETAILS.GET_APPLICANT_CONTACT_DETAILS', { applicant1Details: applicant1Details })}}</a>
        </p>
      {% endif %}
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}
        <div class="govuk-form-group">
          {{ govukButton({
          text: t('COMMON.BUTTONS.CONTINUE')
          }) }}
          {{ contactUsForHelp(t) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
