{% set legacyServiceUrl = 'https://www.moneyclaim.gov.uk/web/mcol/welcome' %}
{% set n1FormUrl = 'https://formfinder.hmctsformfinder.justice.gov.uk/n1-eng.pdf' %}
{% set n510Url = 'http://formfinder.hmctsformfinder.justice.gov.uk/n510-eng.pdf' %}
{% set citizensAdviceUrl = 'https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/' %}
{% set citizenAdviceContactUsUrl = 'https://www.citizensadvice.org.uk/about-us/contact-us/contact-us/contact-us/' %}
{% set governmentDepartmentsUrl = 'https://www.gov.uk/government/publications/serve-the-treasury-solicitor-with-legal-proceedings' %}
{% set tenancyServiceUrl = 'https://www.gov.uk/tenancy-deposit-protection/disputes-and-problems' %}
{% set feesHelpUrl = 'https://www.gov.uk/get-help-with-court-fees' %}
{% set countyCourtJudgmentsUri = 'https://www.gov.uk/county-court-judgments-ccj-for-debt' %}
{% set courtFeesUri = 'https://www.gov.uk/make-court-claim-for-money/court-fees' %}
{% set countyCourtBusinessCentreUri = 'https://www.find-court-tribunal.service.gov.uk/courts/county-court-business-centre-ccbc' %}
{% set smartSurveyUrl = 'https://www.smartsurvey.co.uk/s/CMC_Feedback/?pageurl=/eligibility' %}
{% set essentialCookiesUrl = 'https://hmcts-access.service.gov.uk/cookies' %}
{% set enforceJudgementUrl = 'https://www.gov.uk/make-court-claim-for-money/enforce-a-judgment' %}
{% set claimCreationSmartSurveyUrl = 'https://www.smartsurvey.co.uk/s/CMC_ExitSurvey_Claimant/?pageUrl=/claim/claimId/confirmation' %}
{% set callChargesUrl = 'https://www.gov.uk/call-charges' %}
