{% set legacyServiceUrl = 'https://www.moneyclaim.gov.uk/web/mcol/welcome' %}
{% set n1FormUrl = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1087065/N1.pdf' %}
{% set n510Url = 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1147263/N510_0323_save.pdf' %}
{% set citizensAdviceUrl = 'https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/' %}
{% set citizenAdviceContactUsUrl = 'https://www.citizensadvice.org.uk/about-us/contact-us/contact-us/contact-us/' %}
{% set governmentDepartmentsUrl = 'https://www.gov.uk/government/publications/serve-the-treasury-solicitor-with-legal-proceedings' %}
{% set tenancyServiceUrl = 'https://www.gov.uk/tenancy-deposit-protection/disputes-and-problems' %}
{% set feesHelpUrl = 'https://www.gov.uk/get-help-with-court-fees' %}
{% set countyCourtJudgmentsUri = 'https://www.gov.uk/county-court-judgments-ccj-for-debt' %}
{% set courtFeesUri = 'https://www.gov.uk/make-court-claim-for-money/court-fees' %}
{% set countyCourtBusinessCentreUri = 'https://www.find-court-tribunal.service.gov.uk/courts/civil-national-business-centre-cnbc' %}
{% set smartSurveyUrl = 'https://www.smartsurvey.co.uk/s/CMC_ExitSurvey_Defendant_1/' %}
{% set essentialCookiesUrl = 'https://hmcts-access.service.gov.uk/cookies' %}
{% set enforceJudgementUrl = 'https://www.gov.uk/make-court-claim-for-money/enforce-a-judgment' %}
{% if getLanguage() =='cy' %}
  {% set callChargesUrl = 'https://www.gov.uk/costau-galwadau' %}
{% else %}
  {% set callChargesUrl = 'https://www.gov.uk/call-charges' %}
{% endif %}
{% set getInterpreterUrl = 'https://www.gov.uk/get-interpreter-at-court-or-tribunal' %}
{% set moneyClaimsUrl = 'https://www1.moneyclaims.service.gov.uk/' %}
{% set abilityNetUrl = 'https://mcmw.abilitynet.org.uk' %}
{% set equalityUrl = 'https://www.equalityadvisoryservice.com' %}
{% set complianceUrl = 'https://www.w3.org/TR/WCAG22' %}
{% set formN245Url = 'https://www.gov.uk/government/publications/form-n245-application-for-suspension-of-a-warrant-and-or-variation-of-an-order' %}
{% set personalInformationUrl = 'https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter' %}
{% set complainsProcedureUrl = 'https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure' %}
{% set icoContactUsUrl = 'https://ico.org.uk/global/contact-us' %}
{% set certificateN443Url = 'https://www.gov.uk/government/publications/form-n443-application-for-a-certificate-of-satisfaction-or-cancellation' %}
