{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from 'govuk/components/header/macro.njk' import govukHeader %}
{% from "./macro/page-title.njk" import setPageTitle %}
{% from "./macro/header.njk" import headerComponent %}
{% from "./macro/cookie-banner.njk" import cookieBanner %}

{% set bannerText = "This is a new service – your <a class='govuk-link' href='https://www.smartsurvey.co.uk/s/IDAMSurvey/?pageurl=https://hmcts-access.service.gov.uk/login?client_id%3Dcmc_citizen' target='_blank'>feedback</a> will help us to improve it." %}
{% set languageToggle = "<a class='govuk-!-font-size-19 govuk-link language' href='?lang=en'>English</a>"%}
{% extends "govuk/template.njk" %}
{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}
{% block pageTitle %}
  {{setPageTitle()}}
{% endblock %}
{% block skipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}
{% block header %}
  {{ govukHeader({
      homepageUrl: 'https://www.gov.uk',
      containerClasses: 'govuk-width-container',
      serviceName:  t('PAGES.SERVICE_UNAVAILABLE.SERVICE_NAME'),
      navigationClasses: 'govuk-!-display-inline float-right',
      navigation: navigationList
    }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: bannerText + languageToggle
}) }}
{% endblock %}

{% block bodyStart %}
  {{ cookieBanner(t) }}
{% endblock %}

{% block footer %}
{{ govukFooter({
    meta: {
      items: [
        {
          href: urls.COOKIES_URL,
          text: t("FOOTER.COOKIES_URL")
        },
        {
          href: PrivacyPolicyUrl,
          text: t("FOOTER.PRIVACY_POLICY_URL")
        },
        {
          href: "https://www.gov.uk/help",
          text: t("FOOTER.HELP_USING_GOV_URL")
        },
        {
          href: ContactUsUrl,
          text: t("FOOTER.CONTACT_US_URL")
        },
        {
          href: AccessibilityStatementUrl,
          text: t("FOOTER.ACCESSIBILITY_STATEMENT_URL")
        },
        {
          href: TermsAndConditionsUrl,
          text: t("FOOTER.TERMS_AND_CONDITIONS_URL")
        }
      ]
    }
  }) }}
{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
