{% extends "service-unavailable-layout.njk" %}
{% from "./macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.SERVICE_UNAVAILABLE.PAGE_TITLE') }}
{% endblock %}

{% if date %}
  {% set text = t('PAGES.SERVICE_UNAVAILABLE.YOU_WILL_BE_ABLE_ON', {date: date}) %}
{% else %}
  {% set text = t('PAGES.SERVICE_UNAVAILABLE.YOU_WILL_BE_ABLE_LATER') %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('PAGES.SERVICE_UNAVAILABLE.SORRY') }}</h1>
      <p class="govuk-body">
        {{ text }}
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="#">{{ t('PAGES.SERVICE_UNAVAILABLE.CONTACT') }}</a> 
        {{ t('PAGES.SERVICE_UNAVAILABLE.IF_NEED_MAKE_CHANGES') }}
      </p>
    </div>
  </div>
{% endblock %}
