{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./details-content.njk" import detailsContent %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CITIZEN_RESPONSE_TYPE.PAGE_TITLE') }}
{% endblock %}

{% set heading = 'How do you respond to the claim?' %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = form.getErrors() %}
      {% if errors %}
        {{ govukErrorSummary({
          "titleText": 'There was a problem',
          "errorList": errors
        }) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t(heading) }}</h1>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukDetails({
              summaryText: t('Find out what each response means'),
              html: detailsContent(componentDetailItemsList)
            }) }}
            {{ govukRadios({
              idPrefix: "responseType",
              name: "responseType",
              items: [
                {
                  value: ResponseType.FULL_ADMISSION,
                  checked: true if form.responseType === ResponseType.FULL_ADMISSION,
                  html: "<span class=\"govuk-!-font-weight-bold\">" + t('I admit all of the claim') + "</span>" ,
                  hint: {
                    text: t('You agree you owe the full amount claimed.')
                  }
                },
                {
                  value: ResponseType.PART_ADMISSION,
                  checked: true if form.responseType === ResponseType.PART_ADMISSION,
                  html: "<span class=\"govuk-!-font-weight-bold\">" + t('I admit part of the claim') + "</span>" ,
                  hint: {
                    text: t('You agree you owe some money but not the full amount claimed.')
                  }
                },
                {
                  value: ResponseType.FULL_DEFENCE,
                  checked: true if form.responseType === ResponseType.FULL_DEFENCE,
                  html: "<span class=\"govuk-!-font-weight-bold\">" + t('I reject all of the claim') + "</span>" ,
                  hint: {
                    text: t("You've either paid what you believe you owe or you reject the claim.")
                  }
                }
              ],
              errorMessage: {
                html: t(errors[0].text)
              } if errors
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
