{% from "govuk/components/details/macro.njk" import govukDetails %}
{% macro detailsContent(componentDetailItemsList, t) %}
  {% for item in componentDetailItemsList %}
    {% if item.title %}
      <h3 class="govuk-heading-m">{{ t(item.title) }}</h3>
    {% endif %}
    {% if item.subtitle %}
      <h3 class="govuk-heading-s">{{ t(item.subtitle) }}</h3>
    {% endif %}
    {% if item.content %}
      {% for content in item.content %}
        {% if item.formattedValues[loop.index0] %}
          <p class="govuk-body">{{ t(content, {deadline: item.formattedValues[loop.index0]}) }}</p>
        {% else %}
          <p class="govuk-body">{{ t(content) }}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endmacro %}
