{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/amount-breakdown.njk" import amountBreakdownTable %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/timeline-summary.njk" import timelineSummary %}
{% from "../../../macro/evidence-summary.njk" import evidenceSummary %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.PAGE_TITLE') }}
{% endblock %}
{% set evidenceRows = claim.evidence.evidenceItem %}
{% set timelineRows = claim.timelineOfEvents %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.HEADER') }}</h1>
          {% if claim.helpWithFeesNumber %}
            <p class="govuk-body">
              <span class="govuk-!-font-weight-bold">
                {{ t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.CLAIM_NUMBER') }}
              </span>
              <span>
                {% set dash = joiner("-") %}
                {% for batch in claim.ccdCaseId | string | batch(4) -%}
                  {{ dash() }}
                  {% for items in batch -%}
                    {{ items }}
                  {%- endfor %}
                {%- endfor %}
              </span>
            </p>
          {% else %}
            <p class="govuk-body">
              <span class="govuk-!-font-weight-bold">
                {{ t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.CLAIM_NUMBER') }}:
              </span>
              {{ claim.legacyCaseReference }}</p>
          {% endif %}
          <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">
              {{ t('COMMON.CLAIM_AMOUNT') }}:
            </span>
            {{ totalAmount | currencyFormat(totalAmount) }}
          </p>
          {{ govukDetails({
            summaryText: t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.VIEW_AMOUNT_BREAKDOWN'),
            html: amountBreakdownTable(claim, interestData, totalAmount, t)
          }) }}
          <h2 class="govuk-heading-s">{{ t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.REASON_FOR_CLAIM') }}</h2>
          <p class="govuk-body">{{ claim.claimDetails.reason.text }}</p>
          {% if timelineRows and timelineRows.length %}
            {{ timelineSummary(t, timelineRows) }}
          {% elseif timelinePdfUrl %}
            <div class="govuk-body">
              <h2 class="govuk-heading-s">{{ t('PAGES.CLAIM_DETAILS.TIMELINE') }}</h2>
              <a id="timeline-link" href={{ timelinePdfUrl }} target="_blank" rel="noreferrer noopener"
                 class="govuk-link">{{ t('PAGES.CLAIM_DETAILS.DOWNLOAD_AND_VIEW_TIMELINE') }}</a>
            </div>
          {% endif %}
          {% if evidenceRows and evidenceRows.length %}
            {{ evidenceSummary(evidenceRows, t) }}
          {% endif %}
          {{ govukButton({
            text: t('COMMON.BUTTONS.RESPOND_TO_CLAIM'),
            href: '/assignclaim?id=' + claimId
          }) }}
          {{ govukDetails({
            summaryText: t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.PERSONAL_INFORMATION_USAGE'),
            html: '<p class="govuk-body">' + t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.THIS_CLAIM_INFORMATION', {claimant: claim.getClaimantFullName()})
            + '</p><p class="govuk-body">' + t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.FIND_OUT') + '<a href="' + privacyPolicyUrl +'">'
            + t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.PERSONAL_INFORMATION') + '</a></p>'
          }) }}
          <p class="govuk-body">{{ t('PAGES.FIRST_CONTACT_CLAIM_SUMMARY.WE_HAVE_SENT') }}</a></p>
          <br>
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
