{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.FIRST_CONTACT_CLAIM_REFERENCE.PAGE_TITLE') }}
{% endblock %}
{% set hideLogout = true  %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <h1 class="govuk-heading-l">{{ t('PAGES.FIRST_CONTACT_CLAIM_REFERENCE.TITLE') }}</h1>
      <p class="govuk-body-m">{{ t('PAGES.FIRST_CONTACT_CLAIM_REFERENCE.ENTER_CLAIM') }}</p>

      {% if form.hasErrors() %}
        {{ errorSummary(form.getErrors(), t) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukInput({
              id: "claimReferenceValue",
              name: "claimReferenceValue",
              value: form.model.claimReferenceValue,
              type: "text",
              classes: "govuk-!-width-one-half",
              spellcheck: false,
              label: {
                text: t("PAGES.FIRST_CONTACT_CLAIM_REFERENCE.CLAIM_NUMBER")
              },
              errorMessage: {
                text:t(form.errorFor('claimReferenceValue'))
              } if form.hasFieldError('claimReferenceValue')
            }) }}

            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
