{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/external-link.njk" import externalLink %}
{% import "external-urls.njk" as externalURLs %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}
{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.TITLE')}}</h1>
          <p class="govuk-body-m">{{ t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.INTRO') }}</p>
          {{ govukInsetText({
            text: t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.REFERENCE_NUMBER_INSET')
          }) }}
          <p class="govuk-body-m">{{ t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.NO_REFERENCE_NUMBER') }}</p>
          <p class="govuk-body-m">{{ externalLink(t, 'PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.APPLY_LINK', externalURLs.feesHelpUrl, true) }}</p>
          <p class="govuk-body-m">{{ externalLink(t, 'PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.GET_HELP_LINK', externalURLs.feesHelpUrl, false) }}</p>
          <p class="govuk-body-m">{{ t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.MAKE_A_NOTE') }}</p>
          <p class="govuk-body-m govuk-!-font-weight-bold">{{ t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.PAPER_FORM_HEADING') }}</p>
          <p class="govuk-body-m">{{ t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.PAPER_FORM_PARAGRAPH1') }}</p>
          <p class="govuk-body-m">{{ t('PAGES.ELIGIBILITY_APPLY_FOR_HELP_WITH_FEES.PAPER_FORM_PARAGRAPH2') }}</p>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.CONTINUE'),
                attributes: { 'aria-label': t('COMMON.BUTTONS.CONTINUE') }
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>

{% endblock %}
