{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/external-link.njk" import externalLink %}
{% import "external-urls.njk" as externalURLs %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.ELIGIBILITY_HWF_REFERENCE.PAGE_TITLE') }}
{% endblock %}
{% set hideLogout = true  %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set noHtml %}

        <h3 class="govuk-heading-s">{{ t('PAGES.ELIGIBILITY_HWF_REFERENCE.DECIDE') }}</h3>
        <p class="govuk-body">
          {{ externalLink(t, 'PAGES.ELIGIBILITY_HWF_REFERENCE.APPLY_FOR_HELP_LINK', externalURLs.feesHelpUrl, true) }}
          {{ t('PAGES.ELIGIBILITY_HWF_REFERENCE.MAKE_CLAIM_USING') }}
        </p>
        <p class="govuk-body">{{ t('PAGES.ELIGIBILITY_HWF_REFERENCE.WHEN_YOU_APPLY') }}</p>
        <p class="govuk-body">{{ t('PAGES.ELIGIBILITY_HWF_REFERENCE.MAKE_A_NOTE') }}</p>
        <p class="govuk-body">{{ t('PAGES.ELIGIBILITY_HWF_REFERENCE.WILL_NEED') }}</p>
      {% endset -%}
      <div class="govuk-grid-row">
        {% if form.hasErrors() %}
          {{ errorSummary(form.getErrors(), t) }}
        {% endif %}
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{t('PAGES.ELIGIBILITY_HWF_REFERENCE.TITLE')}}</h1>
          <p class="govuk-body-m">{{ t('PAGES.ELIGIBILITY_HWF_REFERENCE.ALREADY_APPLIED') }}</p>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {noHtml:noHtml}) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
