{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.ELIGIBILITY_TOTAL_AMOUNT.TITLE') }}
{% endblock %}
{% set hideLogout = true  %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <h1 class="govuk-heading-l">{{ t('PAGES.ELIGIBILITY_TOTAL_AMOUNT.TITLE') }}</h1>
      <p class="govuk-body-m">{{ t('PAGES.ELIGIBILITY_TOTAL_AMOUNT.INCLUDE_AMOUNT') }}</p>

      {% set title = t("PAGES.ELIGIBILITY_TOTAL_AMOUNT.TITLE") %}

      {% if form.hasErrors() %}
        {{ errorSummary(form.getErrors(), t) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukRadios({
              idPrefix: "totalAmount",
              name: "totalAmount",
              items: [
                {
                  value: TotalAmountOptions.OVER_25000,
                  text: t('PAGES.ELIGIBILITY_TOTAL_AMOUNT.OVER_25000'),
                  checked: form.model.option === TotalAmountOptions.OVER_25000
                },
                {
                  value: TotalAmountOptions.LESS_25000,
                  text: t('PAGES.ELIGIBILITY_TOTAL_AMOUNT.25000_OR_LESS'),
                  checked: form.model.option === TotalAmountOptions.LESS_25000
                },
                {
                  value: TotalAmountOptions.UNKNOWN,
                  text: t('PAGES.ELIGIBILITY_TOTAL_AMOUNT.DONT_KNOW'),
                  checked: form.model.option === TotalAmountOptions.UNKNOWN
                }
              ],
              errorMessage: {
                html: t(form.errorFor('option'))
              } if form.hasErrors()
            }) }}

            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
