{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/timeline-summary.njk" import timelineSummary %}
{% from "../../../macro/amount-breakdown.njk" import amountBreakdownTable %}
{% set heading = 'Claim details' %}
{% set evidenceRows = claim.evidence %}
{% set timelineRows = claim.timelineOfEvents %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CLAIM_DETAILS.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.CLAIM_DETAILS.HEADER') }}</h1>
          {% if claim.helpWithFeesNumber %}
            <p class="govuk-body">
              <span>
                <strong>{{ t('PAGES.CLAIM_DETAILS.CLAIM_NUMBER') }}
                </span>
              </strong>
              <span>
                {% set dash = joiner("-") %}
                {% for batch in claim.ccdCaseId | string | batch(4) -%}
                  {{ dash() }}
                  {% for items in batch -%}
                    {{ items }}
                  {%- endfor %}
                {%- endfor %}
              </span>
            </p>
          {% else %}
            <p class="govuk-body">
              <span>
                <strong>{{ t('PAGES.CLAIM_DETAILS.CLAIM_NUMBER') }}:</strong>
              </span>
              {{ claim.legacyCaseReference }}</p>
          {% endif %}
          <p class="govuk-body">
            <span>
              <strong>{{ t('PAGES.CLAIM_DETAILS.CLAIM_AMOUNT') }}:</strong>
            </span>
            {{ totalAmount | currencyFormat(totalAmount) }}
          </p>
          {{ govukDetails({
            summaryText: t('PAGES.CLAIM_DETAILS.VIEW_AMOUNT_BREAKDOWN'),
            html: amountBreakdownTable(claim, interestData, totalAmount)
          }) }}
          <h2 class="govuk-heading-s">{{ t('PAGES.CLAIM_DETAILS.REASON_FOR_CLAIM')+' :' }}</h2>
          <p class="govuk-body">{{ claim.detailsOfClaim }}</p>
          {% if timelineRows and timelineRows.length > 0 %}
            {{ timelineSummary(timelineRows) }}
          {% endif %} 
          <p class="govuk-body">
            <span>
              <strong>{{ t('COMMON.DOWNLOAD_THE_CLAIM') }}</strong>
            </span>
          </p>
          <p class="govuk-body"><a href="#">Download claim(PDF)</a></p>
          <br>
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
