{% extends "claim-details-tpl.njk" %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/timeline-summary.njk" import timelineSummary %}
{% from "../../../macro/amount-breakdown.njk" import amountBreakdownTable %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CLAIM_DETAILS.PAGE_TITLE') }}
{% endblock %}

{% set evidenceRows = claim.evidence %}
{% set timelineRows = claim.timelineOfEvents %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.CLAIM_DETAILS.HEADER') }}</h1>
          {% if claim.helpWithFeesNumber %}
            <p class="govuk-body">
              <span class="govuk-!-font-weight-bold">
                {{ t('PAGES.CLAIM_DETAILS.CLAIM_NUMBER') }}
              </span>
              <span>
                {% set dash = joiner("-") %}
                {% for batch in claim.ccdCaseId | string | batch(4) -%}
                  {{ dash() }}
                  {% for items in batch -%}
                    {{ items }}
                  {%- endfor %}
                {%- endfor %}
              </span>
            </p>
          {% else %}
            <p class="govuk-body">
              <span class="govuk-!-font-weight-bold">
                {{ t('PAGES.CLAIM_DETAILS.CLAIM_NUMBER') }}:
              </span>
              {{ claim.legacyCaseReference }}</p>
          {% endif %}
          <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">
              {{ t('COMMON.CLAIM_AMOUNT') }}:
            </span>
            {{ totalAmount | currencyFormat(totalAmount) }}
          </p>
          {{ govukDetails({
            summaryText: t('PAGES.CLAIM_DETAILS.VIEW_AMOUNT_BREAKDOWN'),
            html: amountBreakdownTable(claim, interestData, totalAmount, t)
          }) }}
          <h2 class="govuk-heading-s">{{ t('PAGES.CLAIM_DETAILS.REASON_FOR_CLAIM')+' :' }}</h2>
          <p class="govuk-body">{{ claim.claimDetails.reason.text }}</p>
          {% if timelineRows and timelineRows.length > 0 %}
            {{ timelineSummary(t, timelineRows) }}
          {% elseif timelinePdfUrl %}
            <div class="govuk-body">
              <h2 class="govuk-heading-s">{{ t('PAGES.CLAIM_DETAILS.TIMELINE') }}</h2>
              <a id="timeline-link" href={{ timelinePdfUrl }} target="_blank" rel="noreferrer noopener" class="govuk-link">{{ t('PAGES.CLAIM_DETAILS.DOWNLOAD_AND_VIEW_TIMELINE') }}</a>
            </div>
          {% endif %}
          <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">
              {{ t('COMMON.DOWNLOAD_THE_CLAIM') }}
            </span>
          </p>
          <p class="govuk-body"><a id="sealed-claim-link" href={{ sealedClaimPdfUrl }} rel="noreferrer noopener">{{ t('PAGES.CLAIM_DETAILS.DOWNLOAD_CLAIM') }}</a></p>
          <br>
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
