apiVersion: v2
appVersion: "1.1"
description: Helm chart for the HMCTS Civil Citizen Frontend service
name: civil-citizen-ui
home: https://github.com/hmcts/civil-citizen-ui
version: 0.0.77
maintainers:
  - name: HMCTS Civil Citizen Ui team

dependencies:
  - name: nodejs
    version: 3.0.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: civil-service
    version: 0.0.57
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-service.enabled
  - name: ccd
    version: 8.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
  - name: xui-webapp
    version: ~1.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.2.3
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.9
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: aac-manage-case-assignment.enabled
  - name: camunda-bpm
    version: 0.0.43
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: camunda-bpm.enabled
  - name: servicebus
    version: 1.0.4
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: servicebus.enabled
# WA
  - name: wa-task-management-api
    version: ~0.0.37
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-task-monitor
    version: ~0.0.27
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-case-event-handler
    version: 0.0.37
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-workflow-api
    version: 0.0.36
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  # WA Crons
  - name: wa-task-batch-service
    version: ~0.0.15
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: wa-message-cron-service
    version: ~0.0.3
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  # CCD message publisher
  - name: ccd-message-publisher
    version: ~0.1.7
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled

