apiVersion: v2
appVersion: "1.1"
description: Helm chart for the HMCTS Civil Citizen Frontend service
name: civil-citizen-ui
home: https://github.com/hmcts/civil-citizen-ui
version: 0.0.22
maintainers:
  - name: HMCTS Civil Citizen Ui team

dependencies:
  - name: nodejs
    version: 2.4.4
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: civil-service
    version: 0.0.9
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-service.enabled
  - name: ccd
    version: 8.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
  - name: xui-webapp
    version: ~0.2.16
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.2.3
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: postgresql
    version: ~10.16.0
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: camunda-bpm
    version: 0.0.23
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: camunda-bpm.enabled
