apiVersion: v2
appVersion: "1.1"
description: Helm chart for the HMCTS Civil Citizen Frontend service
name: civil-citizen-ui
home: https://github.com/hmcts/civil-citizen-ui
version: 0.1.1
maintainers:
  - name: HMCTS Civil Citizen Ui team

dependencies:
  - name: nodejs
    version: 3.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: civil-service
    version: 0.0.72
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-service.enabled
  - name: ccd
    version: 9.2.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd.enabled
  - name: xui-webapp
    version: ~1.0.16
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: camunda-bpm
    version: 0.0.44
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: camunda-bpm.enabled
  - name: servicebus
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
  - name: civil-general-applications
    version: 0.0.64
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-general-applications.enabled
# WA
  - name: wa
    version: 1.0.6
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  # CCD message publisher
  - name: ccd-message-publisher
    version: ~0.1.7
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: civil-wa.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.13
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: aac-manage-case-assignment.enabled
  - name: postgresql
    version: 1.0.2
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: postgresql.enabled

  - name: ccd-case-document-am-api
    version: 1.7.14
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
  - name: em-ccdorc
    version: 2.0.25
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-ccdorc.enabled
  - name: em-stitching
    version: 1.0.55
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: em-stitching.enabled
