apiVersion: v2
appVersion: "1.1"
description: Helm chart for the HMCTS Civil Citizen Frontend service
name: civil-citizen-ui
home: https://github.com/hmcts/civil-citizen-ui
version: 0.1.7
maintainers:
  - name: HMCTS Civil Citizen Ui team

dependencies:
  - name: nodejs
    version: 3.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: civil-service
    version: ~0.0.92
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: civil-service.enabled
  - name: xui-webapp
    version: ~1.0.31
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: idam-pr.enabled
  - name: servicebus
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
  - name: civil-general-applications
    version: ~0.0.74
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: civil-general-applications.enabled
# WA
  - name: wa
    version: 1.0.6
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: civil-wa.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.19
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: aac-manage-case-assignment.enabled

  - name: ccd-case-document-am-api
    version: 1.7.17
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd-case-document-am-api.enabled
  - name: em-ccdorc
    version: 2.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: em-ccdorc.enabled
  - name: em-stitching
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: em-stitching.enabled
