apiVersion: v2
appVersion: "1.0"
description: Helm chart for the HMCTS Civil Citizen Frontend service
name: civil-citizen-ui
home: https://github.com/hmcts/civil-citizen-ui
version: 0.0.8
dependencies:
  - name: nodejs
    version: 2.4.0
    repository: '@hmctspublic'
  - name: idam-pr
    version: 2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled
