apiVersion: v2
appVersion: "1.0"
description: Helm chart for the HMCTS Civil Citizen Frontend service
name: civil-citizen-ui
home: https://github.com/hmcts/civil-citizen-ui
version: 0.0.1
dependencies:
  - name: nodejs
    version: 2.3.8
    repository: '@hmctspublic'

