apiVersion: v2
appVersion: "1.1"
description: Helm chart for the HMCTS Civil Citizen Frontend service
name: civil-citizen-ui
home: https://github.com/hmcts/civil-citizen-ui
version: 0.2.0
maintainers:
  - name: HMCTS Civil Citizen Ui team

dependencies:
  - name: nodejs
    version: 3.2.0
    repository: 'oci://hmctspublic.azurecr.io/helm'

  - name: civil-service
    version: '*'
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: civil-service.enabled

  - name: servicebus
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled

  - name: wa
    version: 1.0.6
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
