nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  memoryLimits: 768Mi
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    civil-cui:
      resourceGroup: civil-citizen-ui
      secrets:
        - appinsights-instrumentation-key
        - draft-store-access-key
        - citizen-ui-idam-secret
        - ordnance-survey-api-key
        - cmc-s2s-secret
        - citizen-draft-store-primary
        - citizen-draft-store-secondary
        - civil-citizen-ui-token-key
  environment:
    OAUTH_CLIENT_REDIRECT: https://${SERVICE_FQDN}/oauth2/callback
    CIVIL_SERVICE_URL: http://${SERVICE_NAME}-civil-service
    IDAM_SIGN_OUT_REDIRECT_URL: https://${SERVICE_FQDN}/dashboard

civil-service:
  enabled: true
  java:
    applicationPort: 4000
    releaseNameOverride: ${SERVICE_NAME}-civil-service
    image: 'hmctspublic.azurecr.io/civil/service:pr-3675'
    imagePullPolicy: Always
    ingressHost: ${SERVICE_NAME}-civil-service.preview.platform.hmcts.net
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: appinsights-connection-string
            alias: appinsights-connection-string
#          - name: AppInsightsInstrumentationKey
#            alias: azure.application-insights.instrumentation-key
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: cmc-db-password-v11
            alias: CMC_DB_PASSWORD
          - name: gov-notify-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key-non-prod
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
          - name: robotics-notification-recipient-spec
            alias: robotics.notification.specRecipient
          - name: robotics-notification-recipient-lipj
            alias: robotics.notification.lipJRecipient
          - name: ordnance-survey-api-key
            alias: OS_POSTCODE_LOOKUP_API_KEY
          - name: notification-caseworker-spec-receiver
            alias: notification.caseworker.spec.receiver
          - name: mediation-notification-sender
            alias: mediation.emails.sender
          - name: mediation-notification-recipient
            alias: mediation.emails.recipient
          - name: hmc-servicebus-shared-access-key-tf
            alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
    environment:
      IDAM_CLIENT_ID: civil-service
      IDAM_CLIENT_REDIRECT_URI: https://civil-ccd-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback
      IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
      IDAM_WEB_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net
      IDAM_END_SESSION_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/o/endSession
      IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      MANAGE_CASE_UI_BASE_URL: https://manage-case.{{ .Values.global.environment }}.platform.hmcts.net
      SPRING_SECURITY_ENABLED: true
      CMC_DB_PORT: 5432
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/jwks
      AUTH_IDAM_CLIENT_BASEURL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
      AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      TESTING_SUPPORT_ENABLED: true
      FEES_API_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      PAYMENTS_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      SEND_LETTER_URL: http://rpe-send-letter-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      CUI_URL: ${SERVICE_NAME}.preview.platform.hmcts.net
      CUI_URL_RESPOND_TO_CLAIM: ${SERVICE_NAME}.preview.platform.hmcts.net/first-contact/start
      CLAIM_STORE_URL: http://cmc-claim-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      GENAPP_LRD_URL: http://rd-location-ref-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      GENAPP_JRD_URL: http://rd-judicial-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      DOCMOSIS_TORNADO_URL: https://docmosis.aat.platform.hmcts.net
      DOCUMENT_MANAGEMENT_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      SPRING_CLOUD_BOOTSTRAP_ENABLED: true
      RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      RD_COMMONDATA_API_URL: http://rd-commondata-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
      CMC_DB_HOST: "{{ .Values.postgresql.releaseNameOverride}}"
      CMC_DB_CONNECTION_OPTIONS: '?sslmode=allow'
      CMC_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
      CMC_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
      REFERENCE_DATABASE_MIGRATION: true
      FEIGN_CLIENT_CONFIG_REMOTERUNTIMESERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      FEIGN_CLIENT_CONFIG_REMOTEEXTERNALTASKSERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      FEIGN_CLIENT_CONFIG_REMOTEREPOSITORYSERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      POLLING_EVENT_EMITTER_ENABLED: false
      DOCUMENT_MANAGEMENT_SECURED: true
      STITCHING_API_ENABLED: false
      SERVICE_REQUEST_UPDATE: https://${SERVICE_NAME}-civil-service.preview.platform.hmcts.net/service-request-update
      SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://${SERVICE_NAME}-civil-service.preview.platform.hmcts.net/service-request-update-claim-issued
      CIVIL_S2S_AUTHORISED_SERVICES: payment_app,ccd_data,civil_service,civil-citizen-ui
    postgresql:
      enabled: true
      releaseNameOverride: ${SERVICE_NAME}-postgresql
      image:
        registry: hmctspublic.azurecr.io
        repository: imported/bitnami/postgresql
        tag: '11.6.0'
      primary:
        persistence:
          enabled: false
        resources:
          requests:
            cpu: 25m
        initdb:
          scripts:
            init.sql: |
              CREATE DATABASE cmc WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "camunda" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "role_assignment" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa-task-management-api" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa-case-event-handler" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa_workflow_api" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "cft_task_db" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      auth:
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        postgresPassword: ${POSTGRES_PASSWORD}

idam-pr:
  releaseNameOverride: ${SERVICE_NAME}-xui-idam-pr
  enabled: true
  redirect_uris:
    Civil Citizen UI:
      - https://${SERVICE_NAME}.preview.platform.hmcts.net/oauth2/callback
    XUI:
      - https://xui-${SERVICE_NAME}.preview.platform.hmcts.net/oauth2/callback

xui-webapp:
  enabled: true
  memoryLimits: 1Gi
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-webapp
    image: hmctspublic.azurecr.io/xui/webapp:latest
    ingressHost: xui-${SERVICE_FQDN}
    devcpuRequests: 500m
    devmemoryRequests: 1Gi
    devcpuLimits: 1
    devmemoryLimits: 2Gi
    environment:
      HEALTH_CCD_COMPONENT_API: http://${SERVICE_NAME}-ccd-api-gw/health
      HEALTH_CCD_DATA_API: http://${SERVICE_NAME}-ccd-data-store-api/health
      HEALTH_TERMS_AND_CONDITIONS_API: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal/health
      HEALTH_WORK_ALLOCATION_TASK_API: https://wa-task-management-api-${SERVICE_FQDN}.preview.platform.hmcts.net/health
      SERVICES_CCD_COMPONENT_API: http://${SERVICE_NAME}-ccd-api-gw
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_TERMS_AND_CONDITIONS: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal
      SERVICES_WORK_ALLOCATION_TASK_API: https://wa-task-management-api-${SERVICE_FQDN}
      SERVICES_WA_WORKFLOW_API_URL: http://wa-workflow-api-${SERVICE_FQDN}
      JURISDICTIONS: CIVIL
      LAUNCH_DARKLY_CLIENT_ID: ~
      WA_SUPPORTED_JURISDICTIONS: "IA,PRIVATELAW"

ccd:
  enabled: true
  ccd:
    adminWeb:
      enabled: false
    apiGatewayWeb:
      enabled: true
    definitionImporter:
      enabled: false
    managementWeb:
      enabled: false
    s2s:
      enabled: false
    postgresql:
      enabled: false
    ras:
      enabled: false
    userProfileImporter:
      enabled: false
    userProfile:
      enabled: false

  global:
    ccdApiGatewayIngress: http://${SERVICE_NAME}-ccd-api-gw
    ccdDataStoreUrl: http://${SERVICE_NAME}-ccd-data-store-api
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store-api
    ccdUserProfileUrl: http://ccd-user-profile-api-aat.service.core-compute-aat.internal
    dmStoreUrl: http://dm-store-aat.service.core-compute-aat.internal
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal

  ccd-api-gateway-web:
    nodejs:
      imagePullPolicy: Always
      environment:
        ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
        IDAM_SERVICE_KEY: ${CCD_API_GATEWAY_S2S_SECRET}
        IDAM_OAUTH2_CLIENT_SECRET: ${CCD_API_GATEWAY_IDAM_CLIENT_SECRET}
        PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
      ingressHost: gateway-${SERVICE_NAME}.preview.platform.hmcts.net
      ingressIP: ${INGRESS_IP}
      keyVaults: []
  ccd-data-store-api:
    java:
      releaseNameOverride: ${SERVICE_NAME}-ccd-data-store-api
      imagePullPolicy: Always
      devcpuRequests: 500m
      devmemoryRequests: 2048Mi
      devmemoryLimits: 4096Mi
      environment:
        CASE_DOCUMENT_AM_API_ATTACH_DOCUMENT_ENABLED: false
        DATA_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DATA_STORE_IDAM_KEY: ${CCD_DATA_STORE_S2S_SECRET}
        DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_ps,bulk_scan_orchestrator,ccpay_bubble,ctsc_work_allocation,em_ccd_orchestrator,xui_webapp,civil_service,ccd_case_document_am_api,aac_manage_case_assignment,wa_task_management_api,wa_task_monitor,wa_case_event_handler,wa_workflow_api
        IDAM_API_BASE_URL: https://idam-api.aat.platform.hmcts.net
        IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
        CCD_S2S_AUTHORISED_SERVICES_CASE_USER_ROLES: civil_service
        CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
        IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET: ${IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET}
        IDAM_DATA_STORE_SYSTEM_USER_USERNAME: ${IDAM_DATA_STORE_SYSTEM_USER_USERNAME}
        IDAM_DATA_STORE_SYSTEM_USER_PASSWORD: ${IDAM_DATA_STORE_SYSTEM_USER_PASSWORD}
        ROLE_ASSIGNMENT_URL: http://am-role-assignment-service-aat.service.core-compute-aat.internal
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOSTS: ${SERVICE_NAME}-es-master:9200
        ELASTIC_SEARCH_DATA_NODES_HOSTS: http://${SERVICE_NAME}-es-master:9200
      keyVaults: []
      ingressHost: ccd-data-store-api-${SERVICE_NAME}.preview.platform.hmcts.net
  ccd-definition-store-api:
    java:
      imagePullPolicy: Always
      releaseNameOverride: ${SERVICE_NAME}-ccd-definition-store-api
      environment:
        DEFINITION_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DEFINITION_STORE_IDAM_KEY: ${CCD_DEFINITION_STORE_S2S_SECRET}
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOST: ${SERVICE_NAME}-es-master
        ELASTIC_SEARCH_CASE_INDEX_MAPPING_FIELDS_LIMIT: 12000
      keyVaults: []
      ingressHost: ccd-definition-store-${SERVICE_NAME}.preview.platform.hmcts.net

  postgresql:
    persistence:
      enabled: false

camunda-bpm:
  enabled: true
  java:
    disableKeyVaults: true
    releaseNameOverride: ${SERVICE_NAME}-camunda
    ingressHost: camunda-${SERVICE_FQDN}
    environment:
      CAMUNDA_API_AUTH_ENABLED: false
      CAMUNDA_DB_HOST: ${SERVICE_NAME}-postgresql
      CAMUNDA_DB_NAME: camunda
      CAMUNDA_DB_USER_NAME: ${POSTGRES_USER}
      CAMUNDA_DB_PASSWORD: ${POSTGRES_PASSWORD}
      CAMUNDA_BPM_DATABASE_SCHEMA_UPDATE: true
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      CAMUNDA_DB_CONN_OPTIONS: ""

civil-wa:
  enabled: false
