nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    TEST_PROPERTY: preview-test-value
    OAUTH_CLIENT_REDIRECT: https://${SERVICE_FQDN}/oauth2/callback

idam-pr:
  enabled: true
  redirect_uris:
    civil-citizen-ui:
      - https://${SERVICE_FQDN}/oauth2/callback
