civil-service:

  java:
    environment:
      TASK_MANAGEMENT_ENABLED: true
      TASK_MANAGEMENT_API_URL: http://{{ .Release.Name }}-wa-task-management-api
      HMC_HEARINGS_SUBSCRIPTION_ENABLED: true
      HMC_HEARINGS_TOPIC_NAME: "hmc-to-cft-aat"
      HMC_HEARINGS_TOPIC_SUBSCRIPTION_NAME: "${SERVICE_NAME}-hmcsb-civil"
      HMC_HEARINGS_TOPIC_NAMESPACE: "hmc-servicebus-aat"
      ROLE_ASSIGNMENT_URL: ${ROLE_ASSIGNMENT_URL}
      CMC_DB_HOST: civil-preview.postgres.database.azure.com
      CMC_DB_CONNECTION_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
      CMC_DB_USERNAME: hmcts
      CMC_DB_NAME: "pr-${CHANGE_ID}-cmc"
    secrets:
      CMC_DB_PASSWORD:
        secretRef: postgres
        key: PASSWORD
        disabled: false

  camunda-bpm:
    enabled: false

  ccd:
    ccd:
      mps:
        enabled: true
    ccd-message-publisher:
      java:
        ingressHost: ccd-message-publisher-${SERVICE_FQDN}
        releaseNameOverride: ${SERVICE_NAME}-ccd-message-publisher
        keyVaults:
          ccd:
            secrets:
              - name: AppInsightsInstrumentationKey
                alias: azure.application-insights.instrumentation-key
        environment:
          DATA_STORE_DB_NAME: "{{ .Values.global.databaseNamePrefix }}data-store"
          DATA_STORE_DB_HOST: "{{ .Values.global.postgresHostname }}"
          DATA_STORE_DB_USERNAME: "{{ .Values.global.postgresUsername }}"
          DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
          CCD_CASE_EVENTS_DESTINATION: ${SERVICE_NAME}-asb-ccd-case-events
        secrets:
          SERVICE_BUS_CONNECTION_STRING:
            secretRef: civil-sb-preview
            key: connectionString
          DATA_STORE_DB_PASSWORD:
            secretRef: "{{ .Values.global.postgresSecret }}"
            key: PASSWORD
            disabled: false

    postgresql:
      enabled: true
      flexibleserver: civil-preview
      setup:
        databases:
          - name: "pr-${CHANGE_ID}-cmc"
          - name: "pr-${CHANGE_ID}-data-store"
          - name: "pr-${CHANGE_ID}-definition-store"
          - name: "pr-${CHANGE_ID}-camunda"
          - name: "pr-${CHANGE_ID}-role-assignment"
          - name: "pr-${CHANGE_ID}-wa-task-management-api"
          - name: "pr-${CHANGE_ID}-wa-case-event-handler"
          - name: "pr-${CHANGE_ID}-wa_workflow_api"
          - name: "pr-${CHANGE_ID}-cft_task_db"
          - name: "pr-${CHANGE_ID}-emstitch"

    am-role-assignment-service:
      java:
        environment:
          ROLE_ASSIGNMENT_DB_HOST: "{{ .Values.global.postgresHostname }}"
        secrets:
          DATA_STORE_DB_PASSWORD:
            secretRef: "{{ .Values.global.postgresSecret }}"
            key: PASSWORD
            disabled: false

    ccd-data-store-api:
      java:
        environment:
          DATA_STORE_DB_NAME: "{{ .Values.global.databaseNamePrefix }}data-store"
          DATA_STORE_DB_HOST: "{{ .Values.global.postgresHostname }}"
          DATA_STORE_DB_USERNAME: "{{ .Values.global.postgresUsername }}"
        secrets:
          DATA_STORE_DB_PASSWORD:
            secretRef: "{{ .Values.global.postgresSecret }}"
            key: PASSWORD
            disabled: false

    ccd-definition-store-api:
      java:
        environment:
          DEFINITION_STORE_DB_OPTIONS: "?stringtype=unspecified"
          DEFINITION_STORE_DB_NAME: "{{ .Values.global.databaseNamePrefix }}definition-store"
          DEFINITION_STORE_DB_HOST: "{{ .Values.global.postgresHostname }}"
          DEFINITION_STORE_DB_USERNAME: "{{ .Values.global.postgresUsername }}"
        secrets:
          DEFINITION_STORE_DB_PASSWORD:
            secretRef: "{{ .Values.global.postgresSecret }}"
            key: PASSWORD
            disabled: false

    logstash:
      image: hmctspublic.azurecr.io/imported/logstash/logstash
      imageTag: "7.16.1"
      imagePullPolicy: "IfNotPresent"
      logstashJavaOpts: -Xmx1g -Xms512M
      persistence:
        enabled: false
      extraEnvs:
        - name: DATA_STORE_PASS
          value: hmcts
        - name: DATA_STORE_URL
          value: "jdbc:postgresql://civil-preview.postgres.database.azure.com:5432/{{ .Values.global.databaseNamePrefix }}data-store?sslmode=require&stringtype=unspecified"
        - name: DATA_STORE_USER
          value: hmcts
        - name: ES_HOSTS
          value: "${SERVICE_NAME}-es-master"
      extraInitContainers: |
        - name: download-postgres-jdbc
          image: hmctspublic.azurecr.io/curl:7.70.0
          command: ['curl', '-L', 'https://jdbc.postgresql.org/download/postgresql-42.3.3.jar', '-o', '/logstash-lib/postgresql.jar']
          volumeMounts:
          - name: logstash-lib
            mountPath: /logstash-lib
      extraVolumes: |
        - name: logstash-lib
          emptyDir: {}
        - name: database-secret-volume
          secret:
            secretName: postgres
      extraVolumeMounts: |
        - name: logstash-lib
          mountPath: /usr/share/logstash/ccd
        - name: database-secret-volume
          mountPath: /etc/logstash/secrets
          readOnly: true
      logstashConfig:
        logstash.yml: |
          http.host: 0.0.0.0
          xpack.monitoring.enabled: false
          queue.type: persisted
          dead_letter_queue.enable: true
        pipelines.yml: |
          - pipeline.id: main
            path.config: "/usr/share/logstash/pipeline/{01_input,02_filter,03_output}.conf"
            pipeline.workers: 4
            pipeline.batch.size: 500
            queue.type: persisted
      logstashPipeline:
        01_input.conf: |
          input  {
            jdbc {
              jdbc_connection_string => "jdbc:postgresql://civil-preview.postgres.database.azure.com:5432/pr-${CHANGE_ID}-data-store?sslmode=require&stringtype=unspecified"
              jdbc_user => "hmcts"
              jdbc_password_filepath => "/etc/logstash/secrets/PASSWORD"
              jdbc_validate_connection => true
              jdbc_validation_timeout => "1"
              jdbc_driver_library => "/usr/share/logstash/ccd/postgresql.jar"
              jdbc_driver_class => "org.postgresql.Driver"
              jdbc_default_timezone => "UTC"
              statement => "UPDATE case_data SET marked_by_logstash = true WHERE marked_by_logstash = false RETURNING id, created_date, last_modified, jurisdiction, case_type_id, state, last_state_modified_date, data::TEXT as json_data, data_classification::TEXT as json_data_classification, reference, security_classification, supplementary_data::TEXT as json_supplementary_data"
              clean_run => false
              schedule => "* * * * * *"
            }
          }
        02_filter.conf: |
          filter{
            json{
                source => "json_data"
                target => "data"
                remove_field => ["json_data"]
                }

                json{
                    source => "json_supplementary_data"
                    target => "supplementary_data"
                    remove_field => ["json_supplementary_data"]
                }

                json{
                    source => "json_data_classification"
                    target => "data_classification"
                    remove_field => ["json_data_classification"]
                }

                if [data][SearchCriteria] {
                    clone {
                        clones => ["SearchCriteria"]
                    }
                }

                if [type] == "SearchCriteria" {
                    if [data][SearchCriteria] {
                        mutate {
                          rename => {"[data][SearchCriteria]" => "[data_new][SearchCriteria]" }
                        }
                    }
                    if [data][caseManagementLocation] {
                        mutate {
                          rename => {"[data][caseManagementLocation]" => "[data_new][caseManagementLocation]" }
                        }
                    }
                    if [data][CaseAccessCategory] {
                      mutate {
                          rename => {"[data][CaseAccessCategory]" => "[data_new][CaseAccessCategory]" }
                      }
                    }
                    if [data][caseNameHmctsInternal] {
                        mutate {
                          rename => {"[data][caseNameHmctsInternal]" => "[data_new][caseNameHmctsInternal]" }
                        }
                    }
                    if [data][caseManagementCategory] {
                        mutate {
                          rename => {"[data][caseManagementCategory]" => "[data_new][caseManagementCategory]" }
                        }
                    }
                    if [supplementary_data][HMCTSServiceId] {
                        mutate {
                          rename => {"[supplementary_data][HMCTSServiceId]" => "[supplementary_data_new][HMCTSServiceId]" }
                        }
                    }
                    if [data_classification][SearchCriteria] {
                        mutate {
                          rename => {"[data_classification][SearchCriteria]" => "[data_classification_new][SearchCriteria]" }
                        }
                    }
                    if [data_classification][CaseAccessCategory] {
                      mutate {
                            rename => {"[data_classification][CaseAccessCategory]" => "[data_classification_new][CaseAccessCategory]" }
                      }
                    }
                    if [data_classification][caseManagementLocation] {
                      mutate {
                          rename => {"[data_classification][caseManagementLocation]" => "[data_classification_new][caseManagementLocation]" }
                      }
                    }
                    if [data_classification][caseNameHmctsInternal] {
                        mutate {
                          rename => {"[data_classification][caseNameHmctsInternal]" => "[data_classification_new][caseNameHmctsInternal]" }
                        }
                    }

                    if [data_classification][caseManagementCategory] {
                        mutate {
                          rename => {"[data_classification][caseManagementCategory]" => "[data_classification_new][caseManagementCategory]" }
                        }
                    }
                    mutate { remove_field =>[ "data" ,"supplementary_data", "data_classification", "last_state_modified_date", "type","last_modified", "created_date" ] }

                    mutate {
                            rename => { "[data_new]" => "data" }
                            rename => { "[supplementary_data_new]"  => "supplementary_data" }
                            rename => { "[data_classification_new]"  => "data_classification" }
                    }

                    mutate {
                      add_field => { "index_id" => "global_search" }
                    }
                    mutate {
                      lowercase => [ "index_id" ]
                    }
                } else {
                    mutate {
                        add_field => { "index_id" => "%{case_type_id}_cases" }
                  }
                mutate {
                  lowercase => [ "index_id" ]
                }
                }
          }
        03_output.conf: |
          output {
              elasticsearch {
                  hosts => ["${SERVICE_NAME}-es-master"]
                  sniffing => false
                  index => "%{[index_id]}"
                  document_type => "_doc"
                  document_id => "%{id}"
                  timeout => 60
              }
          }


  xui-webapp:
    nodejs:
      environment:
        SERVICES_CCD_DATA_STORE_API: https://ccd-data-store-api-civil-citizen-ui-pr-${CHANGE_ID}.preview.platform.hmcts.net
        HEARINGS_JURISDICTIONS: CIVIL
        SERVICES_HEARINGS_COMPONENT_API_CIVIL: http://${SERVICE_NAME}-civil-service
        ENABLE_HEARING_DATA_SOURCE_HEADERS: "true"
        PREVIEW_DEPLOYMENT_ID: "civil-cui-${CHANGE_ID}"
        WA_SUPPORTED_JURISDICTIONS: "IA,PRIVATELAW,CIVIL"
        SERVICES_ROLE_ASSIGNMENT_MAPPING_API: https://am-org-role-mapping-service-${SERVICE_FQDN}
        SERVICES_EM_ANNO_API: http://${SERVICE_NAME}-ccd-api-gw
        SERVICES_IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
        SERVICES_S2S: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        SERVICES_PRD_LOCATION_API: http://rd-location-ref-api-aat.service.core-compute-aat.internal
        SERVICES_PRD_JUDICIAL_API: http://rd-judicial-api-aat.service.core-compute-aat.internal
        SERVICES_PRD_COMMONDATA_API: http://rd-commondata-api-aat.service.core-compute-aat.internal
        HEALTH_ROLE_ASSIGNMENT_API: http://${SERVICE_NAME}-am-role-assignment-service/health
        GLOBAL_SEARCH_SERVICES: IA,CIVIL,PRIVATELAW,PUBLICLAW,SSCS
        FEATURE_WORKALLOCATION_ENABLED: true
        FEATURE_REDIS_ENABLED: false
        FEATURE_APP_INSIGHTS_ENABLED: false
        FEATURE_SECURE_COOKIE_ENABLED: false
        FEATURE_PROXY_ENABLED: false
        FEATURE_TERMS_AND_CONDITIONS_ENABLED: false
        FEATURE_HELMET_ENABLED: false
        FEATURE_OIDC_ENABLED: false
        FEATURE_JRD_E_LINKS_V2_ENABLED: true
        NOW: false
        REDISCLOUD_URL: http://dummyrediscloudurl
        UV_THREADPOOL_SIZE: 128
        PROTOCOL: http
      keyVaults:
        rpx:
          resourceGroup: rpx
          secrets:
            - mc-s2s-client-secret
            - mc-idam-client-secret
            - system-user-name
            - system-user-password

  em-stitching:
    java:
      environment:
        SPRING_DATASOURCE_HOST: "{{ .Values.global.postgresHostname }}"
        SPRING_DATASOURCE_NAME: "{{ .Values.global.databaseNamePrefix }}emstitch"
        SPRING_DATASOURCE_USERNAME: "{{ .Values.global.postgresUsername }}"
      secrets:
        SPRING_DATASOURCE_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false

hmcsb:
  enabled: true
  resourceGroup: hmc-shared-aat
  sbNamespace: hmc-servicebus-aat
  #Each topic/queue matches up to one used in the config above
  setup:
    topics:
      - name: civil
        fullName: hmc-to-cft-aat
        create: false
        subscriptionNeeded: yes
        ignoreSubscriptionDeletion: true
        rules:
          - name: "servicefilter"
            filterType: SqlFilter
            sqlFilter:
              sqlExpression: "hmctsServiceId IN ('AAA7','AAA6') AND hmctsDeploymentId = 'civil-cui-${CHANGE_ID}'"

servicebus:
  enabled: true
  releaseNameOverride: ${SERVICE_NAME}-asb
  resourceGroup: civil-aso-preview-rg
  sbNamespace: civil-servicebus-preview # due to a bug https://github.com/kubernetes-sigs/kustomize/issues/5072 this value is set to civil, when this bug is resolved, the sbNamespace should be changed to the actual name of the Service Bus Namespace (civil-sb-preview)
  setup:
    topics:
      - name: ccd-case-events
        subscriptionNeeded: yes
        requiresSession: true
      - name: crd-topic
        subscriptionNeeded: yes
      - name: jrd-topic
        subscriptionNeeded: yes

global:
  jobKind: CronJob

wa:
  enabled: true
  wa:
    postgresql:
      enabled: false

  wa-case-event-handler:
    java:
      ingressHost: wa-case-event-handler-${SERVICE_FQDN}
      releaseNameOverride: ${SERVICE_NAME}-wa-case-event-handler
      secrets:
        AZURE_SERVICE_BUS_CONNECTION_STRING:
          secretRef: civil-sb-preview
          key: connectionString
        POSTGRES_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true
      environment:
        CCD_URL: http://{{ .Release.Name }}-ccd-data-store-api
        CAMUNDA_URL: http://{{ .Release.Name }}-camunda/engine-rest
        CCD_SEARCH_URL: http://{{ .Release.Name }}-ccd-data-store-api
        ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service
        WA_WORKFLOW_API_URL: "http://{{ .Release.Name }}-wa-workflow-api"
        WA_TASK_MANAGEMENT_API_URL: "http://{{ .Release.Name }}-wa-task-management-api"
        AZURE_SERVICE_BUS_TOPIC_NAME: ${SERVICE_NAME}-asb-ccd-case-events
        AZURE_SERVICE_BUS_SUBSCRIPTION_NAME: ${SERVICE_NAME}-asb-ccd-case-events
        #AZURE_SERVICE_BUS_TOPIC_NAME: servicebus-topic-{{ .Release.Name }}-asb-ccd-case-events
        AZURE_SERVICE_BUS_CCD_CASE_EVENTS_SUBSCRIPTION_NAME: ${SERVICE_NAME}-asb-ccd-case-events
        POSTGRES_CONNECTION_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"

  wa-task-monitor:
    java:
      ingressHost: wa-task-monitor-${SERVICE_FQDN}
      environment:
        WA_TASK_MANAGEMENT_API_URL: http://{{ .Release.Name }}-wa-task-management-api
        ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service

  wa-task-management-api:
    java:
      ingressHost: wa-task-management-api-${SERVICE_FQDN}
      environment:
        ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service
        POSTGRES_CONNECTION_OPTIONS: "?currentSchema=cft_task_db&stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
        POSTGRES_HOST: "{{ .Values.global.postgresHostname }}"
        POSTGRES_NAME: "{{ .Values.global.databaseNamePrefix }}cft_task_db"
        POSTGRES_REPLICA_PORT: 5432
        POSTGRES_USERNAME: hmcts
        SPRING_PROFILES_ACTIVE: "preview"
        WA_S2S_AUTHORIZED_SERVICES: ccd,ccd_data,ccd_gw,ccd_ps,iac,wa_task_management_api,xui_webapp,wa_task_monitor,camunda_bpm,wa_workflow_api,wa_case,civil_service
      secrets:
        POSTGRES_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true

  wa-workflow-api:
    java:
      environment:
        DB_READER_USERNAME: hmcts
        POSTGRES_HOST: "{{ .Values.global.postgresHostname }}"
        POSTGRES_NAME: "{{ .Values.global.databaseNamePrefix }}wa_workflow_api"
        POSTGRES_CONNECTION_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
        CAMUNDA_URL: https://camunda-${SERVICE_FQDN}/engine-rest/
    secrets:
      POSTGRES_PASSWORD:
        secretRef: "{{ .Values.global.postgresSecret }}"
        key: PASSWORD
        disabled: true

  camunda-bpm:
    java:
      environment:
        CAMUNDA_DB_HOST: civil-preview.postgres.database.azure.com
        CAMUNDA_DB_USER_NAME: hmcts
        CAMUNDA_DB_CONN_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
        CAMUNDA_DB_NAME: "{{ .Values.global.databaseNamePrefix }}camunda"
        TASK_MANAGEMENT_API_URL: http://{{ .Release.Name }}-wa-task-management-api
        CAMUNDA_API_AUTH_ENABLED: false
      secrets:
        CAMUNDA_DB_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false
