civil-general-applications:
  civil-service:
    java:
      environment:
        TASK_MANAGEMENT_ENABLED: true
        TASK_MANAGEMENT_API_URL: http://{{ .Release.Name }}-wa-task-management-api
    camunda-bpm:
      enabled: true
    ccd:
      mps:
        enabled: true
      ccd-message-publisher:
        java:
          ingressHost: ccd-message-publisher-${SERVICE_FQDN}
          releaseNameOverride: ${SERVICE_NAME}-ccd-message-publisher
          keyVaults:
            ccd:
              secrets:
                - name: AppInsightsInstrumentationKey
                  alias: azure.application-insights.instrumentation-key
          environment:
            DATA_STORE_DB_HOST: "{{ .Release.Name }}-postgresql"
            DATA_STORE_DB_NAME: "data-store"
            DATA_STORE_DB_USERNAME: hmcts
            DATA_STORE_DB_PASSWORD: ${POSTGRES_PASSWORD}
            DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
            CCD_CASE_EVENTS_DESTINATION: ${SERVICE_NAME}-asb-ccd-case-events
          secrets:
            SERVICE_BUS_CONNECTION_STRING:
              secretRef: civil-sb-preview
              key: connectionString
            DATA_STORE_DB_PASSWORD:
              secretRef: postgres
              key: PASSWORD
              disabled: true
    xui-webapp:
      nodejs:
        environment:
          WA_SUPPORTED_JURISDICTIONS: "IA,PRIVATELAW,CIVIL"
          SERVICES_ROLE_ASSIGNMENT_MAPPING_API: https://am-org-role-mapping-service-${SERVICE_FQDN}
          SERVICES_EM_ANNO_API: http://${SERVICE_NAME}-ccd-api-gw
          SERVICES_IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
          SERVICES_S2S: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
          SERVICES_HEARINGS_COMPONENT_API: http://jurisdiction-hearings-api-aat.service.core-compute-aat.internal
          SERVICES_HMC_HEARINGS_COMPONENT_API: http://${SERVICE_NAME}-hmc-cft-hearing-service
          SERVICES_PRD_LOCATION_API: http://rd-location-ref-api-aat.service.core-compute-aat.internal
          SERVICES_PRD_JUDICIAL_API: http://rd-judicial-api-aat.service.core-compute-aat.internal
          SERVICES_PRD_COMMONDATA_API: http://rd-commondata-api-aat.service.core-compute-aat.internal
          SERVICES_DOCUMENTS_API_V2: http://${SERVICE_NAME}-cdam
          HEALTH_ROLE_ASSIGNMENT_API: http://${SERVICE_NAME}-am-role-assignment-service/health
          GLOBAL_SEARCH_SERVICES: IA,CIVIL,PRIVATELAW,PUBLICLAW,SSCS
          FEATURE_WORKALLOCATION_ENABLED: true
          FEATURE_REDIS_ENABLED: false
          FEATURE_APP_INSIGHTS_ENABLED: false
          FEATURE_SECURE_COOKIE_ENABLED: false
          FEATURE_PROXY_ENABLED: false
          FEATURE_TERMS_AND_CONDITIONS_ENABLED: false
          FEATURE_HELMET_ENABLED: false
          FEATURE_OIDC_ENABLED: false
          FEATURE_JRD_E_LINKS_V2_ENABLED: true
          NOW: false
          REDISCLOUD_URL: http://dummyrediscloudurl
          UV_THREADPOOL_SIZE: 128
          PROTOCOL: http
        keyVaults:
          rpx:
            resourceGroup: rpx
            secrets:
              - mc-s2s-client-secret
              - mc-idam-client-secret
              - system-user-name
              - system-user-password

servicebus:
  enabled: true
  releaseNameOverride: ${SERVICE_NAME}-asb
  resourceGroup: civil-aso-preview-rg
  sbNamespace: civil-servicebus-preview # due to a bug https://github.com/kubernetes-sigs/kustomize/issues/5072 this value is set to civil, when this bug is resolved, the sbNamespace should be changed to the actual name of the Service Bus Namespace (civil-sb-preview)
  setup:
    topics:
      - name: ccd-case-events
        subscriptionNeeded: yes
        requiresSession: true
      - name: crd-topic
        subscriptionNeeded: yes
      - name: jrd-topic
        subscriptionNeeded: yes

global:
  jobKind: CronJob

wa:
  enabled: true
  global:
    postgresUsername: hmcts
    postgresSecret: postgres
    postgresHost: ${SERVICE_NAME}-postgresql
  #    postgresHost: civil-preview.postgres.database.azure.com
  #    databaseNamePrefix: "pr-${CHANGE_ID}-"
  wa:
    postgresql:
      enabled: false
  wa-case-event-handler:
    java:
      ingressHost: wa-case-event-handler-${SERVICE_FQDN}
      releaseNameOverride: ${SERVICE_NAME}-wa-case-event-handler
      secrets:
        AZURE_SERVICE_BUS_CONNECTION_STRING:
          secretRef: civil-sb-preview
          key: connectionString
        POSTGRES_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true
      environment:
        CCD_URL: http://{{ .Release.Name }}-ccd-data-store-api
        CAMUNDA_URL: http://{{ .Release.Name }}-camunda/engine-rest
        CCD_SEARCH_URL: http://{{ .Release.Name }}-ccd-data-store-api
        ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service
        WA_WORKFLOW_API_URL: "http://{{ .Release.Name }}-wa-workflow-api"
        WA_TASK_MANAGEMENT_API_URL: "http://{{ .Release.Name }}-wa-task-management-api"
        AZURE_SERVICE_BUS_TOPIC_NAME: ${SERVICE_NAME}-asb-ccd-case-events
        AZURE_SERVICE_BUS_SUBSCRIPTION_NAME: ${SERVICE_NAME}-asb-ccd-case-events
        #AZURE_SERVICE_BUS_TOPIC_NAME: servicebus-topic-{{ .Release.Name }}-asb-ccd-case-events
        AZURE_SERVICE_BUS_CCD_CASE_EVENTS_SUBSCRIPTION_NAME: ${SERVICE_NAME}-asb-ccd-case-events
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_CONNECTION_OPTIONS: "?stringtype=unspecified"
  wa-task-monitor:
    java:
      ingressHost: wa-task-monitor-${SERVICE_FQDN}
      environment:
        WA_TASK_MANAGEMENT_API_URL: http://{{ .Release.Name }}-wa-task-management-api
        ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service
  wa-task-management-api:
    java:
      ingressHost: wa-task-management-api-${SERVICE_FQDN}
      environment:
        ROLE_ASSIGNMENT_URL: http://${SERVICE_NAME}-am-role-assignment-service
        POSTGRES_CONNECTION_OPTIONS: "?stringtype=unspecified"
        POSTGRES_HOST: "{{ .Release.Name }}-postgresql"
        POSTGRES_REPLICA_HOST: "{{ .Release.Name }}-postgresql"
        POSTGRES_REPLICA_PORT: 5432
        POSTGRES_NAME: "cft_task_db"
        POSTGRES_REPLICA_NAME: "cft_task_db_replica"
        POSTGRES_USERNAME: postgres
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        REPLICATION_USERNAME: postgres
        REPLICATION_PASSWORD: ${POSTGRES_PASSWORD}
        SPRING_PROFILES_ACTIVE: "preview"
        DB_READER_USERNAME: postgres
        WA_S2S_AUTHORIZED_SERVICES: ccd,ccd_data,ccd_gw,ccd_ps,iac,wa_task_management_api,xui_webapp,wa_task_monitor,camunda_bpm,wa_workflow_api,wa_case,civil_service
      secrets:
        POSTGRES_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true
  wa-workflow-api:
    java:
      environment:
        DB_READER_USERNAME: "hmcts"
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_CONNECTION_OPTIONS: "?stringtype=unspecified"
        CAMUNDA_URL: https://camunda-${SERVICE_FQDN}/engine-rest/
    secrets:
      POSTGRES_PASSWORD:
        secretRef: "{{ .Values.global.postgresSecret }}"
        key: PASSWORD
        disabled: true
  camunda-bpm:
    java:
      environment:
        CAMUNDA_DB_USER_NAME: "hmcts"
        CAMUNDA_DB_PASSWORD: ${POSTGRES_PASSWORD}
        CAMUNDA_DB_CONN_OPTIONS: "?stringtype=unspecified"
        CAMUNDA_DB_NAME: 'camunda'
        TASK_MANAGEMENT_API_URL: http://{{ .Release.Name }}-wa-task-management-api
        CAMUNDA_API_AUTH_ENABLED: false
      secrets:
        CAMUNDA_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true
