ccd:
  ccd:
    elastic:
      enabled: true
  ccd-data-store-api:
    java:
      releaseNameOverride: ${SERVICE_NAME}-ccd-data-store-api
      environment:
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOSTS: ${SERVICE_NAME}-es-master:9200
        ELASTIC_SEARCH_DATA_NODES_HOSTS: http://${SERVICE_NAME}-es-master:9200
  ccd-definition-store-api:
    java:
      releaseNameOverride: ${SERVICE_NAME}-ccd-definition-store-api
      environment:
        DEFINITION_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DEFINITION_STORE_IDAM_KEY: ${CCD_DEFINITION_STORE_S2S_SECRET}
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOST: ${SERVICE_NAME}-es-master
        ELASTIC_SEARCH_CASE_INDEX_MAPPING_FIELDS_LIMIT: 12000
  elasticsearch:
    nameOverride: ${SERVICE_NAME}-es
    imageTag: "7.17.1"
    initResources:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "25m"
        memory: "512Mi"
  logstash:
    image: hmctspublic.azurecr.io/ccd/logstash
    imageTag: "latest"
    extraEnvs:
      - name: DATA_STORE_URL
        value: jdbc:postgresql://${SERVICE_NAME}-postgresql:5432/data-store?ssl=disable&stringtype=unspecified
      - name: DATA_STORE_USER
        value: ${POSTGRES_USER}
      - name: DATA_STORE_PASS
        value: ${POSTGRES_PASSWORD}
      - name: DB_URL
        value: jdbc:postgresql://${SERVICE_NAME}-postgresql:5432/data-store?ssl=disable&stringtype=unspecified
      - name: DB_USER
        value: ${POSTGRES_USER}
      - name: DB_PWD
        value: ${POSTGRES_PASSWORD}
      - name: ES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_DATA_NODES_URL
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ELASTIC_SEARCH_DATA_NODES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_URL
        value: http://${SERVICE_NAME}-es-master:9200
    resources:
      requests:
        cpu: "500m"
        memory: "1024Mi"
      limits:
        cpu: "2500m"
        memory: "1024Mi"
    configTpl:
      db.url: jdbc:postgresql://${SERVICE_NAME}-postgresql:5432/data-store?ssl=disable&stringtype=unspecified
      db.user: ${POSTGRES_USER}
      db.pwd: ${POSTGRES_PASSWORD}
      es.data.nodes.url: http://${SERVICE_NAME}-es-master:9200
    livenessProbe:
      initialDelaySeconds: 90
