nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    civil-shared-aat:
      resourceGroup: civil-shared-aat
      secrets:
        - AppInsightsInstrumentationKey
        - redis-access-key
  environment:
    OAUTH_CLIENT_REDIRECT: https://${SERVICE_FQDN}/oauth2/callback

idam-pr:
  enabled: true
  redirect_uris:
    civil-citizen-ui:
      - https://${SERVICE_FQDN}/oauth2/callback
