civil-service:
  enabled: true
  java:
    applicationPort: 4000
    releaseNameOverride: ${SERVICE_NAME}-civil-service
    image: 'hmctspublic.azurecr.io/civil/service:latest'
    imagePullPolicy: Always
    ingressHost: ${SERVICE_NAME}-civil-service.preview.platform.hmcts.net
    devcpuRequests: 500m
    devmemoryRequests: 2048Mi
    devmemoryLimits: 4096Mi
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: cmc-db-password-v15
            alias: CMC_DB_PASSWORD
          - name: cmc-db-username-v15
            alias: CMC_DB_USERNAME
          - name: cmc-db-host-v15
            alias: CMC_DB_HOST
          - name: gov-notify-guest-list-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key-non-prod
            alias: LAUNCH_DARKLY_SDK_KEY
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
          - name: robotics-notification-recipient-spec
            alias: robotics.notification.specRecipient
          - name: robotics-notification-recipient-lipj
            alias: robotics.notification.lipJRecipient
          - name: ordnance-survey-api-key
            alias: OS_POSTCODE_LOOKUP_API_KEY
          - name: notification-caseworker-spec-receiver
            alias: notification.caseworker.spec.receiver
          - name: mediation-notification-sender
            alias: mediation.emails.sender
          - name: mediation-notification-recipient
            alias: mediation.emails.recipient
          - name: hmc-servicebus-shared-access-key-tf
            alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
    environment:
      IDAM_CLIENT_ID: civil-service
      IDAM_CLIENT_REDIRECT_URI: https://civil-ccd-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback
      IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
      IDAM_WEB_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net
      IDAM_END_SESSION_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/o/endSession
      IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      MANAGE_CASE_UI_BASE_URL: https://manage-case.{{ .Values.global.environment }}.platform.hmcts.net
      SPRING_SECURITY_ENABLED: true
      CMC_DB_PORT: 5432
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/jwks
      AUTH_IDAM_CLIENT_BASEURL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
      AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      TESTING_SUPPORT_ENABLED: true
      FEES_API_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      PAYMENTS_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      SEND_LETTER_URL: http://rpe-send-letter-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      CUI_URL: https://${SERVICE_FQDN}
      CUI_URL_RESPOND_TO_CLAIM: https://${SERVICE_FQDN}/first-contact/start
      CLAIM_STORE_URL: http://cmc-claim-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      GENAPP_LRD_URL: http://rd-location-ref-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      GENAPP_JRD_URL: http://rd-judicial-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      DOCMOSIS_TORNADO_URL: https://docmosis.aat.platform.hmcts.net
      DOCUMENT_MANAGEMENT_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      SPRING_CLOUD_BOOTSTRAP_ENABLED: true
      RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      RD_COMMONDATA_API_URL: http://rd-commondata-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
      CMC_DB_HOST: "{{ .Values.postgresql.releaseNameOverride}}"
      CMC_DB_CONNECTION_OPTIONS: '?sslmode=allow'
      CMC_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
      CMC_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
      REFERENCE_DATABASE_MIGRATION: true
      CAMUNDA_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      POLLING_EVENT_EMITTER_ENABLED: false
      DOCUMENT_MANAGEMENT_SECURED: true
      STITCHING_API_ENABLED: false
      SERVICE_REQUEST_UPDATE: https://${SERVICE_NAME}-civil-service.preview.platform.hmcts.net/service-request-update
      SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://${SERVICE_NAME}-civil-service.preview.platform.hmcts.net/service-request-update-claim-issued
      CIVIL_S2S_AUTHORISED_SERVICES: payment_app,ccd_data,civil_service,civil-citizen-ui
      ACA_SERVICE_API_BASEURL: http://${SERVICE_NAME}-aac-manage-case-assignment
    postgresql:
      enabled: true
      releaseNameOverride: ${SERVICE_NAME}-postgresql
      image:
        registry: hmctspublic.azurecr.io
        repository: imported/bitnami/postgresql
        tag: '11.6.0'
      primary:
        persistence:
          enabled: false
        resources:
          requests:
            cpu: 25m
        initdb:
          scripts:
            init.sql: |
              CREATE DATABASE cmc WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "camunda" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "role_assignment" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa-task-management-api" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa-case-event-handler" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "wa_workflow_api" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
              CREATE DATABASE "cft_task_db" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
      auth:
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        postgresPassword: ${POSTGRES_PASSWORD}

civil-general-applications:
  enabled: true
  java:
    image: 'hmctspublic.azurecr.io/civil/general-applications:latest'
    releaseNameOverride: ${SERVICE_NAME}-general-applications
    ingressHost: ${SERVICE_NAME}-general-applications.preview.platform.hmcts.net
    imagePullPolicy: Always
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - civil-idam-client-secret
          - system-update-user-username
          - system-update-user-password
          - cross-access-user-username
          - cross-access-user-password
          - prd-admin-user-username
          - prd-admin-user-password
          - name: AppInsightsInstrumentationKeyGeneralApplications
            alias: azure.application-insights.instrumentation-key
          - docmosis-api-key
          - name: gov-notify-guest-list-api-key
            alias: GOV_NOTIFY_API_KEY
          - sendgrid-api-key
          - robotics-notification-sender
          - robotics-notification-recipient
          - name: launch-darkly-sdk-key-non-prod
            alias: launch-darkly-sdk-key
          - robotics-notification-multipartyrecipient
      civil-gen-apps:
        resourceGroup: civil
        secrets:
          - microservicekey-civil-general-applications
    environment:
      CORE_CASE_DATA_API_URL: https://ccd-data-store-api-${SERVICE_NAME}.preview.platform.hmcts.net
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      CMC_DB_HOST: ${SERVICE_NAME}-postgresql
      CMC_DB_USERNAME: ${POSTGRES_USER}
      CMC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      CMC_DB_CONNECTION_OPTIONS: '?sslmode=allow'
      REFERENCE_DATABASE_MIGRATION: false
      FEIGN_CLIENT_CONFIG_REMOTERUNTIMESERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      FEIGN_CLIENT_CONFIG_REMOTEEXTERNALTASKSERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      FEIGN_CLIENT_CONFIG_REMOTEREPOSITORYSERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      GENAPP_LRD_URL: http://rd-location-ref-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      PAY_CALLBACK_URL: https://${SERVICE_NAME}-general-applications.preview.platform.hmcts.net/service-request-update
      TESTING_SUPPORT_ENABLED: true
      POLLING_EVENT_EMITTER_ENABLED: false
      CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
      DOCUMENT_MANAGEMENT_SECURED: true
      RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      RD_COMMONDATA_API_URL: http://rd-commondata-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      RELEASE_REVISION: "{{ .Release.Revision }}"
      GA_S2S_AUTHORISED_SERVICES: payment_app,ccd_data,civil_service
      CAMUNDA_URL: http://${SERVICE_NAME}-camunda/engine-rest/
