ccd:
  enabled: false

postgresql:
  enabled: false

idam-pr:
  enabled: false

xui-webapp:
  enabled: false

camunda-bpm:
  enabled: false

civil-service:
  enabled: false

nodejs:
  applicationPort: 3001
  ingressHost: civil-citizen-ui.{{ .Values.global.environment }}.platform.hmcts.net
  image: hmctspublic.azurecr.io/civil/citizen-ui:latest
  aadIdentityName: civil
  keyVaults:
    civil:
      resourceGroup: civil-service
      secrets:
        - AppInsightsInstrumentationKey
        - draft-store-access-key
        - ordnance-survey-api-key
        - citizen-ui-idam-secret
    cmc:
      resourceGroup: cmc
      secrets:
        - cmc-s2s-secret
        - citizen-draft-store-primary
        - citizen-draft-store-secondary

  environment:
    IDAM_WEB_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/login
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/token
    IDAM_CLIENT_ID: civil_citizen_ui
    OAUTH_CLIENT_REDIRECT: https://civil-citizen-ui.{{ .Values.global.environment }}.platform.hmcts.net/oauth2/callback
    SERVICE_AUTH_PROVIDER_API_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DRAFT_STORE_API_URL: http://draft-store-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    REDIS_HOST: 'civil-citizen-ui-draft-store-{{ .Values.global.environment }}.redis.cache.windows.net'
    REDIS_PORT: 6380
    REDIS_TLS: true
    CIVIL_SERVICE_URL: http://civil-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    ALLOW_CONFIG_MUTATIONS: true
    ORDNANCE_SURVEY_API_KEY: ${ORDNANCE_SURVEY_API_KEY}
  autoscaling:
    enabled: false
    maxReplicas: 16
    targetCPUUtilizationPercentage: 80

