{% extends "../../../claim-details-tpl-dashboard.njk" %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../dashboard/item-content.njk" import itemContent %}

{% set pageTitle = t('PAGES.FINALISE_TRIAL_ARRANGEMENTS.PAGE_TITLE') %}

{% block nestedContent %}
  {{ csrfProtection(csrf) }}
  {% for content in finaliseYourTrialContents %}
    {{ itemContent(content,t) }}
  {% endfor %}
{% endblock %}
