{% extends "claim-details-tpl.njk" %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/back.njk" import back %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set yesHtml %}
 {{ govukTextarea({
                name: "textArea",
                id: "textArea",
                label: {
                  classes: "govuk-label--l",
                  text: t('PAGES.HAS_ANYTHING_CHANGED.WHAT_SUPPORT')
                },
                hint: {
                  text: t('PAGES.HAS_ANYTHING_CHANGED.FOR_EXAMPLE')
                },
                value: form.model.textArea,
                rows:"5",
                errorMessage: {
                  html: t(form.errorFor("textArea"))
                } if form.hasFieldError("textArea")
              }) }}

{% endset -%}

{% block pageTitle %}
  {{ setPageTitle('PAGES.HAS_ANYTHING_CHANGED.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrappe govuk-!-padding-top-0" role="main">
      {% if form.hasErrors() %}
        {{ errorSummary(form.getAllErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
        {{ back(isCaseReadyUrl,t) }}

          {% for content in hasAnythingChangedContents %}
            {{ itemContent(content,t) }}
          {% endfor %}

          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}

            {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {yesHtml: yesHtml, yes: 'COMMON.VARIATION_3.YES', no: 'COMMON.VARIATION_3.NO'}) }}

            <div class="govuk-button-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.CONTINUE')
              }) }}
              <a href="{{ cancelUrl }}" class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
            </div>
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
