{% extends "../../../claim-details-tpl-dashboard.njk" %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/button.njk" import addButton %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.TRIAL_DURATION_TRIAL_ARRANGEMENTS.TITLE') }}
{% endblock %}

{% block nestedContent %}
    {% for content in hearingDurationContents %}
      {{ itemContent(content,t) }}
    {% endfor %}
  <div class="form-group">
    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}
      {{ govukTextarea({
        name: "otherInformation",
        id: "otherInformation",
        rows: "5",
        label: {
          html: t('PAGES.TRIAL_DURATION_TRIAL_ARRANGEMENTS.OTHER_INFORMATION_INPUT_LABEL')
        },
        hint: {
          text: t('PAGES.TRIAL_DURATION_TRIAL_ARRANGEMENTS.OTHER_INFORMATION_INPUT_HINT')
        },
        value: form.model.otherInformation
      }) }}
      {{ addButton(t, 'CONTINUE',cancelUrl) }}
    </form>
  </div>
{% endblock %}
