{% extends "../../../claim-details-tpl-dashboard.njk" %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../../macro/button.njk" import addButton %}

{% set noHtml %}
  <p class="govuk-body govuk-!-margin-bottom-1">{{ t('PAGES.IS_CASE_READY.YOU_WILL_STILL') }}</p>
  {{ govukWarningText({
    text: t('PAGES.IS_CASE_READY.YOU_WILL_NEED'),
    iconFallbackText: "Warning",
    classes: 'govuk-!-margin-bottom-1'
  }) }}
  <p class="govuk-body">{{ t('PAGES.IS_CASE_READY.THE_TRIAL_OR') }}</p>
{% endset -%}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.IS_CASE_READY.PAGE_TITLE') }}
{% endblock %}

{% block nestedContent %}
          {% for content in isCaseReadyContents %}
            {{ itemContent(content,t) }}
          {% endfor %}

      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">
            {{ t('PAGES.IS_CASE_READY.PAGE_TITLE') }}
          </legend>
          {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {yesHtml: yesHtml, yes: 'COMMON.VARIATION_4.YES', no: 'COMMON.VARIATION_4.NO', noHtml: noHtml}) }}
        </fieldset>

  {{ addButton(t, 'CONTINUE',cancelUrl) }}
{% endblock %}
