{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/back.njk" import back %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% set noHtml %}
  <p class="govuk-body govuk-!-margin-bottom-1">{{ t('PAGES.IS_CASE_READY.YOU_WILL_STILL') }}</p>
  {{ govukWarningText({
    text: t('PAGES.IS_CASE_READY.YOU_WILL_NEED'),
    iconFallbackText: "Warning",
    classes: 'govuk-!-margin-bottom-1'
  }) }}
  <p class="govuk-body">{{ t('PAGES.IS_CASE_READY.THE_TRIAL_OR') }}</p>
{% endset -%}

{% block pageTitle %}
  {{ setPageTitle('PAGES.IS_CASE_READY.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      {% if form.hasErrors() %}
        {{ errorSummary(form.getAllErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          {{ back(eventStartUrl,t) }}
          {% for content in isCaseReadyContents %}
            {{ itemContent(content,t) }}
          {% endfor %}

          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}

            {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {yesHtml: yesHtml, yes: 'COMMON.VARIATION_3.YES', no: 'COMMON.VARIATION_3.NO', noHtml: noHtml}) }}

            <div class="govuk-button-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.CONTINUE')
              }) }}
              <a href={{ latestUpdatesUrl }} class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
            </div>
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
