{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_FEE_SELECTION.TITLE') }}
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: t('COMMON.BUTTONS.BACK'),
    href: startApplyHelpFee,
    classes: 'govuk-!-margin-top-0'
  }) }}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      {% if form.hasErrors() %}
        {{ errorSummary(form.getAllErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          {{ csrfProtection(csrf) }}
          {% for content in applyHelpFeeReferenceContents %}
            {{ itemContent(content,t) }}
          {% endfor %}


          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {% set yesHtml %}
              {{ govukInput({
                id: "referenceNumber",
                name: "referenceNumber",
                value: form.model.referenceNumber,
                classes: "govuk-!-width-one-half",
                label: {
                  summaryText: t('COMMON.HELP_CALCULATING_INTEREST.TITLE'),
                  text: t('PAGES.HELP_WITH_FEES.ENTER_NUMBER'),
                  hint: t('COMMON.HELP_CALCULATING_INTEREST.TITLE')
                },
                errorMessage: {
                  html: t(form.errorFor('referenceNumber'))
                } if form.errorFor('referenceNumber')
              }) }}
            {% endset %}
            {% set noHtml %}
              {{ govukInput({
                id: "referenceNumber",
                name: "referenceNumber",
                value: form.model.referenceNumber,
                classes: "govuk-!-width-one-half",
                label: {
                  text: t('PAGES.HELP_WITH_FEES.ENTER_NUMBER')
                },
                errorMessage: {
                  html: t(form.errorFor('referenceNumber'))
                } if form.errorFor('referenceNumber')
              }) }}
            {% endset %}
            {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {yesHtml: yesHtml, noHtml: noHtml}) }}
            {% for content in applyHelpFeeReferenceButtonContents %}
              {{ itemContent(content,t) }}
            {% endfor %}
          </form>


        </div>
        <div class="govuk-grid-column-one-third">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
