{% extends "../../../claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../dashboard/item-content.njk" import itemContent %}

{% block nestedContent %}
      <form method="post" novalidate>
       {{ csrfProtection(csrf) }}
       {% for content in applyHelpFeeStartContents %}
          {{ itemContent(content,t) }}
       {% endfor %}
      </form>
{% endblock %}
