{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_WITH_FEES.PAGE_TITLE') }}
{% endblock %}

{% block content %}
    {{ govukBackLink({
        text: t('COMMON.BUTTONS.BACK'),
        href: backUrl,
        classes: 'govuk-!-margin-top-0'
      }) }}
      <div class="govuk-width-container govuk-!-padding-top-9">
        <main class="govuk-main-wrapper govuk-!-padding-left-3" role="main">
          <div class="govuk-grid-row govuk-!-margin-top-0">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">

              <div class="govuk-grid-row">
                 <span class="govuk-caption-l">{{ t('COMMON.MICRO_TEXT.HEARING_FEE') }}</span>
                 <h1 class="govuk-heading-l">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_WITH_FEES.TITLE') }}</h1>
                  <form method="post" novalidate>
                    {{ csrfProtection(csrf) }}
                        <p class="govuk-body-m govuk-!-padding-bottom-3">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_WITH_FEES.PARAGRAPH_IF')}}</p>

                        <p class="govuk-body-m govuk-!-padding-bottom-3">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_WITH_FEES.PARAGRAPH_INSTEAD')}}</p>

                        <p class="govuk-body-m govuk-!-padding-bottom-3">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_WITH_FEES.PARAGRAPH_DURING')}}</p>

                        <p class="govuk-body-m govuk-!-padding-bottom-3">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_WITH_FEES.PARAGRAPH_ONCE')}}</p>
                        <p class="govuk-body govuk-!-padding-bottom-6">
                            <a target="_blank" class="govuk-redirectUrl " rel="noopener noreferrer" href="https://www.gov.uk/get-help-with-court-fees">{{t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.APPLY_HELP_WITH_FEES.LINK')}}</a>
                        </p>


                    <div class="govuk-form-group">
                       {{ govukButton({
                          text: t('COMMON.BUTTONS.CONTINUE')
                       }) }}
                       <a href={{ redirectUrl }} class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
                    </div>
                  </form>
              </div>
            </div>
            <div class="govuk-grid-column-one-third">
              {{ contactUsForHelp(t) }}
            </div>
          </div>
        </main>
      </div>
{% endblock %}
