{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "external-urls.njk" as externalURLs %}
{% from "../../../macro/external-link.njk" import externalLink %}


{% block pageTitle %}
  {{ setPageTitle('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAGE_TITLE') }}
{% endblock %}

{% set panelContent %}
  {{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.NO_MONEY_TAKEN') }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAGE_TITLE'),
        html: panelContent,
        classes: 'panel-error'
      }) }}

      <div class="govuk-body">
        <h2
          class="govuk-heading-m">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.WHAT_HAPPENS_NEXT') }}</h2>
        <h3
          class="govuk-heading-s govuk-!-margin-bottom-0">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_CARD') }}</h3>
        <p
          class="govuk-body">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_CARD_PARAGRAPH_PART_1') }}
          {{ externalLink(t, 'PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_CARD_PARAGRAPH_CARD_PAYMENT_URL', externalURLs.callChargesUrl, false) }}
          {{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_CARD_PARAGRAPH_PART_2') }}</p>
        <h3
          class="govuk-heading-s govuk-!-margin-bottom-0">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_PHONE') }}</h3>
        <p
          class="govuk-body">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_PHONE_PARAGRAPH_1',{claimId : claimNumber}) }}</p>
        <p
          class="govuk-body">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_PHONE_PARAGRAPH_2') }}</p>
        <p
          class="govuk-body">{{ t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_PHONE_PARAGRAPH_3_PART_1') }}
          {{ externalLink(t, 'PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.PAYMENT_BY_PHONE_PARAGRAPH_3_PART_2', externalURLs.callChargesUrl, true) }}</p>
      </div>

      <hr class="govuk-section-break govuk-section-break--l">

      <div class="form-group">
        {{ govukButton({
          text: t('PAGES.LATEST_UPDATE_CONTENT.CASE_PROGRESSION.HEARING_FEE.PAYMENT.UNSUCCESSFUL.RETURN_TO_CASE_OVERVIEW'),
          href: claimDashboardUrl
        }) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ contactUsForHelp(t) }}
    </div>
  </div>
{% endblock %}
