{% extends "./default-template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "../../macro/divider.njk" import divider %}


{% block qmContent %}

{% for content in contents %}
  {{ itemContent(content,t) }}
{% endfor %}

{% if showAnythingElseSection %}

  {{ divider() }}
  <div class="govuk-form-group">
    <h2 class="govuk-heading-m">{{ t('Anything else') }}</h2>
    <p class="govuk-body">{{ t('If you still need help with your claim, you can send a message to the court.') }}</p>
    <p class="govuk-body">{{ t('We try to answer queries within 10 days, but it could take longer.') }}</p>
    <a href={{createQueryUrl}} class="govuk-link">Send a message</a>
  </div>
{% endif %}


{% endblock %}

{% block qmButton %}
  <div class="govuk-button-group">
    {{ govukButton({
      text: t('COMMON.BUTTONS.CLOSE_AND_RETURN_TO_CASE_OVERVIEW')
    }) }}
  </div>
{% endblock %}
