{% extends "./default-template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "../../macro/divider.njk" import divider %}


{% block qmContent %}

{% for content in contents %}
  {{ itemContent(content,t) }}
{% endfor %}

{% if showAnythingElseSection %}

  {{ divider() }}
  <div class="govuk-form-group">
    <h2 class="govuk-heading-m">{{ t('PAGES.QM.COMMON.ANYTHING_ELSE') }}</h2>
    <p class="govuk-body">{{ t('PAGES.QM.COMMON.MESSAGE_TO_THE_COURT')  }}</p>
    <p class="govuk-body">{{ t('PAGES.QM.COMMON.WE_TRY_TO_ANSWER')  }}</p>
    <p class="govuk-body">
      <a class="govuk-link" rel="noopener noreferrer" href={{createQueryUrl}} >{{ t('PAGES.QM.COMMON.SEND_A_MESSAGE')  }}</a>
    </p>
  </div>

{% endif %}


{% endblock %}

{% block qmButton %}
  <div class="govuk-button-group">
    {{ govukButton({
      text: t('COMMON.BUTTONS.CLOSE_AND_RETURN_TO_CASE_OVERVIEW')
    }) }}
  </div>
{% endblock %}
