{% extends "./default-template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "../../macro/divider.njk" import divider %}


{% block qmContent %}

{% for content in contents %}
  {{ itemContent(content,t) }}
{% endfor %}

{% if showAnythingElseSection %}
  {{ divider() }}
  <h2 class="govuk-heading-m">{{ t('anything else') }}</h2>
  <p class="govuk-body">{{ t('anything else description') }}</p>
  <p className="govuk-body">{{ t('anything else description') }}</p>


{% endif %}


{% endblock %}

{% block qmButton %}
  <div class="govuk-button-group">
    {{ govukButton({
      text: t('COMMON.BUTTONS.CLOSE_AND_RETURN_TO_CASE_OVERVIEW')
    }) }}
  </div>
{% endblock %}
