{% from "../../../../macro/external-link.njk" import externalLink %}
{% import "external-urls.njk" as externalURLs %}
<p class="govuk-body">{{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.YOU_NEED_TO_KNOW_AMOUNT') }}</p>
<p class="govuk-body">
  {{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.CANT_CALCULATE_THE_AMOUNT') }}
  {{ externalLink(t, 'PAGES.NOT_ELIGIBLE_FOR_SERVICE.N1_PAPER_FORM', externalURLs.n1FormUrl, true) }}.
</p>
{% include "macro/paper-form-address.njk"%}
