{% from "../../../../macro/external-link.njk" import externalLink %}
{% import "external-urls.njk" as externalURLs %}

<p class="govuk-body">
  {{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.CLAIM_AGAINST_GOVERNMENT.CANT_USE_SERVICE') }}
  {{ externalLink(t, 'PAGES.NOT_ELIGIBLE_FOR_SERVICE.CLAIM_AGAINST_GOVERNMENT.GOVERNMENT_DEPARTMENTS' governmentDepartmentsUrl, true) }}
</p>
<p class="govuk-body">
  {{ externalLink(t, 'PAGES.NOT_ELIGIBLE_FOR_SERVICE.DOWNLOAD_PAPER_FORM', externalURLs.n1FormUrl, true) }}
  {{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.COMPLETE_AND_RETURN_PAPER_FORM') }}
</p>

{% include "macro/paper-form-address.njk"%}
