{% from "../../../../macro/external-link.njk" import externalLink %}
{% import "external-urls.njk" as externalURLs %}
{% set hideLogout = true  %}
<p class="govuk-body">{{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.MULTIPLE_CLAIMANTS.CANT_USE_IF_MULTIPLE_CLAIMANTS') }}</p>
<p class="govuk-body">
  {{ externalLink(t, 'PAGES.NOT_ELIGIBLE_FOR_SERVICE.DOWNLOAD_PAPER_FORM', externalURLs.n1FormUrl, true) }},
  {{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.COMPLETE_AND_RETURN_PAPER_FORM') }}
</p>

{% include "macro/paper-form-address.njk"%}
