{% extends "claim-details-tpl.njk" %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.PAYMENT_CONFIRMATION.UNSUCCESSFUL.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-9">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          {{ csrfProtection(csrf) }}
          {% for content in paymentUnsuccessfulBody %}
            {{ itemContent(content,t) }}
          {% endfor %}
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
