{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/contact-us.njk" import contactUs %}
{% from "../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.PAGE_TITLE') }}
{% endblock %}

{% set feesTable %}
  {{ govukTable({
    caption: t('PAGES.REJECT_ALL.FEE_BASED'),
    captionClasses: "govuk-body govuk-!-font-weight-regular",
    head: [
      { text: t('COMMON.CLAIM_AMOUNT') },
      { text: t('PAGES.REJECT_ALL.FEE') }
    ],
    rows: fees
  }) }}
{% endset -%}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set header = t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.HEADER') %}
      {% set pdfDefenceAndClaim = t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.PDF_DEFENCE_AND_CLAIM') %}
      {% set pdfAdmission = t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.PDF_ADMISSION') %}
      {% set pdfDefence = t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.PDF_DEFENCE') %}
      {% set supportEmailAddress = t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.SUPPORT_EMAIL_ADDRESS') %}
      {% set pdfUrl = 'https://www.gov.uk/government/publications/form-n9b-defence-counterclaim-specified-amount'%}
      {% set signPosting = true %}
      {% set claimantName = form.getClaimantFullName() %}
      {% set defendantName = form.getDefendantFullName()%}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ csrfProtection(csrf) }}
          <h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{header}}</h1>
          <p class="govuk-body">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.COUNTER_CLAIM_CHOSEN') }}
            {{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.YOUR_DEFENCE_CANNOT_CONTINUE_ONLINE') }}
            {{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.FOLLOW_THESE_STEPS') }}
            {{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.YOU_MUST_PAY_FEE') }}
            {{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.DO_NOT_CREATE_NEW_CLAIM') }}
          </p>
          <div class="govuk-inset-text">
          <p class="govuk-body">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.WE_MUST_RECEIVE_COMPLETED_FORM',
              { deadline: responseDeadline }) | safe }}</p>
          </div>

          <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-font-weight-bold">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.HOW_TO_COUNTERCLAIM') }}</h2>
          <span class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.STEP_1') }}</span>

          <p><a target="_blank" rel="noreferrer noopener" class="govuk-link" href={{pdfUrl}}>{{pdfDefence}}<span>{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.OPEN_IN_NEW_WINDOW') }}</span></a></p>

          <p class="govuk-body govuk-!-margin-bottom-4">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.CLAIM_DETAILS.NEEDED_DETAILS')}}:</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.CLAIM_DETAILS.CLAIM_NUMBER')}}: {{form.legacyCaseReference}}</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.CLAIM_DETAILS.CLAIMANT')}}: {{claimantName}}</p>
          <p class="govuk-body">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.CLAIM_DETAILS.DEFENDANT')}}: {{defendantName}}</p>

          <span class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-weight-bold">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.STEP_2') }}</span>
          <p class="govuk-body govuk-!-margin-top-4">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.EMAIL_COMPLETED') }}:
            <a class="govuk-link govuk-!-margin-bottom-0" href='mailto:'{{supportEmailAddress}}>{{supportEmailAddress}}</a>
          </p>
          <p class="govuk-body govuk-!-margin-bottom-4">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.SEND_BY_POST') }}:</p>

          {% if signPosting %}
            <div class="govuk-inset-text govuk-grid-column-two-third">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.SIGN_POST_ADDRESS.NAME') }}
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.SIGN_POST_ADDRESS.PO_BOX')}}</p>
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.SIGN_POST_ADDRESS.CITY')}}</p>
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.SIGN_POST_ADDRESS.POST_CODE')}}</p>
            </div>
          {% else %}
            <div class="govuk-inset-text govuk-grid-column-two-third">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.NON_SIGN_POST_ADDRESS.TITLE') }}
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.NON_SIGN_POST_ADDRESS.NAME') }}</p>
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.NON_SIGN_POST_ADDRESS.STREET') }}</p>
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.NON_SIGN_POST_ADDRESS.CITY') }}</p>
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.NON_SIGN_POST_ADDRESS.POST_CODE') }}</p>
             </div>
          {% endif %}

          <div>
              <span class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.STEP_3') }}</span>
              <p class="govuk-body govuk-!-margin-top-4">
                {{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.PAY_COURT_FEE') }}
              </p>
              {{ govukDetails({
                summaryText: t('PAGES.REJECT_ALL.VIEW_CLAIM_FEES'),
                html: feesTable
              }) }}
            <div class="govuk-inset-text govuk-grid-column-two-third">
              <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.DO_NOT_CREATE_NEW_CLAIM_IF_WANT_COUNTERCLAIM') }}
                {{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.USE_FORM_N9B') }}</p>
            </div>
          </div>
          <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-weight-bold">{{ t('PAGES.SEND_YOUR_RESPONSE_BY_EMAIL.HELP_AND_SUPPORT') }}</h2>
          {{ contactUs(t) }}
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
{% block contactForHelp %}{% endblock %}
