{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.DEBT_RESPITE_REF_NUMBER.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        {% if form.hasErrors() %}
          {{ errorSummary(form.getErrors(), t) }}
        {% endif %}
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.DEBT_RESPITE_REF_NUMBER.TITLE') }}</h1>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukInput({
              id: "referenceNumber",
              name: "referenceNumber",
              value: form.model.referenceNumber,
              classes: "govuk-!-width-one-half",
              label: {
                text: t('PAGES.DEBT_RESPITE_REF_NUMBER.ENTER_REFERENCE')
              },
              errorMessage: {
                html: t(form.errorFor('referenceNumber'))
              } if form.errorFor('referenceNumber')
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
