{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.BREATHING_SPACE.LIFT.CONFIRMATION.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          {{ govukPanel({
            titleText: confirmationTitle,
            html: t('PAGES.BREATHING_SPACE.LIFT.CONFIRMATION.PANEL_TEXT')
          }) }}

          <h2 class="govuk-heading-m">{{ t('PAGES.BREATHING_SPACE.LIFT.CONFIRMATION.WHAT_HAPPENS_NEXT') }}</h2>
          <p class="govuk-body">{{ t('PAGES.BREATHING_SPACE.LIFT.CONFIRMATION.NEXT_PARA_1') }}</p>

          <div class="govuk-form-group">
            {{ govukButton({
              text: t('COMMON.BUTTONS.GO_TO_ACCOUNT'),
              href: dashboardUrl
            }) }}
          </div>
          {{ contactUsForHelp(t, lng) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
