{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.DEPENDANTS_BETWEEN_16_AND_19.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set errors = form.getErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(errors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.DEPENDANTS_BETWEEN_16_AND_19.TITLE') }}</h1>
          <p class="govuk-body">
            {{ t('PAGES.DEPENDANTS_BETWEEN_16_AND_19.HOW_MANY') }}:
          </p>
          <ul class="govuk-body govuk-list--bullet">
            <li>{{ t('PAGES.DEPENDANTS_BETWEEN_16_AND_19.FULL_TIME_EDUCATION') }}</li>
            <li>{{ t('PAGES.DEPENDANTS_BETWEEN_16_AND_19.SINGLE') }}</li>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <input type="hidden" name="maxValue" value="{{ form.model.maxValue | default(0) }}"/>
            {{ govukInput({
              label: {
                text: t('PAGES.DEPENDANTS_BETWEEN_16_AND_19.ENTER_NUMBER')
              },
              classes: "govuk-input--width-5",
              id: "value",
              name: "value",
              value: form.model.value,
              type: "number",
              inputmode: "numeric",
              spellcheck: false,
              errorMessage: {
                text: t(form.errorFor('value'))
              } if form.hasFieldError('value')
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
