{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/yesNoForm.njk" import yesNoRadioButton %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t("How much money do you admit you owe?") %}
      {% set description = "The total amount claimed is £"+form.totalAmount+". This includes the claim fee and any interest." %}
      {% set id = "option" %}
      {% set name = "option" %}
      {% set amountAsString = ''+form.amount %}
      {% set errors = form.getErrors() %}
      {% if errors %}
        {{ govukErrorSummary({
          "titleText": t("There was a problem"),
          "errorList": errors
        }) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form
            method="POST" novalidate>
            {{ csrfProtection(csrf) }}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">{{ title }}</h1>
            </legend>
            {{ govukInput({
              id: "amount",
              name: "amount",
              value: amountAsString,
              type: "number",
              autocomplete: "number",
              spellcheck: false,
              text: title,
              prefix: {
                text: "£",
                classes:""
              },
              classes: "govuk-!-width-two-thirds",
              hint : {
                text: t(description)
              },
              errorMessage: {
                text:t(form.errorFor('amount'))
              } if form.hasFieldError('amount')
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
