{% extends "../../../claim-details-tpl-dashboard.njk" %}
{% from "../../dashboard/item-content.njk" import itemContent %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.GENERAL_APPLICATION.APPLY_HELP_WITH_FEE.WANT_TO_APPLY_HWF_PAGE_TITLE') }}
{% endblock %}

{% block nestedContent %}
          {% for content in applyHelpWithFeeSelectionContents %}
            {{ itemContent(content,t) }}
          {% endfor %}
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">
                {{ t('PAGES.GENERAL_APPLICATION.APPLY_HELP_WITH_FEE.WANT_TO_APPLY_HWF_PAGE_TITLE') }}
              </legend>
            {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {yes:'COMMON.VARIATION_2.YES', no: 'COMMON.VARIATION_2.NO'}) }}
            </fieldset>
            {% for content in applyHelpWithFeeSelectionButtonContents %}
              {{ itemContent(content,t) }}
            {% endfor %}
          </form>
{% endblock %}
