{% from "./new-line.njk" import newLine %}

{% macro aboutClaimWidget(t, aboutClaimParams) %}
{% set containerStyle= "govuk-grid-column-one-third" %}
{% if aboutClaimParams.header %}
  {% set containerStyle= "govuk-grid-column-one-third govuk-!-padding-top-9" %}
{% endif %}

  <div class="{{containerStyle}}">
    {% if aboutClaimParams.header %}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ t(aboutClaimParams.header) }}</h3>
    {% endif %}
    {% for claimLine in aboutClaimParams.lines %}
      {% if claimLine.href !== undefined %}
        {{ newLine(t, claimLine.title, claimLine.content, claimLine.href, claimLine.hrefContact, claimLine.hint, claimLine.hintStyle ) }}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}
