{% from "./newLine.njk" import newLine %}

{% macro aboutClaimWidget(header,otherPartyLabel, otherPartyName, reponseLabel, totalClaimAmount) %}
  {% set hrefOtherPartyLabel = 'contact-them' %}
  <div class="govuk-grid-column-one-third  govuk-!-padding-top-9">
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{header}}</h3>
    {{ newLine('','',otherPartyLabel,otherPartyName)}}
    {{ newLine('Claim amount:',totalClaimAmount,'','')}}
    {{ newLine('Claim details:','','claim-details','View claim')}}
  </div>
{% endmacro %}
