{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro addressForm(t,citizenAddress, citizenCorrespondenceAddress, addressType, addressTitle) %}
  {% set fieldSetText = t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') + t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') %}
  {% set textInputLabel = t('COMMON.ADDRESS_FORM.BUILDING_AND_STREET') %}
  {% set govukFormGroupError = 'govuk-form-group govuk-form-group--error' if addressLine1Error else '' %}
  {% call govukFieldset({
  legend: {
    text: addressTitle,
    classes: "govuk-fieldset__legend--m" if addressType == 'primary' else "govuk-fieldset__legend--m govuk-visually-hidden" ,
    isPageHeading: true
  }
  }) %}
  {% if addressType == 'primary' %}
    <p class="govuk-body govuk-!-padding-top-4">{{ fieldSetText }}</p>
  {% endif %}
  <div class="{{ govukFormGroupError }}">
    {{ govukInput({
    label: {
      html: textInputLabel + ' <span class="govuk-visually-hidden">line 1 of 3</span>'
    },
    classes: "govuk-input--width-20",
    id: addressType + "AddressLine1",
    name: addressType + "AddressLine1",
    autocomplete: addressType + "AddressLine-1",
    value: citizenAddress.model.primaryAddressLine1 if addressType == 'primary' else citizenCorrespondenceAddress.model.correspondenceAddressLine1,
    errorMessage: { text: t(citizenAddress.errorFor('primaryAddressLine1')) } if (addressType == 'primary' and citizenAddress.errorFor('primaryAddressLine1'))
      else ({ text: t(citizenCorrespondenceAddress.errorFor('correspondenceAddressLine1')) } if (addressType == 'correspondence' and citizenCorrespondenceAddress.errorFor('correspondenceAddressLine1')))
  }) }}
    {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">' + textInputLabel + ' line 2 of 3</span>'
    },
    classes: "govuk-input--width-20",
    id: addressType + "AddressLine2",
    name: addressType + "AddressLine2",
    autocomplete: addressType + "AddressLine-2",
    value: citizenAddress.model.primaryAddressLine2 if addressType == 'primary' else citizenCorrespondenceAddress.model.correspondenceAddressLine2
  }) }}
    {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">' + textInputLabel + ' <span class="govuk-visually-hidden">line 3 of 3</span>'
    },
    classes: "govuk-input--width-20",
    id: addressType + "AddressLine3",
    name: addressType + "AddressLine3",
    autocomplete: addressType + "AddressLine-3",
    value: citizenAddress.model.primaryAddressLine3 if addressType == 'primary' else citizenCorrespondenceAddress.model.correspondenceAddressLine3
  }) }}
  </div>
  {{ govukInput({
    label: {
      text: t('COMMON.ADDRESS_FORM.TOWN_OR_CITY')
    },
    classes: "govuk-input--width-20",
    id: addressType + "City",
    name: addressType + "City",
    autocomplete: addressType + "address-level2",
    value: citizenAddress.model.primaryCity if addressType == 'primary' else citizenCorrespondenceAddress.model.correspondenceCity,
    errorMessage: { text: t(citizenAddress.errorFor('primaryCity')) } if (addressType == 'primary' and citizenAddress.errorFor('primaryCity'))
    else ({ text: t(citizenCorrespondenceAddress.errorFor('correspondenceCity')) } if (addressType == 'correspondence' and citizenCorrespondenceAddress.errorFor('correspondenceCity')))
  }) }}
  {{ govukInput({
    label: {
      text: t('COMMON.ADDRESS_FORM.POSTCODE')
    },
    classes: "govuk-input--width-10",
    id: addressType + "PostCode",
    name: addressType + "PostCode",
    autocomplete: addressType + "postal-code",
    value: citizenAddress.model.primaryPostCode if addressType == 'primary' else citizenCorrespondenceAddress.model.correspondencePostCode,
    errorMessage: { text: t(citizenAddress.errorFor('primaryPostCode')) } if (addressType == 'primary' and citizenAddress.errorFor('primaryPostCode'))
    else ({ text: t(citizenCorrespondenceAddress.errorFor('correspondencePostCode')) } if (addressType == 'correspondence' and citizenCorrespondenceAddress.errorFor('correspondencePostCode')))
  }) }}
  {% endcall %}
{% endmacro %}
