{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro addressForm(t,party, addressType, addressTitle) %}
  {% set fieldSetText = t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') + t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') %}
  {% set textInputLabel = t('COMMON.ADDRESS_FORM.BUILDING_AND_STREET') %}
  {% set citizenAddress = party.model.primaryAddress %}
  {% set citizenCorrespondenceAddress = party.model.correspondenceAddress %}
  {% if params.addressType === 'primaryAddress' %}
    {% set addresHasErrors = party.hasFieldError('primaryAddress') %}
  {% endif %}
  {% if params.addressType === 'correspondenceAddress' %}
    {% set addresHasErrors = party.hasFieldError('correspondenceAddress') %}
  {% endif %}
  {% set govukFormGroupError = 'govuk-form-group govuk-form-group--error' if addresHasErrors else '' %}
  <div class={{ "govuk-fieldset__legend--m" if addressType == 'primaryAddress' else "govuk-visually-hidden" }}>
    {% if addressTitle %}
    <h2 class="govuk-heading-m">{{ addressTitle }}</h2>
    {% endif %}
  </div>
  {% if addressType == 'primaryAddress' and addressTitle.length %}
    <p class="govuk-body govuk-!-padding-top-4">{{ fieldSetText }}</p>
  {% endif %}
  <div class="{{ govukFormGroupError }}">
    {{ govukInput({
    label: {
      html: textInputLabel + ' <span class="govuk-visually-hidden">line 1 of 3</span>'
    },
    classes: "govuk-input--width-20",
    id: addressType + "[addressLine1]",
    name: "addressLine1",
    autocomplete: addressType + "AddressLine-1",
    value: citizenAddress.addressLine1 if addressType == 'primaryAddress' else citizenCorrespondenceAddress.addressLine1,
    errorMessage: { text: t(party.errorFor('primaryAddress[addressLine1]')) } if (addressType == 'primaryAddress' and party.errorFor('primaryAddress[addressLine1]'))
      else ({ text: t(party.errorFor('correspondenceAddress[addressLine1]')) } if (addressType == 'correspondenceAddress' and party.errorFor('correspondenceAddress[addressLine1]')))
  }) }}
    {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">' + textInputLabel + ' line 2 of 3</span>'
    },
    classes: "govuk-input--width-20",
    id: addressType + "[addressLine2]",
    name: "addressLine2",
    autocomplete: addressType + "AddressLine-2",
    value: citizenAddress.addressLine2 if addressType == 'primaryAddress' else citizenCorrespondenceAddress.addressLine2,
    errorMessage: { text: t(party.errorFor('primaryAddress[addressLine2]')) } if (addressType == 'primaryAddress' and party.errorFor('primaryAddress[addressLine2]'))
      else ({ text: t(party.errorFor('correspondenceAddress[addressLine2]')) } if (addressType == 'correspondenceAddress' and party.errorFor('correspondenceAddress[addressLine2]')))
  }) }}
    {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">' + textInputLabel + ' <span class="govuk-visually-hidden">line 3 of 3</span>'
    },
    classes: "govuk-input--width-20",
    id: addressType + "[addressLine3]",
    name: "addressLine3",
    autocomplete: addressType + "AddressLine-3",
    value: citizenAddress.addressLine3 if addressType == 'primaryAddress' else citizenCorrespondenceAddress.addressLine3,
    errorMessage: { text: t(party.errorFor('primaryAddress[addressLine3]')) } if (addressType == 'primaryAddress' and party.errorFor('primaryAddress[addressLine3]'))
      else ({ text: t(party.errorFor('correspondenceAddress[addressLine3]')) } if (addressType == 'correspondenceAddress' and party.errorFor('correspondenceAddress[addressLine3]')))
  }) }}
  </div>
  {{ govukInput({
    label: {
      text: t('COMMON.ADDRESS_FORM.TOWN_OR_CITY')
    },
    classes: "govuk-input--width-20",
    id: addressType + "[city]",
    name: "city",
    autocomplete: addressType + "address-level2",
     value: citizenAddress.city if addressType == 'primaryAddress' else citizenCorrespondenceAddress.city,
    errorMessage: { text: t(party.errorFor('primaryAddress[city]')) } if (addressType == 'primaryAddress' and party.errorFor('primaryAddress[city]'))
    else ({ text: t(party.errorFor('correspondenceAddress[city]')) } if (addressType == 'correspondenceAddress' and party.errorFor('correspondenceAddress[city]')))
  }) }}
  {{ govukInput({
    label: {
      text: t('COMMON.ADDRESS_FORM.POSTCODE')
    },
    classes: "govuk-input--width-10",
    id: addressType + "[postCode]",
    name: "postCode",
    autocomplete: addressType + "postal-code",
    value: citizenAddress.postCode if addressType == 'primaryAddress' else citizenCorrespondenceAddress.postCode,
    errorMessage: { text: t(party.errorFor('primaryAddress[postCode]')) } if (addressType == 'primaryAddress' and party.errorFor('primaryAddress[postCode]'))
    else ({ text: t(party.errorFor('correspondenceAddress[postCode]')) } if (addressType == 'correspondenceAddress' and party.errorFor('correspondenceAddress[postCode]')))
  }) }}
{% endmacro %}
