{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% macro back(backUrl,t) %}
<div class="govuk-!-margin-bottom-9">
    {{ govukBackLink({
        text: t('COMMON.BUTTONS.BACK'),
        href: backUrl,
        classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-9'
    }) }}
</div>
{% endmacro %}
