{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% macro bankAccountRow(bankAccount, bankAccountDropDownItems, index, t, errorFor, formErrors) %}
  {% set dropdownList = bankAccountDropDownItems.all(bankAccount.typeOfAccount) %}
  {% set translatedDropdownList = [] %}
  {% for item in dropdownList %}
    {% set translatedDropdownList = (translatedDropdownList.push(
      {
        text: t(item.text),
        value: item.value,
        selected: item.selected
      }), translatedDropdownList) %}
  {% endfor %}
  <div id="row-container govuk-grid-column-two-thirds">
    <div class="multiple-row">
      {% set errors = formErrors %}
      <div class="govuk-form-group {%- if errors.length>0 %} govuk-form-group--error{% endif %}">
        {% if errors %}
          {% for error in errors %}
            {% if index in error.fieldName %}
              {{ govukErrorMessage({
                text: t(error.text)
              })| indent(2) | trim }}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% set typeOfAccount = 'accounts[' + index + '][typeOfAccount]' %}
        {% set joint = 'accounts[' + index + '][joint]' %}
        {% set balance = 'accounts[' + index + '][balance]' %}
        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukSelect({
            id: typeOfAccount,
            name: typeOfAccount,
            items: translatedDropdownList,
            classes: "govuk-grid-column-full govuk-select--error" if errorFor(typeOfAccount) else "govuk-grid-column-full"
          }) }}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukSelect({
            id: joint,
            name: joint,
            classes: "govuk-grid-column-full govuk-select--error" if errorFor(joint) else "govuk-grid-column-full",
            items: [
              {
                value: "",
                text: t('COMMON.CHOOSE')
              },
              {
                value: 'true',
                text: t('COMMON.VARIATION.YES'),
                selected: true if bankAccount.joint == 'true'
              },
              {
                value: 'false',
                text: t('COMMON.VARIATION.NO'),
                selected: true if bankAccount.joint == 'false'
              }
            ]
          }) }}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukInput({
            id: balance,
            name: balance,
            value: bankAccount.balance,
            prefix: {
              text: "£"
            },
            classes: "govuk-grid-column-full govuk-input--error" if errorFor(balance) else "govuk-grid-column-full",
            spellcheck: false
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
