{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% macro bankAccountRow(bankAccount, bankAccountDropDownItems, index, t) %}
  {% set dropdownList = bankAccountDropDownItems.all(bankAccount.typeOfAccount) %}
  {% set translatedDropdownList = [] %}
  {% for item in dropdownList %}
    {% set translatedDropdownList = (translatedDropdownList.push(
      {
        text: t(item.text),
        value: item.value,
        selected: item.selected
      }), translatedDropdownList) %}
  {% endfor %}
  <div id="row-container govuk-grid-column-two-thirds">
    <div class="multiple-row">
      {% set errors = bankAccount.getErrors() %}
      <div class="govuk-form-group {%- if errors.length>0 %} govuk-form-group--error{% endif %}">
        {% if errors %}
          {% for error in errors %}
            {{ govukErrorMessage({
              text:t(error.text)
            })| indent(2) | trim }}
          {% endfor %}
        {% endif %}
        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukSelect({
            id:"accounts["+index+"][typeOfAccount]",
            name: "accounts["+index+"][typeOfAccount]",
            items: translatedDropdownList,
            classes: "govuk-grid-column-full govuk-select--error" if bankAccount.hasFieldError('typeOfAccount') else "govuk-grid-column-full"
          }) }}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukSelect({
            id: "accounts["+index+"][joint]",
            name: "accounts["+index+"][joint]",
            classes: "govuk-grid-column-full govuk-select--error" if bankAccount.hasFieldError('joint') else "govuk-grid-column-full",
            items: [
              {
                value: "",
                text: t('COMMON.CHOOSE')
              },
              {
                value: 'true',
                text: t('COMMON.YES'),
                selected: true if bankAccount.joint == 'true'
              },
              {
                value: 'false',
                text: t('COMMON.NO'),
                selected: true if bankAccount.joint == 'false'
              }
            ]
          }) }}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukInput({
            id: "accounts["+index+"][balance]",
            name: "accounts["+index+"][balance]",
            value: bankAccount.balance,
            prefix: {
              text: "£"
            },
            classes: "govuk-grid-column-full govuk-input--error" if bankAccount.hasFieldError('balance') else "govuk-grid-column-full",
            spellcheck: false
          }) }}
        </div>
      </div>
    </div>
  </div>

{% endmacro %}
