{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro bankAccountRow(bankAccount, bankAccountDropDownItems, index) %}
  <div id="row-container">
    <div class="multiple-row">
      <div class="govuk-grid-column-one-third govuk-!-display-inline">
        {{ govukSelect({
          name: "accounts["+index+"][typeOfAccount]",
          items: bankAccountDropDownItems.all(bankAccount.typeOfAccount)
        }) }}
      </div>
      <div class="govuk-grid-column-one-third govuk-!-display-inline">
        {{ govukSelect({
          name: "accounts["+index+"][joint]",
          value: bankAccount.joint,
          items: [
            {
              value: "",
              text: "Choose"
            },
            {
              value: 'true',
              text: "Yes",
              selected: true if bankAccount.joint == 'true'

            },
            {
              value: 'false',
              text: "No",
              selected: true if bankAccount.joint == 'false'
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-third govuk-!-display-inline">
        {{ govukInput({
          name: "accounts["+index+"][balance]",
          value: bankAccount.balance,
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}
      </div>
    </div>
  </div>
{% endmacro %}
