{% macro submitButton(label = 'Continue', id = '', ariaLabel = '') %}
  <div class="form-group">
    <input type="submit" class="govuk-button" {% if ariaLabel %}aria-label="{{ t(ariaLabel) }}"{% endif %} value="{{ t(label) }}"{% if id %}name="{{ id }}"{% endif %} {% if id %}id="{{ id }}"{% endif %}>
  </div>
{% endmacro %}

{% macro saveAndContinueButton(text) %}
  {{ submitButton(text, id = 'saveAndContinue') }}
{% endmacro %}
