{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./cancelLink.njk" import cancelLink %}

{% macro addButton(t, type, cancelUrl = false) %}

<div class="govuk-button-group">
    {{ govukButton({
        text: t('COMMON.BUTTONS.' + type if type else 'COMMON.BUTTONS.SAVE_AND_CONTINUE')
    }) }}

    {% if cancelUrl %}
        {{ cancelLink(cancelUrl, t) }}
    {% endif %}

</div>

{% endmacro %}
