{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro citizenTelephone(form, t, param) %}
  {{ govukInput({
    id: param.id,
    name: param.name,
    value: form.model[param.name],
    classes: param.className,
    label: {
      text: t(param.label),
      classes: 'govuk-visually-hidden'
    },
    hint: {
      text: t(param.hint) if param.hint else ''
    },
    errorMessage: {
      html: t(form.errorFor(param.id))
    } if form.hasErrors()
  }) }}
{% endmacro %}
