{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro claimAmount(claimAmountModel, index, form, t) %}
  {% set amountValue =  '' + claimAmountModel.amount %}
  <div class="row-container govuk-form-group">
    <div class="multiple-row civil-amount-breakdown-row">

      {# Hidden span for accessibility, unique per row #}
      <span id="claim-row-label-{{ index }}" class="govuk-visually-hidden">
        {{ t('PAGES.CLAIM_AMOUNT_BREAKDOWN.REASON') }} and {{ t('PAGES.CLAIM_AMOUNT_BREAKDOWN.AMOUNT') }}
      </span>

      <div class="govuk-grid-column-one-half govuk-grid-column-two-thirds-from-desktop">
      {{ govukInput({
        id: "claimAmountRows["+index+"][reason]",
        name: "claimAmountRows["+index+"][reason]",
        value: claimAmountModel.reason,
        classes: "govuk-grid-column-full",
        spellcheck: false,
        label: {
          text: t('PAGES.CLAIM_AMOUNT_BREAKDOWN.REASON'),
          classes: 'govuk-visually-hidden'
        },
        attributes: {
          'aria-labelledby': 'claim-row-label-' ~ index
        },
        errorMessage: {
          text: t(form.errorFor("claimAmountRows["+index+"][reason]"))
        } if form.hasFieldError( "claimAmountRows["+index+"][reason]")
      }) }}
      </div>
      <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
      {{ govukInput({
        id: "claimAmountRows["+index+"][amount]",
        name: "claimAmountRows["+index+"][amount]",
        value: amountValue,
        prefix: {
          text: "£"
        },
        autocomplete: "number",
        type: "number",
        classes: "govuk-grid-column-full civil-claim-amount",
        spellcheck: false,
        label: {
          text: t('PAGES.CLAIM_AMOUNT_BREAKDOWN.AMOUNT'),
          classes: 'govuk-visually-hidden'
        },
        attributes: {
          'aria-labelledby': 'claim-row-label-' ~ index
        },
        errorMessage: {
          text: t(form.errorFor("claimAmountRows["+index+"][amount]"))
        } if form.hasFieldError( "claimAmountRows["+index+"][amount]")
      }) }}
      </div>
    </div>
  </div>
{% endmacro %}
