{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro claimAmount(claimAmountModel, index, form, t) %}
  {% set amountValue =  '' + claimAmountModel.amount %}
  <div class="row-container govuk-form-group">
    <div class="multiple-row civil-amount-breakdown-row">
      <div class="govuk-grid-column-one-half govuk-grid-column-two-thirds-from-desktop">
      {# ensure a programmatic label is present and associated (visually hidden so no UI change) #}
      <label class="govuk-visually-hidden" for="claimAmountRows[{{ index }}][reason]">{{ t('PAGES.CLAIM_AMOUNT_BREAKDOWN.REASON') }}</label>
      {{ govukInput({
        id: "claimAmountRows["+index+"][reason]",
        name: "claimAmountRows["+index+"][reason]",
        value: claimAmountModel.reason,
        classes: "govuk-grid-column-full",
        spellcheck: false,
        label: {
          text: t('PAGES.CLAIM_AMOUNT_BREAKDOWN.REASON'),
          classes: 'govuk-visually-hidden'
        },
        errorMessage: {
          text: t(form.errorFor("claimAmountRows["+index+"][reason]"))
        } if form.hasFieldError( "claimAmountRows["+index+"][reason]")
      }) }}
      </div>
      <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
      {# ensure a programmatic label is present and associated (visually hidden so no UI change) #}
      <label class="govuk-visually-hidden" for="claimAmountRows[{{ index }}][amount]">{{ t('PAGES.CLAIM_AMOUNT_BREAKDOWN.AMOUNT') }}</label>
      {{ govukInput({
        id: "claimAmountRows["+index+"][amount]",
        name: "claimAmountRows["+index+"][amount]",
        value: amountValue,
        prefix: {
          html: '<span aria-hidden="true">£</span>'
        },
        autocomplete: "number",
        type: "number",
        classes: "govuk-grid-column-full civil-claim-amount",
        spellcheck: false,
        label: {
          text: t('PAGES.CLAIM_AMOUNT_BREAKDOWN.AMOUNT'),
          classes: 'govuk-visually-hidden'
        },
        errorMessage: {
          text: t(form.errorFor("claimAmountRows["+index+"][amount]"))
        } if form.hasFieldError( "claimAmountRows["+index+"][amount]")
      }) }}
      </div>
    </div>
  </div>
{% endmacro %}
