{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro conditionalCheckBoxHTML(debtType, debtDetails, debtErrors, t) %}
  <div class="civil-amountRow">
    {{ govukInput({
      id: debtType+"-payment-amount",
      name: debtType+"-payment-amount",
      value: debtDetails.amount,
      type: "number",
      autocomplete: "number",
      spellcheck: false,
      prefix: {
        text: "£"
      },
      classes: "govuk-!-width-one-third civil-amount",
      label: {
        text: t('COMMON.CONDITIONAL_CHECKBOX.REPAYMENT_AMOUNT')
      },
      hint: {
        text: t('COMMON.CONDITIONAL_CHECKBOX.REPAYMENT_AMOUNT_HINT')
      },
      errorMessage: {
        text: t(debtErrors.amount.text)
      } if debtErrors.amount
    }) }}
    {{ govukRadios({
      idPrefix: debtType+"-payment-schedule",
      name: debtType+"-payment-schedule",
      classes: 'civil-schedule',
      fieldset: {
        legend: {
          text: t('COMMON.CONDITIONAL_CHECKBOX.PRIORITY_DEBTS'),
          isPageHeading: false,
          classes: "govuk-!-width-one-third"
        }
      },
      items: [
        {
          value: "WEEK",
          text: t('COMMON.SCHEDULE.WEEK'),
          checked:debtDetails.schedule === "WEEK"
        },
        {
          value: "TWO_WEEKS",
          text: t('COMMON.SCHEDULE.TWO_WEEKS'),
          checked:debtDetails.schedule === "TWO_WEEKS"
        },
        {
          value: "FOUR_WEEKS",
          text: t('COMMON.SCHEDULE.FOUR_WEEKS'),
          checked:debtDetails.schedule === "FOUR_WEEKS"
        },
        {
          value: "MONTH",
          text: t('COMMON.SCHEDULE.MONTH'),
          checked:debtDetails.schedule === "MONTH"
        }
      ],
      errorMessage: {
        text: t(debtErrors.schedule.text)
      } if debtErrors.schedule
    }) }}
  </div>
{% endmacro %}
