{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set some default values #}



{% macro _widget(spanContent, name, href, hrefContact, hrefContent, phoneNumber, linkTarget) %}
  {% if linkTarget %}
    {% set hrefTarget= linkTarget %}
  {% else %}
    {# setting default behaviour to open the link in the same frame if not provided as parameter #}
    {% set hrefTarget= "_self" %}
  {% endif %}

  <h3 class="govuk-heading-m">{{ name }}</h3>
  {% if phoneNumber %}
    {{ phoneNumber }}
  {% endif %}
  {% if spanContent %}
    <p><span class="block">{{ spanContent }}</span></p>
  {% endif %}
  {% if href %}
    <a target={{ hrefTarget }} href={{ href }} rel="noopener noreferrer">{% if hrefContact!=='' %}{{ hrefContact }}</a>
    {% endif %}{{ hrefContent }}</a></p>
  {% endif %}
{% endmacro %}

{% macro contactUsForHelp(t,widget) %}
  {% set ContactUs = t('COMMON.CONTACT_US_FOR_HELP.TITLE') %}
  {% set Email = t('COMMON.CONTACT_US_FOR_HELP.EMAIL') %}
  {% set Telephone = t('COMMON.CONTACT_US_FOR_HELP.TELEPHONE') %}
  {% set contactocmc = 'contactocmc@justice.gov.uk' %}
  {% set responseDelay = t('COMMON.CONTACT_US_FOR_HELP.RESPONSE_DELAY') %}
  {% set webChat = t('COMMON.CONTACT_US_FOR_HELP.WEB_CHAT') %}
  {% set webChatClosed = t('COMMON.CONTACT_US_FOR_HELP.WEB_CHAT_CLOSED') %}
  {% set webChatUnavailable = t('COMMON.CONTACT_US_FOR_HELP.WEB_CHAT_UNAVAILABLE') %}
  {% set callCharges = t('COMMON.CONTACT_US_FOR_HELP.CALL_CHARGES') %}
  {% set openingHours = t('COMMON.CONTACT_US_FOR_HELP.OPENING_HOURS') %}

  {% set content = '' %}
  {% if widget ==='Web_chat' %}
    {% set content = _widget(webChatUnavailable,webChat,'','','','')
      + _widget(webChatClosed,webChat,'','','','') %}
  {% endif %}
  {% set content = content + _widget('',Email,'mailto:contactocmc@justice.gov.uk','contactocmc@justice.gov.uk','','')
    + _widget(openingHours,Telephone,'https://www.gov.uk/call-charges','',callCharges,'0300 123 7050', '_blank') %}

  {{ govukDetails({
    summaryText: ContactUs,
    html: content
  }) }}
{% endmacro %}

