{% from "govuk/components/details/macro.njk" import govukDetails %}

{# Set some default values #}



{% macro _widget(spanContent, name, href, hrefContact, hrefContent, phoneNumber1, phoneNumber2,linkTarget) %}
  {% if linkTarget %}
    {% set hrefTarget= linkTarget %}
  {% else %}
    {# setting default behaviour to open the link in the same frame if not provided as parameter #}
    {% set hrefTarget= "_self" %}
  {% endif %}

  <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-3">{{ name }}</p>
  {% if phoneNumber1 %}
    {{ phoneNumber1 }}
  {% endif %}
  <br/>
  {% if phoneNumber2 %}
    {{ phoneNumber2 }}
  {% endif %}
  <p class="govuk-!-margin-bottom-4"></p>
  {% if spanContent %}
    <span>{{ spanContent }}</span>
  {% endif %}
  {% if href %}
    <p><a target={{ hrefTarget }} href={{ href }} rel="noopener noreferrer">{% if hrefContact!=='' %}{{ hrefContact }}</a>
    {% endif %}{{ hrefContent }}</a></p>
  {% endif %}
{% endmacro %}

{% macro contactUsForHelp(t,widget, open) %}
  {% set ContactUs = t('COMMON.CONTACT_US_FOR_HELP.TITLE') %}
  {% set Telephone = t('COMMON.CONTACT_US_FOR_HELP.TELEPHONE') %}
  {% set callCharges = t('COMMON.CONTACT_US_FOR_HELP.CALL_CHARGES') %}
  {% set openingHours = t('COMMON.CONTACT_US_FOR_HELP.OPENING_HOURS_TRIAL') %}

  {% set content = t('COMMON.CONTACT_US_FOR_HELP.ASK_A_QUESTION') %}
  {% set callChargesWidget = _widget(openingHours,Telephone,'https://www.gov.uk/call-charges','',callCharges,'0300 123 1024'+t('COMMON.CONTACT_US_FOR_HELP.ENGLAND_AND_WALES'),'0300 790 6234'+t('COMMON.CONTACT_US_FOR_HELP.SCOTLAND'), '_blank') %}

  {% set content = content + callChargesWidget %}
  {% if open %}
    <div class="govuk-details">
      {{ callChargesWidget }}
    </div>
  {% else %}
    {{ govukDetails({
      summaryText: ContactUs,
      html: content
    }) }}
  {% endif %}
{% endmacro %}
