{% from "govuk/components/hint/macro.njk" import govukHint %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro addFileLink(url, text, filename = '') %}
    <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="{{ url }}" {% if filename %} aria-label="{{ filename }}" {% endif %} >{{ text }}</a>
{% endmacro %}

{% macro addFileInformation(t,fileName, uploadDate) %}
    <p class="govuk-body govuk-!-margin-bottom-0">{{ fileName }}</p>
    {{
        govukHint({
            text: t('COMMON.UPLOAD_DATE', {uploadDate: uploadDate})
        })
    }}
{% endmacro %}

{% macro addCreateFileInformation(t, fileName, createdDate) %}
    <p class="govuk-body govuk-!-margin-bottom-0">{{ fileName }}</p>
    {{
        govukHint({
            text: t('COMMON.CREATED_DATE', {createdDate: createdDate})
        })
    }}
{% endmacro %}

{% macro addDateUploadedFileInformation(t, fileName, uploadedDate) %}
    <p class="govuk-body govuk-!-margin-bottom-0">{{ fileName }}</p>
    {{
        govukHint({
            text: t('COMMON.DATE_UPLOADED', {uploadedDate: uploadedDate})
        })
    }}
{% endmacro %}

{% macro createDocumentsTable(title, rows) %}
{{ govukTable({
    caption: title,
    captionClasses: "govuk-table__caption--m",
    classes: 'tableWrap',
    head: [
        { text: "Column 1", classes: "govuk-visually-hidden", attributes: { scope: "col" } },
        { text: "Column 2", classes: "govuk-visually-hidden", attributes: { scope: "col" } }
    ],
    rows: rows
}) }}
{% endmacro %}

{% macro createDocumentsTableWithoutTableCaption(rows) %}
{{ govukTable({
    classes: 'tableWrap',
    head: [
        { text: "Column 1", classes: "govuk-visually-hidden", attributes: { scope: "col" } },
        { text: "Column 2", classes: "govuk-visually-hidden", attributes: { scope: "col" } }
    ],
    rows: rows
}) }}
{% endmacro %}
