{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro employerRow(employer, index, errorFor) %}
  <div id="row-container govuk-grid-column-two-thirds">
    <div class="multiple-row">
      <div class="govuk-form-group {%- if errors.length>0 %} govuk-form-group--error{% endif %}">
        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukInput({
              id: 'rows[' + index + '][employerName]',
              name: 'rows[' + index + '][employerName]',
              value: employer.employerName,
              hint: { text: t('Employer name') },
              errorMessage: { text: errorFor('rows[' + index + '][employerName]') } if errorFor('rows[' + index + '][employerName]') else ''
            }) }}
          {{ govukInput({
              id: 'rows[' + index + '][jobTitle]',
              name: 'rows[' + index + '][jobTitle]',
              value: employer.jobTitle,
              hint: { text: t('Job title') },
              errorMessage: { text: errorFor('rows[' + index + '][jobTitle]') } if errorFor('rows[' + index + '][jobTitle]') else ''
            }) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
