{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% macro employerRow(employer, index) %}
  <div id="row-container govuk-grid-column-two-thirds">
    <div class="multiple-row">
      {% set errors = employer.getErrors() %}
      <div class="govuk-form-group {%- if errors.length>0 %} govuk-form-group--error{% endif %}">
        {% if errors %}
          {% for error in errors %}
            {{ govukErrorMessage({
              text:t(error.text)
            })| indent(2) | trim  }}
          {% endfor %}
        {% endif %}

        <div class="govuk-grid-column-one-third govuk-!-display-inline">
          {{ govukInput({
              id: "employers["+index+"][employerName]",
              name: "employers["+index+"][employerName]",
              value: employer.employerName,
              hint: {
                text: "Employer name"
              },
              errorMessage: {
                html: t(errors[0].text)
              } if errors
            }) }}
          {{ govukInput({
              id: "employers["+index+"][jobTitle]",
              name: "employers["+index+"][jobTitle]",
              value: employer.jobTitle,
              hint: {
                text: "Job title"
              },
              errorMessage: {
                html: t(errors[0].text)
              } if errors
            }) }}
        </div>
      </div>
    </div>
  </div>

{% endmacro %}