{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro errorBlock(errors) %}
{% if errors %}
{{ govukErrorSummary({
    "titleText": t("There was a problem"),
    "errorList": errors
    }) }}
{% endif %}
{% endmacro %}
