{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro errorSummary(errors, t, formatValues, descriptionHtml, titleText) %}
{% set errorTitle = t(titleText) if titleText else t('ERRORS.THERE_WAS_A_PROBLEM')%}
{% if errors %}
{{ govukErrorSummary({
    titleText: errorTitle,
    errorList: translateErrors(errors, t, formatValues),
    descriptionHtml: descriptionHtml
    }) }}
{% endif %}
{% endmacro %}
