{% macro expandableSection(label, content, limit = 400, id) %}
  {% set longContent = content.length > limit %}

  <div class="show-more-block">
    <div class="govuk-!-font-weight-bold">{{ t(label) }}</div>
    {% if longContent %}
      <input id="{{ id }}" type="checkbox">
    {% endif %}
    <p class="content {% if longContent %}expandable{% endif %}">{{ content }}</p>
    {% if longContent %}
      <label class="link more govuk-link-button" for="{{ id }}">{{ t('Show more') }}</label>
      <label class="link less govuk-link-button" for="{{ id }}">{{ t('Show less') }}</label>
    {% endif %}
  </div>
{% endmacro %}
