{% macro expandableSection(label, content, limit = 400, id, headingLevel = 2, headingClass = 'govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-0') %}
  {% set longContent = content.length > limit %}
  {% set headingTag = 'h' ~ headingLevel %}

  <div class="show-more-block">
    <{{ headingTag }} class="{{ headingClass }}">{{ t(label) }}</{{ headingTag }}>
    {% if longContent %}
      <input id="{{ id }}" type="checkbox">
    {% endif %}
    <p class="content {% if longContent %}expandable{% endif %}">{{ content }}</p>
    {% if longContent %}
      <label class="link more govuk-link-button" for="{{ id }}">{{ t('Show more') }}</label>
      <label class="link less govuk-link-button" for="{{ id }}">{{ t('Show less') }}</label>
    {% endif %}
  </div>
{% endmacro %}
