{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% macro expenseDetails(hintAmount, property, expenseSource, form, other, removeButton) %}
<div class="govuk-form-group">
  {% if other %}
  <div class="civil-amountRow  multiple-row">
    {{ govukInput({
      id: property + "[name]",
      name: property + "[name]",
      label: {
        text: t("Source of expense")
      },
      value:expenseSource.name,
      errorMessage: {
        text: form.errorFor(property + "[name]", "model")
      } if(form.errorFor(property + "[name]", "model"))
    }) }}
    {% else %}
    <div class="civil-amountRow">
      <input type="hidden" name="{{ property }}[name]" value="{{ expenseSource.name }}"/>
      {% endif %}
      {{ govukInput({
        id: property + "[amount]",
        name: property + "[amount]",
        label: {
          text: t("Amount paid")
        },
        prefix: {
          text: "£"
        },
        type: "number",
        value: expenseSource.amount,
        classes: "govuk-input--width-5 civil-amount",
        hint: {
          text: t(hintAmount)
        },
        spellcheck: false,
        errorMessage: {
          text: form.errorFor(property + "[amount]", "model")
        } if(form.errorFor(property + "[amount]", "model"))
      }) }}
      {{ govukRadios({
        idPrefix: property + "[schedule]" ,
        name: property + "[schedule]",
        classes: "civil-schedule",
        fieldset: {
          legend: {
            text: t("Paid every")
          }
        },
        items: [
          {
            value: ScheduledExpenses.WEEK,
            text: t("Week"),
            checked: true if expenseSource.schedule == ScheduledExpenses.WEEK
          },
          {
            value: ScheduledExpenses.TWO_WEEKS,
            text: t("Two weeks"),
            checked: true if expenseSource.schedule == ScheduledExpenses.TWO_WEEKS
          },
          {
            value: ScheduledExpenses.FOUR_WEEKS,
            text: "Four weeks",
            checked: true if expenseSource.schedule == ScheduledExpenses.FOUR_WEEKS
          },
          {
            value: ScheduledExpenses.MONTH,
            text: t("Month"),
            checked: true if expenseSource.schedule == ScheduledExpenses.MONTH
          }
        ],
        errorMessage: {
          text: form.errorFor(property + "[schedule]", "model")
        } if(form.hasFieldError(property + "[schedule]", "model"))
      }) }}
      {% if removeButton %}
        {% if removeButton.hidden %}
          <button class="govuk-link-button remove-row govuk-visually-hidden">{{ t(removeButton.text) }}</button>
        {% else %}
          <button class="govuk-link-button remove-row">{{ t(removeButton.text) }}</button>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% endmacro %}
  {% macro otherExpenseDetails(property, index, expenseSource, form, removeButton) %}
    {{ expenseDetails('', property +'['+index +']', expenseSource, form, true, removeButton) }}
  {% endmacro %}
