{% macro externalLink(t, text, href, newWindow, translated, newWindowHidden, removeTargetBlank) %}
  {% if href %}
    {% if removeTargetBlank %}
      <a class="govuk-link" href={{ href }} rel="noreferrer noopener">
    {% else %}
        <a class="govuk-link" href={{ href }} target="_blank" rel="noreferrer noopener">
    {% endif %}
    {% if translated %}
      {{ text }}
    {% else %}
     {{ t(text) }}
    {% endif %}
    {% if newWindowHidden %}
      <span class="govuk-visually-hidden">{{ t('COMMON.OPENS_IN_NEW_TAB') }}</span>
    {% endif %}
      {{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.OPENS_IN_A_NEW_WINDOW_CARM') if newWindow }}
  </a>
  {% else %}
<p class="govuk-body">
    {% if translated %}
      {{ text }}
    {% else %}
      {{ t(text) }}
    {% endif %}
</p>
  {% endif %}
{% endmacro %}
