{% macro headingWithCaption(t,applicationType,headingTitle ) %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{t(applicationType)}}</span>
       {{ t(headingTitle) }}
    </h1>
{% endmacro %}
