{% from 'govuk/macros/logo.njk' import govukLogo %}

{% macro headerComponent(t, user) %}
  {% set serviceUrl = ocmcBaseUrl | default('/dashboard', true) %}
  {% set navigationList = [
    {
      href: '/dashboard',
      text: t('COMMON.HEADER.MY_ACCOUNT'),
      active: false
    },
    {
      href: '/logout',
      text: t('COMMON.HEADER.SIGN_OUT'),
      active: false
    }
  ] if user else [

  ] %}
  {% block header %}
    <header class="govuk-header" data-module="govuk-header" role="banner">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="https://www.gov.uk" class="govuk-header__homepage-link">
            {{ govukLogo({
              classes: "govuk-header__logotype",
              ariaLabelText: "GOV.UK"
            }) | trim | indent(12) }}
          </a>
        </div>
        <div class="govuk-header__content">
          <a href="{{ serviceUrl }}" class="govuk-header__link govuk-header__service-name">
            {{ t('COMMON.HEADER.MONEY_CLAIMS') }}
          </a>
          {% if navigationList.length %}
            <nav aria-label="Menu" class="govuk-header__navigation">
              <ul class="govuk-header__navigation-list">
                {% for item in navigationList %}
                  <li class="govuk-header__navigation-item">
                    <a class="govuk-header__link" href="{{ item.href }}">{{ item.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </header>
  {% endblock %}
{% endmacro %}
