{% macro languageToggle()%}

{# {% block languageContent %} #}
  <div class="language-toggle-container govuk-!-text-align-right govuk-!-margin-2">

    <div class="language-link-right">
      <a class="govuk-body govuk-link english-language" href="?lang=en">English</a>
    </div>

    <div class="language-link-left">
      <a class="govuk-body govuk-link cymraeg-language" href="?lang=cy">Cymraeg</a>
    </div>

  </div>
{# {% endblock %} #}

{% endmacro %}