{% macro newLine(title, content, href, hrefContact, hint) %}
  <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">{{ t(title) }}</p>
  {% if href %}
    <p class="govuk-body-s govuk-!-margin-bottom-0"><a href={{ href }}>{{ t(hrefContact) }}</a></p>
  {% elif content%}
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ t(content) }}</p>
    {% if hint %}
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ t(hint) }}</p>
    {% endif %}
  {% endif %}
{% endmacro %}
