{% macro newLine(title, content, href, hrefContact) %}
  <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-font-weight-bold">{{ t(title) }}</p>
  {% if href %}
    <p class="govuk-body-s govuk-!-margin-bottom-0"><a href={{href}}>{{ hrefContact}}</a></p>
  {% else %}
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{content}}</p>
  {% endif %}
{% endmacro %}
