{% macro setPageTitle(title)%}
  {% set dynamicTitle = t('Your money claims account') + ' - ' + t(title) if title else t('Your money claims account - Money Claims') %}
  {% block pageTitle %}
    {{ dynamicTitle }}
  {% endblock %}
{% endmacro %}
