{% macro setPageTitle(t, title) %}
  {% set dynamicTitle = t(title) + ' - ' + t('COMMON.PAGE_TITLE_PART1') if title else t('COMMON.PAGE_TITLE_PART1') + " - " + t('COMMON.PAGE_TITLE_PART2') %}
  {% block pageTitle %}
    {{ dynamicTitle }}
  {% endblock %}
{% endmacro %}

{% macro createPageTitle(title, t, size = 'l', level = '1') %}
  {% set headingTag = 'h' ~ level %}
  <{{ headingTag }} class="govuk-heading-{{size}}">{{ t(title) }}</{{ headingTag }}>
{% endmacro %}
