{% macro paperFormAddress() %}
  <h2 class="govuk-heading-m">{{ t('PAGES.NOT_ELIGIBLE_FOR_SERVICE.WHERE_TO_SEND_PAPER_FORMS') }}</h2>
  <div class="govuk-summary-list">
    County Court Money Claims Centre<br>
    PO Box 527<br>
    Salford<br>
    M5 0BY
  </div>
{% endmacro %}
