{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% macro pinErrorBanner(t)%}
  {% set html %}
    <h3 class="govuk-body">{{ t('BANNERS.PIN_ERROR_NOTIFICATION.WE_ARE_AWARE') }}</h3>
    <p class="govuk-body">{{ t('BANNERS.PIN_ERROR_NOTIFICATION.OUR_TEAM') }}</p>
    <p class="govuk-body">{{ t('BANNERS.PIN_ERROR_NOTIFICATION.CONTACT') }}</p>
    <ul>
      <li>{{ t('BANNERS.PIN_ERROR_NOTIFICATION.EMAIL') }} <a href="mailto:contactocmc@justice.gov.uk">contactocmc@justice.gov.uk</a></li>
      <li>{{ t('BANNERS.PIN_ERROR_NOTIFICATION.PHONE') }}</li>
      <li>{{ t('BANNERS.PIN_ERROR_NOTIFICATION.SCHEDULE') }}</li>
    </ul>
    <p class="govuk-body">{{ t('BANNERS.PIN_ERROR_NOTIFICATION.SORRY') }}</p>
  {% endset %}
  {{ govukNotificationBanner({
    html: html,
    classes: 'max-width:0px'
  }) }}
{% endmacro %}
