{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "./address.njk" import addressForm %}
{% set govukVisuallyHidden = 'govuk-visually-hidden' %}
{% set govukVisuallyHiddenForAnchor = '' %}
{% macro postcodeLookupAndAddressForm(t,params) %}
  {% if params.addressType === 'primaryAddress' and params.party.model.primaryAddress %}
    {% if params.party.hasFieldError('primaryAddress') %}
      {% set govukVisuallyHidden = '' %}
      {% set govukVisuallyHiddenForAnchor = 'govuk-visually-hidden' %}
    {% else %}
      {% set govukVisuallyHidden = 'govuk-visually-hidden' %}
      {% set govukVisuallyHiddenForAnchor = '' %}
    {% endif %}
  {% endif %}
  {% if params.addressType === 'correspondenceAddress' and params.party.model.correspondenceAddress %}
    {% if params.party.hasFieldError('correspondenceAddress') %}
      {% set govukVisuallyHidden = '' %}
      {% set govukVisuallyHiddenForAnchor = 'govuk-visually-hidden' %}
    {% else %}
      {% set govukVisuallyHidden = 'govuk-visually-hidden' %}
      {% set govukVisuallyHiddenForAnchor = '' %}
    {% endif %}
  {% endif %}
  <div class="govuk-form-group postcode-container">
    <label class="govuk-label" for="{{ params.addressType + "Postcode" }}">
      {{ t('COMMON.POSTCODE.UK_POSTCODE') }}
    </label>
    <div class="govuk-visually-hidden govuk-error-message" aria-hidden="true">
      {{ t('ERRORS.ADDRESS_NOT_FOUND') + t('ERRORS.TRY_AGAIN') }}
    </div>
    <input id="{{ params.addressType + 'Postcode' }}" class="govuk-input govuk-input--width-10 postcode-val" title="{{ t('COMMON.POSTCODE.UK_POSTCODE') }}" name="{{ params.addressType + "Postcode" }}" type="text" autocomplete="postal-code"/>
    <button href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      {{ t('COMMON.POSTCODE.FIND_ADDRESS') }}
    </button>

    {{ govukSelect({
      id: params.addressType + 'postcodeAddress',
      name: "addressList",
      classes: 'addressList',
      label: {
        text: t('COMMON.POSTCODE.PICK_ADDRESS'),
        classes: 'govuk-visually-hidden'
      }
    }) }}

    <div class="{{ govukVisuallyHiddenForAnchor }}" aria-hidden="{{ govukVisuallyHiddenForAnchor == 'govuk-visually-hidden' }}">
      <a aria-controls="enterAddressManually" href="#" class="govuk-body govuk-link">
        {{ t('COMMON.POSTCODE.MANUAL_ADDRESS') }}
      </a>
    </div>
    <div>
      <div class="{{ govukVisuallyHidden }} address-form" aria-hidden="{{ govukVisuallyHidden == 'govuk-visually-hidden' }}">
        {{ addressForm(
          t,
          party = params.party,
          addressType = params.addressType,
          addressTitle = params.addressTitle
        ) }}
      </div>
    </div>
  </div>
{% endmacro %}
