{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% macro reportDetail(reportDetailIndex, reportDetailValue, errorFor, t, removeButton, today) %}
{% set dateHint = t('COMMON.DATE_EXAMPLE', {
  date: today.getDate()+' '+(today.getMonth()+1)+' '+(today.getFullYear()-1)
}) %}

  <div class="multiple-row">
    {{ govukFieldset({
      classes: 'moj-add-another__item govuk-!-margin-bottom-6',
      legend: {
        text:  t('PAGES.EXPERT_REPORT_DETAILS.REPORT_TEXT'),
        classes: 'moj-add-another__title govuk-fieldset__legend--m',
        isPageHeading: false
      }
    }) }}

    {{ govukInput({
      id: 'reportDetails[' + reportDetailIndex + '][expertName]',
      name: 'reportDetails[' + reportDetailIndex + '][expertName]',
      value: reportDetailValue.expertName,
      type: 'text',
      classes: "govuk-input--width-20",
      label: {
        text: t('PAGES.EXPERT_REPORT_DETAILS.EXPERT_NAME')
      },
      attributes: {
        'data-name': 'reportDetails[%index%][expertName]',
        'data-id': 'reportDetails[%index%][expertName]'
      },
      errorMessage: {
        text: t(errorFor('reportDetails['+reportDetailIndex+'][expertName]'))
      } if errorFor('reportDetails['+reportDetailIndex+'][expertName]')
      }) }}

    {{ govukDateInput({
      id: 'reportDetails['+reportDetailIndex+'][reportDate]',
      type: "number",
      inputmode: "numeric",
      name: 'reportDetails['+reportDetailIndex+'][reportDate]',
      fieldset: {
        legend: {
          text: t('PAGES.EXPERT_REPORT_DETAILS.REPORT_DATE'),
          isPageHeading: true,
          classes: "govuk-label"
        }
      },
        hint: {
        text: dateHint
      },
      errorMessage: {
            html: '<p class="govuk-error-message">' + t(errorFor('reportDetails['+reportDetailIndex+'][reportDate]')) + '</p>' +
            '<p class="govuk-error-message">' + t(errorFor('reportDetails['+reportDetailIndex+'][day]')) + '</p>' +
            '<p class="govuk-error-message">' + t(errorFor('reportDetails['+reportDetailIndex+'][month]')) + '</p>' +
            '<p class="govuk-error-message">' + t(errorFor('reportDetails['+reportDetailIndex+'][year]')) + '</p>'
          } if errorFor('reportDetails['+reportDetailIndex+'][reportDate]') or
          errorFor('reportDetails['+reportDetailIndex+'][day]') or
          errorFor('reportDetails['+reportDetailIndex+'][month]') or
          errorFor('reportDetails['+reportDetailIndex+'][year]'),
      items: [
        {
          id: 'reportDetails[' + reportDetailIndex + '][day]',
          name: 'reportDetails[' + reportDetailIndex + '][day]',
          label: t('COMMON.DAY'),
          value: reportDetailValue.day,
          max: 31,
          classes: "govuk-input--width-2 govuk-input--error" if errorFor('reportDetails['+reportDetailIndex+'][day]') else "govuk-input--width-2",
          attributes: {
            'data-name': 'reportDetails[%index%][day]',
            'data-id': 'reportDetails[%index%][day]'
          }
        },
        {
          id: 'reportDetails[' + reportDetailIndex + '][month]',
          name: 'reportDetails[' + reportDetailIndex + '][month]',
          label: t('COMMON.MONTH'),
          value: reportDetailValue.month,
          max: 12,
          classes: "govuk-input--width-2 govuk-input--error" if errorFor('reportDetails['+reportDetailIndex+'][month]') else "govuk-input--width-2",
          type: "number",
          inputmode: "numeric",
          attributes: {
            'data-name': 'reportDetails[%index%][month]',
            'data-id': 'reportDetails[%index%][month]'
          }
        },
        {
          id: 'reportDetails[' + reportDetailIndex + '][year]',
          name: 'reportDetails[' + reportDetailIndex + '][year]',
          label: t('COMMON.YEAR'),
          value: reportDetailValue.year,
          max: 9999,
          classes: "govuk-input--width-4 govuk-input--error" if errorFor('reportDetails['+reportDetailIndex+'][year]') else "govuk-input--width-4",
          attributes: {
            'data-name': 'reportDetails[%index%][year]',
            'data-id': 'reportDetails[%index%][year]'
          }
        }
      ]
    }) }}
    <br>
    {% if removeButton.hidden %}
      <button type="button" class="govuk-button govuk-button--secondary remove-row govuk-visually-hidden">{{ t('COMMON.REMOVE') }}</button>
    {% else %}
      <button type= "button" class="govuk-button govuk-button--secondary remove-row">{{ t('COMMON.REMOVE') }}</button>
    {% endif %}
  </div>
{% endmacro %}
