{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./types-of-senior-position.njk" import typesOfSeniorPosition %}

{% macro statementOfTruth(
  form,
  statementOfTruthType,
  title = t('COMMON.STATEMENT_OF_TRUTH.TITLE'),
  labelHtml = t('COMMON.STATEMENT_OF_TRUTH.CORRECT_INFORMATION_CONFIRMATION'),
  isQualified = false,
  typeOfStatement = t('COMMON.STATEMENT_OF_TRUTH.STATEMENT_OF_WORK'),
  isFullAmountRejected
  ) %}

  <legend><h2 class="govuk-heading-m">{{ t(title) }}</h2></legend>

  {% if statementOfTruthType == SignatureType.CLAIM or statementOfTruthType == SignatureType.RESPONSE %}
    <p class="govuk-body">{{ t('COMMON.STATEMENT_OF_TRUTH.INFORMATION_ON_PAGE', { type: statementOfTruthType }) }}</p>
    <p class="govuk-body">{{ t('COMMON.STATEMENT_OF_TRUTH.WHEN_SATISFIED') }}</p>
  {% endif %}

  {% if isQualified %}
    <p class="govuk-body">{{ t('COMMON.STATEMENT_OF_TRUTH.SENIOR_POSITION_REQUIREMENT', { typeOfStatement: typeOfStatement}) }}</p>
    {{ typesOfSeniorPosition() }}
    {% set signerName = 'signerName' %}
    {% set signerRole = 'signerRole' %}
    {{ govukInput({
      classes: "govuk-!-width-one-half",
      label: {
        text: t('PAGES.CHECK_YOUR_ANSWER.FULL_NAME')
      },
      value: form.model.signerName,
      id: signerName,
      name: signerName,
      errorMessage: {
        text:t(form.errorFor(signerName))
      } if form.errorFor(signerName)
    }) }}
    {{ govukInput({
      classes: "govuk-!-width-one-half",
      label: {
        text: "Job title"
      },
      value: form.model.signerRole,
      id: signerRole,
      name: signerRole,
      errorMessage: {
        text:t(form.errorFor(signerRole))
      } if form.errorFor(signerRole)
    }) }}
  {% endif %}

  {% set signed = 'signed' %}
  {% set detailsTruthy = 'directionsQuestionnaireSigned' %}
  {% set signedError = form.errorFor(signed) %}
  {% set detailsTruthyError = form.errorFor(detailsTruthy) %}
  {% set signedSelection = form.model.signed %}
  {% set detailsTruthySelection = form.model.directionsQuestionnaireSigned %}
  {{ govukCheckboxes({
    idPrefix: signed,
    name: signed,
    items: [
      {
        value: 'true',
        html: labelHtml,
        checked: true if signedSelection
      }
    ],
    errorMessage: {
      text:t(signedError)
    } if signedError
  }) }}

  {% if isFullAmountRejected %}
    {{ govukCheckboxes({
      idPrefix: detailsTruthy,
      name: detailsTruthy,
      items: [
        {
          value: 'true',
          html: t('COMMON.STATEMENT_OF_TRUTH.DETAILS_TRUTHY'),
          checked: true if detailsTruthySelection
        }
      ],
      errorMessage: {
        text:t(detailsTruthyError)
      } if detailsTruthyError
    }) }}
  {% endif %}
{% endmacro %}
