{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "./types-of-senior-position.njk" import typesOfSeniorPosition %}
{% macro statementOfTruth(
  t,
  form,
  labelHtml
  ) %}
  <legend><h2 class="govuk-heading-m">{{ t('COMMON.STATEMENT_OF_TRUTH.TITLE') }}</h2></legend>
  {% if form.model.type === SignatureType.RESPONSE or form.model.type === SignatureType.BASIC or form.model.type === SignatureType.QUALIFIED %}
    <p class="govuk-body">{{ t('COMMON.STATEMENT_OF_TRUTH.INFORMATION_ON_PAGE') }}</p>
    <p class="govuk-body">{{ t('COMMON.STATEMENT_OF_TRUTH.WHEN_SATISFIED') }}</p>
  {% endif %}
  {% if form.model.type === SignatureType.QUALIFIED %}
    <p class="govuk-body">{{ t('COMMON.STATEMENT_OF_TRUTH.SENIOR_POSITION_REQUIREMENT') }}</p>
    {{ typesOfSeniorPosition(t) }}
    {{ govukInput({
      classes: "govuk-!-width-one-half",
      label: {
        text: t('PAGES.CHECK_YOUR_ANSWER.FULL_NAME')
      },
      value: form.model.signerName,
      id: 'signerName',
      name: 'signerName',
      errorMessage: {
        text:t(form.errorFor(signerName))
      } if form.errorFor(signerName)
    }) }}
    {{ govukInput({
      classes: "govuk-!-width-one-half",
      label: {
        text: t('COMMON.JOB_TITLE')
      },
      value: form.model.signerRole,
      id: 'signerRole',
      name: 'signerRole',
      errorMessage: {
        text:t(form.errorFor(signerRole))
      } if form.errorFor(signerRole)
    }) }}
  {% endif %}
  {{ govukCheckboxes({
    idPrefix: 'signed',
    name: 'signed',
    items: [
      {
        value: true,
        html: labelHtml,
        checked: true if form.model.signed
      }
    ],
    errorMessage: {
      text:t(form.errorFor(signed))
    } if form.errorFor(signed)
  }) }}
  {% if form.model.isFullAmountRejected === true %}
    {{ govukCheckboxes({
      idPrefix: 'directionsQuestionnaireSigned',
      name: 'directionsQuestionnaireSigned',
      items: [
        {
          value: true,
          html: t('COMMON.STATEMENT_OF_TRUTH.DETAILS_TRUTHY'),
          checked: true if form.model.directionsQuestionnaireSigned
        }
      ],
      errorMessage: {
        text:t(form.errorFor(directionsQuestionnaireSigned))
      } if form.errorFor(directionsQuestionnaireSigned)
    }) }}
  {% endif %}
{% endmacro %}
