{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro taskComponent(task, t) %}

  <div>
    <li class="app-task-list__item">
       {% if task.isUrlDisable %}
          <span class="app-task-list__task-name">
             <p>{{ t(task.description) }}</p>
          </span>
       {% else %}
          <span class="app-task-list__task-name">
            <a href={{task.url}}>{{ t(task.description) }}</a>
          </span>
       {% endif %}

      {{govukTag({
        text: t('PAGES.TASK_LIST.' + task.status),
        classes: 'app-task-list__tag ' + task.statusColor
      })}}
    </li>
  </div>

{% endmacro %}
