{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro telephone(form, param, t) %}
  {{ govukInput({
  id: param.id,
  name: param.name,
  type: param.type,
  autocomplete: param.autocomplete,
  classes: param.classes,
  label: {
    text: param.label
  },
  value: param.value if form.model.option == 'no',
  errorMessage: {
    html: t(form.errorFor(param.name))
    } if form.errorFor(param.name)
}) }}
{% endmacro %}
