{% from "../features/dashboard/item-content.njk" import itemContent %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% macro createTextArea (field, form, t) %}
  {{ govukTextarea({
    name: field,
    id: field,
    value: form.model.value,
    label: {
      classes: "govuk-label--m",
      text: t(form.model.title)
    },
    hint: {
      text: t(form.model.hint)
    },
    errorMessage: {
      html: t(form.errorFor(field))
    } if form.hasFieldError(field)

  }) }}

{% endmacro %}
