{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro bankAndSavingsAccounts(financialDetailsRows, t) %}
  <h4 class="govuk-heading-s">{{ t('COMMON.BANK_AND_SAVINGS_ACCOUNTS') }}</h4>
  {{ govukSummaryList({
    rows: financialDetailsRows
  }) }}
{% endmacro %}

{% macro children(childrenRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('COMMON.CHILDREN') }}</h4>
  {{ govukSummaryList({
    rows: childrenRows
  }) }}
{% endmacro %}

{% macro financialSupport(financialSupportRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('PAGES.REVIEW_DEFENDANTS_RESPONSE.FINANCIAL_SUPPORT') }}</h4>
  {{ govukSummaryList({
    rows: financialSupportRows
  }) }}
{% endmacro %}

{% macro employmentDetails(employmentRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('COMMON.EMPLOYMENT_DETAILS') }}</h4>
  {{ govukSummaryList({
    rows: employmentRows
  }) }}
{% endmacro %}

{% macro selfEmploymentDetails(selEmploymentRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('PAGES.REVIEW_DEFENDANTS_RESPONSE.SELF_EMPLOYMENT_DETAILS') }}</h4>
  {{ govukSummaryList({
    rows: selEmploymentRows
  }) }}
{% endmacro %}

{% macro monthlyIncome(monthlyIncomeRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('PAGES.REVIEW_DEFENDANTS_RESPONSE.MONTHLY_INCOME') }}</h4>
  {{ govukSummaryList({
    rows: monthlyIncomeRows
  }) }}
{% endmacro %}

{% macro monthlyExpenses(monthlyExpensesRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('PAGES.REVIEW_DEFENDANTS_RESPONSE.MONTHLY_EXPENSES') }}</h4>
  {{ govukSummaryList({
    rows: monthlyExpensesRows
  }) }}
{% endmacro %}

{% macro courtOrders(courtOrdersRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('PAGES.REVIEW_DEFENDANTS_RESPONSE.COURT_ORDERS') }}</h4>
  {{ govukSummaryList({
    rows: courtOrdersRows
  }) }}
{% endmacro %}

{% macro debts(debtsRows, t) %}
  <h4 class="govuk-heading-s govuk-!-margin-top-4">{{ t('PAGES.REVIEW_DEFENDANTS_RESPONSE.DEBTS') }}</h4>
  {{ govukSummaryList({
    rows: debtsRows
  }) }}
{% endmacro %}

{% macro theirFinancialDetails(t, title, claim, financialDetails) %}
  {{ govukDetails({
    summaryText: t(title),
    html: bankAndSavingsAccounts(financialDetails[0], t) +
    children(financialDetails[1], t)  +
    financialSupport(financialDetails[2], t) +
    employmentDetails(financialDetails[3], t) +
    selfEmploymentDetails(financialDetails[4], t) +
    monthlyIncome(financialDetails[5], t) +
    monthlyExpenses(financialDetails[6], t) +
    courtOrders(financialDetails[7], t) +
    debts(financialDetails[8], t)
  }) }}
{% endmacro %}

