{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% macro transactionDetails(t,hintAmount, property, transactionSource, labels, form, other, removeButton) %}
  {% set amountValue =  '' + transactionSource.amount %}
  {% if other %}
<div class="govuk-form-group civil-amountRow  multiple-row">
  {{ govukInput({
    id: property + "[name]",
    name: property + "[name]",
    label: {
      text: t(labels.name)
    },
    value:transactionSource.name,
    errorMessage: {
      text: t(form.errorFor(property + "[name]", "model"))
    } if(form.errorFor(property + "[name]", "model"))
  }) }}
  {% else %}
  <div class="civil-amountRow">
    <input type="hidden" name="{{ property }}[name]" value="{{ transactionSource.name }}"/>
    {% endif %}
    <p class="govuk-label">{{ t(labels.amountLabel) }}</p>
    {{ govukInput({
      id: property + "[amount]",
      name: property + "[amount]",
      label: {
        text: t('PAGES.REGULAR_EXPENSES.AMOUNT_PAID_IN_POUNDS'),
        for: property + "[amount]",
        classes: 'govuk-visually-hidden'
      },
      prefix: {
        text: "£"
      },
      type: "number",
      value: amountValue,
      classes: "govuk-input--width-5 civil-amount",
      hint: {
        text: t(hintAmount)
      },
      spellcheck: false,
      errorMessage: {
        text: t(form.errorFor(property + "[amount]", "model"))
      } if(form.errorFor(property + "[amount]", "model"))
    }) }}
    {{ govukRadios({
      idPrefix: property + "[schedule]" ,
      name: property + "[schedule]",
      classes: "civil-schedule",
      fieldset: {
        legend: {
          text: t(labels.scheduleLabel)
        }
      },
      items: [
        {
          value: TransactionSchedule.WEEK,
          text: t('COMMON.SCHEDULE.WEEK'),
          checked: true if transactionSource.schedule == TransactionSchedule.WEEK
        },
        {
          value: TransactionSchedule.TWO_WEEKS,
          text: t('COMMON.SCHEDULE.TWO_WEEKS_LETTERS'),
          checked: true if transactionSource.schedule == TransactionSchedule.TWO_WEEKS
        },
        {
          value: TransactionSchedule.FOUR_WEEKS,
          text: t('COMMON.SCHEDULE.FOUR_WEEKS_LETTERS'),
          checked: true if transactionSource.schedule == TransactionSchedule.FOUR_WEEKS
        },
        {
          value: TransactionSchedule.MONTH,
          text: t('COMMON.MONTH'),
          checked: true if transactionSource.schedule == TransactionSchedule.MONTH
        }
      ],
      errorMessage: {
        text: t(form.errorFor(property + "[schedule]", "model"))
      } if(form.hasFieldError(property + "[schedule]", "model"))
    }) }}
    {% if removeButton %}
      {% if removeButton.hidden %}
        <button class="govuk-link-button remove-row govuk-visually-hidden">{{ t(removeButton.text) }}</button>
      {% else %}
        <button class="govuk-link-button remove-row">{{ t(removeButton.text) }}</button>
      {% endif %}
    {% endif %}
  </div>

  {% endmacro %}
  {% macro otherTransactionDetails(t,property, index, transactionSource, labels, form, removeButton) %}
    {{ transactionDetails(t,'', property +'['+index +']', transactionSource, labels, form, true, removeButton) }}
  {% endmacro %}
</div>
