{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% macro transactionDetails(hintAmount, property, expenseSource, form) %}
  <div class="civil-amountRow">
    <input type="hidden" name="{{ property }}[expenseSource][name]" value="{{ expenseSource.name }}"/>
    {{ govukInput({
      id: property + "[expenseSource][amount]",
      name: property + "[expenseSource][amount]",
      label: {
        text: t("Amount paid")
      },
      prefix: {
        text: "£"
      },
      type: "number",
      value: expenseSource.amount,
      classes: "govuk-input--width-5 civil-amount",
      hint: {
        text: t(hintAmount)
      },
      spellcheck: false,
      errorMessage: {
        text: form.errorFor(property + "[expenseSource][amount]", "model")
      } if(form.errorFor(property + "[expenseSource][amount]", "model"))
    }) }}
    {{ govukRadios({
      idPrefix: property + "[expenseSource][schedule]" ,
      name: property + "[expenseSource][schedule]",
      classes: "civil-schedule",
      fieldset: {
        legend: {
          text: t("Paid every")
        }
      },
      items: [
        {
          value: TransactionSchedule.WEEK,
          text: t("Week"),
          checked: true if expenseSource.schedule == TransactionSchedule.WEEK
        },
        {
          value: TransactionSchedule.TWO_WEEKS,
          text: t("Two weeks"),
          checked: true if expenseSource.schedule == TransactionSchedule.TWO_WEEKS
        },
        {
          value: TransactionSchedule.FOUR_WEEKS,
          text: "Four weeks",
          checked: true if expenseSource.schedule == TransactionSchedule.FOUR_WEEKS
        },
        {
          value: TransactionSchedule.MONTH,
          text: t("Month"),
          checked: true if expenseSource.schedule == TransactionSchedule.MONTH
        }
      ],
      errorMessage: {
        text: form.errorFor(property + "[expenseSource][schedule]", "model")
      } if(form.hasFieldError(property + "[expenseSource][schedule]", "model"))
    }) }}
  </div>
{% endmacro %}
