{% if showWelshPartyBanner %}
  <div class="hmcts-banner govuk-!-margin-bottom-4">
    <div class="govuk-!-padding-top-2 govuk-!-padding-right-2 govuk-!-padding-bottom-2 govuk-!-padding-left-2">
      <span class="hmcts-banner-assistive">information</span>
      <p class="govuk-body govuk-!-margin-bottom-0">{{ t('BANNERS.WELSH_PARTY.MESSAGE') }}</p>
    </div>
  </div>
{% endif %}
