{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro yesNoRadioButton(t,name,form) %}
  {% set errors = form.getErrors() %}
              {{ govukRadios({
              idPrefix: "disability",
              name: "disability",
              fieldset: {
                legend: {
                  text: name,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: YesNo.YES,
                  checked: true if form.option=="yes" else false,
                  html: "<span>" + t('Yes') + "</span>"
                },
                {
                  value: YesNo.NO,
                  checked: true if form.option=="no" else false,
                  html: "<span>" + t('No') + "</span>"
                }
              ],
                errorMessage: {
                  html: errors[0].text
                } if errors
            }) }}
{% endmacro %}
