useCSRFProtection: true
security:
  referrerPolicy: 'origin'
port: 3001
timeout: 30000
services:
  dynatrace:
    url: https://js-cdn.dynatrace.com/jstag/17177a07246/bf00910jpo/608d999956617ad0_complete.js
  civilService:
    url: 'http://localhost:4000'
    microservice: 'civil_service'
  postcodeLookup:
    ordnanceSurveyApiKey:
    ordnanceSurveyApiUrl: https://api.os.uk
  launchDarkly:
    sdk:
    env: 'default'
  idam:
    url: 'http://localhost:5000'
    authorizationURL: 'http://localhost:9002/login'
    tokenURL: 'http://localhost:5000/o/token'
    clientID: 'civil_citizen_ui'
    clientSecret: 'citizen-ui-secret'
    callbackURL: 'http://localhost:3001/oauth2/callback'
    citizenRole: 'citizen'
    scope: '&scope=profile%20openid%20roles%20manage-user%20create-user%20search-user'
    terminateSessionURL: 'http://localhost:9002/o/endSession'
    signOutCallBackURL: 'http://localhost:3001/dashboard'
  draftStore:
    redis:
      host: 'localhost'
      port: 6379
      key:
      tls: false
      expireInDays: 180
    legacy:
      url: 'http://localhost:8765'
      s2s:
        microserviceName: 'cmc'
        primarySecret: 'not-a-real-primary-secret'
        secondarySecret: 'not-a-real-secondary-secret'
  session:
    redis:
      host: 'localhost'
      port: 6379
    secureCookie: 'true'
  dmStore:
    microserviceName: 'xui_webapp'
    baseUrl: 'http://localhost:4506'
  serviceAuthProvider:
    baseUrl: 'http://localhost:4502'
    serviceAuthTokenGeneratorUrl : '/testing-support/lease'
    cmcS2sSecret: 'AAAAAAAAAAAAAAAA'
  cmc:
    url: 'https://localhost:3000'
  pcq:
    url: 'https://pcq.aat.platform.hmcts.net'
    tokenKey: 'test'
  govPay:
    url: 'https://card.payments.service.gov.uk'
  enforceJudgment:
    url: 'https://www.gov.uk/make-court-claim-for-money/enforce-a-judgment'
  civilMoneyClaims:
    telephone: '0300 123 7050'
    courtEmailId: 'contactocmc@justice.gov.uk'
    welshspeaker:
      telephone: '0300 303 5174'
  applyForCertificate:
    url: 'https://www.gov.uk/government/publications/form-n443-application-for-a-certificate-of-satisfaction-or-cancellation'
  generalApplication:
    url: 'http://localhost:4550'
health:
  timeout: 5000
  deadline: 15000
appInsights:
  instrumentationKey:
webChat:
  cnbc:
    enabled: false
    uuid: 'script_35780229675c3e23dcdd66.11858382'
    tenant: 'aG1jdHNzdGFnaW5nMDE'
    channel: 'CNBC Webchat STAGING'
    channelUuid: 'QG-Cq97KTguzQz5H7T_n6g'
    buttonContainerId: '__8x8-chat-button-container-script_35780229675c3e23dcdd66.11858382'
  mediation:
    enabled: false
    uuid: 'script_202736819566d85c96c386f8.18964185'
    tenant: 'aG1jdHN4MTAx'
    channel: 'NBC_Mediation_Webchat'
    channelUuid: 'EfkT-IMvRReo_VGNJ5ietQ'
    buttonContainerId: '__8x8-chat-button-container-script_202736819566d85c96c386f8.18964185'
featureToggles:
  settlementAgreementEnabled: false
cookieMaxAge: 5400000
