useCSRFProtection: true
security:
  referrerPolicy: 'origin'
port: 3001
timeout: 30000
services:
  civilService:
    url: 'http://localhost:4000'
    microservice: 'civil_service'
  postcodeLookup:
    ordnanceSurveyApiKey: dummy
  idam:
    url: 'http://localhost:5000'
    authorizationURL: 'http://localhost:3501/login'
    tokenURL: 'http://localhost:5000/o/token'
    clientID: 'civil_citizen_ui'
    clientSecret: 'citizen-ui-secret'
    callbackURL: 'http://localhost:3001/oauth2/callback'
    citizenRole: 'citizen'
    scope: '&scope=profile%20openid%20roles%20manage-user%20create-user%20search-user'
  draftStore:
    redis:
      host: 'localhost'
      port: 6379
      key:
      tls: false
  dmStore:
    clientID: 'xui_webapp'
    url: 'http://localhost:4506'
  serviceAuthProvider:
    url: 'http://localhost:4502'
health:
  timeout: 5000
  deadline: 15000
appInsights:
  instrumentationKey:
