useCSRFProtection: true
security:
  referrerPolicy: 'origin'
port: 3001
timeout: 30000
services:
  civilService:
    url: 'http://localhost:4000'
    microservice: 'civil_service'
  postcodeLookup:
    ordnanceSurveyApiKey:
  idam:
    url: 'http://localhost:5000'
    authorizationURL: 'http://localhost:9002/login'
    tokenURL: 'http://localhost:5000/o/token'
    clientID: 'civil_citizen_ui'
    clientSecret: 'citizen-ui-secret'
    callbackURL: 'http://localhost:3001/oauth2/callback'
    citizenRole: 'citizen'
    scope: '&scope=profile%20openid%20roles%20manage-user%20create-user%20search-user'
    terminateSessionURL: 'http://localhost:9002/o/endSession'
    signOutCallBackURL: 'http://localhost:3001/dashboard'
  draftStore:
    redis:
      host: 'localhost'
      port: 6379
      key:
      tls: false
      expireInDays: 180
    legacy:
      url: 'http://localhost:8765'
      s2s:
        microserviceName: 'cmc'
        primarySecret: 'not-a-real-primary-secret'
        secondarySecret: 'not-a-real-secondary-secret'
  session:
    redis:
      host: 'localhost'
      port: 6379
    secureCookie: 'true'
  dmStore:
    microserviceName: 'xui_webapp'
    baseUrl: 'http://localhost:4506'
  serviceAuthProvider:
    baseUrl: 'http://localhost:4502'
    serviceAuthTokenGeneratorUrl : '/testing-support/lease'
    cmcS2sSecret: 'AAAAAAAAAAAAAAAA'
  cmc:
    url: 'https://localhost:3000'
  pcq:
    url: 'https://pcq.aat.platform.hmcts.net'
    tokenKey: 'test'
  govPay:
    url: 'https://card.payments.service.gov.uk'

health:
  timeout: 5000
  deadline: 15000
appInsights:
  instrumentationKey:
launchDarkly:
  test:
    sdk: 'sdk-5dca6386-1fcd-48d5-b93a-60d13e22ee62'
