{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/heading-with-caption.njk" import headingWithCaption %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "../../macro/button.njk" import addButton %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageTitle %}
  {{ setPageTitle(t, pageHeaders.pageTitle) }}
{% endblock %}

{% block nestedContent %}
  {% set errors = "" %}
  {% set  idValue = "selectedFile" %}
  {% if form.hasErrors() %}
    {% set errors = translateErrors(form.getAllErrors(),t)[0] %}
    {% if errors.fieldName != 'messageSubject' and errors.fieldName != 'messageDetails' and errors.fieldName != 'isHearingRelated' %}
      {% set idValue = errors.fieldName %}
    {% endif %}
  {% endif %}
  {{ headingWithCaption(t, pageHeaders.caption, pageHeaders.heading) }}
    <form method="post" action="{{ currentUrl }}?_csrf={{ csrf }}" enctype='multipart/form-data' novalidate>
      {{ csrfProtection(csrf) }}
      {{ govukInput({
        id: 'messageSubject',
        name: 'messageSubject',
        value: form.model.messageSubject,
        label: {
          text: t('PAGES.QM.QUERY_FORM.SUBJECT_TITLE')
        },
        hint: {
          text: t('PAGES.QM.QUERY_FORM.SUBJECT_HINT')
        },
        errorMessage: {
          text: t(form.errorFor('messageSubject'))
        } if form.errorFor('messageSubject')
      }) }}

      {{ govukTextarea({
        id: 'messageDetails',
        name: 'messageDetails',
        value: form.model.messageDetails,
        label: {
          text: t('PAGES.QM.QUERY_FORM.BODY_TITLE')
        },
        hint: {
          text: t('PAGES.QM.QUERY_FORM.BODY_HINT')
        },
        errorMessage: {
          text: t(form.errorFor('messageDetails'))
        } if form.errorFor('messageDetails')
      }) }}
        {% set hearingDateHtml %}
          {{ govukDateInput({
            id: "date",
            name: "date",
            type: "number",
            inputmode: "numeric",
            fieldset: {
              legend: {
                text: t('PAGES.QM.QUERY_FORM.HEARING_DATE'),
                isPageHeading: false,
                classes: 'govuk-fieldset__legend--s'
              }
            },
            errorMessage: {
              html: '<p class="govuk-error-message">' + t(form.errorFor('date')) + '</p>' +
              '<p class="govuk-error-message">' + t(form.errorFor('day')) + '</p>' +
              '<p class="govuk-error-message">' + t(form.errorFor('month')) + '</p>' +
              '<p class="govuk-error-message">' + t(form.errorFor('year')) + '</p>'
            } if (form.hasFieldError('date') or form.hasFieldError('day') or form.hasFieldError('month') or form.hasFieldError('year')),
            items: [
              {
                classes: "govuk-input--width-2 govuk-input--error" if form.hasFieldError('day') else "govuk-input--width-2",
                id: "day",
                label: t('COMMON.DAY'),
                name: "day",
                value: form.model.day,
                max: 31
              },
              {
                classes:"govuk-input--width-2 govuk-input--error" if form.hasFieldError('month') else "govuk-input--width-2",
                id: "month",
                label: t('COMMON.MONTH'),
                name: "month",
                value: form.model.month,
                max: 12
              },
              {
                classes: "govuk-input--width-4 govuk-input--error" if form.hasFieldError('year') else "govuk-input--width-4",
                id: "year",
                label: t('COMMON.YEAR'),
                name: "year",
                value: form.model.year,
                max: 9999
              }
            ]
          }) }}
        {% endset -%}
        {{ govukRadios({
              classes: 'govuk-radios',
              id: 'isHearingRelated',
              name: 'isHearingRelated',
              fieldset: {
                legend: {
                  text: t('PAGES.QM.QUERY_FORM.IS_HEARING')
                }
              },
              items: [{
                value: 'yes',
                checked: true if form.model.isHearingRelated=="yes" else false,
                text: t('COMMON.VARIATION_4.YES'),
                conditional: {
                  html: hearingDateHtml
                }
              },{
                value: 'no',
                checked: true if form.model.isHearingRelated=="no" else false,
                text: t('COMMON.VARIATION_4.NO')
              }],
              errorMessage: {
                text: t(form.errorFor('isHearingRelated'))
              } if form.errorFor('isHearingRelated')
            }) }}
      <div class="govuk-inset-text">
        {{ govukFileUpload({
          id: idValue,
          name: "selectedFile",
          label: {
            text: t('PAGES.QM.QUERY_FORM.DOCUMENTS_TITLE'),
            classes: 'govuk-heading-s govuk-!-font-weight-bold'
          },
          hint: {
            html: t('PAGES.QM.QUERY_FORM.DOCUMENTS_HINT')
          },
          errorMessage: {
            text: t(form.errorFor(idValue))
          } if form.errorFor(idValue),
          javascript: true,
          chooseFilesButtonText: t('COMMON.CHOOSE_FILE'),
          noFileChosenText: t('COMMON.NO_FILE_CHOSEN')
        }) }}

        {{ govukButton({
          id: 'fileUpload',
          name: 'action',
          value: 'uploadButton',
          text: t('COMMON.SAVE_FILE'),
          classes: "govuk-button--secondary govuk-!-margin-bottom-0"
        }) }}
      </div>

      {% if formattedSummary.summaryList.rows.length > 0 %}
        <h2 class="govuk-heading-m">{{ t('COMMON.UPLOADED_FILES') }}</h2>
        <div class="govuk-section-break--s govuk-section-break--visible"></div>
        {% for row in formattedSummary.summaryList.rows %}
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
              <div class="govuk-summary-list__row ">
                <dt class="govuk-summary-list__key">
                  <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold"> {{ row.key.text }}</p>
                </dt>
                <dd class="govuk-summary-list__actions">
                  <button type="submit"
                          class="link-button"
                          id="deleteFile"
                          name="action"
                          value="[{{ row.value.html }}][deleteFile]">
                    {{ t('PAGES.GENERAL_APPLICATION.UPLOAD_DOCUMENTS.REMOVE_DOC') }}
                    <span class="govuk-visually-hidden">{{ row.key.text }}</span>
                  </button>
                </dd>
              </div>
          </dl>
        {% endfor %}
          </br>
      {% endif %}


      {{ addButton(t, 'CONTINUE', cancelUrl) }}
    </form>
{% endblock %}
