{% extends "./default-template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block qmContent %}

<fieldset class="govuk-fieldset">
  <legend class="govuk-visually-hidden">
    {{ t("PAGES.QM.WHAT_DO_YOU_WANT_TODO_TITLE") }}
  </legend>

  {{ govukRadios({
    idPrefix: "option",
    name: "option",
    items: form.model.items,
    errorMessage: {
      text: t(form.errorFor('option'))
    } if form.hasErrors()
  }) }}
</fieldset>

{% endblock %}



