{% extends "./default-template.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block qmContent %}

<fieldset class="govuk-fieldset">
  <legend class="govuk-visually-hidden">
    {% if caption %}{{ t(caption) }} {% endif %}{{ t(title) }}
  </legend>

  {{ govukRadios({
    idPrefix: "option",
    name: "option",
    items: form.model.items,
    errorMessage: {
      text: t(form.errorFor('option'))
    } if form.hasErrors()
  }) }}
</fieldset>

{% endblock %}

