import {dateFilter} from "modules/nunjucks/filters/dateFilter";

{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t(selectedQueryItem.title) %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ title }}</h1>
        </div>
      </div>
        <div class="govuk-grid-row">
          {% for item in selectedQueryItem.items%}
            <div class="govuk-grid-column-three-quarters">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    {% if loop.index % 2 == 0 %}
                       {{ t('PAGES.QM.VIEW_QUERY_DETAILS.COURTS_RESPONSE') }} ({{ item.sentOnFormatted}})
                    {% elseif loop.index === 1 and item.raisedByUser === true %}
                       {{ t('PAGES.QM.VIEW_QUERY_DETAILS.YOUR_MESSAGE') }} ({{ item.sentOnFormatted}})
                    {% elseif loop.index === 1 and item.raisedByUser  === false %}
                       {{ t('PAGES.QM.VIEW_QUERY_DETAILS.MESSAGE') }} ({{ item.sentOnFormatted}})
                    {% else %}
                      {{ t('PAGES.QM.VIEW_QUERY_DETAILS.FOLLOW_UP_MESSAGE') }} ({{ item.sentOnFormatted}})
                    {% endif %}
                  </h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-bold">
                        {% if loop.index % 2 == 0 %}
                          {{ t('PAGES.QM.VIEW_QUERY_DETAILS.COURT_MESSAGE_DETAILS') }}
                        {% else %}
                          {{ t('PAGES.QM.VIEW_QUERY_DETAILS.MESSAGE_DETAILS') }}
                        {% endif %}
                      </dt>
                      <dd class="govuk-summary-list__value">{{ item.messageDetails }}</dd>
                    </div>
                    {% if loop.index == 1 %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-bold">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.MESSAGE_ABOUT_HEARING') }}</dt>
                        <dd class="govuk-summary-list__value">
                          {% if item.isHearingRelated == 'Yes' %}
                            {{ t('PAGES.QM.VIEW_QUERY_DETAILS.MESSAGE_ABOUT_HEARING_YES') }}
                          {% else %}
                            {{ t('PAGES.QM.VIEW_QUERY_DETAILS.MESSAGE_ABOUT_HEARING_NO') }}
                          {% endif %}
                        </dd>
                      </div>

                      {% if item.isHearingRelated == 'Yes' %}
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key govuk-!-font-weight-bold">
                            {{ t('PAGES.QM.VIEW_QUERY_DETAILS.HEARING_DATE') }}
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {{ item.hearingDate }}
                          </dd>
                        </div>
                      {% endif %}
                    {% endif %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-bold">
                        {{ t('PAGES.QM.VIEW_QUERY_DETAILS.UPLOADED_DOCUMENTS') }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if item.documents.length > 0 %}
                          {% for link in item.documents %}
                            <div>{{ link.documentUrl | safe }}</div>
                          {% endfor %}
                        {% else %}
                           {{ t('PAGES.QM.VIEW_QUERY_DETAILS.NO_DOCUMENTS_UPLOADED') }}
                        {% endif %}
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-bold">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.SENT_BY') }}</dt>
                      <dd class="govuk-summary-list__value">
                        {% if loop.index % 2 == 0 %}
                          {{ t('PAGES.QM.VIEW_QUERY_DETAILS.SENT_BY_COURT_STAFF') }}
                        {% elseif item.raisedByUser === true %}
                          {{ t('PAGES.QM.VIEW_QUERY_DETAILS.SENT_BY_YOU') }}
                        {% else %}
                          {{ item.sentByName }}
                        {% endif %}
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-font-weight-bold">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.SENT_ON') }}</dt>
                      <dd class="govuk-summary-list__value">{{ item.sentOn }}</dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        {% if not selectedQueryItem.isQueryClosed %}
          {% if not isClaimOffLine and selectedQueryItem.lastStatus == 'PAGES.QM.VIEW_QUERY.STATUS_RECEIVED' %}
            <h2 class="govuk-heading-s">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.SEND_FOLLOW_UP_INFO.HEADER') }}</h2>
            <p class="govuk-body-m">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.SEND_FOLLOW_UP_INFO.LINE_1') }}</p>
            <p class="govuk-body-m">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.SEND_FOLLOW_UP_INFO.LINE_2') }}</p>
            {{ govukButton({
              text: t('PAGES.QM.VIEW_QUERY_DETAILS.SEND_FOLLOW_UP'),
              classes: "govuk-button--secondary",
              href: followUpScreen
            }) }}
          {% else %}
            <h2 class="govuk-heading-s">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.COURT_IS_REVIEWING_INFO.HEADER') }}</h2>
            <p class="govuk-body-m">{{ t('PAGES.QM.VIEW_QUERY_DETAILS.COURT_IS_REVIEWING_INFO.LINE_1') }}</p>
          {% endif %}
        {% else %}
          {{ govukWarningText({
            text: t('PAGES.QM.VIEW_QUERY_DETAILS.THREAD_CLOSED_BY_STAFF', {createdDate: selectedQueryItem.queryClosedDate}),
            iconFallbackText: "Warning"
           }) }}
        {% endif %}
        </div>
      </div>

    </main>
  </div>
{% endblock %}
