{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/heading-with-caption.njk" import headingWithCaption %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "../../macro/button.njk" import addButton %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {{ setPageTitle(t, pageHeaders.pageTitle) }}
{% endblock %}

{% block nestedContent %}
  {% set errors = "" %}
  {% set  idValue = "selectedFile" %}
  {% if form.hasErrors() %}
    {% set errors = translateErrors(form.getAllErrors(),t)[0] %}
    {% if errors.fieldName != 'messageDetails' %}
      {% set idValue = errors.fieldName %}
    {% endif %}
  {% endif %}
  {{ headingWithCaption(t, pageHeaders.caption, pageHeaders.heading) }}

    {{ govukWarningText({
      text: t('PAGES.QM.FOLLOW_UP_QUERY.WARNING_TEXT'),
      iconFallbackText: "Warning"
    }) }}
    <form method="post" action="{{ currentUrl }}?_csrf={{ csrf }}" enctype='multipart/form-data' novalidate>
      {{ csrfProtection(csrf) }}
      {{ govukTextarea({
        id: 'messageDetails',
        name: 'messageDetails',
        value: form.model.messageDetails,
        label: {
          text: t('PAGES.QM.FOLLOW_UP_QUERY.BODY_TITLE'),
          classes: 'govuk-heading-s govuk-!-font-weight-bold'
      },
        hint: {
          text: t('PAGES.QM.FOLLOW_UP_QUERY.BODY_HINT')
        },
        errorMessage: {
          text: t(form.errorFor('messageDetails'))
        } if form.errorFor('messageDetails')
      }) }}

      <div class="govuk-inset-text">
        {{ govukFileUpload({
          id: idValue,
          name: "selectedFile",
          label: {
            text: t('PAGES.QM.FOLLOW_UP_QUERY.DOCUMENTS_TITLE'),
            classes: 'govuk-heading-s govuk-!-font-weight-bold'
          },
          hint: {
            html: t('PAGES.QM.FOLLOW_UP_QUERY.DOCUMENTS_HINT')
          },
          errorMessage: {
            text: t(form.errorFor(idValue))
          } if form.errorFor(idValue)
        }) }}

        {{ govukButton({
          id: 'fileUpload',
          name: 'action',
          value: 'uploadButton',
          text: t('COMMON.SAVE_FILE'),
          classes: "govuk-button--secondary govuk-!-margin-bottom-0"
        }) }}
      </div>

      {% if formattedSummary.summaryList.rows.length > 0 %}
        <h2 class="govuk-heading-m">{{ t('COMMON.UPLOADED_FILES') }}</h2>
        <div class="govuk-section-break--s govuk-section-break--visible"></div>
        {% for row in formattedSummary.summaryList.rows %}
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
              <div class="govuk-summary-list__row ">
                <dt class="govuk-summary-list__key">
                  <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold"> {{ row.key.text }}</p>
                </dt>
                <dd class="govuk-summary-list__actions">
                  <button type="submit"
                          class="link-button"
                          id="deleteFile"
                          name="action"
                          value="[{{ row.value.html }}][deleteFile]">
                    {{ t('PAGES.GENERAL_APPLICATION.UPLOAD_DOCUMENTS.REMOVE_DOC') }}
                    <span class="govuk-visually-hidden">{{ row.key.text }}</span>
                  </button>
                </dd>
              </div>
          </dl>
        {% endfor %}
          </br>
      {% endif %}


      {{ addButton(t, 'CONTINUE', cancelUrl) }}
    </form>

{% endblock %}
