{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../macro/csrf.njk" import csrfProtection %}

{% block content %}

  {% set rows = [] %}
  {% for message in ogQueries %}
    {% set viewHtml = '<a class="govuk-link" href="view-queries/' + message.parentQuery.id + '">View</a>' %}
    {% set row = [{text: message.parentQuery.subject}, {text: message.parentQuery.createdOn}, {text: message.hasBeenResponded}, {html: viewHtml}] %}
    {% set rows = (rows.push(row), rows) %}
  {% endfor %}
  <div>
    {{ govukTable({
      caption: 'Your queries',
      captionClasses: "govuk-table__caption--l",
      firstCellIsHeader: false,
      head: [
        {text: "Subject"},
        {text: "Date created"},
        {text: "Has been responded to"},
        {text: "View the thread"}
      ],
      rows: rows
    }) }}
  </div>
{% endblock %}
