{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/help-calculating-interest.njk" import setContent %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.JUDGMENT_AMOUNT.PAGE_TITLE') }}
{% endblock %}
{% set detailsHtml %}
  {% if (judgmentSummaryDetails.isBreakDownInterest) %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ t('PAGES.JUDGMENT_AMOUNT.HOW_INTEREST_IS_CALCULATED',{reason:judgmentSummaryDetails.howInterestIsCalculatedReason,numberOfDays:
          judgmentSummaryDetails.numberOfDays}) }}
      </p>
      <p class="govuk-body-s">
        {{ t('PAGES.JUDGMENT_AMOUNT.TOTAL_PERIOD',{
          interestFromDate: judgmentSummaryDetails.interestStartDate,
          interestToDate: judgmentSummaryDetails.interestEndDate}) }}
      </p>
  {% else %}
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ t('PAGES.JUDGMENT_AMOUNT.INTEREST_TO_DATE_RESPONSE',{
          interestRate: judgmentSummaryDetails.interestRate,
          numberOfDays: judgmentSummaryDetails.numberOfDays}) }}
      </p>
      <p class="govuk-body-s">
        {{ t('PAGES.JUDGMENT_AMOUNT.TOTAL_PERIOD',{
          interestFromDate: judgmentSummaryDetails.interestStartDate,
          interestToDate: judgmentSummaryDetails.interestEndDate}) }}
      </p>
  {% endif %}
{% endset %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">{{ t('PAGES.JUDGMENT_AMOUNT.TITLE') }}</h1>
                    <p
                            class="govuk-body-m">{{ t('PAGES.JUDGMENT_AMOUNT.JUDGMENT_STATEMENT' , {subTotal : judgmentSummaryDetails.subTotal}) }}</p>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-text-align-right">{{ t('') }}</th>
                            <th scope="col" class="govuk-table__header govuk-!-text-align-right">{{ t('COMMON.AMOUNT') }}</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell ">{{ t('COMMON.CLAIM_AMOUNT') }}</td>
                            <td class="govuk-table__cell  govuk-!-text-align-right">{{ t ("£" + claimAmount) }}</td>
                        </tr>
                        {% if judgmentSummaryDetails.claimHasInterest %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell ">
                                  {{ govukDetails({
                                    summaryText: t('PAGES.JUDGMENT_AMOUNT.INTEREST_TO_DATE'),
                                    html: detailsHtml
                                  }) }}
                                </td>
                                <td
                                        class="govuk-table__cell  govuk-!-text-align-right">{{ t ("£" + judgmentSummaryDetails.interestToDate) }}</td>
                            </tr>
                        {% endif %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell ">{{ t('PAGES.JUDGMENT_AMOUNT.CLAIM_FEE_AMOUNT') }}</td>
                            <td class="govuk-table__cell  govuk-!-text-align-right">{{ t ("£" + claimFee) }}</td>
                        </tr>
                        {% if judgmentSummaryDetails.hasDefendantAlreadyPaid %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-!-font-weight-bold">{{ t('PAGES.JUDGMENT_AMOUNT.SUBTOTAL') }}</td>
                                <td
                                        class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">{{ t ("£" + judgmentSummaryDetails.subTotal) }}</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell ">{{ t('PAGES.JUDGMENT_AMOUNT.AMOUNT_ALREADY_PAID') }}</td>
                                <td
                                        class="govuk-table__cell  govuk-!-text-align-right">{{ t ("£" + judgmentSummaryDetails.alreadyPaidAmount) }}</td>
                            </tr>
                        {% endif %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ t('PAGES.JUDGMENT_AMOUNT.CLAIM_TOTAL') }}</td>
                            <td
                                    class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">{{ t ("£" + judgmentSummaryDetails.total) }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <form method="post" novalidate>
                      {{ csrfProtection(csrf) }}
                        <div class="govuk-form-group">
                          {{ govukButton({
                            text: t('COMMON.BUTTONS.CONTINUE')
                          }) }}
                          {{ contactUsForHelp(t) }}
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
