{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/external-link.njk" import externalLink %}
{% import "external-urls.njk" as externalURLs %}

{% block pageTitle %}
  {{ setPageTitle(t, 'COMMON.ASK_FOR_PROOF_OF_DEBT_PAYMENT') }}
{% endblock %}

{% block nestedContent %}
      <h1 class="govuk-heading-l">{{ t('COMMON.ASK_FOR_PROOF_OF_DEBT_PAYMENT') }}</h1>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_1') }}</p>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_2', {applicationFee:applicationFee}) }}
        {{ externalLink(t, 'PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.HELP_WITH_FEE', externalURLs.feesHelpUrl, false) }}</p>

      <h5 class="govuk-heading-s">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_TITLE_1') }}</h5>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_3') }}</p>

      <h5 class="govuk-heading-s">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_TITLE_2') }}</h5>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_4') }}</p>

      <h5 class="govuk-heading-s">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_TITLE_3') }}</h5>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_5') }}</p>
         <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
            <li>{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.DATE_OF_PAYMENT') }}</li>
            <li>{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.AMOUNT_PAID') }}</li>
            <li>{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.CASE_NUMBER') }}</li>
         </ul>
      <h5 class="govuk-heading-s">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_TITLE_4') }}</h5>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_6') }}</p>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_7') }}</p>

      <h5 class="govuk-heading-s">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_TITLE_5') }}</h5>
      <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.PARA_8') }}
        {{ externalLink(t, 'PAGES.GENERAL_APPLICATION.ASK_FOR_PROOF_OF_DEBT_PAYMENT.COMPLETE_FORM_N443', externalURLs.certificateN443Url, false) }}</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: t('COMMON.BUTTONS.CONTINUE'),
           href: nextPageUrl
        }) }}
        <a href="{{ cancelUrl }}" class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
      </div>
{% endblock %}
