{% extends "claim-details-tpl.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../macro/address.njk" import addressForm %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/postcode-address-form.njk" import postcodeLookupAndAddressForm %}
{% set correspondenceAddressClass = 'govuk-visually-hidden' %}
{% set addressTitle = t('PAGES.CLAIM_JOURNEY.CLAIMANT_INDIVIDUAL_DETAILS.YOUR_POSTAL_ADDRESS') %}
{% if party.model.provideCorrespondenceAddress == YesNo.YES or
  party.errorFor('correspondenceAddress') %}
  {% set radioChecked = true %}
{% else %}
  {% set radioChecked = false %}
{% endif %}
{% block pageTitle %}
  {{ setPageTitle('PAGES.CLAIM_JOURNEY.CLAIMANT_INDIVIDUAL_DETAILS.PAGE_TITLE') }}
{% endblock %}

{% set correspondenceAddressHtml %}
  <div class="govuk-form-group">
    <p class="govuk-label govuk-!-margin-bottom-5">
    <p class="govuk-body">{{ t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') }}
      {{ t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') }}</p>
    {{ postcodeLookupAndAddressForm(t, {
      party: party,
      addressType:'correspondenceAddress',
      addressTitle:addressTitle
    }) }}
  </div>
{% endset -%}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        {% if party.hasErrors() %}
          {{ errorSummary(party.getAllErrors(), t) }}
        {% endif %}
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.CLAIM_JOURNEY.CLAIMANT_INDIVIDUAL_DETAILS.TITLE') }}</h1>
          <p class="govuk-body">{{ t('PAGES.CLAIM_JOURNEY.CLAIMANT_INDIVIDUAL_DETAILS.THESE_DETAILS_ARE') }}</p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" class="govuk-!-padding-top-4" name="address" novalidate>
            {{ csrfProtection(csrf) }}

            {{ govukInput({
              label: {
                text: t('COMMON.INPUT_LABELS.TITLE')
              },
              classes: "govuk-!-width-one-half",
              id: "title",
              name: "title",
              value: party.model.title,
              errorMessage: { text: t(party.errorFor('title')) } if party.errorFor('title')
            }) }}
            {{ govukInput({
              label: {
                text: t('COMMON.INPUT_LABELS.FIRST_NAME')
              },
              classes: "govuk-!-width-one-half",
              id: "firstName",
              name: "firstName",
              value: party.model.firstName,
              errorMessage: { text: t(party.errorFor('firstName')) } if party.errorFor('firstName')
            }) }}
            {{ govukInput({
              label: {
                text: t('COMMON.INPUT_LABELS.LAST_NAME')
              },
              classes: "govuk-!-width-one-half",
              id: "lastName",
              name: "lastName",
              value: party.model.lastName,
              errorMessage: { text: t(party.errorFor('lastName')) } if party.errorFor('lastName')
            }) }}
            {% if type === partyType.SOLE_TRADER %}
              {{ govukInput({
                label: {
                  text: t('PAGES.CLAIM_JOURNEY.CLAIMANT_INDIVIDUAL_DETAILS.TRADING')
                },
                classes: "govuk-!-width-one-half",
                id: "soleTraderTradingAs",
                name: "soleTraderTradingAs",
                value: party.model.soleTraderTradingAs
              }) }}
            {% endif %}
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">{{ addressTitle }}</h2>
              <p class="govuk-body">{{ t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') }}
                {{ t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') }}</p>
              {{ postcodeLookupAndAddressForm(t, {
                party: party,
                addressType:'primaryAddress'
              }) }}
            </div>

            <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_DETAILS.CORRESPONDENCE_ADDRESS') }}</h2>
            {{ govukRadios({
              idPrefix: "provideCorrespondenceAddress",
              name: "provideCorrespondenceAddress",
              fieldset: {
                legend: {
                  text: t('PAGES.CITIZEN_DETAILS.DIFFERENT_ADDRESS_CORRESPONDENCE'),
                  isPageHeading: false
                }
              },
              items: [
                {
                  value: YesNo.NO,
                  text: t('COMMON.VARIATION_2.NO'),
                  checked: false if party.model.provideCorrespondenceAddress == YesNo.YES else true
                },
                {
                  value: YesNo.YES,
                  checked: radioChecked,
                  text: t('PAGES.CITIZEN_DETAILS.YES_CORRESPONDENCE'),
                  conditional: {
                  html: correspondenceAddressHtml
                }
                }
              ]
            }) }}
            {{ govukButton({
              text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
            }) }}
            {{ contactUsForHelp(t) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
