{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CLAIM_JOURNEY.DEFENDANT_EMAIL.TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        <div class="govuk-grid-row">
           {{ errorSummary(form.getErrors(), t) }}
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.CLAIM_JOURNEY.DEFENDANT_EMAIL.PAGE_TITLE') }}</h1>
          <p class="govuk-body">
            {{ t('PAGES.CLAIM_JOURNEY.DEFENDANT_EMAIL.USE_THIS_EMAIL') }}
          </p>
          <p class="govuk-body">
            {{ t('PAGES.CLAIM_JOURNEY.DEFENDANT_EMAIL.PERSONAL_EMAIL') }}
          </p>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <div class="govuk-form-group {%- if form.errorFor('emailAddress') %} govuk-form-group--error{% endif %}">
            {{ govukInput({
              id: "emailAddress",
              name: "emailAddress",
              value: form.model.emailAddress,
              label: {
                text: t('PAGES.CLAIM_JOURNEY.DEFENDANT_EMAIL.TITLE'),
                classes: 'govuk-visually-hidden'
              },
              errorMessage: {
                html: t(form.errorFor('emailAddress'))
              } if form.hasErrors()
              }) }}
            </div>
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
