{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../macro/address.njk" import addressForm %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% set correspondenceAddressClass = 'govuk-visually-hidden' %}
{% set addressTitle = t('PAGES.CLAIM_JOURNEY.CLAIMANT_INDIVIDUAL_DETAILS.YOUR_POSTAL_ADDRESS') %}
{% set claimantIndividualAddressErrors = claimantIndividualAddress.getAllErrors() %}
{% set claimantDetailsErrors = claimantDetails.getAllErrors() %}
{% if claimantIndividualCorrespondenceAddress %}
  {% set claimantDetailsErrors = claimantDetails.getAllErrors() %}
  {% set claimantIndividualCorrespondenceAddressErrors = claimantIndividualCorrespondenceAddress.getAllErrors() %}
  {% set claimantIndividualAddressErrors = claimantIndividualAddressErrors.concat(claimantIndividualCorrespondenceAddress.getAllErrors()) %}
{% endif %}
{% block pageTitle %}
  {{ setPageTitle('PAGES.CLAIM_JOURNEY.CLAIMANT_INDIVIDUAL_DETAILS.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  <div class="govuk-form-group postcode-container">
    <h2 class="govuk-heading-m">{{ addressTitle }}</h2>
    <p class="govuk-body">{{ t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') }}
      {{ t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') }}</p>
    <label class="govuk-label" for="primaryPostcode">
      {{ t('PAGES.CITIZEN_DETAILS.UK_POSTCODE') }}
    </label>
    <div id="primaryPostcode-error" class="govuk-visually-hidden govuk-error-message">
      {{ t('PAGES.CITIZEN_DETAILS.ADDRESS_NOT_FOUND') + t('PAGES.CITIZEN_DETAILS.TRY_AGAIN') }}
    </div>
    <input
      class="govuk-input govuk-input--width-10 postcode-val"
      name="primaryPostcode"
      type="text"
      value=""
      autocomplete="postal-code"/>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="primaryfindAddressButton">
      {{ t('PAGES.CITIZEN_DETAILS.FIND_ADDRESS') }}
    </button>
    <div class="govuk-visually-hidden govuk-!-margin-bottom-2">
      {{ govukSelect({
      name: "primaryAddressList",
      classes: 'addressList',
      label: {
        text: t('PAGES.CITIZEN_DETAILS.PICK_ADDRESS')
      },
      items: []
    }) }}
    </div>
    <div>
      <a aria-controls="enterAddressManually" href="#" class="govuk-body govuk-link enterAddressManually">
        {{ t('PAGES.CITIZEN_DETAILS.MANUAL_ADDRESS') }}
      </a>
    </div>
    <div class="{{ correspondenceAddressClass }} address-form">
      {{ addressForm(
      t,
      citizenAddress = claimantIndividualAddress,
      addressType = 'primary',
      addressTitle = ''
    ) }}
    </div>
  </div>
  <div class="govuk-form-group postcode-container">
    <p class="govuk-body">
      {{ t('COMMON.ADDRESS_FORM.CHANGE_ADDRESS') }}
      {{ t('COMMON.ADDRESS_FORM.ADDRESS_CHANGES_SHARED') }}</p>
    <label class="govuk-label" for="postcode">
      {{ t('PAGES.CITIZEN_DETAILS.UK_POSTCODE') }}
    </label>
    <div id="postcode-error" class="govuk-visually-hidden govuk-error-message">
      {{ t('PAGES.CITIZEN_DETAILS.ADDRESS_NOT_FOUND') + t('PAGES.CITIZEN_DETAILS.TRY_AGAIN') }}
    </div>
    <input
      class="govuk-input govuk-input--width-10 postcode-val"
      id="postcode"
      name="postcode"
      type="text"
      autocomplete="postal-code"/>
    <button
      href="#"
      class="govuk-button govuk-button--secondary findAddressButton"
      data-module="govuk-button"
      id="findAddressButton">
      {{ t('PAGES.CITIZEN_DETAILS.FIND_ADDRESS') }}
    </button>
    <div id="selectAddress" class="govuk-visually-hidden govuk-!-margin-bottom-2">
      {{ govukSelect({
        name: "correspondenceAddressList",
        classes: 'addressList',
        label: {
          text: t('PAGES.CITIZEN_DETAILS.PICK_ADDRESS')
        },
        items: []
      }) }}
    </div>
    <div>
      <a aria-controls="enterAddressManually" href="#" class="govuk-body govuk-link enterAddressManually">
        {{ t('PAGES.CITIZEN_DETAILS.MANUAL_ADDRESS') }}
      </a>
    </div>
    <div class="{{ correspondenceAddressClass }} address-form">
      {{ addressForm(
      t,
      citizenCorrespondenceAddress = claimantIndividualCorrespondenceAddress,
      addressType = 'correspondence',
      addressTitle = addressTitle
    ) }}
    </div>
  </div>
{% endblock %}
