{% extends "claim-details-tpl.njk" %}
{% from "../../../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/transaction-details.njk" import transactionDetails, otherTransactionDetails %}
{% from "../../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.REGULAR_INCOME.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  {% set errors = form.getAllErrors('model') %}
  {% if form.hasErrors() %}
    {{ errorSummary(errors, t) }}
  {% endif %}
  {% set rowNumberToShowRemoveButton = 2 %}
  {% set amountLabel = t('PAGES.REGULAR_INCOME.AMOUNT_RECEIVED') %}
  {% set scheduleLabel = t('PAGES.REGULAR_INCOME.RECEIVED_EVERY') %}
  {% set incomeSourceLabel = t('PAGES.REGULAR_INCOME.SOURCE_INCOME') %}
  {% set checkedJobHtml %}
    {{ transactionDetails(t,t('PAGES.REGULAR_INCOME.INCLUDE_WAGES_OVERTIME_COMISSION'), 'model[job][transactionSource]',  form.model.job.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedUniversalCreditHtml%}
    {{ transactionDetails(t,'', 'model[universalCredit][transactionSource]',  form.model.universalCredit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedJobseekerAllowanceIncomeHtml %}
    {{ transactionDetails(t,'', 'model[jobseekerAllowanceIncome][transactionSource]',  form.model.jobseekerAllowanceIncome.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedJobseekerAllowanceContributionHtml %}
    {{ transactionDetails(t,'', 'model[jobseekerAllowanceContribution][transactionSource]', form.model.jobseekerAllowanceContribution.transactionSource,{amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedIncomeSupportHtml %}
    {{ transactionDetails(t,'', 'model[incomeSupport][transactionSource]', form.model.incomeSupport.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedWorkingTaxCreditHtml %}
    {{ transactionDetails(t,'', 'model[workingTaxCredit][transactionSource]', form.model.workingTaxCredit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedChildTaxCreditHtml %}
    {{ transactionDetails(t,'', 'model[childTaxCredit][transactionSource]', form.model.childTaxCredit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedChildBenefitHtml %}
    {{ transactionDetails(t,'', 'model[childBenefit][transactionSource]', form.model.childBenefit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedCouncilTaxSupportHtml %}
    {{ transactionDetails(t,'', 'model[councilTaxSupport][transactionSource]',  form.model.councilTaxSupport.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedPensionHtml %}
    {{ transactionDetails(t,'', 'model[pension][transactionSource]',  form.model.pension.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedOtherHtml %}
    <div class="govuk-form-group">
      {% for transactionSource in form.model.other.transactionSources %}
        {% if form.model.other.transactionSources.length < rowNumberToShowRemoveButton %}
          {{ otherTransactionDetails( t,'model[other][transactionSources]', loop.index0, transactionSource, {name: incomeSourceLabel, amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form, {text: t('PAGES.REGULAR_INCOME.REMOVE_INCOME'), hidden:true}) }}
        {% else %}
          {{ otherTransactionDetails( t,'model[other][transactionSources]', loop.index0, transactionSource, {name: incomeSourceLabel, amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form, {text:t('PAGES.REGULAR_INCOME.REMOVE_INCOME')}) }}
        {% endif %}
      {% endfor %}
    </div>
    <div class="govuk-form-group">
      {{ govukButton({
        text: t("PAGES.REGULAR_INCOME.BUTTON_ADD_SOURCE"),
        classes: "govuk-button--secondary append-row"
      }) }}
    </div>
  {% endset -%}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}

            {{ govukCheckboxes({
              idPrefix: "declared",
              name: "declared",
              fieldset: {
                legend: {
                  text: t('PAGES.REGULAR_INCOME.WHAT_REGULAR_INCOME'),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: t('PAGES.REGULAR_INCOME.SELECT_ALL_THAT_APPLY')
              },
              items: [
                {
                  value: "job",
                  text: t('PAGES.REGULAR_INCOME.INCOME_JOB'),
                  conditional: {
                  html: checkedJobHtml
                },
                  checked: true if form.model.job.declared
                },
                {
                  value: "universalCredit",
                  text: t('PAGES.REGULAR_INCOME.UNIVERSAL_CREDIT'),
                  conditional: {
                  html: checkedUniversalCreditHtml
                },
                  checked: true if form.model.universalCredit.declared
                },
                {
                  value: "jobseekerAllowanceIncome",
                  text: t('PAGES.REGULAR_INCOME.JOBSEEKER_ALLOWANCE_INCOME'),
                  conditional: {
                  html: checkedJobseekerAllowanceIncomeHtml
                },
                  checked: true if form.model.jobseekerAllowanceIncome.declared
                },
                {
                  value: "jobseekerAllowanceContribution",
                  text: t('PAGES.REGULAR_INCOME.JOBSEEKER_ALLOWANCE_CONTRIBUTION'),
                  conditional: {
                  html: checkedJobseekerAllowanceContributionHtml
                },
                  checked: true if form.model.jobseekerAllowanceContribution.declared
                },
                {
                  value: "incomeSupport",
                  text: t('PAGES.REGULAR_INCOME.INCOME_SUPPORT'),
                  conditional: {
                  html: checkedIncomeSupportHtml
                },
                  checked: true if form.model.incomeSupport.declared
                },
                {
                  value: "workingTaxCredit",
                  text: t('PAGES.REGULAR_INCOME.WORKING_TAX'),
                  conditional: {
                  html: checkedWorkingTaxCreditHtml
                },
                  checked: true if form.model.workingTaxCredit.declared
                },
                {
                  value: "childTaxCredit",
                  text: t('PAGES.REGULAR_INCOME.CHILD_TAX'),
                  conditional: {
                  html: checkedChildTaxCreditHtml
                },
                  checked: true if form.model.childTaxCredit.declared
                },
                {
                  value: "childBenefit",
                  text: t('PAGES.REGULAR_INCOME.CHILD_BENEFIT'),
                  conditional: {
                  html: checkedChildBenefitHtml
                },
                  checked: true if form.model.childBenefit.declared
                },
                {
                  value: "councilTaxSupport",
                  text: t('PAGES.REGULAR_INCOME.COUNCIL_TAX'),
                  conditional: {
                  html: checkedCouncilTaxSupportHtml
                },
                  checked: true if form.model.councilTaxSupport.declared
                },
                {
                  value: "pension",
                  text: t('PAGES.REGULAR_INCOME.PENSION'),
                  conditional: {
                  html: checkedPensionHtml
                },
                  checked: true if form.model.pension.declared
                },
                {
                  value: "other",
                  text: t('PAGES.REGULAR_INCOME.OTHER'),
                  conditional: {
                  html: checkedOtherHtml
                },
                  checked: true if form.model.other.declared
                }
              ]
            }) }}

            <div class="govuk-form-group">
              <p class="govuk-fieldset__legend govuk-fieldset__legend--m" role="status" aria-live="polite">
                {{ t('PAGES.REGULAR_INCOME.TOTAL_MONTHLY') }} £
                <span class="total-monthly-income-expense">
                  0
               </span>
              </p>
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
