{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/transaction-details.njk" import transactionDetails, otherTransactionDetails %}
{% block content %}
  {% set errors = form.getAllErrors('model') %}
  {% if form.hasErrors() %}
    {{ govukErrorSummary({
      "titleText": t("There was a problem"),
      "errorList": errors
    }) }}
  {% endif %}
  {% set rowNumberToShowRemoveButton = 2 %}
  {% set amountLabel = 'Amount received' %}
  {% set scheduleLabel = 'Recieved every' %}
  {% set incomeSourceLabel = 'Source of income' %}
  {% set checkedJobHtml %}
    {{ transactionDetails('Include wages, overtime, commission, bonuses', 'model[job][transactionSource]',  form.model.job.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedUniversalCreditHtml %}
    {{ transactionDetails('', 'model[universalCredit][transactionSource]',  form.model.universalCredit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedJobseekerAllowanceIncomeHtml %}
    {{ transactionDetails('', 'model[jobseekerAllowanceIncome][transactionSource]',  form.model.jobseekerAllowanceIncome.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedJobseekerAllowanceContributionHtml %}
    {{ transactionDetails('', 'model[jobseekerAllowanceContribution][transactionSource]', form.model.jobseekerAllowanceContribution.transactionSource,{amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedIncomeSupportHtml %}
    {{ transactionDetails('', 'model[incomeSupport][transactionSource]', form.model.incomeSupport.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedWorkingTaxCreditHtml %}
    {{ transactionDetails('', 'model[workingTaxCredit][transactionSource]', form.model.workingTaxCredit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedChildTaxCreditHtml %}
    {{ transactionDetails('', 'model[childTaxCredit][transactionSource]', form.model.childTaxCredit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedChildBenefitHtml %}
    {{ transactionDetails('', 'model[childBenefit][transactionSource]', form.model.childBenefit.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedCouncilTaxSupportHtml %}
    {{ transactionDetails('', 'model[councilTaxSupport][transactionSource]',  form.model.councilTaxSupport.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedPensionHtml %}
    {{ transactionDetails('', 'model[pension][transactionSource]',  form.model.pension.transactionSource, {amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form) }}
  {% endset -%}
  {% set checkedOtherHtml %}
    <div class="govuk-form-group">
      {% for transactionSource in form.model.other.transactionSources %}
        {% if form.model.other.transactionSources.length < rowNumberToShowRemoveButton %}
          {{ otherTransactionDetails( 'model[other][transactionSources]', loop.index0, transactionSource, {name: incomeSourceLabel, amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form, {text:'Remove this income source', hidden:true}) }}
        {% else %}
          {{ otherTransactionDetails( 'model[other][transactionSources]', loop.index0, transactionSource, {name: incomeSourceLabel, amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form, {text:'Remove this income source'}) }}
        {% endif %}
      {% endfor %}
    </div>
    <div class="govuk-form-group">
      {{ govukButton({
        text: t("Add another source of income"),
        classes: "govuk-button--secondary append-row"
      }) }}
    </div>
  {% endset -%}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}

            {{ govukCheckboxes({
              idPrefix: "declared",
              name: "declared",
              fieldset: {
                legend: {
                  text: t("What regular income do you receive?"),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: t('Select all that apply. The information you enter must be truthful and accurate.')
              },
              items: [
                {
                  value: "job",
                  text: t("Income from your job"),
                  conditional: {
                  html: checkedJobHtml
                },
                  checked: true if form.model.job.declared
                },
                {
                  value: "universalCredit",
                  text: t("Universal Credit"),
                  conditional: {
                  html: checkedUniversalCreditHtml
                },
                  checked: true if form.model.universalCredit.declared
                },
                {
                  value: "jobseekerAllowanceIncome",
                  text: t("Jobseeker’s Allowance (income based)"),
                  conditional: {
                  html: checkedJobseekerAllowanceIncomeHtml
                },
                  checked: true if form.model.jobseekerAllowanceIncome.declared
                },
                {
                  value: "jobseekerAllowanceContribution",
                  text: t("Jobseeker’s Allowance (contribution based)"),
                  conditional: {
                  html: checkedJobseekerAllowanceContributionHtml
                },
                  checked: true if form.model.jobseekerAllowanceContribution.declared
                },
                {
                  value: "incomeSupport",
                  text: t("Income Support"),
                  conditional: {
                  html: checkedIncomeSupportHtml
                },
                  checked: true if form.model.incomeSupport.declared
                },
                {
                  value: "workingTaxCredit",
                  text: t("Working Tax Credit"),
                  conditional: {
                  html: checkedWorkingTaxCreditHtml
                },
                  checked: true if form.model.workingTaxCredit.declared
                },
                {
                  value: "childTaxCredit",
                  text: t("Child Tax Credit"),
                  conditional: {
                  html: checkedChildTaxCreditHtml
                },
                  checked: true if form.model.childTaxCredit.declared
                },
                {
                  value: "childBenefit",
                  text: t("Child Benefit"),
                  conditional: {
                  html: checkedChildBenefitHtml
                },
                  checked: true if form.model.childBenefit.declared
                },
                {
                  value: "councilTaxSupport",
                  text: t("Council Tax Support"),
                  conditional: {
                  html: checkedCouncilTaxSupportHtml
                },
                  checked: true if form.model.councilTaxSupport.declared
                },
                {
                  value: "pension",
                  text: t("Pension"),
                  conditional: {
                  html: checkedPensionHtml
                },
                  checked: true if form.model.pension.declared
                },
                {
                  value: "other",
                  text: t("Other"),
                  conditional: {
                  html: checkedOtherHtml
                },
                  checked: true if form.model.other.declared
                }
              ]
            }) }}

            <div class="govuk-form-group">
              <p class="govuk-fieldset__legend govuk-fieldset__legend--m" role="status" aria-live="polite">
                {{ t('Total monthly income') }}: £
                <span class="total-monthly-income-expense">
                  0
               </span>
              </p>
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
