{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.EXPERT_DETAILS.PAGE_TITLE') }}
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.EXPERT_DETAILS.PAGE_TITLE') }}</h1>

          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            
              {{ govukInput({
                id: "firstName",
                name: "firstName",
                value: form.model.firstName,
                classes: "govuk-!-width-one-half",
                label: {
                  text: t('PAGES.EXPERT_DETAILS.FIRST_NAME_OPTIONAL')
                },
                errorMessage: {
                  text: t(firstNameError)
                } if firstNameError
              }) }}

              {{ govukInput({
                id: "lastName",
                name: "lastName",
                value: form.model.lastName,
                classes: "govuk-!-width-one-half",
                label: {
                  text: t('PAGES.EXPERT_DETAILS.LAST_NAME_OPTIONAL')
                },
                errorMessage: {
                  text: t(lastNameError)
                } if lastNameError
              }) }}

              {{ govukInput({
                id: "emailAddress",
                name: "emailAddress",
                value: form.model.emailAddress,
                classes: "govuk-!-width-one-half",
                label: {
                  text: t('PAGES.EXPERT_DETAILS.EMAIL_ADDRESS_OPTIONAL')
                },
                errorMessage: {
                  text: t(emailAddressError)
                } if emailAddressError
              }) }}

              {{ govukInput({
                id: "phoneNumber",
                name: "phoneNumber",
                value: form.model.phoneNumber,
                classes: "govuk-!-width-one-half",
                label: {
                  text: t('PAGES.EXPERT_DETAILS.PHONE_OPTIONAL')
                },
                errorMessage: {
                  text: t(phoneNumberError)
                } if phoneNumberError
              }) }}
              
              {{ govukInput({
                id: "fieldOfExpertise",
                name: "fieldOfExpertise",
                value: form.model.fieldOfExpertise,
                classes: "govuk-!-width-one-half",
                label: {
                  text: t('PAGES.EXPERT_DETAILS.FIELD_OF_EXPERTISE')
                },
                errorMessage: {
                  text: t(fieldOfExpertiseError)
                } if fieldOfExpertiseError
              }) }}

              {{ govukTextarea({
                id: "whyNeedExpert",
                name: "whyNeedExpert",
                value: form.model.whyNeedExpert,
                classes: "govuk-!-width-three-quarters",
                label: {
                  text: t('PAGES.EXPERT_DETAILS.TELL_US_WHY_NEED_EXPERT')
                },
                errorMessage: {
                  text: t(whyNeedExpertError)
                } if whyNeedExpertError
              }) }}

            {{ govukInput({
              id: "estimatedCost",
              name: "estimatedCost",
              value: form.model.estimatedCost,
              type: "number",
              autocomplete: "number",
              spellcheck: false,
              prefix: {
                text: "£"
              },
              label: {
                text: t('PAGES.EXPERT_DETAILS.COST_OPTIONAL'),
                classes: "govuk-label--s",
                isPageHeading: true
              },
              classes: "govuk-!-width-two-thirds",
              errorMessage: {
                  text: t(estimatedCost)
                } if estimatedCost
            }) }}

            <div class="govuk-form-group">
              {{ govukButton({
                  text: t("COMMON.BUTTONS.CONTINUE")
                }) }}
            </div>
          </form>

          {{ contactUsForHelp(t) }}

        </div>
      </div>
    </main>
  </div>

{% endblock %}
