{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/yesNoForm.njk" import yesNoRadioButton %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "../../macro/transaction-details.njk" import transactionDetails, otherTransactionDetails %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.EXPERT_REPORT_DETAILS.PAGE_TITLE') }}
{% endblock %}

            {% set yesHtml %}
              {{ govukTextarea({
                name: "vulnerabilityDetails",
                id: "vulnerabilityDetails",
                value: form.model.vulnerabilityDetails,
                label: {
                  text: t('PAGES.VULNERABILITY.QUESTION_2')
                },
                errorMessage: {
                  html: form.errorFor("vulnerabilityDetails")
                } if form.hasFieldError("vulnerabilityDetails")
              }) }}
            {% endset %}

  {% set checkedOtherHtml %}
    <div class="govuk-form-group">
      {% for transactionSource in form.model.other.transactionSources %}
        {% if form.model.other.transactionSources.length < rowNumberToShowRemoveButton %}
          {{ otherTransactionDetails( t,'model[other][transactionSources]', loop.index0, transactionSource, {name: incomeSourceLabel, amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form, {text: t('PAGES.REGULAR_INCOME.REMOVE_INCOME'), hidden:true}) }}
        {% else %}
          {{ otherTransactionDetails( t,'model[other][transactionSources]', loop.index0, transactionSource, {name: incomeSourceLabel, amountLabel:amountLabel, scheduleLabel:scheduleLabel}, form, {text:t('PAGES.REGULAR_INCOME.REMOVE_INCOME')}) }}
        {% endif %}
      {% endfor %}
    </div>
    <div class="govuk-form-group">
      {{ govukButton({
        text: t("PAGES.REGULAR_INCOME.BUTTON_ADD_SOURCE"),
        classes: "govuk-button--secondary append-row"
      }) }}
    </div>
  {% endset -%}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        <div class="govuk-grid-row">
          {{ errorSummary(form.getErrors(), t) }}
        </div>
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.EXPERT_REPORT_DETAILS.TITLE') }}</h1>
          <form method="post" novalidate autocomplete="off">
            {{ csrfProtection(csrf) }}
            {{ yesNoRadioButton(t, 'hasExportReports', 'hasExportReports', '', form, '', {yesHtml: checkedOtherHtml}) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
