{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/address.njk" import addressForm %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/citizen-telephone.njk" import citizenTelephone %}
{% from "../../../macro/postcode-address-form.njk" import postcodeLookupAndAddressForm %}
{% macro citizenDetailsSection(t, type) %}
  {% if type === partyType.INDIVIDUAL %}
    <h2 class="govuk-heading-m">{{ t('COMMON.INPUT_LABELS.TITLE') }}</h2>
    <p class="govuk-body">{% if party.model.title %}{{ party.model.title }}{% endif %}</p>
    <input type="hidden" id="title" name="title" value="{{ party.model.title }}"/>
    <h2 class="govuk-heading-m">{{ t('COMMON.INPUT_LABELS.FIRST_NAME') }}</h2>
    <p class="govuk-body">{% if party.model.firstName %}{{ party.model.firstName }}{% endif %}</p>
    <input type="hidden" id="firstName" name="firstName" value="{{ party.model.firstName }}"/>
    <h2 class="govuk-heading-m">{{ t('COMMON.INPUT_LABELS.LAST_NAME') }}</h2>
    <p class="govuk-body">{% if party.model.lastName %}{{ party.model.lastName }}{% endif %}</p>
    <input type="hidden" id="lastName" name="lastName" value="{{ party.model.lastName }}"/>
  {% else %}
    <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_DETAILS.FULL_NAME') }}</h2>
    <p class="govuk-body">
    {% if party.model.partyName %}
      {{ party.model.partyName }}</p>
      <input type="hidden" id="partyName" name="partyName" value="{{ party.model.partyName }}"/>
    {% else %}
      {% if party.model.firstName %}
        {{ party.model.firstName }}
        <input type="hidden" id="firstName" name="firstName" value="{{ party.model.firstName }}"/>
      {% endif %}
      {% if party.model.lastName %}
        {{ party.model.lastName }}
        <input type="hidden" id="lastName" name="lastName" value="{{ party.model.lastName }}"/>
      {% endif %}
    </p>
    {% endif %}
    {% if party.model.soleTraderTradingAs %}
      <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_DETAILS.BUSINESS_NAME') }}</h2>
      <p class="govuk-body">{{ party.model.soleTraderTradingAs }}</p>
      <input type="hidden" name="soleTraderTradingAs" value="{{ party.model.soleTraderTradingAs }}"/>
    {% endif %}
  {% endif %}
{% endmacro %}

{% set correspondenceAddressClass = 'govuk-visually-hidden' %}
{% set addressTitle = t('PAGES.CITIZEN_DETAILS.ADDRESS') %}
{% set partyErrors = party.getAllErrors() %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CITIZEN_DETAILS.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        {% if party.hasErrors() or partyPhone.hasErrors() %}
          {{ errorSummary(party.getAllErrors().concat(partyPhone.getAllErrors()), t) }}
        {% endif %}
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('COMMON.CONFIRM_YOUR_DETAILS') }}</h1>
          <p class="govuk-body">{{ t('PAGES.CITIZEN_DETAILS.CLAIMANT_DETAILS_PROVIDED') }}</p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" class="govuk-!-padding-top-4" name="address" novalidate>
            {{ csrfProtection(csrf) }}
            {{ citizenDetailsSection(t, type) }}
            {{ addressForm(
              t,
              party = party,
              addressType = 'primaryAddress',
              addressTitle = addressTitle
            ) }}
            {% set correspondenceAddressHtml %}
            <p class="govuk-label govuk-!-margin-bottom-5">{{ t('PAGES.CITIZEN_DETAILS.ALL_CORRESPONDENCE') + t('PAGES.CITIZEN_DETAILS.ADDRESS_FOR_SERVICE') }}</p>
            {{ postcodeLookupAndAddressForm(t, {
              party: party,
              addressType:'correspondenceAddress',
              addressTitle:addressTitle
            }) }}
            {% endset -%}
            <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_DETAILS.CORRESPONDENCE_ADDRESS') }}</h2>
            {{ govukRadios({
              idPrefix: "postToThisAddress",
              name: "postToThisAddress",
              fieldset: {
                legend: {
                  text: t('PAGES.CITIZEN_DETAILS.DIFFERENT_ADDRESS_CORRESPONDENCE'),
                  isPageHeading: false
                }
              },
              items: [
                {
                  value: YesNo.NO,
                  text: t('COMMON.VARIATION_2.NO'),
                  checked: true
                },
                {
                  value: YesNo.YES,
                  checked: true if party.model.postToThisAddress === YesNo.YES or party.errorFor('correspondenceAddress') else false,
                  text: t('PAGES.CITIZEN_DETAILS.YES_CORRESPONDENCE'),
                  conditional: {
                  html: correspondenceAddressHtml
                }
                }
              ]
            }) }}
            {% if partyPhone.model.phone !== undefined and partyPhone.model.ccdPhoneExist %}
            <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_PHONE.PAGE_TITLE') }}</h2>
            <p class="govuk-body">{{ t('PAGES.CLAIMANT_PHONE.INFORMATION') }}</p>
            {{ govukInput({
              classes: "govuk-input--width-20",
              id: "partyPhone",
              name: "partyPhone",
              value: partyPhone.model.phone,
              errorMessage: {
                html: t(partyPhone.errorFor("phone"))
              } if partyPhone.hasErrors()
            }) }}
            {% endif %}
            {{ govukButton({
              text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
            }) }}
            {{ contactUsForHelp(t) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
