{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/address.njk" import addressForm %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}
{% from "../../../macro/citizen-telephone.njk" import citizenTelephone %}
{% from "../../../macro/postcode-address-form.njk" import postcodeLookupAndAddressForm %}
{% macro citizenDetailsSection(t, type) %}
  {% if type === partyType.INDIVIDUAL %}
    <h2 class="govuk-heading-m">{{ t('COMMON.INPUT_LABELS.TITLE') }}</h2>
    <p class="govuk-body">
      {% if respondent.individualTitle %}
        {{ respondent.individualTitle }}
      {% else %}
        individualTitle Test{% endif %}
    </p>
    <h2 class="govuk-heading-m">{{ t('COMMON.INPUT_LABELS.FIRST_NAME') }}</h2>
    <p class="govuk-body">
      {% if respondent.individualFirstName %}
        {{ respondent.individualFirstName }}
      {% else %}
        individualFirstName Test{% endif %}
    </p>
    <h2 class="govuk-heading-m">{{ t('COMMON.INPUT_LABELS.LAST_NAME') }}</h2>
    <p class="govuk-body">
      {% if respondent.individualLastName %}
        {{ respondent.individualLastName }}
      {% else %}
        individualLastName Test{% endif %}
    </p>
  {% else %}
    <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_DETAILS.FULL_NAME') }}</h2>
    <p class="govuk-body">
      {% if respondent.partyName %}
        {{ respondent.partyName }}
      {% else %}
        fullName Test{% endif %}
    </p>
    {% if respondent.soleTraderTradingAs %}
      <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_DETAILS.BUSINESS_NAME') }}</h2>
      <p class="govuk-body">{{ respondent.soleTraderTradingAs }}</p>
    {% endif %}
  {% endif %}
{% endmacro %}
{% set correspondenceAddressClass = 'govuk-visually-hidden' %}
{% set addressTitle = t('PAGES.CITIZEN_DETAILS.ADDRESS') %}
{% set citizenAddressErrors = citizenAddress.getAllErrors() %}
{% set partyErrors = party.getAllErrors() %}
{% if citizenCorrespondenceAddress %}
  {% set citizenCorrespondenceAddressErrors = citizenCorrespondenceAddress.getAllErrors() %}
  {% set citizenAddressErrors = citizenAddressErrors.concat(citizenCorrespondenceAddress.getAllErrors()) %}
{% endif %}
{% block pageTitle %}
  {{ setPageTitle('PAGES.CITIZEN_DETAILS.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        {% if party.hasErrors() or citizenCorrespondenceAddress.hasErrors() or citizenAddress.hasErrors() %}
          {{ errorSummary(citizenAddressErrors.concat(partyErrors), t) }}
        {% endif %}
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('COMMON.CONFIRM_YOUR_DETAILS') }}</h1>
          <p class="govuk-body">{{ t('PAGES.CITIZEN_DETAILS.CLAIMANT_DETAILS_PROVIDED') }}</p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ citizenDetailsSection(t, respondent.type) }}
          <form method="post" class="govuk-!-padding-top-4" name="address" novalidate>
            {{ csrfProtection(csrf) }}
            {{ addressForm(
              t,
              citizenAddress,
              citizenCorrespondenceAddress,
              addressType = 'primary',
              addressTitle = addressTitle
            ) }}
            {% set correspondenceAddressHtml %}
            <p class="govuk-label govuk-!-margin-bottom-5">{{ t('PAGES.CITIZEN_DETAILS.ALL_CORRESPONDENCE') + t('PAGES.CITIZEN_DETAILS.ADDRESS_FOR_SERVICE') }}</p>
            {{ postcodeLookupAndAddressForm(t, {
              citizenCorrespondenceAddress:citizenCorrespondenceAddress,
              addressType:'correspondence',
              addressTitle:addressTitle
            }) }}
            {% endset -%}
            <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_DETAILS.CORRESPONDENCE_ADDRESS') }}</h2>
            {{ govukRadios({
              idPrefix: "postToThisAddress",
              name: "postToThisAddress",
              fieldset: {
                legend: {
                  text: t('PAGES.CITIZEN_DETAILS.DIFFERENT_ADDRESS_CORRESPONDENCE'),
                  isPageHeading: false
                }
              },
              items: [
                {
                  value: YesNo.NO,
                  text: t('COMMON.NO'),
                  checked: true
                },
                {
                  value: YesNo.YES,
                  checked: true if respondent.postToThisAddress == YesNo.YES or citizenCorrespondenceAddress.hasErrors() === true else false,
                  text: t('PAGES.CITIZEN_DETAILS.YES_CORRESPONDENCE'),
                  conditional: {
                  html: correspondenceAddressHtml
                }
                }
              ]
            }) }}
            {% if respondent.partyPhone !== undefined %}
              <h2 class="govuk-heading-m">{{ t('PAGES.CITIZEN_PHONE.PAGE_TITLE') }}</h2>
              <p class="govuk-body">{{ t('PAGES.CLAIMANT_PHONE.INFORMATION') }}</p>
              {{ citizenTelephone(party, t, {
                id: "partyPhone",
                name: "partyPhone",
                className: "govuk-input--width-20"
            }) }}
            {% endif %}
            {{ govukButton({
              text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
            }) }}
            {{ contactUsForHelp(t) }}
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
