{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/external-link.njk" import externalLink %}

{% import "external-urls.njk" as externalURLs %}

{% set pageTitle = t('PAGES.ACCESSIBILITY_STATEMENT.PAGE_TITLE') %}

{% block nestedContent %}

  <h1 class="govuk-heading-xl">{{t('PAGES.ACCESSIBILITY_STATEMENT.TITLE')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_1') }}
    {{ externalLink(t, 'PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_1_LINK', externalURLs.moneyClaimsUrl, true, '', '') }}.
    {{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_2_CARM') }}
  </p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_3') }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_4') }}</li>
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_5') }}</li>
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_6') }}</li>
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_7') }}</li>
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_8') }}</li>
  </ul>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_9') }}</p>

  {% if getLanguage() =='cy' %}
    <p class="govuk-body">
      {{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_10_TEXT_BEFORE') }}
      {{ externalLink(t, 'PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_10_LINK', externalURLs.abilityNetUrl, true, '', '') }}
      {{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_10') }}
    </p>
  {% else %}
    <p class="govuk-body">
      {{ externalLink(t, 'PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_10_LINK', externalURLs.abilityNetUrl, true, '', '') }}
      {{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_AS_10') }}
    </p>
  {% endif %}

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_HOW_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_HOW_2_CARM') }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_HOW_3') }}</li>
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_HOW_4') }}</li>
    <li>{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_HOW_5') }}</li>
  </ul>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_FEEDBACK_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_FEEDBACK_3') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_FEEDBACK_4') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_FEEDBACK_5') }}</p>
  <p class="govuk-body">{{t('PAGES.ACCESSIBILITY_STATEMENT.EMAIL_TITLE')}}</p>
  <p class="govuk-body">
    {{ externalLink(t, 'PAGES.ACCESSIBILITY_STATEMENT.EMAIL', 'mailto:HMCTSforms@justice.gov.uk', false) }}
    </p>
  <p class="govuk-body">{{t('PAGES.ACCESSIBILITY_STATEMENT.TELEPHONE_TITLE')}}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.TELEPHONE') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.MONDAY_TO_FRIDAY') }}</p>
  <p class="govuk-body">
    {{ externalLink(t, 'PAGES.ACCESSIBILITY_STATEMENT.FIND_OUT', externalURLs.callChargesUrl, true, '', '') }}
  </p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_REPORTING_3') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_REPORTING_4') }}</p>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_ENFORCEMENT_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_ENFORCEMENT_2') }}
    {{ externalLink(t, 'PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_ENFORCEMENT_3', externalURLs.equalityUrl, true, '', '') }}
  </p>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_TECHNICAL_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_TECHNICAL_2') }}</p>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_COMPLIANCE_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_COMPLIANCE_2') }}
    {{ externalLink(t, 'PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_COMPLIANCE_3', externalURLs.complianceUrl, true, '', '') }}
    {{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_COMPLIANCE_4') }}
  </p>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_NON_ACCESIBLE_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_NON_ACCESIBLE_2') }}</p>
  <h1 class="govuk-heading-m">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_NON_ACCESIBLE_3')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_NON_ACCESIBLE_6') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_NON_ACCESIBLE_7') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_NON_ACCESIBLE_8') }}</p>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_TESTED_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_TESTED_5') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_TESTED_6') }}</p>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_IMPROVE_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_IMPROVE_4') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_IMPROVE_5') }}</p>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_IMPROVE_6') }}</p>

  <h1 class="govuk-heading-l">{{t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_PREPARATION_1')}}</h1>
  <p class="govuk-body">{{ t('PAGES.ACCESSIBILITY_STATEMENT.PARAGRAPH_PREPARATION_3') }}</p>
{% endblock %}
