{% extends "claim-details-tpl.njk" %}
{% from "../../macro/external-link.njk" import externalLink %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{t(pageTitle)}}</h1>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Webchat</h2>
          <div id="__8x8-chat-button-container-script_1191773643670e666a982030.90013235"></div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-6">Telephone</h2>
          <p class="govuk-body govuk-!-margin-bottom-0">0300 123 1056</p>
          <h2 class="govuk-heading-m govuk-!-margin-top-6">Opening Times</h2>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Telephone</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 9am to 5pm</p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Webchat</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 9am to 5pm</p>
          <br>
          <p class="govuk-body govuk-!-margin-bottom-0">Telephone and webchat closed on Saturdays, Sundays and bank holidays</p>
          <p class="govuk-body">
            {{ externalLink(t, 'Find out about call charges (opens in a new window)', 'https://www.gov.uk/call-charges', false) }}
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}

{% block bodyEnd %}
  {% include "webpack/js.njk" %}
  <script type="text/javascript">
    window.__8x8Chat = {
      uuid: "script_1191773643670e666a982030.90013235",
      tenant: "aG1jdHN4MTAx",
      channel: "NBC_CNBC_Web_Chat",
      channelUuid: "YFOOn2KASGSaEd96HY8-BA",
      domain: "https://vcc-eu4.8x8.com",
      path: "/.",
      buttonContainerId: "__8x8-chat-button-container-script_1191773643670e666a982030.90013235",
      align: "right"
    };
    (function() {
      var se = document.createElement("script");
      se.type = "text/javascript";
      se.async = true;
      se.src = window.__8x8Chat.domain + window.__8x8Chat.path + "/CHAT/common/js/chat.js";
      var os = document.getElementsByTagName("script")[0];
      os.parentNode.insertBefore(se, os);
    })();
  </script>
{% endblock %}
