Html Webpack Plugin:
<pre>
  TypeError: Cannot read properties of undefined (reading 'substr')
  
  - css-template.njk:14 
    /Users/elvianihuseyin/Projects/hmcts/civil-citizen-ui/src/main/views/webpack    /css-template.njk:14:42
  
  - css-template.njk:17 module.exports
    /Users/elvianihuseyin/Projects/hmcts/civil-citizen-ui/src/main/views/webpack    /css-template.njk:17:3
  
  - index.js:798 
    [civil-citizen-ui]/[html-webpack-plugin]/index.js:798:16
  
  - async Promise.all
  
</pre>