Html Webpack Plugin:
<pre>
  TypeError: Cannot read properties of undefined (reading 'substr')
  
  - css-template.njk:14 
    /Users/dharmendrakumar/development/moj/civil/civil-citizen-ui/src/main/views/webpack/css-template.njk:14:42
  
  - css-template.njk:17 module.exports
    /Users/dharmendrakumar/development/moj/civil/civil-citizen-ui/src/main/views/webpack/css-template.njk:17:3
  
  - index.js:499 
    [civil-citizen-ui]/[html-webpack-plugin]/index.js:499:16
  
  - task_queues:95 process.processTicksAndRejections
    node:internal/process/task_queues:95:5
  
  - async Promise.all
  
</pre>