Html Webpack Plugin:
<pre>
  TypeError: Cannot read property 'substr' of undefined
  
  - loader.js:4 eval
    [css-template.njk?.]/[html-webpack-plugin]/lib/loader.js:4:42
  
  - loader.js:7 module.exports
    [css-template.njk?.]/[html-webpack-plugin]/lib/loader.js:7:3
  
  - index.js:406 
    [civil-citizen-ui]/[html-webpack-plugin]/index.js:406:16
  
  - task_queues.js:95 processTicksAndRejections
    internal/process/task_queues.js:95:5
  
  - async Promise.all
  
</pre>