{% extends "claim-details-tpl-dashboard.njk" %}

{% set pageTitle = t('PAGES.BREATHING_SPACE_ENTRY.PAGE_TITLE') %}

{% block nestedContent %}
  <h1 class="govuk-heading-l">{{ t('PAGES.BREATHING_SPACE_ENTRY.PAGE_TITLE') }}</h1>
  <p class="govuk-body">{{ t('PAGES.BREATHING_SPACE_ENTRY.STUB_MESSAGE') }}</p>
{% endblock %}
