{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/task-list.njk" import taskListComponent %}
{% from "./claim-summary-content.njk" import claimSummaryContent %}
{% from "../../macro/notifications.njk" import notifications %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../../macro/support-links.njk" import supportLinks %}

{% block nestedContent %}
        {% block warning_message %}
          {% include "../../macro/banner.njk" %}
        {% endblock %}
        {% set claimantName = claim.getClaimantFullName() %}
        {% set defendantName = claim.getDefendantFullName() %}
        {% if claimantName and defendantName %}
          <h1 class="govuk-heading-m">{{ claimantName }} v {{ defendantName }}</h1>
        {% endif %}
        {% if claimIdPrettified %}
          <p class="govuk-body-m govuk-!-margin-bottom-0">
              {{ t('COMMON.CASE_NUMBER') }}
              {{ claimIdPrettified }}
          </p>
        {% endif %}
        {% if claimAmountFormatted %}
          <p class="govuk-body-m">{{  t('COMMON.CLAIM_AMOUNT_WITH_VALUE', {claimAmount: claimAmountFormatted}) }}</p>
        {% endif %}

        <div class="border-small-top"></div>
         <div class="dashboard-notification">
          {% for notification in dashboardNotifications.items %}
              {{ govukNotificationBanner({
                 titleText: notification.titleCy if lang=="cy" else notification.titleEn,
                 html: notification.descriptionCy if lang=="cy" else notification.descriptionEn,
                 classes: "govuk-!-margin-bottom-4"
               })  }}
          {% endfor %}
         </div>
  <div>
    <h2 class="govuk-heading-m">Queries</h2>
    <div>
      <a class="govuk-link" href="/{{ claimId }}/create-query">Create query</a>
    </div>
    <div>
      <a class="govuk-link" href="/{{ claimId }}/view-queries">View queries</a>
    </div>

  </div>
          {% for taskList in dashboardTaskList.items %}
            <div class="{{ 'govuk-!-display-none' if taskList.tasks.length===0}}">
              <h2 class="app-task-list__section">
                 {% if lang=="cy"%} {{ taskList.categoryCy }} {% else %} {{ taskList.categoryEn}} {% endif %}
              </h2>
              <ol class="app-task-list app-task-list__items">
                {% for task in taskList.tasks %}
                  <li class="app-task-list__item">
                    <div class="row">
                      <div class="column">
                          <span class="app-task-list__task-name">
                            {% if lang=="cy"%} {{ task.taskNameCy | safe}} {% else %} {{ task.taskNameEn | safe}} {% endif %}
                          </span>
                      </div>
                      <div class="column">
                        <strong class="govuk-tag app-task-list__tag {{ task.statusColour}}">
                          {% if lang=="cy"%}{{ task.statusCy }} {% else %} {{ task.statusEn }} {% endif %}
                        </strong>
                      </div>
                      {% if task.hintTextEn %}
                        <br/>
                        <span class="govuk-body-s"> {% if lang=="cy"%} {{ task.hintTextCy }} {% else %} {{ task.hintTextEn }} {% endif %} </span>
                      {% endif %}
                    </div>
                  </li>
                {% endfor %}
              </ol>
            </div>
          {% endfor %}
{% endblock %}
