{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "../../macro/task-list.njk" import taskListComponent %}
{% from "./claim-summary-content.njk" import claimSummaryContent %}
{% from "../../macro/notifications.njk" import notifications %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../macro/support-links.njk" import supportLinks %}
{% from "../../macro/banner.njk" import addBanner %}

{% block nestedContent %}
        {% block warning_message %}
          {{ addBanner("2025-10-31T07:00+01:00", "2025-11-07T04:00+01:00", t('BANNERS.CUI_MAIN_WELSH_LIP.MESSAGE')) }}
        {% endblock %}
        {% block welsh_party_message %}
          {% include "../../macro/welsh_party_banner.njk" %}
        {% endblock %}
        {% if showErrorAwaitingTranslation %}
          {{ govukWarningText({
            text: t('ERRORS.DOCUMENTS_BEING_TRANSLATED'),
            iconFallbackText: "Warning"
          }) }}
        {% endif %}
        {% set claimantName = claim.getClaimantFullName() %}
        {% set defendantName = claim.getDefendantFullName() %}
        {% set hintText = t('COMMON.CLAIMANT_DASHBOARD_HINT_TEXT') if claim.isClaimant() else t('COMMON.DEFENDANT_DASHBOARD_HINT_TEXT')%}
        {% if claimantName and defendantName %}
          <h1 class="govuk-heading-m">{{ claimantName }} v {{ defendantName }}</h1>
        {% endif %}
        {% if claimIdPrettified %}
          <p class="govuk-body-m govuk-!-margin-bottom-0">
              {{ t('COMMON.CASE_NUMBER') }}
              {{ claimIdPrettified }}
          </p>
        {% endif %}
        {% if claimAmountFormatted %}
          <p class="govuk-body-m">{{  t('COMMON.CLAIM_AMOUNT_WITH_VALUE', {claimAmount: claimAmountFormatted}) + ' (' + hintText+ ')'}}</p>
        {% endif %}

        <div class="border-small-top"></div>
         <div class="dashboard-notification">
          {% for notification in dashboardNotifications.items %}
              {% set titleId = 'dashboard-notification-banner-title-' ~ loop.index0 %}
              {{ govukNotificationBanner({
                 titleText: notification.titleCy if lang=="cy" else notification.titleEn,
                 html: notification.descriptionCy if lang=="cy" else notification.descriptionEn,
                 titleId: titleId,
                 classes: "govuk-!-margin-bottom-4"
               })  }}
          {% endfor %}
         </div>
          {% for taskList in dashboardTaskList.items %}
            <div class="{{ 'govuk-!-display-none' if taskList.tasks.length===0}}">
              <h2 class="app-task-list__section" id="tasklist-heading-{{ loop.index }}">
                 {% if lang=="cy"%} {{ taskList.categoryCy }} {% else %} {{ taskList.categoryEn}} {% endif %}
              </h2>
             <ol class="app-task-list app-task-list__items" role="group" aria-labelledby="tasklist-heading-{{ loop.index }}">
                {% for task in taskList.tasks %}
                  <li class="app-task-list__item">
                    <div class="row">
                      <div class="column">
                          <span class="app-task-list__task-name">
                            {% if lang=="cy"%} {{ task.taskNameCy | safe}} {% else %} {{ task.taskNameEn | safe}} {% endif %}
                          </span>
                      </div>
                      <div class="column">
                        <strong class="govuk-tag app-task-list__tag {{ task.statusColour}}">
                          {% if lang=="cy"%}{{ task.statusCy }} {% else %} {{ task.statusEn }} {% endif %}
                        </strong>
                      </div>
                      {% if task.hintTextEn %}
                        <br/>
                        <span class="govuk-body-s"> {% if lang=="cy"%} {{ task.hintTextCy }} {% else %} {{ task.hintTextEn }} {% endif %} </span>
                      {% endif %}
                    </div>
                  </li>
                {% endfor %}
              </ol>
            </div>
          {% endfor %}
{% endblock %}
