{% extends "../../claim-details-tpl.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/about-claim-widget.njk" import aboutClaimWidget %}
{% from "../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CONTACT_THEM.PAGE_TITLE') }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      {% set otherPartyLabel = 'contact-them' %}
      {% set header = t('PAGES.CONTACT_THEM.ABOUT') %}
      {% set totalClaimAmount ='£'+ claim.totalClaimAmount %}
      {% set phone = party.partyPhone %}
      {% set email = party.emailAddress %}
      {% set contactPerson = party.partyDetails.contactPerson %}
      {% set heading = t('PAGES.CONTACT_THEM.CONTACT')+ t(otherParty) %}
      {% set claimAmount = t('COMMON.CLAIM_AMOUNT') + ':' %}
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <span class="govuk-caption-l  govuk-!-padding-top-0">{{ t(otherParty) }}</span>
          <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ t(otherPartyName) }}</h1>
          <div>
            {% if address %}
              <h2 class="govuk-heading-m">{{ t('COMMON.ADDRESS') }}</h2>
              {% if solicitorName %}
                <p class="govuk-body govuk-!-margin-bottom-0">{{ solicitorName }}</p>
              {% endif %}
              {% if address.addressLine1 %}
                <p class="govuk-body govuk-!-margin-bottom-0">{{ address.addressLine1 }}</p>
              {% endif %}
              {% if address.addressLine2 %}
                <p class="govuk-body govuk-!-margin-bottom-0">{{ address.addressLine2 }}</p>
              {% endif %}
              {% if address.addressLine3 %}
                <p class="govuk-body govuk-!-margin-bottom-0">{{ address.addressLine3 }}</p>
              {% endif %}
              {% if address.city %}
                <p class="govuk-body govuk-!-margin-bottom-0">{{ address.city }}</p>
              {% endif %}
              {% if address.postCode %}
                <p class="govuk-body govuk-!-margin-bottom-6">{{ address.postCode }}</p>
              {% endif %}
            {% endif %}
          </div>
          <div>
            {% if phone %}
              <div class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.CONTACT_THEM.PHONE') +': ' }}{{ phone.phone }}</div>
            {% endif %}
            {% if email.emailAddress %}
              <div class="govuk-body govuk-!-margin-bottom-6">{{ t('COMMON.EMAIL') +': ' }}<a href='mailto:{{ email.emailAddress }}'>{{ email.emailAddress }}</a>
              </div>
            {% endif %}
          </div>
          <br/>
          {{ contactUsForHelp(t) }}
        </div>
           {% if showInR1 %}
        {{ aboutClaimWidget(t,{header:header,lines:[{title: 'PAGES.CLAIM_SUMMARY.CLAIMANT_NAME', href: otherPartyLabel, hrefContact: otherPartyName},{title: 'PAGES.CLAIM_SUMMARY.CLAIM_AMOUNT', href: '', content:totalClaimAmount},{title: 'PAGES.CLAIM_SUMMARY.CLAIM_DETAILS', href: claimDetailsUrl, hrefContact: 'PAGES.CLAIM_SUMMARY.VIEW_CLAIM'}]}) }}
           {% endif %}
      </div>
    </main>
  </div>
{% endblock %}
