{% extends "template.njk" %}
{% set heading = 'Your money claims account' %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">{{ t('Claims made against you') }}</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{{ t('Claim number') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Claimant name') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Claim amount') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Next steps') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Deadline') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Actions') }}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">352MC733</td>
          <td class="govuk-table__cell">Jan Clark</td>
          <td class="govuk-table__cell">£1500</td>
          <td class="govuk-table__cell">Respond to the claim</td>
          <td class="govuk-table__cell">13 December 2020</td>
          <td class="govuk-table__cell">View</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
