{% extends "claim-details-tpl.njk" %}
{% set heading = 'Your money claims account' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">{{ t('Claims made against you') }}</h2>
      <p class="govuk-body">
          {{ t('To view or progress your claim click on your claim number. Most recently created claims are listed first.') }}
      </p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{{ t('Claim number') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Claimant name') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Claim amount') }}</th>
          <th scope="col" class="govuk-table__header">{{ t('Status') }}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for claim in claimsAsDefendant %}
          {% set claimantDetailsUrl = '/dashboard/' + claim.id + '/claimant' %}
          <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href={{claimantDetailsUrl}}> {{ claim.case_data.legacyCaseReference }} </a>
          </td>
          <td class="govuk-table__cell">{{ claim.case_data.applicant1.individualFirstName }} {{ claim.case_data.applicant1.individualLastName }}</td>
          <td class="govuk-table__cell">{{ claim.case_data.formattedTotalClaimAmount() }}</td>
          <td class="govuk-table__cell">{{ t('You need to respond before ') }}{{ claim.case_data.formattedResponseDeadline() }}</td>
        </tr> 
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
