{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% block pageTitle %}
  {{ setPageTitle('PAGES.DASHBOARD.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ t('PAGES.DASHBOARD.TITLE') }}</h1>
  {% if not claimDraftSaved %}
    <p class="govuk-body">
      <div>
      <a class="govuk-link govuk-!-font-weight-bold" href={{ newOcmcClaimUrl }} target="_blank" rel="noreferrer noopener">
        {{ t('PAGES.DASHBOARD.MAKE_A_NEW_CLAIM')}}
      </a>
      </div>
      <a class="govuk-link govuk-!-font-weight-bold" href={{ liPvLiPClaimCreationTestUrl }} target="_blank" rel="noreferrer noopener">
        {{ t('PAGES.DASHBOARD.TEST_CLAIM')}}
      </a>
    </p>
  {% endif %}
  
  {% if claimsAsClaimant | length or claimDraftSaved | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">{{ t('PAGES.DASHBOARD.CLAIMANT_TITLE') }}</h2>
        <p class="govuk-body">
          {{ t('PAGES.DASHBOARD.CLAIM_PROMPT') }}
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{ t('PAGES.DASHBOARD.CLAIM_NUMBER') }}</th>
              <th scope="col" class="govuk-table__header">{{ t('PAGES.DASHBOARD.DEFENDANT_NAME') }}</th>
              <th scope="col" class="govuk-table__header">{{ t('COMMON.CLAIM_AMOUNT') }}</th>
              <th scope="col" class="govuk-table__header">{{ t('PAGES.DASHBOARD.CLAIM_STATUS') }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% if claimDraftSaved | length %}
              {% set viewClaimNumberDraft = t('PAGES.DASHBOARD.VIEW_CLAIM_NUMBER', {claimNumber:t(claimDraftSaved.claimNumber) }) %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href={{ claimDraftSaved.getHref() }}>
                    {{ t(claimDraftSaved.claimNumber) }}
                  </a>
                </td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">-</td>
              </tr>
            {% endif %}
            {% for item in claimsAsClaimant %}
              {% set viewClaimNumber = t('PAGES.DASHBOARD.VIEW_CLAIM_NUMBER', {claimNumber:item.claimNumber })%}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href={{ item.getHref() }}>
                    {{ item.claimNumber }}
                  </a>
                </td>
                <td class="govuk-table__cell">{{ item.defendantName }}</td>
                <td class="govuk-table__cell">{{ item.claimAmount | currencyFormat(item.claimAmount) }}</td>
                <td class="govuk-table__cell">{{ item.getStatus(lang) }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
   {% if paginationArgumentClaimant %}
    {{ govukPagination({
      previous: paginationArgumentClaimant.previous,
      next: paginationArgumentClaimant.next,
      items: paginationArgumentClaimant.items
    }) }}
  {% endif %}
  {% if claimsAsDefendant | length %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">{{ t('PAGES.DASHBOARD.DEFENDANT_TITLE') }}</h2>
        <p class="govuk-body">
          {{ t('PAGES.DASHBOARD.CLAIM_PROMPT') }}
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{ t('PAGES.DASHBOARD.CLAIM_NUMBER') }}</th>
              <th scope="col" class="govuk-table__header">{{ t('PAGES.DASHBOARD.CLAIMANT_NAME') }}</th>
              <th scope="col" class="govuk-table__header">{{ t('COMMON.CLAIM_AMOUNT') }}</th>
              <th scope="col" class="govuk-table__header">{{ t('PAGES.DASHBOARD.CLAIM_STATUS') }}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in claimsAsDefendant %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href={{ item.getHref() }}>
                    {{ item.claimNumber }}
                  </a>
                </td>
                <td class="govuk-table__cell">{{ item.claimantName }}</td>
                <td class="govuk-table__cell">{{ item.claimAmount | currencyFormat(item.claimAmount) }}</td>
                <td class="govuk-table__cell">{{ item.getStatus(lang) }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  {% if paginationArgumentDefendant %}
    {{ govukPagination({
      previous: paginationArgumentDefendant.previous,
      next: paginationArgumentDefendant.next,
      items: paginationArgumentDefendant.items
    }) }}
  {% endif %}
  {{ contactUsForHelp(t) }}
{% endblock %}
