{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro itemContent(content) %}
  {% if content.type === ClaimSummaryType.HTML %}
    {{ content.data.html | safe }}
  {% endif %}

  {% if content.type === ClaimSummaryType.MAINTITLE %}
    <h1 class="govuk-heading-l">{{ t(content.data.text) }}</h1>
  {% endif %}

  {% if content.type === ClaimSummaryType.TITLE %}
    {% set object = '' %}
    {% if  content.data.variables %}
      {% set object = content.data.variables %}
      <h3 class="govuk-heading-m {{ content.data.classes }}">{{ t(content.data.text,object) }}</h3>
    {% else %}
      <h3 class="govuk-heading-m {{ content.data.classes }}">{{ t(content.data.text) }}</h3>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.SUBTITLE %}
    <h3 class="govuk-heading-s">{{ t(content.data.text) }}</h3>
  {% endif %}

  {% if content.type === ClaimSummaryType.LEAD_PARAGRAPH %}
    {% set object = '' %}
    {% if content.data.variables %}
      {% set object = content.data.variables %}
      <p class="govuk-body-l {{ content.data.classes }}">{{ t(content.data.text,object) }}</p>
    {% else %}
      <p class="govuk-body-l {{ content.data.classes }}">{{ t(content.data.text) }}</p>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.PARAGRAPH %}
    {% set object = '' %}
    {% if content.data.variables %}
        {% set object = content.data.variables %}
        <p class="govuk-body {{ content.data.classes }}">{{ t(content.data.text,object)}}</p>
    {% else %}
      <p class="govuk-body {{ content.data.classes }}">{{ t(content.data.text) }}</p>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.INSET_TEXT %}
    {{ govukInsetText({
      text: t(content.data.text),
      html: content.data.html
    }) }}
  {% endif %}

  {% if content.type === ClaimSummaryType.SUMMARY %}
    {{ govukSummaryList({
      rows: content.data.rows
    }) }}
  {% endif %}

  {% if content.type === ClaimSummaryType.BUTTON %}
    <div>
      {{ govukButton({
        href: content.data.href,
        text:  t(content.data.text),
        classes: content.data.classes,
        isStartButton: content.data.isStartButton
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.NEW_TAB_BUTTON %}
    <a target="_blank" role="button" draggable="false" class="govuk-button" data-module="govuk-button" href={{ content.data.href }}>
      {{ t(content.data.text) }}
    </a>
  {% endif %}

  {% if content.type === ClaimSummaryType.LINK %}
    <p class="govuk-body govuk-!-margin-bottom-1">{{ t(content.data.textBefore) }}
      {% set object = '' %}
      {% if content.data.variables %}
        {% set object = content.data.variables %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }}>{{ t(content.data.text,object) }}</a>
      {% elif  content.data.externalLink %}
         <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }} rel="noreferrer noopener" target="_blank">{{ t(content.data.text) }}</a>
      {% else %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }}>{{ t(content.data.text) }}</a>
      {% endif %}
      {{ t(content.data.textAfter) }}
    </p>
    <p class="govuk-body-s mid-grey">{{ t(content.data.subtitle) }}</p>
  {% endif %}

  {% if content.type === ClaimSummaryType.TABLE %}
    <div>
      {{ govukTable({
        classes: content.data.classes,
        head: content.data.head,
        rows: content.data.tableRows
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.PANEL %}
    <div>
      {{ govukPanel({
        classes: content.data.classes,
        titleHtml: content.data.title,
        html: content.data.html
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.INPUT %}
    <div>
      {{ govukInput({
         id: "name",
         name: "name",
         value: form.model.name,
         classes: content.data.classes,
         label: {
           html: '<strong>'+ t(content.data.text)+'</strong>'
         },
         hint: {
             text: t(content.data.hint)
         }
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.INPUT_ARRAY %}
     <div>
      <fieldset class="govuk-fieldset">
        {{ govukInput({
           id: content.data.category+'['+content.data.index+']['+content.data.field+']',
           name: content.data.category+'['+content.data.index+']['+content.data.field+']',
           value: content.data.value,
           classes: 'govuk-!-width-three-half '+content.data.classes,
           label: {
             html: '<strong>'+ t(content.data.text)+'</strong>'
           },
           hint: {
             text: t(content.data.hint)
           },
           errorMessage: { text: t(content.data.errorMessage) } if content.data.errorMessage ,
           attributes: {
             'data-name': content.data.category+'[%index%]['+content.data.field+']',
             'data-id': content.data.category+'[%index%]['+content.data.field+']'
           }
        }) }}
      </fieldset>
     </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.DATE_ARRAY %}
    {% if (content.data.invalidDateError !== undefined and content.data.invalidDateError != '') or (content.data.invalidDayError !== undefined and content.data.invalidDayError != '') or (content.data.invalidMonthError !== undefined and content.data.invalidMonthError != '') or (content.data.invalidYearError !== undefined and content.data.invalidYearError != '') %}
       {% set isDateError = 'true' %}
    {% endif %}
     <div>
        {{ govukDateInput({
           id: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+']',
           name: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+']',
           fieldset: {
             legend: {
              text: t(content.data.text),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
             }
           },
           hint: {
            text: t(content.data.hint)
           },
           errorMessage: {
            html: '<p class="govuk-error-message">' + t(content.data.invalidDateError) + '</p>' +
                        '<p class="govuk-error-message">' + t(content.data.invalidDayError) + '</p>' +
                        '<p class="govuk-error-message">' + t(content.data.invalidMonthError) + '</p>' +
                        '<p class="govuk-error-message">' + t(content.data.invalidYearError) + '</p>'
           } if (isDateError == 'true'),
           items: [
             {
               id: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+'Day]',
               name: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+'Day]',
               label: "Day",
               value: content.data.dayValue,
               classes: "govuk-input--width-2 govuk-input--error" if content.data.invalidDayError or content.data.invalidDateError else "govuk-input--width-2",
               attributes: {
                 'data-name': content.data.category+'[%index%]['+content.data.parentField+']['+content.data.field+'Day]',
                 'data-id': content.data.category+'[%index%]['+content.data.parentField+']['+content.data.field+'Day]'
               }
             },
             {
               id: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+'Month]',
               name: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+'Month]',
               label: "Month",
               value: content.data.monthValue,
               classes: "govuk-input--width-2 govuk-input--error" if content.data.invalidMonthError or content.data.invalidDateError else "govuk-input--width-2",
               attributes: {
                'data-name': content.data.category+'[%index%]['+content.data.parentField+']['+content.data.field+'Month]',
                'data-id': content.data.category+'[%index%]['+content.data.parentField+']['+content.data.field+'Month]'
               }
             },
             {
               id: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+'Year]',
               name: content.data.category+'['+content.data.index+']['+content.data.parentField+']['+content.data.field+'Year]',
               label: "Year",
               value: content.data.yearValue,
               classes: "govuk-input--width-3 govuk-input--error" if content.data.invalidYearError or content.data.invalidDateError else "govuk-input--width-3",
               attributes: {
                  'data-name': content.data.category+'[%index%]['+content.data.parentField+']['+content.data.field+'Year]',
                  'data-id': content.data.category+'[%index%]['+content.data.parentField+']['+content.data.field+'Year]'
               }
             }
           ]
        }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.UPLOAD_ARRAY %}
     <div class="govuk-inset-text">
       {{ govukFileUpload({
           id: content.data.category+'['+content.data.index+']['+content.data.field+']',
           name: content.data.category+'['+content.data.index+']['+content.data.field+']',
           classes: 'uploadFile govuk-!-width-three-half '+content.data.classes,
           value: content.data.value,
           label: {
             html: '<strong>' + t(content.data.text) + '</strong><div id="' + content.data.category + '[' + content.data.index + '][documentName]"><p class="documentName">' + content.data.documentName + '</p><hr class="govuk-section-break--s govuk-section-break--visible"></div>'
           },
           errorMessage: { text: t(content.data.errorMessage) } if content.data.errorMessage,
           attributes: {
              'data-name': content.data.category+'[%index%]['+content.data.field+']',
              'data-id': content.data.category+'[%index%]['+content.data.field+']'
           }
        }) }}
    </div>
    {{ govukInput({
       id: content.data.category+'['+content.data.index+'][caseDocument]',
       name: content.data.category+'['+content.data.index+'][caseDocument]',
       type:'hidden',
       label: {
        text: 'Case Document',
        classes: 'govuk-visually-hidden'
       },
       value: content.data.caseDocument,
       attributes: {
         'data-name': content.data.category+'[%index%][caseDocument]',
         'data-id': content.data.category+'[%index%][caseDocument]'
       }
    }) }}
  {% endif %}

  {% if content.type === ClaimSummaryType.UPLOAD %}
    <div class="govuk-inset-text">
      {{ govukFileUpload({
           id: content.data.id,
           name: content.data.name,
           label: {
             html: '<strong>'+t(content.data.text)+'</strong><hr class="govuk-section-break--s govuk-section-break--visible">'+t(content.data.html)+'</br></br>'
           }
        }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.DATE %}
    <div>
      {{ govukDateInput({
           id: content.data.id,
           namePrefix: content.data.name,
           fieldset: {
             legend: {
              text: t(content.data.text),
              isPageHeading: false,
              classes: content.data.classes
             }
           },
           hint: {
            text: t(content.data.hint)
           }
        }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.WARNING %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {% set object = '' %}
        {% if content.data.variables %}
          {% set object = content.data.variables %}
          {{ t(content.data.text,object) }}
        {% else %}
          {{ t(content.data.text) }}
        {% endif %}
      </strong>
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.SELECT %}
    <div>
      <fieldset class="govuk-fieldset">
        {{ govukSelect({
          id: content.data.category+'['+content.data.index+']['+content.data.field+']',
          name: content.data.category+'['+content.data.index+']['+content.data.field+']',
          value: content.data.value,
          classes: 'govuk-!-width-three-half '+content.data.classes,
          hint: {
            text: t(content.data.hint)
          },
          errorMessage: { text: t(content.data.errorMessage) } if content.data.errorMessage ,
          label: {
            html: '<strong>'+ t(content.data.text)+'</strong>'
          },
          items: content.data.items,
          attributes: {
            'data-name': content.data.category+'[%index%]['+content.data.field+']',
            'data-id': content.data.category+'[%index%]['+content.data.field+']'
          }
        }) }}
      </fieldset>
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.BUTTON_WITH_CANCEL_LINK %}
    <div class="govuk-button-group">
      {{ govukButton({
        href: content.data.href,
        text:  t(content.data.text),
        classes: content.data.classes,
        isStartButton: content.data.isStartButton
      }) }}
      <a href={{ content.data.cancelHref }} class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
    </div>
  {% endif %}
{% endmacro %}
