{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro itemContent(content, t) %}
  {% if content.type === ClaimSummaryType.HTML %}
    {{ content.data.html | safe }}
  {% endif %}

  {% if content.type === ClaimSummaryType.MICRO_TEXT %}
    <p class="govuk-caption-l">{{ t(content.data.text) }}</p>
  {% endif %}

  {% if content.type === ClaimSummaryType.MAINTITLE %}
    <h1 class="govuk-heading-l">{{ t(content.data.text) }}</h1>
  {% endif %}

  {% if content.type === ClaimSummaryType.TITLE %}
    {% set object = '' %}
    {% if content.data.variables %}
      {% set object = content.data.variables %}
      <h2 class="govuk-heading-m {{ content.data.classes }}">{{ t(content.data.text, object) }}</h2>
    {% else %}
      <h2 class="govuk-heading-m {{ content.data.classes }}">{{ t(content.data.text) }}</h2>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.SUBTITLE %}
     {% set object = '' %}
     {% if content.data.variables %}
       {% set object = content.data.variables %}
       <h3 class="govuk-heading-s {{ content.data.classes }}">{{ t(content.data.text, object) }}</h3>
     {% else %}
       <h3 class="govuk-heading-s {{ content.data.classes }}">{{ t(content.data.text) }}</h3>
     {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.LEAD_PARAGRAPH %}
    {% set object = '' %}
    {% if content.data.variables %}
      {% set object = content.data.variables %}
      <p class="govuk-body-l {{ content.data.classes }}">{{ t(content.data.text, object) }}</p>
    {% else %}
      <p class="govuk-body-l {{ content.data.classes }}">{{ t(content.data.text) }}</p>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.PARAGRAPH %}
    {% set object = '' %}
    {% if content.data.variables %}
        {% set object = content.data.variables %}
        <p class="govuk-body {{ content.data.classes }}">{{ t(content.data.text, object) | safe }}</p>
    {% else %}
      <p class="govuk-body {{ content.data.classes }}">{{ t(content.data.text) | safe }}</p>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.SPAN %}
    {% set object = '' %}
    {% if content.data.variables %}
      {% set object = content.data.variables %}
      <span class="govuk-body {{ content.data.classes }}">{{ t(content.data.text, object) }}</span>
    {% else %}
      <span class="govuk-body {{ content.data.classes }}">{{ t(content.data.text) }}</span>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.INSET_TEXT %}
    {% if content.data.variables %}
      {% set object = content.data.variables %}
      {{ govukInsetText({ html: t(content.data.html, object) }) }}
    {% else %}
      {{ govukInsetText({ html: t(content.data.html) }) }}
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.SUMMARY %}
    {{ govukSummaryList({ rows: content.data.rows }) }}
  {% endif %}

  {% if content.type === ClaimSummaryType.BUTTON %}
    <div>
      {{ govukButton({
        href: content.data.href,
        text:  t(content.data.text),
        classes: content.data.classes,
        isStartButton: content.data.isStartButton
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.REMOVE_BUTTON %}
    <div>
      {{ govukButton({
        href: content.data.href,
        text:  t(content.data.text),
        name: 'action',
        value: content.data.category+'['+content.data.index+'][removeButton]',
        classes: content.data.classes,
        isStartButton: content.data.isStartButton
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.NEW_TAB_BUTTON %}
    <a target="_blank" role="button" draggable="false" class="govuk-button" data-module="govuk-button" href={{ content.data.href }}>
      {{ t(content.data.text) }}
    </a>
  {% endif %}

  {% if content.type === ClaimSummaryType.LINK %}
    <p class="govuk-body govuk-!-margin-bottom-1">{{ t(content.data.textBefore) }}
      {% set object = '' %}
      {% if content.data.variables %}
        {% set object = content.data.variables %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }}>{{ t(content.data.text, object) }}</a>
      {% elif content.data.externalLink %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }} rel="noreferrer noopener" target="_blank">{{ t(content.data.text) }}</a>
      {% else %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }}>{{ t(content.data.text) }}</a>
      {% endif %}
      {{ t(content.data.textAfter) }}
    </p>
    <p class="govuk-body-s mid-grey">{{ t(content.data.subtitle) }}</p>
  {% endif %}

  {% if content.type === ClaimSummaryType.FULL_STOP_LINK %}
    <p class="govuk-body govuk-!-margin-bottom-1">{{ t(content.data.textBefore) }}
      {% set object = '' %}
      {% if content.data.variables %}
        {% set object = content.data.variables %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }}>{{ t(content.data.text, object) }}</a>.
      {% elif content.data.externalLink %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }} rel="noreferrer noopener" target="_blank">{{ t(content.data.text) }}</a>.
      {% else %}
        <a class="govuk-link" rel="noopener noreferrer" href={{ content.data.href }}>{{ t(content.data.text) }}</a>.
      {% endif %}
      {{ t(content.data.textAfter) }}
    </p>
    <p class="govuk-body-s mid-grey">{{ t(content.data.subtitle) }}</p>
  {% endif %}

  {% if content.type === ClaimSummaryType.TABLE %}
    <div>
      {{ govukTable({
        classes: content.data.classes,
        head: content.data.head,
        rows: content.data.tableRows
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.PANEL %}
    <div>
      {{ govukPanel({
        classes: content.data.classes,
        titleHtml: content.data.title,
        html: content.data.html
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.INPUT %}
    <div>
      {{ govukInput({
         id: "name",
         name: "name",
         value: form.model.name,
         classes: content.data.classes,
         label: { html: '<strong>'+ t(content.data.text) +'</strong>' },
         hint: { text: t(content.data.hint) }
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.INPUT_ARRAY %}
    <div>
      {{ govukInput({
         id: content.data.category+'['+content.data.index+']['+content.data.field+']',
         name: content.data.category+'['+content.data.index+']['+content.data.field+']',
         value: content.data.value,
         classes: 'govuk-!-width-three-half '+content.data.classes,
         label: { html: '<strong>'+ t(content.data.text) +'</strong>' },
         hint: { text: t(content.data.hint) },
         errorMessage: { text: t(content.data.errorMessage) } if content.data.errorMessage,
         attributes: {
           'data-name': content.data.category+'[%index%]['+content.data.field+']',
           'data-id': content.data.category+'[%index%]['+content.data.field+']'
         }
      }) }}
    </div>
  {% endif %}
{% endmacro %}
