{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro itemContent(content) %}

  {% if content.type === ClaimSummaryType.HTML %}
    {{ content.data.html | safe }}
  {% endif %}

  {% if content.type === ClaimSummaryType.TITLE %}
    <h3 class="govuk-heading-m">{{ t(content.data.text) }}</h3>
  {% endif %}

  {% if content.type === ClaimSummaryType.SUBTITLE %}
    <h3 class="govuk-heading-s">{{ t(content.data.text) }}</h3>
  {% endif %}
  {% if content.type === ClaimSummaryType.PARAGRAPH %}
    {% set object = '' %}
    {% if content.data.variables %}
        {% set object = content.data.variables %}
        <p class="govuk-body">{{ t(content.data.text,object)}}</p>
    {% else %}
        <p class="govuk-body">{{ t(content.data.text)}}</p>
    {% endif %}
  {% endif %}

  {% if content.type === ClaimSummaryType.INSET_TEXT %}
    {{ govukInsetText({
      text: t(content.data.text),
      html: content.data.html
    }) }}
  {% endif %}

  {% if content.type === ClaimSummaryType.SUMMARY %}
    {{ govukSummaryList({
      rows: content.data.rows
    }) }}
  {% endif %}

  {% if content.type === ClaimSummaryType.BUTTON %}
    <div>
      {{ govukButton({
        href: content.data.href,
        text:  t(content.data.text),
        classes: content.data.classes
      }) }}
    </div>
  {% endif %}

  {% if content.type === ClaimSummaryType.LINK %}
    <p class="govuk-body govuk-!-margin-bottom-1">{{ t(content.data.textBefore) }}
      <a class="govuk-link" href={{ content.data.href }}>{{ t(content.data.text) }}</a>
      {{ t(content.data.textAfter) }}</p>
    <p class="govuk-body-s mid-grey">{{ t(content.data.subtitle) }}</p>
  {% endif %}

{% endmacro %}
