{% macro createRows(items) %}
{% set rows = [] %}
{% for row in items %}
{% set rowCells = [] %}
{% for cell in row %}
{% set rowCell = { text: 'cell' } %}
{% set _ = rowCells.push(rowCell) %}
{% endfor %}
{% set _ = rows.push(rowCells) %}
{% endfor %}
{{ rows }}
{% endmacro %}
