{% extends "claim-details-tpl.njk" %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "moj/components/task-list/macro.njk" import mojTaskList %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-bottom-8">
        {{ csrfProtection(csrf) }}

          {{ mojTaskList({
            sections: [
              {
                heading: {
                  text: 'Section 1'
                },
                items: [{
                  text: 'Item 1.1',
                  href: '#',
                  complete: true
                }, {
                  text: 'Item 1.2',
                  href: '#'
                }, {
                  text: 'Item 1.3',
                  href: '#'
                }]
              },
              {
                heading: {
                  text: 'Section 2'
                },
                items: [{
                  text: 'Item 2.1',
                  href: '#'
                }, {
                  text: 'Item 2.2',
                  href: '#'
                }, {
                  text: 'Item 2.3',
                  href: '#'
                }]
              }
            ]
          }) }}
        {{ contactUsForHelp(t) }}
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
