{% extends "claim-details-tpl.njk" %}
{% set heading = 'Claim details' %}
{% set evidenceRows = claim.claimData.evidence.getPopulatedRowsOnly() if claim.claimData.evidence %}
{% set timelineRows = claim.claimData.timeline.getPopulatedRowsOnly() if claim.claimData.timeline %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('Claim details') }}</h1>
          {% if claim.helpWithFeesNumber %}
            <p class="govuk-body">
              <span>
                <strong>{{ t('Claim number:') }} </strong>
              </span>
              <span>
                {% set dash = joiner("-") %}
                {% for batch in claim.ccdCaseId | string | batch(4) -%}
                  {{ dash() }}
                  {% for items in batch -%}
                    {{ items }}
                  {%- endfor %}
                {%- endfor %}
              </span>
            </p>
          {% else %}
            <p class="govuk-body">
              <span>
                <strong>{{ t('Claim number') }}:</strong>
              </span>
              {{ claim.legacyCaseReference }}</p>
          {% endif %}
          <p class="govuk-body">
            <span>
              <strong>{{ t('Claim amount') }}:</strong>
            </span>
            {{ claim.totalClaimAmount | currencyFormat(totalClaimAmount) }}
          </p>
          {# {{ amountBreakdownTable('View amount breakdown', claim, interestData) }} #}
          {% if claim.helpWithFeesNumber and interestData !== undefined and interestData.rate !== undefined and claim.claimData.interest.type !== 'breakdown' %}
            {{ interestCalculationBreakdownTable('How interest to date is calculated', claim, interestData, numOfDayInYear) }}
          {% endif %}
          <p class="govuk-body">
            <span class="govuk-body">
              <strong>{{ t('Reason for claim') }}:</strong>
            </span>
          </p>
          <p class="govuk-body">{{ claim.detailsOfClaim }}</p>
          {% if timelineRows and timelineRows.length > 0 %}
            <div class="form-group">
              <p class="govuk-body">
                <span>
                  <strong>{{ t('Timeline') }}</strong>
                </span>
              </p>
              {{ timelineSummary(timelineRows) }}
            </div>
          {% endif %}
          {% if evidenceRows and evidenceRows.length > 0 %}
            <div class="form-group">
              <p class="govuk-body">
                <span>
                  <strong>{{ t('Evidence') }}</strong>
                </span>
              </p>
              {{ evidenceSummary(evidenceRows) }}
            </div>
          {% endif %}
          {% from "govuk/components/button/macro.njk" import govukButton %}
          {{ govukButton({
            text: "Respond to claim"
          }) }}
          <p class="govuk-body">
            <span>
              <strong>{{ t('Download the claim') }}</strong>
            </span>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
