{% extends "claim-details-tpl.njk" %}
{% from "../../macro/remaining-tasks-fragment.njk" import remainingTasksFragment %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('You need to complete all sections before you submit your response') }}</h1>
          {{ remainingTasksFragment(
            tasks = tasks,
            backLink = taskListUri
          ) }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
