{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.REJECT_ALL_CLAIM.PAGE_TITLE') }}
{% endblock %}

{% set heading = t('PAGES.REJECT_ALL_CLAIM.TITLE', { claimantName: claimantName }) %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set optionError = form.errorFor("option") %}
      {% if form.hasErrors() %}
        {{ errorSummary(form.getErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t(heading) }}</h1>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukRadios({
              idPrefix: "option",
              name: "option",
              items: [
                {
                  value: rejectAllOfClaimType.ALREADY_PAID,
                  checked: true if form.model.option === rejectAllOfClaimType.ALREADY_PAID,
                  html: t('PAGES.REJECT_ALL_CLAIM.PAID_WHAT_I_OWE')
                },
                {
                  value: rejectAllOfClaimType.DISPUTE,
                  checked: true if form.model.option  === rejectAllOfClaimType.DISPUTE,
                  html: t('PAGES.REJECT_ALL_CLAIM.DISPUTE_CLAIM')
                },
                {
                  value: rejectAllOfClaimType.COUNTER_CLAIM,
                  checked: true if form.model.option  === rejectAllOfClaimType.COUNTER_CLAIM,
                  html: t('PAGES.REJECT_ALL_CLAIM.COUNTERCLAIM')
                }
              ],
              errorMessage: { text: ' ' } if optionError else ''
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
