{% extends "claim-details-tpl.njk" %}
{% from "../../macro/about-claim-widget.njk" import aboutClaimWidget %}
{% from "../../macro/time-remaining.njk" import timeRemaining %}
{% from "../../macro/page-title.njk" import setPageTitle %}

{% set totalClaimAmount ='£'+ claim.totalClaimAmount %}
{% set responseDeadLineExpression = t('PAGES.CLAIM_SUMMARY.DEADLINE_AT', {responseDeadline: responseDeadline}) %}
{% set remainingDays = claim.getRemainingDays() %}
{% set claimNumber = claim.legacyCaseReference %}
{% set isDeadLinePassed = claim.isDeadLinePassed() %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.TASK_LIST.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-7">{{ t('PAGES.TASK_LIST.HEADER') }}</h1>
          </legend>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">

          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ t(title) }}</h2>
          <p class="govuk-body">{{ t(description) }}</p>
          <p class="govuk-body govuk-!-margin-bottom-7">
            {{ t('PAGES.TASK_LIST.ALL_ACTIONS_COMPLETED_CHECK_ANSWERS') }}
          </p>

          {% for taskList in taskLists %}
            <div class="{{ 'govuk-!-display-none' if taskList.tasks.length===0}}">
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">
                  {{loop.index}} . </span>
                  {{ t(taskList.title) }}
              </h2>
              <ol class="app-task-list app-task-list__items">
                {% for task in taskList.tasks %}
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href={{task.url}}>{{ t(task.description) }}</a>
                    </span>
                    <strong class="govuk-tag app-task-list__tag {{ 'govuk-tag--grey' if task.status==="INCOMPLETE"}}">
                      {{ t('PAGES.TASK_LIST.' + task.status) }}
                    </strong>
                  </li>
                {% endfor %}
              </ol>
            </div>
          {% endfor %}
        </div>
        {% set responseDeadLineHint = timeRemaining(t, remainingDays, isDeadLinePassed) %}
        {% if remainingDays < 1  %}
          {% set responseDeadLineHintStyle = "due-or-overdue" %}
        {% endif %}
        {{ aboutClaimWidget(t, {header:'',lines:[
        {title: 'PAGES.CLAIM_SUMMARY.RESPONSE_DEADLINE', content: responseDeadLineExpression, href: '', hrefContact: '', hint:responseDeadLineHint, hintStyle:responseDeadLineHintStyle},
        {title: 'PAGES.CLAIM_SUMMARY.CLAIM_NUMBER', content : claimNumber, href: '', hrefContact: ''},
        {title: 'PAGES.CLAIM_SUMMARY.TOTAL_CLAIM_AMOUNT', content:totalClaimAmount, href: ''},
        {title: 'PAGES.CLAIM_SUMMARY.CLAIM_DETAILS', href: claimDetailsUrl, hrefContact: t('PAGES.CLAIM_SUMMARY.VIEW_CLAIM')},
        {title: 'PAGES.CLAIMANT_RESPONSE_TASK_LIST.HEADER', href: responseDetailsUrl, hrefContact: t('PAGES.CLAIM_SUMMARY.DOWNLOAD_RESPONSE')} ]}) }}
      </div>
    </main>
  </div>
{% endblock %}
