{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/bank-account.njk" import bankAccountRow %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set formErrors = form.getFormErrors() %}
      {% if formErrors %}
        {{ govukErrorSummary({
          "titleText": 'There was a problem',
          "errorList": formErrors
        }) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('List your bank and savings accounts') }}</h1>
          <p class="govuk-body">
            {{ t('Put a minus (-) in front of the amount if you’re overdrawn. For example £-804.45.') }}
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <form name="accounts" method="post">
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-balance-label" class="govuk-label--s">{{ t('Type of account') }}</label>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-balance-label" class="govuk-label--s">{{ t('Joint account') }}</label>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-balance-label" class="govuk-label--s">{{ t('Balance') }}</label>
          </div>
          {% for account in form.accounts %}
            {{ bankAccountRow(account, bankAccountDropDownItems, loop.index0) }}
          {% endfor %}
          <div class="govuk-grid-column-two-thirds">
            {{ govukButton({
              text: t("Add another account"),
              classes: "govuk-button--secondary append-row"
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
            </div>
          </div>
        </form>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}

