{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/bank-account.njk" import bankAccountRow %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.CITIZEN_BANK_ACCOUNTS.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set formErrors = form.getAllErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(formErrors, t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t('PAGES.CITIZEN_BANK_ACCOUNTS.BANK_AND_SAVINGS_ACCOUNTS') }}</h1>
          <p class="govuk-body">
            {{ t('PAGES.CITIZEN_BANK_ACCOUNTS.EXAMPLE') }}
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <form name="accounts" method="post" novalidate>
          {{ csrfProtection(csrf) }}
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-type-label" class="govuk-label--s">{{ t('COMMON.ACCOUNT_TYPE') }}</label>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-joint-label" class="govuk-label--s">{{ t('COMMON.BANK_JOINT_ACCOUNT') }}</label>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-balance-label" class="govuk-label--s">{{ t('COMMON.BALANCE') }}</label>
          </div>
          {% for account in form.model.accounts %}
            {{ bankAccountRow(account, bankAccountDropDownItems, loop.index0, t, form.errorFor, formErrors) }}
          {% endfor %}
          <div class="govuk-grid-column-two-thirds">
            {{ govukButton({
              text: t('PAGES.CITIZEN_BANK_ACCOUNTS.ADD_ANOTHER'),
              classes: "govuk-button--secondary append-row"
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
            </div>
          </div>
        </form>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}

