{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp with context %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.GENERAL_APPLICATION.SELECT_TYPE.TITLE') }}
{% endblock %}

{% set otherHtml %}
  <fieldset class="govuk-fieldset govuk-!-margin-top-4">
    <legend class="govuk-visually-hidden">
      {{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.OTHER') }}
    </legend>
  {{ govukRadios({
    idPrefix: "optionOther",
    name: "optionOther",
    items: [
      {
        value: ApplicationTypeOption.AMEND_A_STMT_OF_CASE,
        html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CHANGE_CLAIM') + '</strong>',
        checked: form.model.option === ApplicationTypeOption.AMEND_A_STMT_OF_CASE or isAmendClaim,
        hint: {
          text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CHANGE_CLAIM_DESCRIPTION')
        }
      },
      {
        value: ApplicationTypeOption.SUMMARY_JUDGEMENT,
        html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_SUMMARY_JUDGMENT') + '</strong>',
        checked: form.model.option === ApplicationTypeOption.SUMMARY_JUDGEMENT,
        hint: {
          text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_SUMMARY_JUDGMENT_DESCRIPTION')
        }
      },
      {
        value: ApplicationTypeOption.STRIKE_OUT,
        html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_STRIKE_OUT') + '</strong>',
        checked: form.model.option === ApplicationTypeOption.STRIKE_OUT,
        hint: {
          text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_STRIKE_OUT_DESCRIPTION')
        }
      },
      {
        value: ApplicationTypeOption.STAY_THE_CLAIM,
        html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_PAUSE') + '</strong>',
        checked: form.model.option === ApplicationTypeOption.STAY_THE_CLAIM,
        hint: {
          text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_PAUSE_DESCRIPTION')
        }
      },
      {
        value: ApplicationTypeOption.UNLESS_ORDER,
        html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_IMPOSE_SANCTION') + '</strong>',
        checked: form.model.option === ApplicationTypeOption.UNLESS_ORDER,
        hint: {
          text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_IMPOSE_SANCTION_DESCRIPTION')
        }
      },
      {
        value: ApplicationTypeOption.SETTLE_BY_CONSENT,
        html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_SETTLING') + '</strong>',
        checked: form.model.option === ApplicationTypeOption.SETTLE_BY_CONSENT,
        hint: {
          text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_SETTLING_DESCRIPTION')
        }
      },
      {
        value: ApplicationTypeOption.OTHER,
        html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_DO_SOMETHING') + '</strong>',
        checked: form.model.option === ApplicationTypeOption.OTHER,
        hint: {
          text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_DO_SOMETHING_DESCRIPTION')
        }
      }
    ],
    errorMessage: {
      text: t(typeError)
    } if typeError
  }) }}
  </fieldset>
{% endset %}

{% block nestedContent %}
          {% if isQMEnabled %}
            <h1 class="govuk-caption-l" id="page-caption">{{ t('PAGES.QM.OPTIONS.CHANGE_CASE.TEXT') }}</h1>
          {% else %}
            <h1 class="govuk-caption-l" id="page-caption">{{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.CAPTION') }}</h1>
          {% endif %}
          <h1 class="govuk-heading-l" id="page-title">{{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.TITLE') }}</h1>

          <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.WHEN_YOU_REQUEST') }}</p>
          <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.APPLICATION_NOT_NEW') }}</p>
          <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.SELECT_APPLICATION') }}</p>
          <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.NEED_MULTIPLE_APPLICATIONS') }}</p>
          <h1 class="govuk-heading-m">{{ t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ALL_APPLICATIONS') }}</h1>

          <form method="post" novalidate aria-labelledby="page-title page-caption">
            {{ csrfProtection(csrf) }}
              <fieldset class="govuk-fieldset govuk-!-margin-top-4">
                <legend class="govuk-visually-hidden">
                  {{ t('PAGES.GENERAL_APPLICATION.SUMMARY.TITLE') }}
                </legend>
            {% set typeError = form.errorFor('option') %}
            <div class="govuk-form-group">
            {% if showCCJ === true %}
              {{ govukRadios({
                idPrefix: "option",
                name: "option",
                items: [
                  {
                    value: ApplicationTypeOption.SET_ASIDE_JUDGEMENT,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CANCEL_JUDGMENT') + '</strong>',
                    checked: form.model.option === ApplicationTypeOption.SET_ASIDE_JUDGEMENT,
                    hint: {
                      text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CANCEL_JUDGMENT_DESCRIPTION')
                    }
                  },
                  {
                    value: ApplicationTypeOption.VARY_PAYMENT_TERMS_OF_JUDGMENT,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_VARY_JUDGMENT') + '</strong>',
                    checked: form.model.option === ApplicationTypeOption.VARY_PAYMENT_TERMS_OF_JUDGMENT,
                    hint: {
                      text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_VARY_JUDGMENT_DESCRIPTION')
                    }
                  },
                  {
                    value: ApplicationTypeOption.VARY_ORDER,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RECONSIDER') + '</strong>',
                    checked: form.model.option === ApplicationTypeOption.VARY_ORDER,
                    hint: {
                      text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RECONSIDER_DESCRIPTION')
                    }
                  },
                  {
                    value: ApplicationTypeOption.ADJOURN_HEARING,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CHANGE_HEARING') + '</strong>',
                    checked: form.model.option === ApplicationTypeOption.ADJOURN_HEARING or isAdjournHearing,
                    hint: {
                      text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CHANGE_HEARING_DESCRIPTION')
                    }
                  },
                  {
                    value: ApplicationTypeOption.EXTEND_TIME,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_MORE_TIME') + '</strong>',
                    checked: form.model.option === ApplicationTypeOption.EXTEND_TIME or isAskMoreTime,
                    hint: {
                      html: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_MORE_TIME_DESCRIPTION_1') + '<br><br>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_MORE_TIME_DESCRIPTION_2')
                    }
                  },
                  {
                    value: ApplicationTypeOption.RELIEF_FROM_SANCTIONS,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RELIEF_PENALTY') + '</strong>',
                    checked: form.model.option === ApplicationTypeOption.RELIEF_FROM_SANCTIONS,
                    hint: {
                      text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RELIEF_PENALTY_DESCRIPTION')
                    }
                  },
                  {
                    value: ApplicationTypeOption.CONFIRM_CCJ_DEBT_PAID,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.CONFIRM_YOU_PAID') + '</strong>',
                    checked: form.model.option === ApplicationTypeOption.CONFIRM_CCJ_DEBT_PAID,
                    hint: {
                    text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.CONFIRM_YOU_PAID_DESCRIPTION')
                    }
                  },
                  {
                    value: ApplicationTypeOption.OTHER_OPTION,
                    html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.OTHER') + '</strong>',
                    checked: isOtherSelected,
                    conditional: {
                      html: otherHtml
                    }
                  }
                ],
                errorMessage: {
                  html: t(form.errorFor('option'))
                } if form.hasErrors()
              }) }}
              {% else %}
              {{ govukRadios({
                              idPrefix: "option",
                              name: "option",
                              items: [
                                {
                                  value: ApplicationTypeOption.SET_ASIDE_JUDGEMENT,
                                  html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CANCEL_JUDGMENT') + '</strong>',
                                  checked: form.model.option === ApplicationTypeOption.SET_ASIDE_JUDGEMENT,
                                  hint: {
                                    text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CANCEL_JUDGMENT_DESCRIPTION')
                                  }
                                },
                                {
                                  value: ApplicationTypeOption.VARY_PAYMENT_TERMS_OF_JUDGMENT,
                                  html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_VARY_JUDGMENT') + '</strong>',
                                  checked: form.model.option === ApplicationTypeOption.VARY_PAYMENT_TERMS_OF_JUDGMENT,
                                  hint: {
                                    text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_VARY_JUDGMENT_DESCRIPTION')
                                  }
                                },
                                {
                                  value: ApplicationTypeOption.VARY_ORDER,
                                  html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RECONSIDER') + '</strong>',
                                  checked: form.model.option === ApplicationTypeOption.VARY_ORDER,
                                  hint: {
                                    text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RECONSIDER_DESCRIPTION')
                                  }
                                },
                                {
                                  value: ApplicationTypeOption.ADJOURN_HEARING,
                                  html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CHANGE_HEARING') + '</strong>',
                                  checked: form.model.option === ApplicationTypeOption.ADJOURN_HEARING or isAdjournHearing,
                                  hint: {
                                    text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_CHANGE_HEARING_DESCRIPTION')
                                  }
                                },
                                {
                                  value: ApplicationTypeOption.EXTEND_TIME,
                                  html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_MORE_TIME') + '</strong>',
                                  checked: form.model.option === ApplicationTypeOption.EXTEND_TIME or isAskMoreTime,
                                  hint: {
                                    html: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_MORE_TIME_DESCRIPTION_1') + '<br><br>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_MORE_TIME_DESCRIPTION_2')
                                  }
                                },
                                {
                                  value: ApplicationTypeOption.RELIEF_FROM_SANCTIONS,
                                  html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RELIEF_PENALTY') + '</strong>',
                                  checked: form.model.option === ApplicationTypeOption.RELIEF_FROM_SANCTIONS,
                                  hint: {
                                    text: t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.ASK_RELIEF_PENALTY_DESCRIPTION')
                                  }
                                },
                                {
                                  value: ApplicationTypeOption.OTHER_OPTION,
                                  html: '<strong>' + t('PAGES.GENERAL_APPLICATION.SELECT_TYPE.OTHER') + '</strong>',
                                  checked: isOtherSelected,
                                  conditional: {
                                    html: otherHtml
                                  }
                                }
                              ],
                              errorMessage: {
                                html: t(form.errorFor('option'))
                              } if form.hasErrors()
                            }) }}
              {% endif %}
            </div>
            </fieldset>
            <div class="govuk-button-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.CONTINUE')
              }) }}
              <a href="{{ cancelUrl }}" class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
            </div>
          </form>
{% endblock %}
