{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/ga-statement-of-truth.njk" import statementOfTruth %}
{% from "../../macro/heading-with-caption.njk" import headingWithCaption %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/csrf.njk" import csrfProtection %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.GENERAL_APPLICATION.CHECK_YOUR_ANSWER.TITLE') }}
{% endblock %}

{% set submitText = t('COMMON.BUTTONS.SUBMIT_CLAIM') %}
{% set labelHtml = t('PAGES.GENERAL_APPLICATION.CHECK_YOUR_ANSWER.STATEMENT_OF_TRUTH.CHECKBOX')
                    + '<p class="govuk-!-margin-top-2">'
                    + t('PAGES.CHECK_YOUR_ANSWER.CLAIM_CHECKBOX_PROCEEDINGS')
                    +'</p>' %}
{% set claimantName = claim.getClaimantFullName() %}
{% set defendantName = claim.getDefendantFullName() %}

{% block nestedContent %}
  {{ headingWithCaption(t, headerTitle, 'PAGES.GENERAL_APPLICATION.CHECK_YOUR_ANSWER.TITLE') }}
  {% if claimIdPrettified %}
    <p class="govuk-body-m govuk-!-margin-bottom-0">
        {{ t('COMMON.CASE_REFERENCE',{claimId: claimIdPrettified}) }}
    </p>
  {% endif %}
  {% if claimantName and defendantName %}
    <p class="govuk-body-m">{{ claimantName }} v {{ defendantName }}</p>
  {% endif %}
  {% if applicationTypeCards %}
    <div class="govuk-form-group">
      {% for summaryCard in applicationTypeCards %}
        {{ govukSummaryList(summaryCard) }}
      {% endfor %}
    </div>
  {% endif %}
  {% if summaryRows %}
    <div class="govuk-!-margin-bottom-9 govuk-border-colour-border-top-1">
      <div class="govuk-form-group">
        {{ govukSummaryList({
          rows: summaryRows
        }) }}
      </div>
    </div>
  {% endif %}
  <form method="post" novalidate autocomplete="off">
    {{ csrfProtection(csrf) }}
    {{ statementOfTruth(
      t,
      form,
      labelHtml
    ) }}
    {% if isBusiness %}
      {{ govukInput({
          classes: "govuk-!-width-one-half",
          label: {
            text: t('PAGES.CHECK_YOUR_ANSWER.FULL_NAME')
          },
          value: form.model.name,
          id: 'name',
          name: 'name',
          errorMessage: {
            text:t(form.errorFor('name'))
          } if form.errorFor('name')
        }) }}
      {{ govukInput({
          classes: "govuk-!-width-one-half",
          label: {
            text: t('COMMON.JOB_TITLE')
          },
          value: form.model.title,
          id: 'title',
          name: 'title',
          errorMessage: {
            text:t(form.errorFor('title'))
          } if form.errorFor('title')
        }) }}
    {% else %}
      {{ govukInput({
              id: 'name',
              name: 'name',
              value: form.model.name,
              label: {
                text: t('PAGES.GENERAL_APPLICATION.CHECK_YOUR_ANSWER.NAME'),
                classes: 'govuk-!-font-weight-bold'
              },
              errorMessage: {
                text: t(form.errorFor('name'))
              } if form.hasFieldError('name')
            }) }}
    {% endif %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: t('COMMON.BUTTONS.SUBMIT')
      }) }}
      <a href="{{ cancelUrl }}" class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener">{{ t('COMMON.BUTTONS.CANCEL') }}</a>
    </div>
  </form>
{% endblock %}
