{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../dashboard/item-content.njk" import itemContent %}

{% block nestedContent %}
  {% for content in gaPaymentSuccessfulPanel %}
    {{ itemContent(content,t) }}
  {% endfor %}
  {% for content in gaPaymentSuccessfulBody %}
    {{ itemContent(content,t)  }}
  {% endfor %}
  <div class="govuk-width-container govuk-!-padding-top-5">
  {% for content in gaPaymentSuccessfulButton %}
    {{ itemContent(content,t) }}
  {% endfor %}
  </div>
{% endblock %}
