{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/button.njk" import addButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/heading-with-caption.njk" import headingWithCaption %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.GENERAL_APPLICATION.UPLOAD_N245_FORM.PAGE_TITLE') }}
{% endblock %}
{% block nestedContent %}
  {% if form.hasErrors() %}
    {{ errorSummary(form.getAllErrors(), t) }}
  {% endif %}
  {{ headingWithCaption(t,'PAGES.GENERAL_APPLICATION.SELECTED_APPLICATION_TYPE.VARY_JUDGMENT','PAGES.GENERAL_APPLICATION.UPLOAD_N245_FORM.TITLE' ) }}
  {% for content in contentList %}
    {{ itemContent(content,t) }}
  {% endfor %}
  <form method="post" action="{{ currentUrl }}?_csrf={{ csrf }}" enctype='multipart/form-data' novalidate>
    {{ csrfProtection(csrf) }}
    <div class="govuk-inset-text">
      {{ govukFileUpload({
       id: "chooseFile",
       name: "selectedFile",
        label: {
          html: '<strong>Upload a file</strong>'
        }
      }) }}
      {{ govukButton({
                          id: 'uploadFileButton',
                          name: 'action',
                          value: 'uploadButton',
           text: 'Upload File',
           classes: "govuk-button--secondary govuk-!-margin-bottom-0"
         }) }}
    </div>
    {% if documentName %}
      <h2 class="govuk-heading-m">Uploaded files</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ documentName }}
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ currentUrl }}?action=REMOVE_DOC">
              Remove document<span class="govuk-visually-hidden">
                {{ documentName }}</span>
            </a>
          </dd>
        </div>
      </dl>
      {# {{ govukSummaryList({
                                    rows: formattedSummary.summaryList.rows
                                }) }} #}
    {% endif %}
    <div class="govuk-button-group">
      {{ addButton(t, 'CONTINUE', cancelUrl) }}
    </div>
  </form>
{% endblock %}