{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../macro/heading-with-caption.njk" import headingWithCaption %}
{% from "../../macro/button.njk" import addButton %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.GENERAL_APPLICATION.WANT_TO_UPLOAD_DOCUMENTS.TITLE') }}
{% endblock %}

{% block nestedContent %}
          {{ headingWithCaption(t, headerTitle, 'PAGES.GENERAL_APPLICATION.WANT_TO_UPLOAD_DOCUMENTS.TITLE') }}
          <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.WANT_TO_UPLOAD_DOCUMENTS.MSG1') }}</p>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <fieldset class="govuk-fieldset">
              <legend class="govuk-visually-hidden">
                {{ t('PAGES.GENERAL_APPLICATION.WANT_TO_UPLOAD_DOCUMENTS.TITLE') }}
              </legend>
            {{ yesNoRadioButton(t, 'option', 'option', '', form, '', {yes:'COMMON.VARIATION_2.YES', no: 'COMMON.VARIATION_2.NO'}) }}
            </fieldset>
            <div class="govuk-button-group">
              {{ addButton(t, 'CONTINUE', cancelUrl) }}
            </div>
          </form>
{% endblock %}
