{% extends "claim-details-tpl.njk" %}
{% from "../../macro/external-link.njk" import externalLink %}

{% block pageTitle %}
  {{ setPageTitle(t, pageTitle) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{t(pageTitle)}}</h1>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{t('PAGES.CONTACT_WEBCHAT.WEBCHAT')}}</h2>
          <div id="__8x8-chat-button-container-script_202736819566d85c96c386f8.18964185"></div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-6">{{t('PAGES.CONTACT_WEBCHAT.TELEPHONE')}}</h2>
          <p class="govuk-body govuk-!-margin-bottom-0">0300 123 4593</p>
          <h2 class="govuk-heading-m govuk-!-margin-top-6">{{t('PAGES.CONTACT_WEBCHAT.OPENING_TIMES')}}</h2>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{t('PAGES.CONTACT_WEBCHAT.TELEPHONE')}}</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">{{t('PAGES.CONTACT_WEBCHAT.OPENING_HOURS')}}</p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{t('PAGES.CONTACT_WEBCHAT.WEBCHAT')}}</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">{{t('PAGES.CONTACT_WEBCHAT.OPENING_HOURS')}}</p>
{#          <br>#}
          <p class="govuk-body govuk-!-margin-bottom-0">{{t('PAGES.CONTACT_WEBCHAT.CLOSED_HOURS')}}</p>
          <p class="govuk-body">
            {{ externalLink(t, 'PAGES.CONTACT_WEBCHAT.CALL_CHARGES', 'https://www.gov.uk/call-charges', false) }}
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
