{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% set heading = 'Claimant details' %}
    {% set claimant = claim.applicant1 %}
    {% set claimantCorrespondenceAddress = claim.specApplicantCorrespondenceAddressdetails %}
    {% set claimantType = claimant.type %}
      {% if (claimantType == CounterpartyType.INDIVIDUAL) %}
        {% set individualTitle = claimant.individualTitle %}
        {% set applicant1Details =  (individualTitle if individualTitle else '')  + ' ' +  claimant.individualFirstName + ' ' + claimant.individualLastName %}
      {% elseif (claimantType == CounterpartyType.SOLE_TRADER) %}
        {% set soleTraderTitle = claimant.soleTraderTitle %}
        {% set applicant1Details = (soleTraderTitle if soleTraderTitle else '') + ' ' +  claimant.soleTraderFirstName + ' ' + claimant.soleTraderLastName %}
      {% elseif (claimantType == CounterpartyType.ORGANISATION) %}
        {% set applicant1Details = claimant.organisationName %}
      {% elseif (claimantType == CounterpartyType.COMPANY) %}
        {% set applicant1Details = claimant.companyName %}
      {% endif %}
      {% set claimantDetailsLink %}
        <a href="{{ claimantDetailsUrl }}">{{ applicant1Details }}</a>
      {% endset -%}
      {% set totalClaimAmount = claim.totalClaimAmount | currencyFormat(totalClaimAmount) %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: backUrl
  }) }}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">{{ t('Claimant') }}</span>
            {{ applicant1Details }}
          </h1>
          <h2 class="govuk-heading-m">Address</h2>
          <div class="govuk-grid-row govuk-body">
           <span class="govuk-grid-column-full">
            {{ address.AddressLine1 }}
            </span>
            {% set addressLine2 = address.AddressLine2 %}
            {% if addressLine2 %}
              <span class="govuk-grid-column-full">
              {{ addressLine2 }}
            </span>
            {% endif %}
            {% set addressLine3 = address.AddressLine3 %}
            {% if addressLine3 %}
              <span class="govuk-grid-column-full">
              {{ addressLine3 }}
            </span>
            {% endif %}
            {% set postTown = address.PostTown %}
            {% if postTown %}
              <span class="govuk-grid-column-full">
              {{ postTown }}
            </span>
            {% endif %}
            {% set postCode = address.PostCode %}
            {% if postCode %}
              <span class="govuk-grid-column-full">
              {{ postCode }}
            </span>
            {% endif %}
          </div>
          {% set emailAddress = claim.applicantSolicitor1UserDetails.email %}
          {% if emailAddress %}
            <div class="govuk-grid-row govuk-body">
              <span class="govuk-grid-column-full">
                {{ t('Email') }}: <a class="govuk-link"
                                     href="{{ emailAddress }}">{{ emailAddress }}</a>
              </span>
            </div>
          {% endif %}
          <div class="govuk-form-group">
            {{ contactUsForHelp(t) }}
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <h3 class="govuk-heading-s">{{ t('About claim') }}</h3>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
          <span class="govuk-body-s">
            <strong>{{ t('Claimant name') }}:</strong>
          </span>
            <br>
            <span class="govuk-body-s">
            <a class="govuk-link" href="">{{ applicant1Details }}</a>
          </span>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
          <span class="govuk-body-s">
            <strong>{{ t('Claim amount') }}:</strong>
          </span>
            <br>
            <span class="govuk-body-s">
            {{ totalClaimAmount }}
          </span>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
          <span class="govuk-body-s">
            <strong>{{ t('Claim details') }}:</strong>
          </span>
            <br>
            <span class="govuk-body-s">
            <a class="govuk-link" href="{{ claimDetailsUrl }}">{{ t('View claim') }}</a>
          </span>
          </div>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
