{% extends "question-template.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "macro/csrf.njk" import csrfProtection %}



{% block question %}
{% set title = t("Debts you're behind on") %}
{% set descriptionTitle = "Enter details of debts for which you're:" %}
{% set descriptionArrears = "'in arrears' (you've missed regular payments)"  %}
{% set descriptionRegularRepayments = "making regular repayments to clear the missed payments"  %}
{% set mortgageSection = debts.mortgage %}
{% set rentSection = debts.rent %}
{% set couincilTaxSection = debts.councilTax %}
{% set description %}
<div>
    <p>{{ descriptionTitle }}</p>
    <ul>
        <li>{{ descriptionArrears }}</li>
        <li>{{ descriptionRegularRepayments }}</li>
    </ul>
</div>

{% endset -%}

{% set condtionalHtml2 %}
{{ govukInput({
  id: "mortgage-payment-amount",
  name: "mortgage-payment-amount",
  value: mortgageSection.amount,
  type: "number",
  autocomplete: "number",
  spellcheck: false,
   prefix: {
      text: "£"
      },
  classes: "govuk-!-width-one-third",
  label: {
    text: t("Repayment amount")
  },
   hint: {
    text: t("Only include the amount you're paying to clear previously missed regular")
  }
}) }}
{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "mortgage-payment-schedule",
  fieldset: {
    legend: {
      text: t("priority debts"),
      isPageHeading: false,
      classes: "govuk-!-width-one-third"
    }
  },
  items: [
    {
      value: "week",
      text: "Week",
      checked:mortgageSection.schedule === "week"
    },
    {
      value: "twoWeeks",
      text: "2 weeks",
      checked:mortgageSection.schedule === "twoWeeks"
      
    },
    {
       value: "fourWeeks",
      text: "4 weeks",
      checked:mortgageSection.schedule === "fourWeeks"
     
    },
    {
      value: "month",
      text: "Month",
      checked:mortgageSection.schedule === "month"
      
    }
  ]
}) }}
{% endset -%}



{% set condtionalHtml3 %}
{{ govukInput({
  id: "rent-payment-amount",
  name: "rent-payment-amount",
  value: rentSection.amount,
  type: "number",
  autocomplete: "number",
  spellcheck: false,
   prefix: {
      text: "£"
      },
  classes: "govuk-!-width-one-third",
  label: {
    text: t("Repayment amount")
  },
   hint: {
    text: t("Only include the amount you're paying to clear previously missed regular")
  }
}) }}
{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "rent-payment-schedule",
  fieldset: {
    legend: {
      text: t("priority debts"),
      isPageHeading: false,
      classes: "govuk-!-width-one-third"
    }
  },
  items: [
    {
      value: "week",
      text: "Week",
      checked:rentSection.schedule === "week"
    },
    {
      value: "twoWeeks",
      text: "2 weeks",
      checked:rentSection.schedule === "twoWeeks"
      
    },
    {
       value: "fourWeeks",
      text: "4 weeks",
      checked:rentSection.schedule === "fourWeeks"
     
    },
    {
      value: "month",
      text: "Month",
      checked:rentSection.schedule === "month"
      
    }
  ]
}) }}
{% endset -%}

{% set condtionalHtml4 %}
{{ govukInput({
  id: "councilTax-payment-amount",
  name: "councilTax-debt-amount",
  value: couincilTaxSection.amount,
  type: "number",
  autocomplete: "number",
  spellcheck: false,
   prefix: {
      text: "£"
      },
  classes: "govuk-!-width-one-third",
  label: {
    text: t("Repayment amount")
  },
   hint: {
    text: t("Only include the amount you're paying to clear previously missed regular")
  }
}) }}
{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "councilTaxpayment-schedule",
  fieldset: {
    legend: {
      text: t("priority debts"),
      isPageHeading: false,
      classes: "govuk-!-width-one-third"
    }
  },
  items: [
    {
      value: "week",
      text: "Week",
      checked:couincilTaxSection.schedule === "week"
    },
    {
      value: "twoWeeks",
      text: "2 weeks",
      checked:couincilTaxSection.schedule === "twoWeeks"
      
    },
    {
       value: "fourWeeks",
      text: "4 weeks",
      checked:couincilTaxSection.schedule === "fourWeeks"
     
    },
    {
      value: "month",
      text: "Month",
      checked:couincilTaxSection.schedule === "month"
      
    }
  ]
}) }}
{% endset -%}

 <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
              {{ csrfProtection(csrfToken) }}
              {{ debts.mortgage.amount }}
              {{ debts | debtFilter("mortgage")  }}
              {{ govukCheckboxes({
  idPrefix: "contact",
  name: "debts",
  fieldset: {
    legend: {
      text: title,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    html: description
  },
  items: [
    {
      value: "mortgage",
      text: "Mortgage",
      checked: debts | debtFilter("mortgage"),
      conditional: {
        html: condtionalHtml2
      }
    },
    {
      value: "rent",
      text: "Rent",
      checked: debts | debtFilter("rent"),
      conditional: {
        html: condtionalHtml3
      }
    },
     {
      value: "councilTax",
      text: "Council Tax",
      checked: debts | debtFilter("councilTax"),
      conditional: {
        html: condtionalHtml4
      }
    }
    
  ]
}) }}
            {% include "../../../includes/save-and-continue-button.njk" %}
            </div>
          </form>
        </div>
      </div>

{% endblock %}