{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.RESIDENCE.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        {{ errorSummary(form.getErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {% call govukFieldset({
             legend: {
                text: t('PAGES.RESIDENCE.TITLE'),
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
             }
            }) %}
            {% set typeError = form.errorFor('type') %}
            <div class="govuk-form-group {% if form.hasErrors() %} govuk-form-group--error {% endif %}">
              {% set housingDetailsHtml %}
                {% set housingDetailsError = form.errorFor('housingDetails') %}
                {{ govukInput({
                  id: "housingDetails",
                  name: "housingDetails",
                  value: form.model.housingDetails,
                  classes: "govuk-!-width-two-third",
                  label: {
                    text: t('PAGES.RESIDENCE.HOME_TYPE')
                  },
                  errorMessage: {
                    text: t(housingDetailsError)
                  } if housingDetailsError
                }) }}
              {% endset -%}

              {{ govukRadios({
                idPrefix: "residenceType",
                name: "type",
                items: [
                  {
                    value: ResidenceType.OWN_HOME,
                    text: t('PAGES.RESIDENCE.OWN_HOME'),
                    checked: form.model.type === ResidenceType.OWN_HOME
                  },
                  {
                    value: ResidenceType.JOINT_OWN_HOME,
                    text: t('PAGES.RESIDENCE.JOIN_HOME'),
                    checked: form.model.type === ResidenceType.JOINT_OWN_HOME
                  },
                  {
                    value: ResidenceType.PRIVATE_RENTAL,
                    text: t('PAGES.RESIDENCE.RENTAL_HOME'),
                    checked: form.model.type === ResidenceType.PRIVATE_RENTAL
                  },
                  {
                    value: ResidenceType.COUNCIL_OR_HOUSING_ASSN_HOME,
                    text: t('PAGES.RESIDENCE.ASSOCIATION_HOME'),
                    checked: form.model.type === ResidenceType.COUNCIL_OR_HOUSING_ASSN_HOME
                  },
                  {
                    value: ResidenceType.OTHER,
                    text: t('PAGES.RESIDENCE.OTHER'),
                    checked: form.model.type === ResidenceType.OTHER,
                    conditional: {
                      html: housingDetailsHtml
                    }
                  }
                ],
                errorMessage: {
                  text: t(typeError)
                } if typeError
              }) }}
            </div>

            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
            </div>
           {% endcall %}
          </form>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}

