{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.UNEMPLOYMENT.PAGE_TITLE') }}
{% endblock %}

{% set heading = t('PAGES.UNEMPLOYMENT.TITLE') %}
{% set subtitle = t('PAGES.UNEMPLOYMENT.DESCRIPTION') %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set optionError = t(form.errorFor("option")) %}
      {% set otherDetailsNestedError = t(form.errorFor('otherDetails[details]')) %}
      {% set yearNestedError = t(form.errorFor('unemploymentDetails[years]')) %}
      {% set monthsNestedError = t(form.errorFor('unemploymentDetails[months]')) %}
      {% if form.hasErrors() %}
        {{ errorSummary(form.getAllErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ t(heading) }}</h1>
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {% set ifOther %}
              {{ govukInput({
                id: "details",
                name: "details",
                type: "text",
                classes:  "govuk-input--width-5 govuk-input--error" if form.hasFieldError('details') else "govuk-input--width-5",
                label: {
                  text: t('COMMON.GIVE_DETAILS')
                },
                value: form.model.otherDetails.details,
                errorMessage: { text: otherDetailsNestedError } if otherDetailsNestedError else ''
              }) }}
            {% endset -%}
            {% set ifUnemployed %}
              <p class="govuk-body-m">{{ subtitle }}</p>
              {{ govukInput({
                id: "unemploymentDetails[years]",
                name: "years",
                type: "number",
                autocomplete: "number",
                classes: "govuk-input--width-3",
                label: {
                  text: t('COMMON.YEARS')
                },
                value: '' + form.model.unemploymentDetails.years,
                errorMessage: { text: yearNestedError } if yearNestedError else ''
              }) }}
              {{ govukInput({
                id: "UnemploymentDetails",
                name: "months",
                type: "number",
                autocomplete: "number",
                classes: "govuk-input--width-3",
                label: {
                  text: t('COMMON.MONTHS')
                },
                value: '' + form.model.unemploymentDetails.months,
                errorMessage: { text: monthsNestedError } if monthsNestedError else ''

              }) }}
            {% endset -%}
            {{ govukRadios({
              idPrefix: "option",
              name: "option",
              items: [
                {
                  value: UnemploymentCategory.UNEMPLOYED,
                  checked: true if form.model.option === UnemploymentCategory.UNEMPLOYED,
                  html: t('PAGES.UNEMPLOYMENT.UNEMPLOYED'),
                  conditional:{html: ifUnemployed}
                },
                {
                  value: UnemploymentCategory.RETIRED,
                  checked: true if form.model.option  === UnemploymentCategory.RETIRED,
                  html: t('PAGES.UNEMPLOYMENT.RETIRED')
                },
                {
                  value: UnemploymentCategory.OTHER,
                  checked: true if form.model.option  === UnemploymentCategory.OTHER,
                  html:t('PAGES.UNEMPLOYMENT.OTHER'),
                  conditional:{html: ifOther}
                }
              ],
              errorMessage: { text: optionError } if optionError else ''
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
