{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.FULL_ADMISSION_PAYMENT_OPTION.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set hintPayImmediatly %}
        <div
          class='govuk-hint'>{{ t('You must contact the claimant and pay the full amount within 5 days. Any cheques or transfers must be clear in their account.') }}</div>
      {% endset -%}

      {% set hintPayLater %}
        <div
          class='govuk-hint'>{{ t('The claimant can request a County Court Judgment (CCJ) against you if you don’t pay immediately.') }}</div>
      {% endset -%}
      {% set errors = form.getErrors() %}
      {% if errors %}
        {{ govukErrorSummary({
          "titleText": t("There was a problem"),
          "errorList": errors
        }) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ govukRadios({
              idPrefix: "paymentOption",
              name: "paymentType",
              fieldset: {
                legend: {
                  text: t("When do you want to pay?"),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: PaymentOptionType.IMMEDIATELY,
                  text: t("Immediately"),
                  checked: true if form.paymentType == PaymentOptionType.IMMEDIATELY,
                  conditional: {
                  html: hintPayImmediatly
                }
                },
                {
                  value: PaymentOptionType.BY_SET_DATE,
                  text: t("By set date"),
                  checked: true if form.paymentType == PaymentOptionType.BY_SET_DATE,
                  conditional: {
                  html: hintPayLater
                }
                },
                {
                  value: PaymentOptionType.INSTALMENTS,
                  text: t("I'll suggest a repayment plan"),
                  checked: true if form.paymentType == PaymentOptionType.INSTALMENTS,
                  conditional: {
                  html: hintPayLater
                }
                }
              ],
              errorMessage: {
                text: t(form.errorFor('paymentType'))
              } if form.hasFieldError('paymentType')

            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
