{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/telephone.njk" import telephone %}
{% from "../../macro/yesNoForm.njk" import yesNoRadioButton %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t("Confirm your telephone number") %}
      {% set titleEnterPhone = t("Enter a phone number") %}
      {% set pText = t("Can the mediation service use " + respondentTelNumber  + " to call you?") %}
      {% set pTextEnterPhone = t("Enter the number for a direct line the mediation service can use. We won't give the number to anyone else.") %}
      {% set id = "option" %}
      {% set name = "option" %}
      {% set errors = form.getErrors() %}
      {% if errors.length > 0 %}
        {{ govukErrorSummary({
          "titleText": t("There was a problem"),
          "errorList": errors
        }) }}
      {% endif %}
      <div class="govuk-grid-row">
        <form method="post" novalidate>
          {{ csrfProtection(csrf) }}
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ title if respondentTelNumber else titleEnterPhone }}</h1>
            <p class="govuk-body-m">{{ pText if respondentTelNumber else pTextEnterPhone }}</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            {% if respondentTelNumber %}
              {% set noHtml %}
              {{ telephone(form, {id: "telephoneNumber",
                  name: "telephoneNumber",
                  type: "number",
                  autocomplete: "number",
                  classes: "govuk-!-width-two-thirds",
                  label: pTextEnterPhone}) }}
              {% endset %}
              {{ yesNoRadioButton(t,id,name,'',form,'',{noHtml:noHtml}) }}
            {% else %}
              {{ telephone(form, {id: "telephoneNumber",
                  name: "telephoneNumber",
                  type: "number",
                  autocomplete: "number",
                  classes: "govuk-!-width-two-thirds",
                  label: ''}) }}
            {% endif %}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
{% endblock %}
