{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "../../macro/telephone.njk" import telephone %}
{% from "../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.MEDIATION_CAN_WE_USE.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t('PAGES.MEDIATION_CAN_WE_USE.CONFIRM_YOUR_NUMBER') %}
      {% set titleEnterPhone = t('PAGES.MEDIATION_CAN_WE_USE.ENTER_PHONE_NUMBER') %}
      {% set pText = t('PAGES.MEDIATION_CAN_WE_USE.CAN_MEDIATION_USE', {respondentTelNumber: respondentTelNumber}) %}
      {% set pTextEnterPhone = t('PAGES.MEDIATION_CAN_WE_USE.ENTER_PHONE_FOR_DIRECT_LINE') + ' ' + t('PAGES.MEDIATION_CAN_WE_USE.WONT_GIVE_NUMBER')%}
      {% set id = "option" %}
      {% set name = "option" %}
      {% if form.hasErrors() %}
        {{ errorSummary(form.getErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <form method="post" novalidate>
          {{ csrfProtection(csrf) }}
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ title if respondentTelNumber else titleEnterPhone }}</h1>
            <p class="govuk-body-m">{{ pText if respondentTelNumber else pTextEnterPhone }}</p>
          </div>
          <div class="govuk-grid-column-two-thirds">
            {% if respondentTelNumber %}
              {% set noHtml %}
              {{ telephone(form, {id: "mediationPhoneNumber",
                  name: "mediationPhoneNumber",
                  value: form.model.mediationPhoneNumber,
                  type: "number",
                  autocomplete: "number",
                  label: pTextEnterPhone}, t)
              }}
              {% endset %}
              {{ yesNoRadioButton(t,id,name,'',form,'',{noHtml:noHtml}) }}
            {% else %}
              {{ telephone(form, {id: "mediationPhoneNumber",
                  name: "mediationPhoneNumber",
                  type: "number",
                  value: form.model.mediationPhoneNumber,
                  autocomplete: "number",
                  classes: "govuk-visually-hidden",
                  label: pTextEnterPhone}, t)
              }}
            {% endif %}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
{% endblock %}
