{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../macro/canWeUseCompanyInputs.njk" import canWeUseCompanyInputs %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.MEDIATION_COMPANY_PHONE.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if contactPerson %}
        {% set title = t("PAGES.MEDIATION_COMPANY_PHONE.TITLE_WITH_PERSON", { contactPerson : contactPerson }) %}
      {% else %}
        {% set title = t("PAGES.MEDIATION_COMPANY_PHONE.TITLE") %}
      {% endif %}

      {% set id = "option" %}
      {% set name = "option" %}
      {% set errors = form.getErrors() %}
      {% if errors.length %}
        {{ errorSummary(errors, t) }}
      {% endif %}

      {% set yesHtml %}
      {{ govukInput({
          id: "mediationPhoneNumberConfirmation",
          name: "mediationPhoneNumberConfirmation",
          classes: "govuk-!-width-two-thirds",
          label: { text: t("PAGES.MEDIATION_COMPANY_PHONE.CONFIRM_TELEPHONE_NUMBER") },
          type: "text",
          spellcheck: false,
          value: form.model.mediationPhoneNumberConfirmation,
          errorMessage: {
            text:t(form.errorFor('mediationPhoneNumberConfirmation'))
          } if form.hasFieldError('mediationPhoneNumberConfirmation')
        }) }}
      {% endset -%}

      {% set noHtml %}
      {{ canWeUseCompanyInputs(form, t) }}
      {% endset -%}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            <input type="hidden" name="contactPerson" value="{{contactPerson}}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">{{ title }}</h1>
            </legend>
            {% if contactPerson %}
              {{ yesNoRadioButton(t,id,name,'',form,'',{yesHtml:yesHtml, noHtml:noHtml}) }}
            {% else %}
              {{ yesNoRadioButton(t,id,name,'',form,'',{classes:"govuk-!-display-none"}) }}
              {{ canWeUseCompanyInputs(form, t) }}
            {% endif %}
            <div class="govuk-form-group">
              {{ govukButton({
                text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
              }) }}
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
