{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}

{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.FREE_TELEPHONE_MEDIATION.PAGE_TITLE') }}
{% endblock %}

{% block content %}
  {% set redirectPath = './can-we-use-company' if isBusiness else './can-we-use' %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ t('COMMON.FREE_TELEPHONE_MEDIATION') }}</h1>
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.AUTOMATICALLY_REGISTERED')}}
          </p>
          <h2 class="govuk-heading-m">{{ t('PAGES.FREE_TELEPHONE_MEDIATION.HOW_WORKS') }}</h2>
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.NEUTRAL_MEDIATOR_LISTEN') }}
          </p>
          {{ govukInsetText({
            text: t('PAGES.FREE_TELEPHONE_MEDIATION.MEDIATION_QUICKER')
          }) }}
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.MEDIATION_IS_CONFIDENTIAL') }}
          </p>
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.CLAIMANT_MUST_AGREE')}}
          </p>
          <p class="govuk-body">{{ t('PAGES.FREE_TELEPHONE_MEDIATION.LAST_LESS_AN_HOUR') }}</p>
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.FIND_OUT_MORE') }}
            <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/guidance/small-claims-mediation-service">
              {{  t('PAGES.FREE_TELEPHONE_MEDIATION.OPENS_IN_NEW_TAB') }}
            </a>
          </p>
          <h2 class="govuk-heading-m">{{ t('PAGES.FREE_TELEPHONE_MEDIATION.REACHING_SETTLEMENT') }}</h2>
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.MEDIATION_SUCCESSFUL') }}
          </p>
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.EITHER_PARTY_BREAKS_TERMS') }}
          </p>
          <p class="govuk-body">
            {{ t('PAGES.FREE_TELEPHONE_MEDIATION.MEDIATION_FAILS') }}
          </p>
          {{ govukInsetText({
            text: t('PAGES.FREE_TELEPHONE_MEDIATION.NO_WAIT_COURT_HEARING')
          }) }}
          <div class="form-group">
            {{ govukButton({
              text: t('COMMON.BUTTONS.CONTINUE'),
              href: redirectPath
            }) }}
          </div>
          <p class="govuk-body">
            <a class="govuk-link" href="./mediation-disagreement">
              {{t('PAGES.FREE_TELEPHONE_MEDIATION.NO_AGREE')}}
            </a>
          </p>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-top-8">
        <div class="govuk-grid-column-three-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
