{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ setPageTitle(t('PAGES.TELEPHONE_FOR_MEDIATION.PAGE_TITLE')) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <form method="post" novalidate autocomplete="off">
            {{ csrfProtection(csrf) }}
            {% for content in telephoneMediationContent %}
              {{ itemContent(content,t) }}
            {% endfor %}
          </form>
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
