{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../../macro/create-table-documents.njk" import addDateUploadedFileInformation, addFileLink, createDocumentsTableWithoutTableCaption %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set applicationHeaderHtml %}
  <h1 class="govuk-heading-m" id="application-header">{{t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.APPLICATION')}}</h1>
{% endset %}
{% set courtResponseHeaderHtml %}
  <h1 class="govuk-heading-m" id="court-response-header">{{t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.RESPONSE_COURT')}}</h1>
{% endset %}

{% set applicantDocRows = [] %}
{% set respondentDocRows = [] %}
{% set courtDocRows = [] %}
{% if applicantDocuments.documents.length > 0 %}
  {% set applicantDocRows = (applicantDocRows.push([
    {
      text: t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.APPLICANTS_DOCUMENTS') | safe,
      classes: "govuk-body govuk-!-font-weight-bold"
    },
    {
      text: t(responseType)
    }
  ]), applicantDocRows) %}
  {% for item in applicantDocuments.documents %}
    {% set applicantDocRows = (applicantDocRows.push([
      {
        html: addDateUploadedFileInformation(t, t(item.fileName), t(item.uploadDate))
      },
      {
        html: addFileLink(item.linkInformation.url, item.linkInformation.text)
      }]), applicantDocRows) %}
  {% endfor %}
{% endif %}

{% if respondentDocuments.documents.length > 0 %}
  {% set respondentDocRows = (respondentDocRows.push([
    {
      text: t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.RESPONDENTS_DOCUMENTS') | safe,
      classes: "govuk-body govuk-!-font-weight-bold"
    },
    {
      text: t(responseType)
    }
  ]), respondentDocRows) %}
  {% for item in respondentDocuments.documents %}
    {% set respondentDocRows = (respondentDocRows.push([
      {
        html: addDateUploadedFileInformation(t, t(item.fileName), t(item.uploadDate))
      },
      {
        html: addFileLink(item.linkInformation.url, item.linkInformation.text)
      }]), respondentDocRows) %}
  {% endfor %}
{% endif %}

{% if courtDocuments.documents.length > 0 %}
    {% set courtDocRows = (courtDocRows.push([
      {
        text: t('PAGES.ORDERS_AND_NOTICES.COURT_DOCUMENTS'),
        classes: "govuk-body govuk-!-font-weight-bold"
      },
      {
        text: t(responseType)
      }
    ]), courtDocRows) %}
    {% for item in courtDocuments.documents %}
      {% set courtDocRows = (courtDocRows.push([
        {
          html: addDateUploadedFileInformation(t, t(item.fileName), t(item.uploadDate))
        },
        {
          html: addFileLink(item.linkInformation.url, item.linkInformation.text)
        }]), courtDocRows) %}
    {% endfor %}
{% endif %}

{% set applicationDocuments %}
  <h1 class="govuk-heading-m" id="application-documents-header">{{t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.APPLICATION_DOCUMENTS')}}</h1>
{% endset %}

{% set applicationDocumentsHtml %}
<div aria-labelledby="application-documents-header">
  {{ createDocumentsTableWithoutTableCaption(applicantDocRows) }}
  {{ createDocumentsTableWithoutTableCaption(respondentDocRows) }}
  {% if respondentDocuments.documents.length > 0 and additionalDocUrl %}
    {{ govukButton({
      text: t('COMMON.BUTTONS.UPLOAD_ADDITIONAL_DOCUMENTS'),
      href: additionalDocUrl
    }) }}
  {% endif %}
  {{ createDocumentsTableWithoutTableCaption(courtDocRows) }}
</div>
{% endset %}

{% set responseFromCourtHtml %}
 <div aria-labelledby="court-response-header">
  <p class="govuk-body">{{t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.COURTS_RESPONSE')}}</p>
  {% for item in responseFromCourt %}
      {{ govukSummaryList({
        rows: item.rows
      }) }}
      {% if item.responseButton %}
        {{ govukButton({
         text: item.responseButton.title,
         href: item.responseButton.href
        }) }}
      {% endif %}
  {% endfor %}
 </div>
{% endset %}

{% block nestedContent %}
  <h1 class="govuk-heading-l">{{ t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.TITLE', { applicationIndex : applicationIndex }) }}</h1>
  {% if showWelshPartyBanner %}
      <div class="hmcts-banner govuk-!-margin-bottom-4">
          <div class="govuk-!-padding-top-2 govuk-!-padding-right-2 govuk-!-padding-bottom-2 govuk-!-padding-left-2">
            <span class="hmcts-banner-assistive">information</span>
            <p class="govuk-body govuk-!-margin-bottom-0">{{ t('PAGES.GENERAL_APPLICATION.RESPONDENT_VIEW_APPLICATION.WELSH_MESSAGE') }}</p>
          </div>
        </div>
      {% endif %}
  <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.RESPONDENT_VIEW_APPLICATION.SUMMERY_MESSAGE1') }}</p>
  <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.RESPONDENT_VIEW_APPLICATION.SUMMERY_MESSAGE2') }}</p>
  <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.RESPONDENT_VIEW_APPLICATION.SUMMERY_MESSAGE3') }}</p>

<div class="govuk-!-padding-top-5">
  {% if responseFromCourt.length > 0 %}
    {{ govukDetails({
      summaryHtml: courtResponseHeaderHtml,
      html: responseFromCourtHtml
    }) }}
  {% endif %}
  {% if applicationFullyVisible %}
    {% if applicationTypeCards %}
      <div class="govuk-form-group">
        {% for summaryCard in applicationTypeCards %}
          {{ govukSummaryList(summaryCard) }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="govuk-section-break--s govuk-section-break--visible"></div>
    <div class="govuk-!-margin-bottom-9 summaryListBorderTop">
      <div class="govuk-form-group">
        {{ govukSummaryList({
          rows: summaryRows
        }) }}
      </div>
    </div>

    {% if (applicantDocuments.documents.length + courtDocuments.documents.length + respondentDocuments.documents.length) > 0 %}
      {{ govukDetails({
        summaryHtml: applicationDocuments,
        html: applicationDocumentsHtml
      }) }}
    {% endif %}
  {% endif %}
</div>
{% if(isAllowedToRespond) %}
  {{ govukButton({
    text: t('COMMON.BUTTONS.RESPOND_TO_APPLICATION'),
    href: redirectUrl
  }) }}
{% endif %}
  {{ govukButton({
      text: t('COMMON.BUTTONS.CLOSE_AND_RETURN_TO_DASHBOARD'),
      href: dashboardUrl
    }) }}
{% endblock %}
