{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set applicationHeaderHtml %}
  <h1 class="govuk-heading-m">{{t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.APPLICATION')}}</h1>
{% endset %}


{% block nestedContent %}
  <h1 class="govuk-heading-l">{{ t('PAGES.GENERAL_APPLICATION.VIEW_APPLICATION.TITLE', { applicationIndex : applicationIndex }) }}</h1>
  <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.RESPONDENT_VIEW_APPLICATION.SUMMERY_MESSAGE1') }}</p>
  <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.RESPONDENT_VIEW_APPLICATION.SUMMERY_MESSAGE2') }}</p>
  <p class="govuk-body">{{ t('PAGES.GENERAL_APPLICATION.RESPONDENT_VIEW_APPLICATION.SUMMERY_MESSAGE3') }}</p>

<div class="govuk-!-padding-top-5">
  <div class="govuk-section-break--s govuk-section-break--visible"></div>
  <div class="govuk-!-margin-bottom-9 summaryListBorderTop">
    <div class="govuk-form-group">
      {{ govukSummaryList({
        rows: summaryRows
      }) }}
    </div>
  </div>
</div>

  {{ govukButton({
    text: t('COMMON.BUTTONS.RESPOND_TO_APPLICATION'),
    href: redirectUrl
  }) }}

{% endblock %}
