{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/yesNoGenericForm.njk" import yesNoRadioButton %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/page-title.njk" import setPageTitle %}
{% from "../../../../macro/error-summary.njk" import errorSummary %}
{% block pageTitle %}
  {{ setPageTitle(t, 'PAGES.DEBTS.PAGE_TITLE') }}
{% endblock %}
{% set yesHtml %}
{% if form.hasFieldError('debtsItems') %}
  {{ govukErrorMessage({
        text:t(form.errorFor('debtsItems'))
      }) }}
{% endif %}
{% set formErrors = form.getAllErrors() %}
<div class="govuk-form-group {% if form.errorFor('debtsItems') %} govuk-form-group--error  {% endif %}">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <label id="debts-label" class="govuk-label--s">{{ t('PAGES.DEBTS.LIST') }}</label>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
      <label id="total-owed-label" class="govuk-label--s ">{{ t('COMMON.TOTAL_DEBT') }}</label>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
      <label id="monthly-payments-label" class="govuk-label--s">{{ t('COMMON.MONTHLY_PAYMENTS') }}</label>
    </div>
  </div>
  {% for debtsItem in form.model.debtsItems %}
    {% set debtsErrors = formErrors %}
    {% set index = loop.index0 %}
    <div class="multiple-row">
      <div class="govuk-grid-row govuk-!-padding-top-3 {% if debtsErrors.length>0 %} govuk-form-group--error{% endif %} ">
        {% if formErrors %}
          {% for error in formErrors %}
            {% if index in error.fieldName %}
              {{ govukErrorMessage({
                  text: t(error.text)
                })| indent(2) | trim }}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% set debt = 'debtsItems['+index+'][debt]' %}
        {% set totalOwned = 'debtsItems['+index+'][totalOwned]' %}
        {% set monthlyPayments = 'debtsItems['+index+'][monthlyPayments]' %}
        {% set commonLabel = t('COMMON.DEBT') + ' ' + (index+1) + ' ' %}
        <div class="govuk-grid-column-one-half ">
          {{ govukInput({
              id: debt,
              name: debt,
              value: debtsItem.debt,
              label: {
                text: commonLabel + t('PAGES.DEBTS.LIST'),
                classes: 'govuk-visually-hidden'
              },
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-select--error" if form.errorFor(debt) else "govuk-grid-column-full"
            }) }}
        </div>
        <div class="govuk-grid-column-one-quarter">
          {{ govukInput({
              id: totalOwned,
              name: totalOwned,
              value: debtsItem.totalOwned,
              type: "number",
              prefix: {
                text: "£"
              },
              label: {
                text: commonLabel + t('PAGES.DEBTS.TOTAL_OWED_IN_POUNDS'),
                classes: 'govuk-visually-hidden'
              },
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-input--error" if form.errorFor(totalOwned) else "govuk-grid-column-full"
            }) }}
        </div>
        <div class="govuk-grid-column-one-quarter">
          {{ govukInput({
              id: monthlyPayments,
              name: monthlyPayments,
              value: debtsItem.monthlyPayments,
              type: "number",
              prefix: {
                text: "£"
              },
              label: {
                text: commonLabel + t('PAGES.DEBTS.MONTHLY_PAYMENTS_IN_POUNDS'),
                classes: 'govuk-visually-hidden'
              },
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-input--error" if form.errorFor(monthlyPayments) else "govuk-grid-column-full"
            }) }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
          text: t('PAGES.DEBTS.ADD'),
          classes: "govuk-button--secondary append-row"
        }) }}
  </div>
</div>
{% endset %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t('PAGES.DEBTS.TITLE') %}
      {% set errors = form.getAllErrors() %}
      {% if form.hasErrors() %}
        {{ errorSummary(errors,t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            {{ csrfProtection(csrf) }}
            {{ yesNoRadioButton(t,'debtsRadio','option',title, form,'',{yesHtml:yesHtml}) }}
              <div class="govuk-form-group">
                {{ govukButton({
                  text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
                }) }}
                {{ contactUsForHelp(t) }}
              </div>
          </form>
        </div>
     </div>
    </main>
  </div>
{% endblock %}
