{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/yesNoForm.njk" import yesNoRadioButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

  {% set yesHtml %}

    {% if form.hasFieldError('debtsItems') %}
      {{ govukErrorMessage({
        text:t(form.errorFor('debtsItems'))
      }) }}
    {% endif %}

    <div class="govuk-form-group {% if form.getTextError(form.getErrors(),'debtsItems') %} govuk-form-group--error  {% endif %}">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <label id="account-balance-label"
                 class="govuk-label--s">{{ t('List each loan or credit card debt') }}</label>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
          <label id="account-balance-label" class="govuk-label--s ">{{ t('Total owed') }}</label>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
          <label id="account-balance-label" class="govuk-label--s">{{ t('Monthly payments') }}</label>
        </div>
      </div>
      {% for debtsItem in form.debtsItems %}
        {% set debtsErrors = debtsItem.getErrors() %}
      <div class="multiple-row">
        <div class="govuk-grid-row govuk-!-padding-top-3 {% if debtsErrors %} govuk-form-group--error{% endif %} ">

          {% for error in debtsErrors %}
            {{ govukErrorMessage({
              text:t(error.text)
            }) }}
          {% endfor %}
          <div class="govuk-grid-column-one-half ">
            {{ govukInput({
              id: "debtsItems["+loop.index0+"][debt]",
              name: "debtsItems["+loop.index0+"][debt]",
              value: debtsItem.debt,
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-select--error" if debtsItem.hasFieldError('debt') else "govuk-grid-column-full"
            }) }}
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              id: "debtsItems["+loop.index0+"][totalOwned]",
              name: "debtsItems["+loop.index0+"][totalOwned]",
              value: debtsItem.totalOwned,
              type: "number",
              prefix: {
                text: "£"
              },
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-input--error" if debtsItem.hasFieldError('totalOwned') else "govuk-grid-column-full"
            }) }}
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              id: "debtsItems["+loop.index0+"][monthlyPayments]",
              name: "debtsItems["+loop.index0+"][monthlyPayments]",
              value: debtsItem.monthlyPayments,
              type: "number",
              prefix: {
                text: "£"
              },
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-input--error" if debtsItem.hasFieldError('monthlyPayments') else "govuk-grid-column-full"
            }) }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukButton({
          text: t("Add a debt"),
          classes: "govuk-button--secondary append-row"
        }) }}
      </div>
    </div>
  {% endset %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t('Do you have loans or credit card debts?') %}
      {% set errors = form.getErrors() %}

      {% if errors %}
        {{ govukErrorSummary({
          "titleText": t('There was a problem'),
          "errorList": errors
        }) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ csrfProtection(csrf) }}
          <h1 class="govuk-heading-l">{{ title }}</h1>
        </div>
      </div>


      <form method="post" novalidate>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            {{ yesNoRadioButton(t,'debtsRadio','option','', form,'',{yesHtml:yesHtml}) }}

          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ govukButton({
              text: t("Save and continue")
            }) }}
          </div>
        </div>
      </form>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>

    </main>
  </div>
{% endblock %}
