{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../../../macro/csrf.njk" import csrfProtection %}
{% from "../../../../macro/yesNoForm.njk" import yesNoRadioButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% set title = t('Do you have loans or credit card debts?') %}
      {% set errors = form.getErrors() %}

      {% if errors %}
        {{ govukErrorSummary({
          "titleText": t('There was a problem'),
          "errorList": errors
        }) }}
      {% endif %}

      {% set yesHtml %}

        <div class="govuk-grid-row ">
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-balance-label"
                   class="govuk-label--s">{{ t('List each loan or credit card debt') }}</label>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-balance-label" class="govuk-label--s">{{ t('Total owed') }}</label>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            <label id="account-balance-label" class="govuk-label--s">{{ t('Monthly payments') }}</label>
          </div>
        </div>
        {% for debtsItem in form.debtsItems %}
          {% set hasNestedErrors = form.hasChildren() %}


        <div class="govuk-grid-row govuk-!-padding-top-3 {%if hasNestedErrors %} govuk-form-group--error{% endif %} ">
          {%if hasNestedErrors %}
            {% for error in errors %}
              {{ govukErrorMessage({
                text:t(error.text)
              })}}
            {% endfor %}
          {% endif %}

          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            {{ govukInput({
              id: "debtsItems["+loop.index0+"][debt]",
              name: "debtsItems["+loop.index0+"][debt]",
              value: debtsItem.debt,
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-select--error" if form.hasFieldError('debt') else "govuk-grid-column-full"
            }) }}
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            {{ govukInput({
              id: "debtsItems["+loop.index0+"][totalOwed]",
              name: "debtsItems["+loop.index0+"][totalOwed]",
              value: debtsItem.totalOwed,
              prefix: {
                text: "£"
              },
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-input--error" if form.hasFieldError('totalOwed') else "govuk-grid-column-full"
            }) }}
          </div>
          <div class="govuk-grid-column-one-third govuk-!-display-inline">
            {{ govukInput({
              id: "debtsItems["+loop.index0+"][monthlyPayments]",
              name: "debtsItems["+loop.index0+"][monthlyPayments]",
              value: debtsItem.monthlyPayments,
              prefix: {
                text: "£"
              },
              spellcheck: false,
              classes: "govuk-grid-column-full govuk-input--error" if form.hasFieldError('totalOwed') else "govuk-grid-column-full"
            }) }}
          </div>
        </div>


        {% endfor %}

      {% endset %}


      <div class="govuk-grid-row">
          <form
            method="POST" novalidate>

            {{ csrfProtection(csrf) }}

            {{ yesNoRadioButton(t,'debtsRadio','option',title, form,'',{yesHtml:yesHtml}) }}

            <div class="govuk-form-group">
              {{ govukButton({
                text: t("Save and continue")
              }) }}
            </div>

          </form>

        </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
