name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - refs/tags/*
    tags:
      - '*'

env:
  CI: true
  NODE_OPTIONS: --max-old-space-size=4096
  CIVIL_SERVICE_URL: http://localhost:1111
  TEST_URL: http://localhost:3001
  IDAM_API_URL: http://localhost:1111
  CIVIL_GENERAL_APPLICATIONS_URL: http://localhost:1111
  ENVIRONMENT: preview
  LAUNCH_DARKLY_SDK: test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 21.6.1
      - name: Install
        run: yarn install && yarn playwright install
      - name: Build
        run: yarn build
      - name: Starting WireMock , starting ui , wait and run e2e test
        run: |
          yarn wiremock:start &
          sleep 2
          yarn start:e2e &
          sleep 25
          yarn test:e2e
      - name: Upload e2e test artifacts
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: integration-tests-results
          path: |
            test-results/functional
            src/test/functionalTests/test-results
