{% extends "claim-details-tpl.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "../../macro/summary-documents.njk" import summaryDocuments %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CHECK_YOUR_ANSWER.TITLE') }}
{% endblock %}
{% set submitText = t('COMMON.BUTTONS.SUBMIT') %}
{% set labelHtml = t('PAGES.CHECK_ANSWERS_DOCUMENTS.CYA_CONFIRMATION') %}
{% set warningText = t('PAGES.CHECK_ANSWERS_DOCUMENTS.NO_WITHDRAW') %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        {{ errorSummary(form.getErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <h1 class="govuk-heading-l">{{ t('PAGES.CHECK_YOUR_ANSWER.TITLE') }}</h1>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">{{ t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.CASE_REFERENCE_NUMBER') }} {{claimId}}</p>
          <p class="govuk-body-l">{{claimantFullName}} v {{defendantFullName}}</p>
          <div class="govuk-inset-text">
            <b>Warning</b><br>
            {{ warningText }}
          </div>
          {% if documents.documentsForDisclosure.length > 0 %}
            <h1 class="govuk-heading-l">Disclosure</h1>
          {% endif %}

          {% for document in documents.documentsForDisclosure %}
          {{ summaryDocuments(
            "Documents for disclosure",
            document.typeOfDocument,
            document.dateDay,
            document.dateMonth,
            document.dateYear,
            document.caseDocument.documentName,
            document.caseDocument.documentLink.document_url,
            "Type of document",
            "Date document was issued or message was sent",
            "Document(s) uploaded"
          ) }}
          {% endfor %}
          {% if documents.trialDocumentary.length > 0 %}
            <h1 class="govuk-heading-l">Trial documents</h1>
          {% endif %}
          {% for document in documents.trialDocumentary %}
            {{ summaryDocuments(
              "Documentary evidence for trial",
              document.typeOfDocument,
              document.dateDay,
              document.dateMonth,
              document.dateYear,
              document.documentInfo.documentName,
              document.documentInfo.documentLink.document_url,
              "Type of document",
              "Date document was issued or message was sent",
              "Document(s) uploaded"
            ) }}
          {% endfor %}
          <form method="post" novalidate autocomplete="off">
            {{ csrfProtection(csrf) }}
            <input type="hidden" name="type" value="{{ form.model.type }}">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Confirmation
                  </h1>
                </legend>
                {{ govukWarningText({
                  text: warningText,
                  iconFallbackText: "Warning"
                }) }}
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      {{ labelHtml }}
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <hr class="govuk-section-break--s govuk-section-break--visible">
            <div class="govuk-button-group">
              {{ govukButton({
                text: submitText
              }) }}
              <a href={{ cancelUrl }} class="govuk-link govuk-!-margin-left-2" rel="noreferrer noopener" >{{ t('COMMON.BUTTONS.CANCEL') }}</a>
              {{ contactUsForHelp(t) }}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
