{% extends "claim-details-tpl.njk" %}

{% block pageTitle %}
  {{ setPageTitle('PAGES.CHECK_YOUR_ANSWER.TITLE') }}
{% endblock %}


{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" role="main">
      {% if form.hasErrors() %}
        {{ errorSummary(form.getErrors(), t) }}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% if documents.documentsForDisclosure.length > 0 %}
            <h1 class="govuk-heading-l">Disclosure</h1>
          {% endif %}

          {% for document in documents.documentsForDisclosure %}
            <p>{{ document.typeOfDocument }}</p>
            <p>{{ document.caseDocument.createdDatetime }}</p>
            <p>{{ document.caseDocument.documentName }}</p>
            <p>{{ document.caseDocument.documentLink.document_url }}  </p>
          {% endfor %}
          {% if documents.trialDocumentary.length > 0 %}
            <h1 class="govuk-heading-l">Trial documents</h1>
          {% endif %}
          {% for document in documents.trialDocumentary %}
            <p>{{ document.typeOfDocument }}</p>
            <p>{{ document.caseDocument.createdDatetime }}</p>
            <p>{{ document.caseDocument.documentName }}</p>
            <p>{{ document.caseDocument.documentLink.document_url }}  </p>
          {% endfor %}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
