{% extends "claim-details-tpl-dashboard.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from 'govuk/components/checkboxes/macro.njk' import govukCheckboxes %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/button.njk" import addButton %}

{% set pageTitle = t('PAGES.CHECK_YOUR_ANSWER.TITLE') %}

{% block nestedContent %}
          {% for content in topPageContents %}
            {{ itemContent(content,t) }}
          {% endfor %}

          {% if summarySections.disclosureEvidenceSection.sections.length > 0 %}
            <section role="region" aria-labelledby="disclosure-evidence-heading">
            <h2 id="disclosure-evidence-heading" class="govuk-heading-l">{{ t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.DISCLOSURE') }}</h2>
            {% for section in summarySections.disclosureEvidenceSection.sections %}
              <div class="govuk-!-margin-bottom-9">
                {% if section.title %}
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ section.title }}</h3>
                {% endif %}
                <div class="govuk-form-group">
                  {{ govukSummaryList({
                    rows: section.summaryList.rows
                  }) }}
                </div>
              </div>
            {% endfor %}
            </section>
          {% endif %}

          {% if summarySections.witnessEvidenceSection.sections.length > 0 %}
            <section role="region" aria-labelledby="witness-evidence-heading">
            <h2 id="witness-evidence-heading" class="govuk-heading-l">{{ t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.WITNESS_EVIDENCE') }}</h2>
            {% for section in summarySections.witnessEvidenceSection.sections %}
                  <div class="govuk-!-margin-bottom-9">
                    {% if section.title %}
                      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ section.title }}</h3>
                    {% endif %}
                    <div class="govuk-form-group">
                      {{ govukSummaryList({
                        rows: section.summaryList.rows
                      }) }}
                    </div>
                  </div>
            {% endfor %}
            </section>
          {% endif %}

          {% if summarySections.expertEvidenceSection.sections.length > 0 %}
            <section role="region" aria-labelledby="expert-evidence-heading">
            <h2 id="expert-evidence-heading" class="govuk-heading-l">{{ t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.EXPERT_EVIDENCE') }}</h2>
            {% for section in summarySections.expertEvidenceSection.sections %}
                  <div class="govuk-!-margin-bottom-9">
                    {% if section.title %}
                      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ section.title }}</h3>
                    {% endif %}
                    <div class="govuk-form-group">
                      {{ govukSummaryList({
                        rows: section.summaryList.rows
                      }) }}
                    </div>
                  </div>
            {% endfor %}
            </section>
          {% endif %}


          {% if summarySections.trialEvidenceSection.sections.length > 0 %}
            <section role="region" aria-labelledby="trial-evidence-heading">
            {% if isSmallClaims %}
              <h2 id="trial-evidence-heading" class="govuk-heading-l">{{ t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.HEARING_DOCUMENTS') }}</h2>
            {% else %}
              <h2 id="trial-evidence-heading" class="govuk-heading-l">{{ t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.TRIAL') }}</h2>
            {% endif %}
            {% for section in summarySections.trialEvidenceSection.sections %}
                  <div class="govuk-!-margin-bottom-9">
                    {% if section.title %}
                      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">{{ section.title }}</h3>
                    {% endif %}
                    <div class="govuk-form-group">
                      {{ govukSummaryList({
                        rows: section.summaryList.rows
                      }) }}
                    </div>
                  </div>
            {% endfor %}
            </section>
          {% endif %}
          {% for content in bottomPageContents %}
                {{ itemContent(content,t) }}
          {% endfor %}
          <form method="post" novalidate autocomplete="off" aria-describedby="form-error" aria-live="polite">
            {{ csrfProtection(csrf) }}
            <input type="hidden" name="type" value="{{ form.model.type }}">

            {{ govukCheckboxes({
              idPrefix: 'signed',
              name: 'signed',
              fieldset: {
                legend: {
                  text: t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.CHECK_YOUR_ANSWERS_CORRECT'),
                  classes: "govuk-visually-hidden"
                }
              },
              items: [
                {
                  value: true,
                  html: t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.CHECK_YOUR_ANSWERS_CORRECT'),
                  checked: true if form.model.signed
                }
              ],
              errorMessage: {
                text:t(form.errorFor(signed)),
                attributes: { id: "form-error" }
              } if form.errorFor(signed)
            }) }}
            {{ addButton(t, 'SUBMIT',cancelUrl) }}
          </form>

{% endblock %}
