{% extends "../../claim-details-tpl-dashboard.njk" %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../../macro/page-information.njk" import pageInformation %}
{% from "../dashboard/claim-summary-content.njk" import claimSummaryContent %}

<script>
  document.getElementById("#govuk-table__cell").classList.remove("govuk-table__cell");
</script>

{% block nestedContent %}
  <h2 class="govuk-visually-hidden" id="claim-summary-heading">
   {{t('PAGES.UPLOAD_EVIDENCE_DOCUMENTS.CASE_SUMMARY')}}
  </h2>

  {{ pageInformation(t,pageCaption, pageTitle, claimId, claimAmount)}}

  {% for documentSection in documentSections %}
    <section role="group" aria-labelledby="claim-summary-heading">
      {{ claimSummaryContent({
        contentSections: documentSection.contentSections,
        hasDivider: documentSection.hasDivider
      }, t) }}
    </section>
  {% endfor %}

{% endblock %}
