
{% block content %}
  <div class="govuk-width-container govuk-!-padding-top-0">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" role="main">
      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          {{ govukPanel({
            titleText: t('PAGES.EVIDENCE_DOCUMENTS_UPLOADED.TITLE'),
            html: panelContent
          }) }}
          <p class="govuk-body">
            {{t('PAGES.EVIDENCE_DOCUMENTS_UPLOADED.UPLOAD_MORE_DOCUMENTS_START')}}
            <a class="govuk-link" href={{ uploadYourDocumentsUrl }}> {{t('PAGES.EVIDENCE_DOCUMENTS_UPLOADED.UPLOAD_MORE_DOCUMENTS_MID')}} </a>
            {{t('PAGES.EVIDENCE_DOCUMENTS_UPLOADED.UPLOAD_MORE_DOCUMENTS_END')}}
          </p>
          <div class="form-group">
            <form method="post" novalidate>
              {{ csrfProtection(csrf) }}
              {{ govukButton({
                text: t('PAGES.EVIDENCE_DOCUMENTS_UPLOADED.VIEW_DOCUMENTS'),
                href: documentsTabUrl
              }) }}
            </form>
          </div>
          {{ contactUsForHelp(t) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
