{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% set pageTitle = t('PAGES.UPLOAD_YOUR_DOCUMENTS.PAGE_TITLE') %}

{% block nestedContent %}
          {{ csrfProtection(csrf) }}
          {% for content in uploadYourDocumentsContents %}
              {{ itemContent(content,t) }}
          {% endfor %}
{% endblock %}
