{% extends "claim-details-tpl-dashboard.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../dashboard/claim-summary-content.njk" import claimSummaryContent %}
{% from "../dashboard/item-content.njk" import itemContent %}
{% from "../../macro/button.njk" import addButton %}

{% set pageTitle = t('PAGES.EVIDENCE.PAGE_TITLE') %}

{% block nestedContent %}
    {% set rowNumberToShowRemoveButton = 2 %}
    {% set witnessContentLength = witnessContent.length %}
    {% set isRemoveButtonHidden = witnessContentLength < rowNumberToShowRemoveButton %}
    {% set titleH1 = t('PAGES.UPLOAD_DOCUMENTS.TITLE') %}
    {% set titleH2 = t('PAGES.UPLOAD_DOCUMENTS.SUBTITLE') %}
    {% set paragraph = t('PAGES.UPLOAD_DOCUMENTS.FORMAT_WITH_SAVE_FILE') %}
    {% set witness = t('PAGES.UPLOAD_DOCUMENTS.WITNESS.TITLE') %}
    {% set disclosure = t('PAGES.UPLOAD_DOCUMENTS.DISCLOSURE.TITLE') %}
    {% set trial = t('PAGES.UPLOAD_DOCUMENTS.TRIAL.TITLE') %}
    {% set expert = t('PAGES.UPLOAD_DOCUMENTS.EXPERT.TITLE') %}
    {% set hearing = t('PAGES.UPLOAD_DOCUMENTS.HEARING.TITLE') %}

    <div class="caseProgression">
      <form method="post" action="{{ currentUrl }}?_csrf={{ csrf }}" enctype='multipart/form-data' novalidate>
        {{ csrfProtection(csrf) }}
        <div id="content"></div>

          {% for content in uploadDocumentsContents %}
            {{ itemContent(content,t) }}
          {% endfor %}
          <h2 class="govuk-heading-s">{{ titleH2 }}</h2>
          <p class="govuk-body-m">{{ paragraph }}</p>
          <hr class="govuk-section-break--s govuk-section-break--visible">

          {% if disclosureContent.length > 0 %}
            <h2 class="govuk-heading-l">{{ disclosure }}</h2>
            {% for disclosureSections in disclosureContent %}
            <div class="row-container">
              <div data-module="moj-add-another">
                {% for section in disclosureSections %}
                {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                classes: 'moj-add-another__title govuk-visually-hidden',
                isPageHeading: false,
                text: disclosure
                }
                }) %}
                  {{ claimSummaryContent({
                  contentSections: section.contentSections
                  }, t) }}
                {% endcall %}
                {% endfor %}
                <div class="moj-button-action">
                    {% if disclosureSections[0].contentSections[0].data.category == 'documentsForDisclosure' %}
                      {% set actionValue = 'add_another-disclosure' %}
                    {% else %}
                      {% set actionValue = 'add_another-disclosureList' %}
                    {% endif %}
                      {{ govukButton({
                        text: t('PAGES.UPLOAD_DOCUMENTS.ADD'),
                        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-1',
                        name: 'action',
                        value: actionValue,
                        type: 'submit'
                      }) }}
                </div>
                <hr class="govuk-section-break--s govuk-section-break--visible">
              </div>
            </div>
            {% endfor %}
          {% endif %}

          {% if witnessContent.length > 0 %}
            <h2 class="govuk-heading-l">{{ witness }}</h2>
            {% for witnessSections in witnessContent %}
            <div class="row-container">
              <div data-module="moj-add-another">
                {% for section in witnessSections %}
                {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                classes: 'moj-add-another__title govuk-visually-hidden',
                isPageHeading: false,
                text: witness
                }
                }) %}
                  {{ claimSummaryContent({
                  contentSections: section.contentSections
                  }, t) }}
                {% endcall %}
                {% endfor %}
                <div class="moj-button-action">
                    {% if witnessSections[0].contentSections[0].data.category == 'witnessStatement' %}
                      {% set actionValue = 'add_another-witness' %}
                    {% elif witnessSections[0].contentSections[0].data.category == 'witnessSummary' %}
                      {% set actionValue = 'add_another-witnessSummary' %}
                    {% elif witnessSections[0].contentSections[0].data.category == 'noticeOfIntention' %}
                      {% set actionValue = 'add_another-noticeOfIntention' %}
                    {% else %}
                      {% set actionValue = 'add_another-documentsReferred' %}
                    {% endif %}
                      {{ govukButton({
                        text: t('PAGES.UPLOAD_DOCUMENTS.ADD'),
                        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-1',
                        name: 'action',
                        value: actionValue,
                        type: 'submit'
                      }) }}
                </div>
                <hr class="govuk-section-break--s govuk-section-break--visible">
              </div>
            </div>
            {% endfor %}
          {% endif %}

          {% if expertContent.length > 0 %}
            <h2 class="govuk-heading-l">{{ expert }}</h2>
            {% for expertSections in expertContent %}
            <div class="row-container">
              <div data-module="moj-add-another">
                {% for section in expertSections %}
                {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                classes: 'moj-add-another__title govuk-visually-hidden',
                isPageHeading: false,
                text: expert
                }
                }) %}
                  {{ claimSummaryContent({
                  contentSections: section.contentSections
                  }, t) }}
                {% endcall %}
                {% endfor %}
                <div class="moj-button-action">
                    {% if expertSections[0].contentSections[0].data.category == 'expertReport' %}
                      {% set actionValue = 'add_another-expertReport' %}
                    {% elif expertSections[0].contentSections[0].data.category == 'expertStatement' %}
                      {% set actionValue = 'add_another-expertStatement' %}
                    {% elif expertSections[0].contentSections[0].data.category == 'questionsForExperts' %}
                      {% set actionValue = 'add_another-questionsForExperts' %}
                    {% else %}
                      {% set actionValue = 'add_another-answersForExperts' %}
                    {% endif %}
                      {{ govukButton({
                        text: t('PAGES.UPLOAD_DOCUMENTS.ADD'),
                        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-1',
                        name: 'action',
                        value: actionValue,
                        type: 'submit'
                      }) }}
                </div>
                <hr class="govuk-section-break--s govuk-section-break--visible">
              </div>
            </div>
            {% endfor %}
          {% endif %}

          {% if trialContent.length > 0 %}
            {% if isSmallClaims %}
              <h2 class="govuk-heading-l">{{ hearing }}</h2>
            {% else %}
              <h2 class="govuk-heading-l">{{ trial }}</h2>
            {% endif %}
            {% for trialSections in trialContent %}
            <div class="row-container">
              <div data-module="moj-add-another">
                {% for section in trialSections %}
                {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                classes: 'moj-add-another__title govuk-visually-hidden',
                isPageHeading: false,
                text: hearing if isSmallClaims else trial
                }
                }) %}
                  {{ claimSummaryContent({
                  contentSections: section.contentSections
                  }, t) }}
                {% endcall %}
                {% endfor %}
                <div class="moj-button-action">
                    {% if trialSections[0].contentSections[0].data.category == 'trialCaseSummary' %}
                      {% set actionValue = 'add_another-trialCaseSummary' %}
                    {% elif trialSections[0].contentSections[0].data.category == 'trialSkeletonArgument' %}
                      {% set actionValue = 'add_another-trialSkeletonArgument' %}
                    {% elif trialSections[0].contentSections[0].data.category == 'trialAuthorities' %}
                      {% set actionValue = 'add_another-trialAuthorities' %}
                    {% elif trialSections[0].contentSections[0].data.category == 'trialCosts' %}
                      {% set actionValue = 'add_another-trialCosts' %}
                    {% else %}
                      {% set actionValue = 'add_another-trialDocumentary' %}
                    {% endif %}
                      {{ govukButton({
                        text: t('PAGES.UPLOAD_DOCUMENTS.ADD'),
                        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-1',
                        name: 'action',
                        value: actionValue,
                        type: 'submit'
                      }) }}
                </div>
                <hr class="govuk-section-break--s govuk-section-break--visible">
              </div>
            </div>
            {% endfor %}
          {% endif %}

          <br>
        {{ addButton(t, 'CONTINUE',cancelUrl) }}

      </form>
    </div>
{% endblock %}
