{% extends "claim-details-tpl.njk" %}
{% from "../../macro/error-summary.njk" import errorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../macro/csrf.njk" import csrfProtection %}
{% from "../../macro/contact-us-for-help.njk" import contactUsForHelp %}
{% from "../../macro/page-title.njk" import setPageTitle %}
{% from "../dashboard/claim-summary-content.njk" import claimSummaryContent %}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}

{% block pageTitle %}
{{ setPageTitle('PAGES.EVIDENCE.PAGE_TITLE') }}
{% endblock %}
{% block content %}
<div class="govuk-width-container caseProgression">
  <main class="govuk-main-wrapper" role="main">
    {% set rowNumberToShowRemoveButton = 2 %}
    {% set witnessContentLength = witnessContent.length %}
    {% set isRemoveButtonHidden = witnessContentLength < rowNumberToShowRemoveButton %}
    {% set titleH1 = t('PAGES.UPLOAD_DOCUMENTS.TITLE') %}
    {% set titleH2 = t('PAGES.UPLOAD_DOCUMENTS.SUBTITLE') %}
    {% set paragraph = t('PAGES.UPLOAD_DOCUMENTS.FORMAT') %}
    {% set witness = t('PAGES.UPLOAD_DOCUMENTS.WITNESS') %}
    {% set disclosure = t('PAGES.UPLOAD_DOCUMENTS.DISCLOSURE.TITLE') %}

    <div class="govuk-grid-row">
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-l">{{ titleH1 }}</h1>
          <h2 class="govuk-heading-s">{{ titleH2 }}</h2>
          <p class="govuk-body-m">{{ paragraph }}</p>
          <hr class="govuk-section-break--s govuk-section-break--visible">

          {% if disclosureContent.length > 0 %}
            <h2 class="govuk-heading-l">{{ disclosure }}</h2>
            {% for disclosureSections in disclosureContent %}
            <div class="row-container">
              <div data-module="moj-add-another">
                {% call govukFieldset({
                  classes: 'moj-add-another__item',
                  legend: {
                    classes: 'moj-add-another__title',
                    isPageHeading: false
                  }
                }) %}
                {{ claimSummaryContent({
                contentSections: disclosureSections.contentSections
                }) }}
                {% endcall %}
                <div class="moj-button-action">
                      {{ govukButton({
                        text: 'Add another',
                        classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-1',
                        type: 'button',
                        attributes: {
                          'id': 'add-another-disclosure-list'
                        }
                      }) }}
                </div>
                <hr class="govuk-section-break--s govuk-section-break--visible">
              </div>
            </div>
            {% endfor %}
          {% endif %}

          <h2 class="govuk-heading-l">{{ witness }}</h2>
          {% for witnessSection in witnessContent %}
          <div class="row-container">
            <div class="multiple-row">
              {% if isRemoveButtonHidden %}
              {{ govukButton({
              text: t('PAGES.UPLOAD_DOCUMENTS.REMOVE_SECTION'),
              classes: "govuk-button--secondary remove-row govuk-visually-hidden float-right"
              }) }}
              {% else %}
              {{ govukButton({
              text: t('PAGES.UPLOAD_DOCUMENTS.REMOVE_SECTION'),
              classes: "govuk-button--secondary remove-row float-right"
              }) }}
              {% endif %}
              {{ claimSummaryContent({
              contentSections: witnessSection.contentSections
              }) }}
              <hr class="govuk-section-break--s govuk-section-break--visible">
            </div>
          </div>
          {% endfor %}
          <div class="govuk-!-margin-top-6">
            {{ govukButton({
            text: t('PAGES.UPLOAD_DOCUMENTS.ADD'),
            classes: 'govuk-button--secondary append-row'
            }) }}
          </div>
          <div class="govuk-form-group">
            {{ govukButton({
            text: t('COMMON.BUTTONS.SAVE_AND_CONTINUE')
            }) }}
          </div>
        </div>
      </form>
      {{ contactUsForHelp(t) }}
    </div>
</main>
</div>
{% endblock %}
